[2022-06-19 10:20] mehalter commented on #553
@flamendless this would be handled by your terminal emulator I would imagine. We have never done anything surrounding mouse bindings. Have you recently changed your terminal emulator configuration or moved to a new emulator? Right clicking to paste is *not* a provided out of the box feature of AstroNvim.

[2022-06-19 10:59] Johnsiras commented on #547
that's so weird i literally tryed it with neovim 0.7.1 and 0.7.0 but i causes the same error

[2022-06-19 11:24] flamendless commented on #553
I didn't change anything in my terminal lately. I only just updated my astrovim config to the latest branch 🤔

[2022-06-19 11:31] flamendless commented on #667
I did this, but i get `vim/_init_packages.lua: cannot load incompatible bytecode` error with `neovim-0.7.0-3` from the AUR

[2022-06-19 12:28] mehalter commented on #667
I'm not sure what this error means or what file you are referring to here.

[2022-06-19 12:28] mehalter commented on #667
@flamendless

[2022-06-19 12:31] flamendless commented on #667
Oh, i meant i reverted back to `neovim-0.7.0-3` from nightly to use stable, but it's okay now i'll just use `neovim-git` as that works.

[2022-06-19 12:32] mehalter commented on #667
@flamendless you probably need to uninstall and rebuild all of your treesitter parsers. As the byte code will change and the compiled parsers are incompatible. At least, that's my intuition with you moving between stable and nightly.

[2022-06-19 12:35] flamendless commented on #667
I do still get `[LSP] Accessing client.resolved_capabilities is deprecated,` after i switched to `stable` and ran `PackerSync`

[2022-06-19 12:36] mehalter commented on #667
This is only a problem on nightly. Not stable. If you are using `neovim-git`. This will be building the latest code on `git` which is indeed nightly.

[2022-06-19 12:43] flamendless commented on #667
I see, thank you. i'll use then AstroVim nightly

[2022-06-19 12:48] flamendless opened #672 "Filetype not working anymore"
Hi, previous I have this in my config:
[code]
which adds syntax highlighting to my custom extension, but after updating to the latest astrovim config it does not work anymore, I also tried moving that to the `polish` function and:
[code]

[2022-06-19 12:49] mehalter commented on #672
Do you happen to have vim polyglot installed?

[2022-06-19 12:50] flamendless commented on #672
No, i only have these additional plugins:
[code]

[2022-06-19 13:18] mehalter commented on #667
@flamendless I would recommend you switch to Neovim stable with AstroNvim stable and refresh your environment. You probably have some dangling files. Try deleting `~/.local/share/nvim/site` and `~/.cache/nvim` and then rerunning `nvim +PackerSync`

[2022-06-19 13:23] flamendless commented on #391
Im looking for breadcrumbs functionality, my previous config has it but since latest config uses a new statusline my old config for it will be harder to setup. Can this be used now? how?

[2022-06-19 15:19] Javets70 opened #673 "How to change the colorscheme?"
https://astronvim.github.io/recipes/colorscheme
I tried the sonokai example given in this guide

From what I can understand , just adding the given code in `user/init.lua` should enable the colorscheme
But nothing happens when I do the changes in `init.lua` file.

I dont have much understanding of how neovim works , please try to make your answer as simple as possible.

Thanks

[2022-06-19 15:36] mehalter commented on #673
Have you run a `:PackerSync` to install the new colorscheme?

[2022-06-19 16:09] Yazeed1s commented on #671
My bad, yes I moved some of the plugins couple days ago. PackerSync worked fine without complaining, so I didn't thought it was the problem.

I am going to fix it, thanks!

[2022-06-19 16:14] Javets70 commented on #673
I did do that after writing the code in `init.lua` and saving it.

[2022-06-19 16:16] mehalter commented on #673
Did you restart  after saving before the packer sync call? To load the new files

[2022-06-19 16:17] Javets70 commented on #673
Yes.

[2022-06-19 16:21] Javets70 commented on #673
I also tried the catpuccin example , which didnt work out very well.

[code]
I got this error

I did initiate the `:PackerSync` command after saving the changes and restart neovim.

[2022-06-19 18:43] mehalter commented on #673
What version of AstroNvim do you have (if you run `:AstroVersion`

[2022-06-19 22:49] mehalter commented on #673
Could you share your entire user configuration? The code provided on the website is an example minimal `user/init.lua`

[2022-06-19 22:50] mehalter commented on #672
Are you using nightly still? Or have you moved to using stable AstroNvim/Neovim? Also can you provide a link/paste your user config and I can try to take a look. I can't replicate on a base AstroNvim installation or my own configuration.

[2022-06-20 01:13] mehalter commented on #391
@flamendless Yeah it should be happening automatically out of the box in the winbar as shown in the screenshot with feline.

[2022-06-20 02:03] PatMulligan commented on #553
okay, yes to both of your questions then! so it appears to be working as intended then.

one of the ways I've gotten used to copy pasting on Pop!_OS is that I am able to just select text and then the text that gets selected is able to be pasted with a mouse scroll click.

This functionality doesn't work with AstroNvim, even though it does work if I do `nvim -u NONE`. Do you know if this functional

[2022-06-20 02:11] mehalter commented on #553
I believe this is because we set `mouse = "a"` as a default option. Could you try holding shift while selecting and middle clicking? Check here:

https://stackoverflow.com/questions/4608161/copying-text-outside-of-vim-with-set-mouse-a-enabled

[2022-06-20 02:15] flamendless commented on #553
Shift + middle click doesnt work but middle click only works

[2022-06-20 02:17] flamendless commented on #672
Didn't work for stable and nightly. Now im using nightly. Here's the link to my config https://github.com/flamendless/AstroVim/tree/main/lua/user the `init_backup.lua` is the previous config that works before me updating

[2022-06-20 02:19] PatMulligan commented on #553
that works! thanks a bunch @mehalter for the quick responses and the stackoverflow link too. Looking forward to playing around with this

[2022-06-20 04:26] Javets70 commented on #673
I tried to run the `:AstroVersion` command and it didnt work . I got an error `Not an editor command: AstroVersion`.

 I havent made any specific changes of my own in `user/init.lua` . I copied the code from the guide as it is .

[2022-06-20 04:48] Javets70 commented on #673
So I removed the previous configuration and cloned the repository again.
Now am able to use `AstroVersion` command and it gives the output `Version: v1.4.4-8-g416736f`

I made the `user/init.lua` and copied the code from the guide for _sonokai_ example.

[code]
I ran `neovim` after that which showed me this error.

[2022-06-20 11:13] mehalter commented on #673
Do you get errors without a user config? These are very strange errors that don't seem related to your config. Could you try completely refreshing your installation?

Delete `~/.local/share/nvim/site` and `~/.cache/nvim` and then run `nvim +PackerSync`

[2022-06-20 11:38] mehalter commented on #672
According to `:help vim.filetype.add()` it looks like a function should return the string that it should set as the filetype. So I think it should be something like this:

[code]

Have you checked the docs and tried something like this to follow what they describe?

[2022-06-20 11:41] mehalter commented on #673
@Javets70 I did just notice that there is a missing comma in the documentation for the example sonokai snippet. I have updated this snippet on the docs. I can confirm that copy/paste of these (with the added missing comma) works.

[code]

[2022-06-20 12:41] mehalter commented on #672
It should go in the `polish` function since neovim 0.7 has moved `filetype.lua` to core Neovim. So this is no longer a plugin. I also just noticed your blunder in your `polish` function. Give this a try:

[code]

[2022-06-20 13:00] #672 closed

[2022-06-20 13:03] flamendless commented on #672
Awesome. works now. now i need to turn off lua lsp for lua2p files

[2022-06-20 13:04] mehalter commented on #672
do you just want to not change the filetype to `lua` like you had before? Just return `lua2p` or something instead of `lua`

[2022-06-20 13:06] flamendless commented on #672
if i do that i dont get any syntax highlighting anymore

[2022-06-20 13:06] #668 closed

[2022-06-20 13:09] mehalter commented on #672
Interesting, good luck haha I'm not sure of a good way to do that.

[2022-06-20 13:16] flamendless commented on #672
Hmm calling `:set syntax=lua` manually works. i dont think that the `vim.cmd[[set syntax=lua]]` in the function is working. maybe theres a setup that loads after the buffer/file is loaded?

[2022-06-20 13:20] flamendless commented on #672
Finally figured it out by accident, i removed the `return "lua"` and `return "lua2p"` and it works

[2022-06-20 13:53] Javets70 commented on #673
I just checked both the examples and they work absolutely fine.
Thanks for the support.

[2022-06-20 13:53] #673 closed

[2022-06-20 17:45] Keitokuch opened #675 "Lsp config overriding user key mappings"
**Is your feature request related to a problem? Please describe.**
The key mappings defined for the LSP server in `lsp.on_attach()` (in configs/lsp/handlers.lua) overrides user key mappings in `polish()`

**Describe the solution you'd like**
The LSP client mappings can be left out in default configs, and suggested to be added by user in user.lsp.on_attach.
For example, move the mappings in `astron

[2022-06-21 00:16] vladdoster commented on #670
That’s because Astronvim isn’t the place to look for that.

Its documented by the go LSP

https://github.com/golang/tools/blob/master/gopls/doc/vim.md#neovim

[2022-06-21 00:18] vladdoster commented on #670
I googled neovim go codeaction and there are plenty of articles on it...

[2022-06-21 09:45] Starlexxx opened #677 "Search icon is not displayed"
<img width="711" alt="image" src="https://user-images.githubusercontent.com/39801789/174769940-a7e589a1-2c1f-4216-a5a8-e304f07acac1.png">
Hi! I search icon is replaced with question mark. What can I do with it?

[2022-06-21 09:45] Starlexxx commented on #677
I'm using Hack Nerd font btw

[2022-06-21 10:35] #670 closed

[2022-06-21 14:33] Starlexxx commented on #677
I've also tried FiraCode Nerd Font and it didn't help. I'm using iTerm2. Can u recommend any other fonts, which works correct?

[2022-06-21 15:21] mehalter commented on #675
ah I haven't thought about this. I just pushed an update with a new approach to enabling user configured mappings. This makes a table `mappings` and `lsp.mappings` in the user config one configures the global mappingg and the other allows the user to configure the mappings in the `on_attach`. This will let you directly configure/add/override mappings we set in the `on_attach`.

We really want ther

[2022-06-21 15:45] #675 closed

[2022-06-21 15:54] kabinspace commented on #677
Can you try JetBrains Mono Nerd Font? FiraCode should have worked, can you try it in a different terminal like kitty?

[2022-06-21 16:04] dpriedel opened #680 "using square bracket in keymap"
Hi

I have several keymappings in my init.lua polish function which work fine.

However, when I try something like this:

`vim.keymap.set("n", "<]q>", ":cnext<CR>`

it has no effect.

I know the square bracket is set as a leader key so I assume I'm not doing this setting properly.

Thanks for your help.

[2022-06-21 16:35] mehalter commented on #680
@dpriedel the leader key is not `]` base AstroNvim sets it as `<space>`

[2022-06-21 16:54] mehalter commented on #680
I think what you want is: `vim.keymap.set("n", "]q", ":cnext<CR>")`

[2022-06-21 16:54] #680 closed

[2022-06-21 17:31] mehalter commented on #680
is it because you need to do `<cmd>` instead of `:`? It probably needs to be `vim.keymap.set("n", "]q", "<cmd>cnext<CR>")`

[2022-06-21 21:07] Stianhn opened #681 "How to configure timeout for null_ls?"
I need to increase the timeout for when null_ls uses `vim.lsp.buf.formatting_sync`. If I trigger it manually I can pass a parameter that sets the timeout `vim.lsp.buf.formatting_sync(nil, <timeout in ms>)`, but I can't figure out how to do this in the config. Any help appreciated ☺️

[2022-06-22 09:17] Starlexxx commented on #677
Thank u! All the problem was about terminal app)

[2022-06-22 09:17] #677 closed

[2022-06-22 13:26] #681 closed

[2022-06-22 14:02] mehalter opened #686 "Move to Heirline"
Investigate the migration from Feline to [Heirline](https://github.com/rebelot/heirline.nvim) for the statusbar.

This should be a relatively simple migration and leave the user configuration nearly identical since the setup functions are quite similar. But it seems to be much better thought out and organized than Feline when it comes to some customizations as well as the theming/colorscheme integ

[2022-06-22 16:16] afdallah opened #687 "Lazygit bug"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [ x ] `:PackerSync`
- [ x ] `:AstroUpdate`
- [ x ] restarted AstroNvim
- [ x ] Neovim version >= 0.7.0

**Describe the bug**
Lazygit navigation breaks, pressing any lazygit shortcut won't run the action. The cursor turns into vim cursor

[2022-06-22 16:26] #687 closed

[2022-06-22 18:31] mehalter commented on #668
Yeah the main thing is that `cmp` has a much larger community and selection of plugins and providers than `coq` at the moment and a lot of users use these extra providers which do not have replacements in `coq` as of yet. Maybe down the line when there is better support and everything

[2022-06-22 18:55] Noxdor commented on #627
Hey, I just stumbled across this and wanted to give my opinion on the default setting:

I can fully understand that people who are vim enthusiasts want the esc behaviour in the terminal too. But I don't understand this choice for this project and specifically for the lazygit integration.

Imo, the great thing about AstroNvim is, that it just works. Without knowing too much about Nvim, I can start

[2022-06-22 18:59] Favianl opened #688 "how to display mode text in feline?"
Hi, in the default configuration only this part of the bar changes color:

![mode-feline](https://user-images.githubusercontent.com/106279874/175115428-afd40bb8-6182-48ea-b9c9-e0030288636d.jpg)

What configuration should I follow to display the text when changing from "NORMAL", "INSERT", etc?

[2022-06-22 19:03] mehalter commented on #627
@Noxdor I totally agree those bindings are so nonsensical :joy: @kabinspace how do you feel about dropping them since they do actively break things haha

[2022-06-22 19:06] mehalter commented on #688
Here are a couple ways you could do it easily depending on how you want it to look. If you want to change the look you can modify these snippets however you want (they are example full `user/init.lua` files):

### Example 1

[code]
![feline_1](https://user-images.githubusercontent.com/1591837/175116645-3282f720-f430-4748-a7cb-2056740ad15b.png)

### Example 2

[code]
![feline_2](https://user-images

[2022-06-22 19:33] mtshrmn opened #689 "Storing init.lua file in own dotfiles repository."
I've encountered a problem, which I think a lot of other people have encountered/solved.
I want to store the lua/user/init.lua` file in my own reposity, but at the same time keep the ability to pull from this repo for the rest of the files.

How would I go on about doing it?

P.S. Thank you for this amazing project, it really is wonderful.

[2022-06-22 19:43] mehalter commented on #689
Check out the documentation: https://astronvim.github.io/configuration/manage_user_config

[2022-06-22 19:44] mehalter commented on #689
The repository has the user folder in it's gitignore. So there won't be any conflicts with it existing. You can either do the method we describe with a dedicated repo. Or if you want to keep it with your other dotfiles just make a symlink to wherever your user folder is in your dotfiles repo

[2022-06-22 19:52] mtshrmn commented on #689
Thank you for your quick answer. This was exactly what I was looking for.

(I can't believe I missed this section in the wiki...)

[2022-06-22 19:52] #689 closed

[2022-06-22 20:01] Favianl commented on #688
ok thanks, it's working.
Something else I would like to know is, if I am using the first example, how do I give the box a style like this:
![style-bar](https://user-images.githubusercontent.com/106279874/175125658-394f142c-c0a5-4dfa-b422-f28d6667424b.png)

[2022-06-22 20:04] dpriedel opened #691 "Disabling mappings in new key mapping setup"
Hi
In the new user key mapping setup code (very nice, thanks), what is the proper way to disable mappings?

Specifically, disable some of the bufferline  mappings such as `<s-h>` and `<s-l>` .  Previously, this was done by :
`vim.keymap.del("n", "<s-h>")`
in the polish function.

A comment in the new example user init.lua says:

`      -- setting a mapping to false will disable it
      -- ["<esc>

[2022-06-23 04:41] flamendless opened #692 "Recording macro not showing in statusline"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Press macro k

[2022-06-23 05:07] mehalter commented on #692
@flamendless are you using nightly with the command line height equal to 0?

[2022-06-23 05:17] mehalter commented on #675
You can also just set the mappings to `false` and they will not be applied. You don't need to use the function notation

[2022-06-23 05:32] flamendless commented on #692
I am using `nightly` the `0.8` one. Oh yeah i have height = 0 in option.lua

[2022-06-23 05:45] flamendless commented on #692
Setting it to `1` fixes it. Thanks

[2022-06-23 05:45] #692 closed

[2022-06-23 06:01] mehalter commented on #692
Yeah there are a lot of problems with that upstream that will be fixed before the official release of 0.8: https://github.com/neovim/neovim/pull/18961

The `neovim-0.8` branch is considered unstable and not fully functional at all times.

[2022-06-23 06:06] flamendless commented on #692
I see, i just really need the breadcrumbs for easier work haha

[2022-06-23 13:34] mehalter commented on #691
This is a limitation of the API that we are doing. You still can use the `vim.keymap.del` if you would like in your polish function. For the API that we implemented to work properly you need to match the key to  what we have it defined as in the file. So we always capitalize `C` and `S` for ctrl/shift so could you try

[code]

[2022-06-23 13:35] mehalter commented on #691
You can browse the source code to see the exact keys for the mappings: https://github.com/AstroNvim/AstroNvim/blob/main/lua/core/mappings.lua

Sorry about this limitation :/

[2022-06-23 13:43] nasnoisaac opened #693 "can't delete key mapping"
I want to change `gr` to telescope builtin reference. I try to delete it in `polish` function:
[code]
It doesn't work.
Error:

And I also add:
[code]
But it can't override it.

How can I do that?

[2022-06-23 14:40] mehalter commented on #693
these mappings are handled by the LSP `on_attach` function. So you can do this like this in your  `user/init.lua` file:

[code]

[2022-06-23 14:40] #693 closed

[2022-06-23 14:43] #691 closed

[2022-06-23 18:24] dpriedel commented on #691
It's not a problem.  I just wanted to be sure I had not made an error
somewhere..

I am a long-time vim user who is converting over to nvim, largely due to
efforts such as yours in AtroNvim.

Thanks !!

On 6/23/22 9:35 AM, Micah Halter wrote:

[2022-06-24 01:06] LintaoAmons opened #700 "A video explain how to use lua.user"
I saw there's a video shows about the out-of-box functions of astronvim,which helps a lot to newbies like me. But when comes to add user specific configuration, things became harder. So maybe another video dedicated to how to add user specific configuration, how `lua.user` overwrite the default configuration, explain a little about the things under hood~ Maybe show the process of writing a configu

[2022-06-24 01:34] n15e opened #701 "How to remap copilot#Accept() to play nicely with copilot.vim"
Trying out https://github.com/github/copilot.vim however it always ends up breaking and producing the following error message.

`copilot tab map has been disabled or is claimed by another plugin`

a bit of googling says its because of `nvim-cmp` and I have no idea how to fix this. I am new to neovim and astrovim and not really sure how to go about making the changes suggested in any of these place

[2022-06-24 19:35] n15e commented on #701
Hey, thanks for the response. I just tried your suggestion, and it doesn't seem to fix the issue.

This is what I did.

In the options section in the user settings section I added
[code]

and then in the mapping section of the file I added

[code]

Now copilot doesn't even run. Running

`:Copilot status`

gives the following message

`Copilot: <Tab> map has been disabled or is claimed by another p

[2022-06-24 20:19] WillEhrendreich opened #702 "omnisharp and ionide"
I have been trying FOR DAYS to get this config to work with omnisharp and ionide, I'm a .net dev, and I really like the idea of using nvim for everything.

first i tried it with the normal, basic config for astronvim. then i downloaded the one from @mehalter , and then tried to use this as a jumping off point.

absolutely no luck. omnisharp will not attach to a buffer. I'm legit at my wit's end, l

[2022-06-24 20:41] #701 closed

[2022-06-25 04:23] Johnsiras commented on #701
It suppose to be in the `i` mode not in the `n` mode?????

[2022-06-25 05:58] remo7777 opened #703 "cursor-style issue"
Hello i m using termux,
My default terminal-cursor-style=underline
After using nvim its
terminal-cursor-style=bar
Why ??
How can i fix it ?
![IMG_20220625_113238](https://user-images.githubusercontent.com/28594846/175760475-d214c5d9-e01d-44c7-9d09-4864429221a5.jpg)

![IMG_20220625_113357](https://user-images.githubusercontent.com/28594846/175760515-dd18b0ad-8c32-46c5-a386-0296d63c1926.jpg)

[2022-06-25 11:11] mehalter commented on #703
When you are running termux, what do you get when you run `echo $TERM`

[2022-06-25 11:28] remo7777 commented on #703
xterm-256color

[2022-06-25 16:27] nappalm opened #704 "Prettier is not working for me with React / React tsx"
I'm new to using `null-ls`, I understand it's for formatting.

My main problem is that it doesn't format my code using react, I have my `prettier.config.js`
file in each of my projects, and I would like it to take that setting for formatting.

In the `user_example/init.lua` file I have added this:
[code]

I still don't understand how I can make my code format work 🥲
Any suggestion?

[2022-06-25 18:52] pkazmier opened #705 "Scrolling speed with Ctrl-f and Ctrl-b"
I'm trying to determine if the scrolling speed I am seeing is intended or not. Attached is a video where I compare Astrovim scrolling speed with NeoVim started with `-u NORC` flag:

https://user-images.githubusercontent.com/747855/175786702-180eee6f-3d7a-4b44-be5d-dc3cd802ca7c.mov

Is this by design? Is there an option I can disable?  I'm on Mac OS X 12.3 using Kitty terminal (0.19..3) with NeoVim

[2022-06-25 22:21] n15e commented on #701
Zoink! that was the issue. Thanks a lot, really appreciate it.

[2022-06-26 01:09] lucashadfield opened #706 "Telescope not finding file that exists"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
On a fresh install of AstroNvim, after copying the `user_example` folder with `cp -r ~/.config/nvim/lua/user_example/ ~

[2022-06-26 02:20] lucashadfield commented on #706
worked it out, it's related to what's in `.gitignore`

[2022-06-26 02:20] #706 closed

[2022-06-26 02:29] sharkby7e commented on #704
Did you install the prettier global npm package?

[2022-06-26 02:33] nappalm commented on #704
Yes, i found out it was problem because of my file name `user_example` to `user` that solved it.

And then I ran into another problem when saving...
Pressing `:w` brings up a notification saying:

`vin_lsp_formatting_sync: timeout
`

[2022-06-26 02:52] mehalter commented on #704
Check out #529 for the timeout issue

[2022-06-26 02:52] #704 closed

[2022-06-26 10:37] krshrimali opened #708 "Registers are not updated between multiple instances of neovim/windows"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
I've 2 different terminal windows opened, and 2 different files using neovim. The registers are not updated/synchronize

[2022-06-26 11:14] krshrimali commented on #636
Hi, @mehalter - I've had this issue as well. And I can confirm that I had `telescope-fzf-native.nvim` folder in `~/.local/share/nvim/site/pack/packer/opt`.

What I did to resolve this: (I just tried things for 5-10 mins, I'll report if it's a false alarm of a solution)

[code]

And once done, I had to make sure that I've `export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH` in my bash config (I

[2022-06-26 13:10] pkazmier commented on #688
@Favianl Here is a configuration that should do what you want. I also added same padding on each side of the mode text.

[code]

<img width="1029" alt="image" src="https://user-images.githubusercontent.com/747855/175815707-08d49a86-9b88-45ba-9f52-97af0873160f.png">

The [Feline Usage Guide](https://github.com/feline-nvim/feline.nvim/blob/master/USAGE.md) has a section on how to define [separators]

[2022-06-26 13:57] pkazmier opened #709 "Unify VertSplit color with the StatusLine background color"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Set the foreground color of `VertSplit` to `C.grey_4` to match the color of the status line. This unifies the elements that act as separators of windows for a more consistent look.

**Additional context**
While I know this can easily be changed by individual users, I believe the suggestion

[2022-06-26 14:34] pkazmier commented on #705
I figured this one out on my own after trying to disable each plug-in one at a time to find the offender, which was cinnamon. I tried to disable the plug-in via my user config per the comments in the file, but it had no effect. Did I configure this correctly?

[code]

As a workaround, I configured the cinnamon plug-in with a `scroll_limit` of `0`, which fixed my problem. I would like, however, to

[2022-06-26 22:02] Hexavall opened #710 "When opening a file with neovim through a file manager, some errors appear."
**Checklist**
- [DONE] `:PackerSync`
- [DONE] `:AstroUpdate`
- [DONE] restarted AstroNvim
- [DONE] Neovim version >= 0.7.0

**Describe the bug**
When I open a file with Neovim through a file manager (PCManFM / Vifm / Ranger), an error appears (first screenshot). Also, when I type, another error appears (second screenshot).

**To Reproduce**
Steps to reproduce the behavior on PCManFM:
1. Open PCMan

[2022-06-27 00:15] remo7777 commented on #703
xterm-256color

[2022-06-27 01:01] #705 closed

[2022-06-27 13:22] mehalter commented on #710
This appears to be an issue with one of your language servers. You should look at LSP logs to try and debug what is going on and why it's not running. I believe this will most likely be separate from AstroNvim's base code.

[2022-06-27 13:25] #708 closed

[2022-06-27 13:26] #703 closed

[2022-06-27 13:29] mehalter commented on #702
https://github.com/neovim/nvim-lspconfig/blob/master/doc/server_configurations.md#omnisharp

Looking at the documentation for `omnisharp` you do need to set the `cmd` which  can be done like this:

[code]

Once this code is in place in your `user/init.lua` it looks for the either a `.sln` file or `.csproj` file for identifying the root. So you will want to make sure at least one of those types of

[2022-06-27 13:32] mehalter commented on #702
It does also look like `nvim-lsp-installer` supports `omnisharp` so instead of installing omnisharp yourself and setting the `cmd` you can just us `nvim-lsp-installer`:

[code]

And once the installer installs the language server, it will handle setting the `cmd` appropriately and you don't need to set it manually. Then you just need to worry about the `.sln` and `.csproj` files being present in t

[2022-06-27 13:41] #709 closed

[2022-06-27 18:00] xApologize opened #713 "custom setting like in a vimrc"
Hello!

I'm trying out astrovim instead of using vim. I have a couple of setting I like to have in my .vimrc, like disabling the arrow key. I was wondering how can I set those up with astrovim? When I try to set them in user/init.lua using vim.cmd([[]]) it gives me error.

[2022-06-27 18:31] pkazmier commented on #713
In your `user/init.lua` file, you'll see a `mappings` section around line 211 (there are three mapping sections in the file, so make sure you find the correct one) if you copied the one from `user_example`. You can add the following:

[code]

I think you should just be able to do the following, but for some reason it did not work for me:

[code]

[2022-06-27 19:02] xApologize commented on #713
thanks for your help, unfortunately I tried both of them and it does not work for me. I made myself a init.lua in `~.config/nvim/lua/user` and this is what I have in it:
![init](https://user-images.githubusercontent.com/104783397/176016150-7a422ab5-2a25-40da-a642-80a5a176ac4e.PNG)
I am most likely doing something wrong! it is the first time that I am trying it out!

[2022-06-27 19:14] pkazmier commented on #713
You need to move `colorscheme`, `options`, and `plugins` into your `config` table above. Then you need to `return config` at the end of the file.

[code]

[2022-06-27 20:05] xApologize commented on #713
insane! thank you so much! one last thing and I'm not sure if you will be able to help but l'll give it a shot. In my .vimrc i have setting that show the tabs with |\\\ :
![exemple](https://user-images.githubusercontent.com/104783397/176026236-13064112-613e-4e4f-9887-f92e27e2473a.PNG)
is it possible to add that to astronvim?

the setting I use in my vimrc is  set list lcs=tab:\|\

[2022-06-27 20:47] pkazmier commented on #713
You can set options in the `options` block. For example:

[code]

I've just discovered AstroVim yesterday, so I'm bumbling around as well, but a great help for me was reviewing the @mehalter's personal [configuration](https://code.mehalter.com/projects/68/files/master). In fact, I like most of his settings and plug-ins save for a few minor keybindings (they really should be the default imo). He br

[2022-06-28 12:08] Stianhn opened #714 "Quick-scope for easier horizontal navigation"
Have you considered adding quick-scope to the project? I find it really helpful for speeding up my horizontal navigation.

https://github.com/unblevable/quick-scope

[2022-06-28 13:15] mehalter commented on #714
There are a lot of plugins that achieve this and picking one will not satisfy the needs of everyone necessarily. I think the default f/F/t/T functionality in vim covers 99% of cases for most people and this doesn't improve it enough to add as a default plugin.

[2022-06-28 13:15] #714 closed

[2022-06-28 14:40] mehalter commented on #391
With this new migration to Heirline we are also able to disable the WinBar on a per buffer basis. So now sidebars don't have a blank line at the top
![2022-06-28_10:36:08_screenshot](https://user-images.githubusercontent.com/1591837/176207459-be400d14-1f7d-4a14-a30e-ee12b51324f3.png)

[2022-06-28 15:31] raw-bin opened #716 "Make the :LspInfo popup disappear by pressing 'q' rather than issuing ':qa'."
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
Disclosure: This is firmly in the 'first world problems' bucket but I do think hits productivity. I mean: AstoNvim make

[2022-06-28 15:45] raw-bin opened #717 "Add support for 'Search word under cursor'"
**Is your feature request related to a problem? Please describe.**
I think grepping for the word under the cursor in the active buffer is a powerful and common action. At present, I have to redundantly type in the word after invoking Telescope using 'SPC-f-w'.

**Describe the solution you'd like**
I think an alternative 'Search word under cursor' AstroNvim option would be a better way.

I make it

[2022-06-28 15:46] Jarmos-san commented on #529
I see around [~12 duplicate threads](https://github.com/AstroNvim/AstroNvim/issues?q=is%3Aissue+prettier+is%3Aclosed+) on the same topic. So, I was thinking why not add some sort of a disclaimer in the documentations or the example `init.lua`? Additionally, I don't think it hurts anyone to add the suggestions provided in [this comment](https://github.com/AstroNvim/AstroNvim/issues/529#issuecomment

[2022-06-28 15:59] mehalter commented on #716
I think this is a feature request that should be made upstream with https://github.com/neovim/nvim-lspconfig

[2022-06-28 15:59] #716 closed

[2022-06-28 16:14] #717 closed

[2022-06-29 08:58] raw-bin commented on #717
You guys Rock!!! :) Thanks!

[2022-06-29 09:04] flamendless commented on #717
I also have this, i use `leader + g`

[2022-06-29 15:44] #713 closed

[2022-06-29 19:24] xApologize opened #719 "Setting not apply to new files"
When I create a new file, either from neotree or creating it while doing nvim, my setting arent applied to it.
![image](https://user-images.githubusercontent.com/104783397/176518628-3f47c70f-7643-4a11-8856-41a573cf942e.png)
from what it looks like, i believe the tab arent acting like tabs.
here is my init.lua:
![image](https://user-images.githubusercontent.com/104783397/176519099-c90d0ead-373e-408

[2022-06-29 19:36] xApologize commented on #719
after testing some stuff, if I open the new file in the default vim and reopen it in nvim, the setting are working correctly again

[2022-06-29 19:47] #719 closed

[2022-06-30 19:10] WillEhrendreich commented on #700
I agree, this has been very difficult to figure out, I'm almost there, but it was and still is a grueling process for the uninitiated/have a poor understanding of lua (this guy).

having access to the "black belt example" of @mehalter has been great, but yet again another level of complication, another git repo, multiple levels of abstraction when it isn't exactly clear what is being set and where

[2022-07-01 05:01] windowsrefund opened #720 "Trying to remap jj"
Hello,
I'm trying to remap jj to \<C-o>o so I can quickly move to a new line while in insert mode. I intend to use the mapping when autocomplete has completed the current line to my satisfaction. I've added the following to my ~/.config/astronvim/lua/user/init.lua file but it's having no effect.

[code]

[2022-07-01 08:47] 2brownc opened #721 "Code formatting with `eslint` fails for JavaScript React files ~ Error Message: `vim.lsp.buf.formatting_sync: timeout`"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [* ] `:PackerSync`
- [* ] `:AstroUpdate`
- [* ] restarted AstroNvim
- [* ] Neovim version >= 0.7.0

**Describe the bug**
Code formatting using `eslint` fails for JavaScript React files.

**To Reproduce**
Steps to reproduce the behavior:

[2022-07-01 10:02] mehalter commented on #721
Check out #529 for the timeout issue

[2022-07-01 10:02] #721 closed

[2022-07-01 14:06] 2brownc commented on #529
What would be the disclaimer about?

Doesn't work for me when I use `eslint` for formatting.

[code]

[2022-07-01 18:50] WillEhrendreich commented on #702
Ok, thank you, you did give me the breadcrumbs to follow that lead home. hahaha.

One big consideration, and the reason i have to modify the cmd that's being passed in, is that my project structure shouldn't go off of the .csproj or the .fsproj files. that stops it from finding the root, it's always at the .sln file level.

I got that working now, however.

For those interested, the relevant code

[2022-07-01 18:56] mehalter commented on #720
This mapping of `jj` is being set by `better-escape`. You can either disable this plugin all together, or if you like the `jk` mapping for escape you can jus disable the `jj` mapping in the configuration. Here are a couple options for `user/init.lua`

Disable `better-escape`:

[code]

Disable `jj` mapping:

[code]

[2022-07-01 18:56] #720 closed

[2022-07-01 18:59] WillEhrendreich commented on #702
oh and the reference count is always zero.. even in the same file when it clearly has references.

like this:
![image](https://user-images.githubusercontent.com/55286472/176954745-724973cb-1cec-480c-af1b-bf70eadb2fde.png)

[2022-07-02 02:47] 2brownc commented on #721
What worked for me:

* `eslint` is too slow.
* Using `eslint_d` made things better.
* With `eslint_d` code formatting may fail for the first time but works afterwards because once `eslint_d` is called it keeps running in the background.

`~/.config/nvim/lua/user/init.lua`

[code]

[2022-07-02 04:05] Ya-suke opened #722 "Feat: Add support for options that use signs"
The ability to set options e.g. `formatoptions`, from the user config file without using autocommands would be nice.

Currently cannot set opt using `-=` or `+=` signs

The following functions exist in vim:
[code]

[2022-07-02 04:11] Ya-suke opened #723 "Feat: Include projects button on alpha dashboard by default"
A `projects` button showing recent projects would be really useful.
The current alternative, `recents` button is useful but not as productive as a `projects` button could be.

[2022-07-02 16:33] SamuelWK opened #724 "Deprecated LSP Plugin methods"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [ x] `:PackerSync`
- [ x] `:AstroUpdate`
- [ x] restarted AstroNvim
- [ x] Neovim version >= 0.7.0

**Describe the bug**
There is an error/warning when you are tryng to use lsp plugin in HTML files and others.
Error 1
![image](https://u

[2022-07-02 16:36] mehalter commented on #724
@SamuelWK could you please edit this issue to fill out the form? I'm not sure what bug you are trying to report.

[2022-07-02 16:40] SamuelWK commented on #724
Sorry, miss click, the issue is already filled

[2022-07-02 16:40] mehalter commented on #724
@SamuelWK it appears you are using Neovim nightly (0.8). AstroNvim does not officially support nightly or these breaking changes. If you want, you can try the `v2` branch which takes these into account. This is extremely experimental and not considered at all stable and under active development. We would recommend using AstroNvim with *stable* Neovim for a consistent and stable experience as well

[2022-07-02 16:41] mehalter commented on #724
https://github.com/AstroNvim/AstroNvim/pull/715

[2022-07-02 16:41] #724 closed

[2022-07-02 19:37] leebeydoun opened #725 "Add the ability to disable code snippets (but leave other auto-completion features)?"
Hello,

I am new to `vim` and `astro vim`. I was wondering if there is a way to disable code snippets in astro vim, and if not, can we add that feature?

Looking through the `lua` code, I found: `luasnip.lua` in the configs. It has the following content:

[code]

We always load the plugin from `luasnip/loaders/from_vscode`. May we add an option to disable this from ever being loaded?

The issue I

[2022-07-04 11:03] liyongxing1410 commented on #221
Hi i was following your recommend but i'm stucking with this issue.

![image](https://user-images.githubusercontent.com/89700043/177142009-41147da9-45e9-4e74-9f74-fe24189ed623.png)

[2022-07-04 11:05] krshrimali commented on #221
@liyongxing1410 - Can you please explain more about what you are trying to do? Mainly these questions:

1. Are you trying to install a new theme?
2. What files did you change? [also please share the changes]
3. Your neovim version
4. Did you do `nvim +PackerSync`?

[2022-07-04 11:07] liyongxing1410 commented on #221
@krshrimali, Hi!
I changed the user/init.lua and set the colorscheme follow "onehalf" theme. I'm using the latest version ownr neovim from brew with --HEAD and i also sync packer/

[2022-07-04 11:09] krshrimali commented on #221
@liyongxing1410 - Can you please share your `user/init.lua` file content here?

[2022-07-04 11:17] HungLe14 commented on #221
@krshrimali i think i add the init in the wrong plugins function. By the way it is running as normal but the new colorscheme doesn't applied.

![image](https://user-images.githubusercontent.com/99705956/177144072-9ef3bae8-87d5-4817-affb-bc69fc88c803.png)
![image](https://user-images.githubusercontent.com/99705956/177144100-7c69e1e3-9cff-4e73-81a3-3211501b68b3.png)

[2022-07-04 11:18] liyongxing1410 commented on #221
@krshrimali i think i added the init in the wrong plugins function. By the way it is running as normal but the new colorscheme doesn't applied.

![image](https://user-images.githubusercontent.com/99705956/177144072-9ef3bae8-87d5-4817-affb-bc69fc88c803.png)
![image](https://user-images.githubusercontent.com/99705956/177144100-7c69e1e3-9cff-4e73-81a3-3211501b68b3.png)

[2022-07-04 11:21] krshrimali commented on #221
Looks like a plugin issue, maybe try this:

[code]

[2022-07-04 11:26] liyongxing1410 commented on #221
@krshrimali  I think it should be the issue from onehalf theme. Thank you for you help!

[2022-07-04 11:39] mehalter commented on #221
@liyongxing1410 this also could be breaking changes in Neovim nightly. AstroNvim does *not* officially supported nightly Neovim. I would recommend you using Neovim stable.

[2022-07-04 15:19] 2brownc opened #726 "Sytax higlighting is not working for "javascript react" files"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [*] `:PackerSync`
- [*] `:AstroUpdate`
- [*] restarted AstroNvim
- [*] Neovim version >= 0.7.0

**Describe the bug**
Sytax higlighting is not working for "javascript react" files.

**To Reproduce**
Steps to reproduce the behavior:
1. Op

[2022-07-04 18:56] kmiasko opened #727 "Option to disable lsp_highlight_document"
Hello,

I can't to find out a way to disable lsp_highlight_document functionality that is forced in astrovim.lsp.on_attach function. Is there any way to do this without overwriting whole on_attach functionality? If not is there any plan to make it optional?

[2022-07-04 21:00] 2brownc commented on #726
Totally worked thanks.

[2022-07-04 21:00] #726 closed

[2022-07-04 23:57] mehalter commented on #727
You can put this inside of your `user/init.lua` file:

[code]

[2022-07-04 23:59] mehalter commented on #722
You can do this in your `user/init.lua` file in the `polish()` function:

[code]

[2022-07-04 23:59] #722 closed

[2022-07-05 00:03] mehalter commented on #725
I believe you could do this in your `user/init.lua` file:

[code]

[2022-07-05 00:03] #725 closed

[2022-07-05 04:33] kmiasko commented on #727
@mehalter Thanks for the reply, but this don't work.

[code]

i  think it's because autogroup is created after user on_attach_override is run

[code]

[2022-07-05 04:43] leebeydoun commented on #725
It's fine to close this issue as I am working around if for now (until I get a better understanding of vim config), but worth noting the above did not work for me. I still get all the snippets.

[2022-07-05 04:45] mehalter commented on #727
Ah thanks for pointing this out @kmiasko ! I'll make a bug fix in the morning. Sorry about that!

[2022-07-05 09:12] mehalter commented on #725
Once you add the code snippet I provided, did you restart and run `:PackerSync`. I have fully tested the code I linked, it does cause friendly snippets to be fully removed and therefore no snippets will be available.

[2022-07-05 10:14] leebeydoun commented on #725
Yup, my bad you are right. That above snippet does work after restarting and running `:PackerSync`. Amazing, thank you!

[2022-07-05 12:25] #727 closed

[2022-07-05 12:50] mehalter commented on #723
Neovim and AstroNvim do not really have a concept of "Projects" in the core setup so this doesn't necessarily align with the standard "vim" way of viewing things. I'm not sure of a good way to do this that would be nicely generalizable and it's not very standard. For now I am going to close this as unplanned, but if someone comes along with a good idea of how to implement this in a nice way then I

[2022-07-05 12:50] #723 closed

[2022-07-05 19:29] an1ndra opened #732 "Getting some kind of LSP error every time I open neovim"
When I open nvim prog.lua, this error appears.
![Screenshot from 2022-07-06 00-54-18](https://user-images.githubusercontent.com/36324543/177401308-7094da76-ae94-4838-bb15-86879e3f5532.png)

[2022-07-05 19:33] mehalter commented on #732
Duplicate of #667

[2022-07-05 19:33] #732 closed, assigned to nobody

[2022-07-05 22:36] jayp0521 opened #733 "Neo-tree close if last window ignoring Aerial.nvim"
**Is your feature request related to a problem? Please describe.**

I don't know if this belongs here. Doing `:q` with neotree (`close_if_last_window=true`) and aerial.nvim open should exit neovim

**Describe the solution you'd like**
It would be nice if there was an easy wait to quit nvim if after `:q` while neotree and aerial.nvim are open

**Additional context**
https://github.com/jayp0521/dotf

[2022-07-07 18:48] abalmos opened #737 "Error with default_theme in `v2`"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
I have this error

[code]

with branch `v2` after pulling this morning. It appears to be caused by this commit: https:/

[2022-07-07 18:57] mehalter commented on #737
This has been resolved with the latest push.

[2022-07-07 18:57] #737 closed

[2022-07-07 19:04] abalmos commented on #737
Thanks, @mehalter. Seems obvious now :)

I'm not sure where else to put this. Let me know if there is a good place.

A plugin to watch: https://github.com/williamboman/mason.nvim

Written by the same author as `nvim-lsp-installer` but also manages DAP, linters, and formaters. The author felt it deviated from `nvim-lsp-installer` enough that it should be a [new plugin](https://github.com/williambom

[2022-07-07 19:05] mehalter commented on #737
Thanks for the heads up we've been discussing this on the discord today

[2022-07-07 19:10] abalmos commented on #737
Is that public?

[2022-07-07 19:20] mehalter commented on #737
Yeah it's on the README. Feel free to join! It's a great place to ask questions. I would also prefer bug reports on the v2 branch be reported on there if possible. Since it doesn't pertain to supported AstroNvim.

[2022-07-07 19:23] abalmos commented on #737
Hmm, I don't see anything.. Searching for "Discord" doesn't bring anything up either. I don't use Discord, so I'm unsure what I should be looking for. I'm likely just blind :)

[2022-07-07 21:16] tpolito opened #738 "What is this menu and how can I disable it?"
This menu appears when the leader key is pressed, and I would like to remove it. I wasn't able to find the mapping in `mappings.lua`
![image](https://user-images.githubusercontent.com/29431348/177872809-fccfff4d-6743-4b12-8716-62c594dc5a65.png)

[2022-07-08 02:51] Johnsiras commented on #738
It's basically the https://github.com/folke/which-key.nvim plugin which open a popup with suggestions for keybindings.
To disable it you can use

[code]

[2022-07-08 03:16] tpolito commented on #738
Awesome, thanks for the info.

[2022-07-08 03:16] #738 closed

[2022-07-08 09:25] kmiasko opened #739 "After breaking changes in neovim file type detection doesnt work in current neovim version"
**Checklist**

- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0 (v0.8.0-dev+578-gca64b589cd)

**Describe the bug**

As described here: https://github.com/neovim/neovim/issues/14090#issuecomment-1177933661

Astrovim sets those variables in default config so filetype detection doesn't work properly.

temporary solution is to unlet those variables in po

[2022-07-08 14:13] mehalter commented on #739
Fixed in latest commit

[2022-07-08 14:13] #739 closed

[2022-07-08 15:40] octaduckz opened #740 "Gruvbox not working"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
When I tried to install gruvbox (morhetz/gruvbox), everything got weird and wrong, only the file tree was somewhat colo

[2022-07-08 16:03] octaduckz commented on #740
its fixed now sorry

[2022-07-09 15:24] abliger opened #745 "nvim build-in plugin TOhtml can't run"
**Checklist**
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**

E492: not an editor command: TOhtml

[2022-07-09 15:36] #745 closed

[2022-07-09 22:04] windowsrefund opened #746 "Unable to scroll LSP documentation"
Hello,
I've got the latest pyright working but noticed that I am unable to scroll LSP's documentation. I do believe there is more information available which I am not able to access. According to the [default configuration](https://astronvim.github.io/configuration/plugin_defaults#cmp), I believe I should be able to scroll down with C-d. Nothing is happening though. Do I first need to focus on it

[2022-07-10 09:26] x-ray-s commented on #14
In windows, you may run the command below
[code]

[2022-07-10 14:13] mehalter commented on #746
It is actually `C-f` that would scroll down and `C-d` scrolls up according to the default bindings. Also this documentation does not have anything to scroll, you are viewing the entire thing.

Here's an example of something with a scroll bar (you can see it on the right side:

![2022-07-10_10:11:59_screenshot](https://user-images.githubusercontent.com/1591837/178148587-ce0323a1-2f36-424f-964b-4739

[2022-07-10 14:13] #746 closed

[2022-07-10 15:23] windowsrefund commented on #746
Thank you for the feedback. Originally, I had been comparing my experience with that of someone on Discord who it turns out, is using pylance rather than pyright. I'm going to look into moving over to it as it seems like it may be more helpful to me at this stage.

[2022-07-10 20:19] CMOISDEAD opened #748 "Where can I add this configuration in my init.lua?"
I want to add this configuration to lspconfig in my user/init.lua but I don't know exactly where to add it

[code]
Thanks for the help 😄

[2022-07-10 22:37] Clumsy-Coder opened #749 "getting proper lsp when loading modules from Astronvim user configs"
I'm currently trying to figure out how to get lsp suggestions when accessing a member of a loaded file for Astronvim user configs

Ex:
viewing cmp contents of `~/.config/nvim/lua/user/icons.lua` using LSP `sumneko_lua`

## using require("user.icons")
![image](https://user-images.githubusercontent.com/19594044/178163552-e01cfc52-c995-458e-9b6a-6e725c34252a.png)

## using require("astronvim.icons")

[2022-07-10 23:21] Clumsy-Coder commented on #748
There's two options
- adding to `Astronvim-repo/lua/user/init.lua` (i'm guessing the user configs will be located in `Astronvim-repo/lua/user/`)
- Splitting user configs from `init.lua` to it's own file in a modular form

## Adding to `user/init.lua`

You can try the following in `init.lua`

[code]

Also check
- https://github.com/AstroNvim/AstroNvim/blob/67c0c1e1b2cc0cdd2bd2bff4a20336587befd7b4/l

[2022-07-10 23:35] CMOISDEAD commented on #748
thank you, you have helped me a lot 😀

[2022-07-10 23:36] zicraftian opened #750 "How would you specify which python version astrovim uses?"
When I run :checkhealth neovim tells me that my python version is 3.8 when I would like it to use 3.10 instead. How would you specify which version astrovim uses? I am very new to the entire neovim community, and I am sorry if this is a dumb question.

[2022-07-11 00:14] mehalter commented on #748
Thanks souch @Clumsy-Coder for helping out and providing such a detailed answer!

[2022-07-11 00:14] #748 closed

[2022-07-11 05:07] windowsrefund commented on #463
This is awesome. Much more useful than the default behavior :+1:

[2022-07-11 09:40] Rid1-fz-06 opened #751 "Is it possible to remove whichkey registerd keymaps without going outside of user/init.lua?"
I want to replace the keymappings of neovim with the keymappings of doom emacs. I know I can do this by changing the configs/which-key-register.lua file, but can I do this from user/init.lua file?

[2022-07-11 11:48] bilenkis opened #752 "Neotree close window if a file is opened"
Hey guys, thank you for this wonderful project! Just started discovering all the features and tune it for my needs and got stuck a bit with the Neotree configuration.

Would you mind posting an example user config for closing the Neotree window if a file has been opened?

Here's what I tried and nothing worked so far:

[code]

Thank you in advance!

[2022-07-11 12:43] mehalter commented on #752
The `event_handlers` part of the setup function is a little funky when it comes to playing nicely with table merging features in Neovim. You will probably need to use the `function(config) ... end` notation for configuring. This notation is described in the documentation and basically provides a much more powerful configuration option when overriding the default table is not quite enough. (https:/

[2022-07-11 12:43] #752 closed

[2022-07-11 12:45] #751 closed

[2022-07-11 12:48] mehalter commented on #750
I believe the easiest way is to set the `g:python3_host_prog` variable to the path to your python binary in your `user/init.lua` file to point to the correct version. This will change which Python neovim is using. Here is an example:

[code]

[2022-07-11 13:00] mehalter commented on #749
Hm, could you try replicating this issue on a fresh AstroNvim installation with no user configuration outside of `user/icons.lua`? I can't seem to recreate this bug on a fresh installation, my installation, or a fresh installation with your changes to `sumneko_lua` server settings.
![2022-07-11_08:53:08_screenshot](https://user-images.githubusercontent.com/1591837/178269860-84dca0e6-1263-4936-a4e8

[2022-07-11 13:23] Rid1-fz-06 commented on #751
@mehalter I've used this. But I also want to remove existing keybindings like \<leader\>w or \<leader\>d. How can I achieve this?

[2022-07-11 13:25] mehalter commented on #751
Check out the `mappings` section of the provided example: https://github.com/AstroNvim/AstroNvim/blob/67c0c1e1b2cc0cdd2bd2bff4a20336587befd7b4/lua/user_example/init.lua#L179-L184

We do all of our mappings there instead of in the `which-key` setup. So you can have both in your `user/init.lua` file and put your mappings in which every one you prefer as well as disabling default mappings in the `map

[2022-07-11 17:23] zicraftian commented on #750
where should I put this as I have tried in my user/init.lua and nothing has changed

[2022-07-11 18:21] mehalter commented on #750
Where did you put it?

[2022-07-11 20:01] zicraftian commented on #750
Near the bottom. Sorry if I didn't do it right I know nothing of lua/vim

[2022-07-11 20:02] zicraftian commented on #750
in  my lua/user init.lua file

[2022-07-11 20:03] mehalter commented on #750
Are you using the provided example as a template? Here is a link to the section in the provided skeleton where you would put it: https://github.com/AstroNvim/AstroNvim/blob/main/lua/user_example/init.lua#L36-L44

The code snippet that I sent is an *entire* minimal `user/init.lua` file. Also you might need to modify the string that you set it to to point to where your python 3.10 binary is. But tha

[2022-07-11 20:06] #750 closed

[2022-07-11 23:19] half-potato opened #754 "Rebinding using Comment.nvim is difficult"
**Is your feature request related to a problem? Please describe.**
There is no clear way to rebind the custom commenter system.

**Describe the solution you'd like**
I would like documentation on a method for rebinding the comment key. Specifically, I want to bind it to <C-_>

[2022-07-12 02:08] Rid1-fz-06 commented on #751
@mehalter I've tried to set these keybindings to false, but to my utter regret, they don't work. They are still there when I close and reopen neovim. Can you please check this?

[2022-07-12 02:47] mehalter commented on #751
Can you please share your `user/init.lua` file and I can take a look.

[2022-07-12 04:46] Rid1-fz-06 commented on #751
@mehalter

[code]

[2022-07-12 16:54] Rid1-fz-06 commented on #751
@mehalter No success. It's not terminating those keybindings.

[2022-07-12 20:57] Clumsy-Coder commented on #749
I think I figured out the issue.

So I keep the Astronvim repo in `~/.config/nvim/`

And **symbolic link** the Astronvim user folder from my dotfiles (`dotfiles/tools/astronvim`) to Astronvim user folder

Resulting in
`~/.config/nvim/lua/user/ -> ~/dotfiles/tools/astronvim/`

---

# Testing scenarios

I will be testing the Astronvim user configs by

- Copying user configs to `~/.config/nvim/lua/us

[2022-07-13 00:17] bouakram opened #755 "E492: Not an editor command: PackerSync ."
os : windows 11
NVIM v0.7.2

bug is :
so, i'm trying to install astrovim , i run the clone command after that i run nvim +PackerSync command it show this error :  E492: Not an editor command: PackerSync .

![hghgh](https://user-images.githubusercontent.com/75098963/178622187-4ed78260-43e8-4eb5-96b9-82e288541df0.png)

[2022-07-13 09:42] x-ray-s commented on #755
in nvim, run command
[code]

[code]

[2022-07-13 11:19] Johnsiras opened #756 "[Docs]: API section on documentation"
**Is your feature request related to a problem? Please describe.**
So i'm starting to contribute to this project, and i just discovered about the **astronvim** global type and there's some functions in there that i don't understand like the `user_plugin_opts()` like what it's `module`, `default`, `extend`, `prefix`?

**Describe the solution you'd like**
Maybe you should make a new section for the

[2022-07-13 12:56] bouakram commented on #755
after echo command this is the path :
![newconf](https://user-images.githubusercontent.com/75098963/178737145-3683f345-b3bb-458a-9a19-63e3fac0759c.png)
so i fond that i can't reach the path , after that i activate show hidden items and i find this files inside nvim-data :
![new1](https://user-images.githubusercontent.com/75098963/178737682-3ac4cc56-bfd8-4f1e-aca2-477e5448b2bf.png)
so , do i need t

[2022-07-13 13:04] bouakram commented on #755
hey @x-ray-s  thank you it's work fine now 🙏💕

[2022-07-13 13:07] #755 closed

[2022-07-13 14:37] #754 closed

[2022-07-13 20:27] yeomfa opened #758 "Set colorsheme in Astrovim"
how can i change the theme? the default dema doesn't work for me. thanks.
![Captura de pantalla de 2022-07-13 15-26-22](https://user-images.githubusercontent.com/102283526/178828283-de6584f5-d6d2-4317-bcf8-f0106d9de754.png)

[2022-07-14 02:16] Johnsiras commented on #758
@yeomfa instead of doing `colorscheme = "folke/tokyonight.nvim"` you use `colorscheme = "tokyonight"` instead

[2022-07-14 14:41] mehalter commented on #751
can you share your new full `user/init.lua`?

[2022-07-15 05:37] Rid1-fz-06 commented on #751
It worked. I was putting those changes under t table. Sorry for inconvenience.

[2022-07-15 09:23] Eloitor opened #759 "How to set filetype for `.lagda.md`?"
I would like to add `autocmd BufNewFile,BufRead *.lagda.md set filetype=agda`  in my config,

I tried:
[code]

How can I do it?

[2022-07-15 10:12] Eloitor commented on #759
I also tried

[code]
But in this way, the .md extension seems to have precedence

[2022-07-15 10:34] Johnsiras opened #760 "Implementing mason.nvim with nvim-lspconfig"
Hello, how i implement mason.nvim with nvim-lspconfig on astronvim? I tried the following snippets

## Snippets
1. Since the nvim-lspconfig was lazy loaded i tried to not load the plugin and add the mason.nvim plugin
[code]
**Issue**: That didn't work. After installing a server it was not restarting/starting automatically the server.

---

2. Same to no. 1 but i removed the nvim-lspconfig plugin t

[2022-07-15 10:35] Johnsiras commented on #760
Btw this was in my `user/plugins/init.lua`

[2022-07-15 10:40] you-bowen opened #761 "How to gracefully fold the code in astroNvim"
I'm the beginner of the vim, and I wonder is there a graceful way of folding my code so that code will be more neat.
I know that there is a nvim-plugin can do similar thing:
- [anuvyklack/pretty-fold](https://github.com/anuvyklack/pretty-fold.nvim)

but I don't know whether I can do folding in origin astroNvim.

[2022-07-15 11:15] you-bowen commented on #761
finally find the solution: ^_^

edit `/Users/flag/.config/nvim/lua/user/init.lua`
[code]

but I wonder why it's not the default behaviour of my favourite astroNvim.

[2022-07-15 11:16] #761 closed

[2022-07-15 11:57] pkazmier commented on #761
I'm curious how many people use folding. It is obviously important to you, but in my 30+ years of coding, I've never used folding in any editor.

I wonder if I'm the exception or the norm. Generally, if I'm looking for an overview of the code, I'll open the LSP symbol panel `<space>-l S` and navigate with aerial bindings.

I may have to give your settings a try, maybe I've been missing out on some

[2022-07-15 13:00] Rid1-fz-06 commented on #759
@Eloitor first create an cmd group. Then try to create autocmd.

[code]

[2022-07-15 13:18] Eloitor commented on #759
Thank you,

I managed to get this
[code]

But files with the extension `.lagda.md` keep apearing as markdown files... How can I solve this?

I'm writing this configuration in `user/init.lua` inside the function `polish`....

[2022-07-15 22:45] half-potato commented on #705
In the polish section of user.lua, I put:
[code]

The plugin hurts my eyes and gives me a headache. I don't understand it.

[2022-07-15 23:10] Rid1-fz-06 commented on #759
@Eloitor you can add a new filetype using the following code segment...

https://github.com/AstroNvim/AstroNvim/blob/7b8315dd7c9f344b70a5c103394c74408c6c7430/lua/user_example/init.lua#L242-L253

[2022-07-16 05:11] windowsrefund commented on #761
Not a complete answer to your original question but I figured it's worth pointing out that relativenumber is already enabled. One less line to maintain in your config :)

[2022-07-16 05:28] windowsrefund opened #762 "Aerial seems to break basic navigation and folding?"
Please excuse me if this should be filed as a bug but I'm just getting a sense of what Aerial is and am unsure of what my expectations should be. That said, I'm really surprised to see basic vim navigation mappings like { and } not working in the classic sense. Normally, these keys are used to jump up and down by paragraph. With the stevearc/aerial.nvim plugin installed, I see they are bound to Ae

[2022-07-16 07:25] Eloitor commented on #759
I tried this, but no luck:
[code]

[2022-07-16 09:06] Eloitor commented on #759
I found a solution reading nvim's documentation https://neovim.io/doc/user/filetype.html. I created the file `~/.config/astronvim/ftdetect/lagda.md.vim` with the content:

[code]

And it worked! Not it detects the agda file (it doesn't show "agda" in the status line) and it also recognizes markdown files. I would like this to be better integrated in astrovim.

[2022-07-16 11:19] mehalter commented on #759
@Eloitor do you happen to have `vim-polyglot` installed? I know that that plugin in particular completely breaks Neovim 0.7s filetype API which would explain why you needed to do the ftplugin file

[2022-07-16 13:42] Eloitor commented on #759
No...

[2022-07-16 17:23] osamuaoki opened #763 "easy UI for data presentation (line number, signcolumn, spell, ...)"
Although which-key is useful, I don't think `<LEADER>w` is not much of use since we type ":w" all the time. ;-)

There are some key data presentation mode which needs to be changed easily.

* signcolumn (git marker column)
* line number display
* spell checker
* syntax highlight
* background color
* ...

I think it will be useful to have decent keybinding.  I did this for `doom-nvim` and ported th

[2022-07-16 17:31] osamuaoki commented on #763
I can't figure out attaching a patch file here.  So I created PR #764

[2022-07-17 18:45] krishnakumarg1984 opened #765 "Provide an API for adding new filetypes"
Currently, user-specified filetype detection/mapping faciliated through the `filetypes` table is to be embedded somewhere inside `user/polish.lua`  when using AstroNvim.

**Describe the solution you'd like**
Provide an API similar in spirit to AstroNvim's mappings API to facilitate moving the `filetypes` table to a separate file of its own, thereby helping to modularize the config.

**Additional c

[2022-07-17 19:29] windowsrefund commented on #486
I'd be really interested in seeing your setup with regard to mini.nvim if you wouldn't mind. I can't seem to find any reference in your [astronvim repo ](https://github.com/mehalter/astrovim)and your [personal git](https://git.mehalter.com/mehalter) seems to be down.

mini.nvim looks really interesting but given how many plugins it appears to replace, moving to it seems like it would take up a goo

[2022-07-17 20:34] pkazmier commented on #486
You can find his config here:

https://code.mehalter.com/projects/68/files

[2022-07-18 10:08] krishnakumarg1984 opened #766 "Replace nvim-colorizer.lua with its maintained fork"
Looks like `norcalli/nvim-colorizer.lua` has been bitrotting and a few userful PRs such as ability to highlight the color as virtual-text swatch panel has not been merged.

There is a maintained fork, `xiyaowong/nvim-colorizer.lua` which has these PRs merged, and the author seems to be taking an active role in commenting on the issues. It would be worth considering this maintained fork of the colo

[2022-07-18 10:12] krishnakumarg1984 opened #767 "Comment.nvim plugin lazy loading keys are incomplete"
**Checklist**
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
The list of lazy load options for `Comment.nvim` is incomplete. Currently it is lazy loaded on `keys = { "gc", "gb", "g<", "g>" },` which is a basic set.

However, a more comprehensive set considering more scenarios is `keys = { "gc", "gb", "g>", "g<", { "v", "gc", "

[2022-07-18 14:07] weeebdev opened #768 "Can i compile and execute code from nvim?"
How can I compile and execute code (e.g. in C++) in nvim? Are there built-in custom scripts or something? I've found https://github.com/michaelb/sniprun, is there something like that?

[2022-07-18 14:21] mehalter commented on #768
This is not a built in feature of AstroNvim as available compilers and options are very user specific. Feel free to add any sort of plugin that you  would like.

If you are doing C++, there is a `clangd` extension plugin that has some compilation stuff: https://github.com/p00f/clangd_extensions.nvim. There are details in the documentation on how to set up plugins like this: https://astronvim.githu

[2022-07-18 14:23] mehalter commented on #767
Have you tried this? I cannot recreate any issue with our current set up and no issues with our lazy loading even in visual mode. If you can prove this is actually a bug, then I will reopen.

[2022-07-19 12:03] bouakram opened #770 "i don't know how to add colorschemes and plugin"
hello i tried to add a colorscheme Tokyo Night but i dont know how , and there is a good plugin ( emmet plugin ) for web dev it is super helpful  i need it .. but the probleme is i dont know how to add theme , i used theme in vim before but i dont know how to add theme in astronvim ?

[2022-07-19 12:05] #770 closed

[2022-07-19 12:06] mehalter commented on #770
#758 is also relevant for the colorscheme you asked about specifically. This is also covered in the documentation:

https://astronvim.github.io/configuration/manage_user_config
https://astronvim.github.io/recipes/colorscheme

[2022-07-19 17:12] Jarmos-san opened #772 "Docs on "available user options" suggests configuring the "lualine" plugin instead of "feline""
## Description of the Issue

It appears the documentations on "[available user options](https://astronvim.github.io/configuration/config_options)" still suggests configuring [`nvim-lualine/lualine.nvim`](https://github.com/nvim-lualine/lualine.nvim) instead of [`feline-nvim/feline.nvim`](https://github.com/feline-nvim/feline.nvim). See screenshot below for reference:

![image](https://user-images.

[2022-07-19 17:34] #772 closed

[2022-07-19 17:38] Jarmos-san commented on #772
@mehalter looks like you missed it in a couple more places! :sweat_smile:

![image](https://user-images.githubusercontent.com/31373860/179814400-60516b72-7406-418a-ab09-3a2941251056.png)

[2022-07-19 17:49] mehalter commented on #772
Ah, thanks for catching that too :joy: fixed haha

[2022-07-20 05:48] a-marr opened #773 "Jenkinsfile linting and syntax highlighting"
I'm not a lua programmer so having to translate the several vimscript solutions for this into lua is confusing me, especially with specific user configurations recommended in the astrovim docs.

It would be nice to have built-in way to identify when a Jenkinsfile is opened and set the linting and syntax highlighting to the "groovy" filetype. This is probably similar to detecting a Dockerfile buffe

[2022-07-20 13:56] rbutera opened #774 "Pathway for integrating coc.nvim / swapping native LSP for coc.nvim?"
AstroNvim is awesome, it is my entrypoint to neovim as someone trying to migrate from vscode + vim.

There are some features from vscode I miss, and I want to see if `coc.nvim` can fill those gaps.

I want to see what `coc.nvim` is like with the rest of AstroNvim.

Is there a recommended pathway for using `coc.nvim` instead of native LSP? Can they be used together?

[2022-07-21 18:39] dimas-cyriaco opened #775 "How to disable a LSP for formatting?"
I enabled `prettier` for formatting, but now I'm getting this popup every time I save or format a file:

![CleanShot 2022-07-21 at 15 38 29](https://user-images.githubusercontent.com/65256/180288938-dd4cc15c-4dc0-49c2-9c4e-262cddf24e14.png)

I have tried to disable formatting with `tsserver` with this, but is doesn't works:

[code]

How is the correct way to do this?

[2022-07-21 19:32] aslak01 commented on #775
I came here to post this exact question pretty much, except for me it's working as intended for all other javascript flavours than Svelte (the one I prefer).

I modified the default set-up only like this:

`    ["null-ls"] = function(config)
      local null_ls = require "null-ls"
      config.sources = {
        null_ls.builtins.formatting.prettierd,
        -- .with {
        --   filetypes = {

[2022-07-22 11:41] pertrai1 commented on #574
@bklynate -  I am wondering why this was closed without mention of a solution to this problem? I am seeing the same issue using the same config that is above. If you have found a fix for the issue, could you share what you did? Thanks.

[2022-07-22 16:54] TahaBinhuraib opened #778 "Fonts on Macos"
Do I need to download all the nerdfonts and move them to .local/share/fonts?

[2022-07-22 19:30] V0idMatr1x opened #779 "Syntax Highlighting"
I have the necessary language servers, and grammars installed for syntax highlighting. However, it is only working in "File Preview" window in nvim. When I open the file in the editor, it has no syntax highlighting. How do I resolve this? Thanks in advance!

[2022-07-22 19:41] #778 closed

[2022-07-22 23:52] #779 closed

[2022-07-23 03:28] Johnsiras commented on #574
I think because prettier was not installed global/local

[2022-07-23 03:28] Johnsiras commented on #574
It worked for me when i installed prettier tho.

[2022-07-23 06:05] resqiar commented on #779
Did you fix it? I have the same problem

[2022-07-23 14:53] V0idMatr1x commented on #779
Yes, I am using Arch, and for some reason it was because I was building from source & not using the AUR pkg of NeoVim to integrate with AstroVim. Your problem might be different, I am not sure.

[2022-07-23 17:58] windowsrefund opened #780 "How to get terraformls working?"
I just can not get anything to autocomplete despite having my language servers installed. Am I missing something obvious? Would really appreciate any help.

Here's the output of `:LspInfo` from within a .tf file
[code]

Inside test.tf, I should see get a list of valid aws resource types when I press `<Tab>` after a

![Screenshot_2022-07-24_01-18-57](https://user-images.githubusercontent.com/512222

[2022-07-23 19:16] windowsrefund commented on #780
Odd, it just started working.

[2022-07-24 00:31] jayp0521 opened #781 "Align which-key and mappings.lua configuration"
**Is your feature request related to a problem? Please describe.**
Hello,

I was trying to add some mappings to `mappings.lua` in this format:

[code]

After much digging, It seems like this is supported in only `which-key` registration.

**Describe the solution you'd like**

Keep the same syntax support for both `mappings.lua` and `which-key` or only support one style. Two is just confusing and p

[2022-07-24 00:33] jayp0521 commented on #781
If this is supposed to work, then this is a bug report

[2022-07-24 11:41] madyardwn opened #782 "tab key doesn't indent, but move to another line"
Tab is work for indentation, but when i write some line of code the indentation with tab not work, but move the cursor to another line. is astrovim configuration have another key for indentation? what should i do/best way for me to indent in astrovim config?

[2022-07-24 13:35] osamuaoki commented on #781
Hi,

I think OP is talking about split configuration case.

I set up custom key assignment using user/init.lua file as follows:

`["which-key"]` and `mappings` are used for different purpose.
* `["which-key"]` is for the opening screen entries.
* `mappings` is for the next level menu data and key bindings.

The following will override package default bindings and add "+Buffer" menu.

[code]
Please

[2022-07-24 13:53] osamuaoki opened #783 "which-key: `H ➜ Home line of window (top)` and `L ➜ Last line of window` are displayed in one level up"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [v ] `:PackerSync`
- [v ] `:AstroUpdate`
- [v ] restarted AstroNvim
- [v ] Neovim version >= 0.7.0

**Describe the bug**

which-key as configured by AstroNvim uses unmodified data of "Presets" of which-key upstream.

Thus `H ➜ Home line

[2022-07-24 14:07] youcef4k opened #784 "How to add a simple plugin (example code_runner)"
Hello,
I just installed Astronvim and I like everything about it for now. However, once I wanted to add a new plugin that supports Packer I got lost in the configuration.
This is the plugin I want to add:
https://github.com/CRAG666/code_runner.nvim

The GitHub contains all the necessary settings, but I couldn't figure out where to put them in my nvim/lua/user/init.lua file.
I put this line in the

[2022-07-24 18:34] windowsrefund commented on #780
For anyone that comes across this, you need to have the `provider` defined somewhere (either in the same file or another in the same directory) in order for completion to work. See https://github.com/hashicorp/terraform-ls/issues/57 for a more complete explanation.

[2022-07-24 18:34] #780 closed

[2022-07-24 19:50] ledbruno opened #785 "Unable to use paredit"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
Added       { "vim-scripts/paredit.vim"}
to my init.lua and it does not work. It does with regular nvim configuration u

[2022-07-24 20:23] windowsrefund opened #786 "How can I see the full signature when autocompleting?"
Looking at the video on the [nvim-cmp](https://github.com/hrsh7th/nvim-cmp) site, I see this should be possible:

![cmp-want](https://user-images.githubusercontent.com/512222/180662866-9100a45c-faa3-4f33-ace8-c757686e1007.png)

And yet, here's what I'm working with:
![cmp-have](https://user-images.githubusercontent.com/512222/180664400-fcd91f2c-979c-4a97-a7b6-b613b4189d3a.png)

As per the advice g

[2022-07-25 02:56] ledbruno commented on #785
Same problem with LunarVim as well.
It seems related to this mapping
https://github.com/vim-scripts/paredit.vim/blob/master/plugin/paredit.vim#L150

If i remove it, it seems to work. But did not get, why does it conflict with astro/lunar ony. Vanilla nvim works fine with it

[2022-07-25 03:05] windowsrefund commented on #786
Just a note to mention I've tried various combinations of `completeopt` with no success.

[2022-07-25 05:38] Jarmos-san opened #787 "Migrate from nvim-lsp-installer to mason.nvim"
The author of [`nvim-lsp-installer`](https://github.com/williamboman/nvim-lsp-installer) released an announcement ([see discussion thread](https://github.com/williamboman/nvim-lsp-installer/discussions/876)) about deprecating the plugin in favour of the more powerful & full-featured [`mason.nvim`](https://github.com/williamboman/mason.nvim). So, are there any plans to migrate to the latter plugin

[2022-07-25 08:44] mehalter commented on #787
Yes, we have been following.the mason development over the past couple weeks and have plans to move to it. We are planning to include this in the AstroNvim v2.0 release alongside Neovim 0.8 release which is probably going to be around October timeline.

[2022-07-25 08:59] mehalter commented on #766
This fork has some serious bugs and doesn't seem more maintained by the owner. It simple has those PRs merged. I think we are ok on our current one for now.

[2022-07-25 10:36] Johnsiras commented on #787
Not related, but how about the snippets issue? Will it be fixed or not?

[2022-07-25 11:34] mehalter commented on #787
@Johnsiras if I can get a way to replicate the issue then I would love to try and fix it. All indications point to that being an upstream bug with luasnip itself. People on LunarVim/NvChad/vanilla Neovim/AstroNvim have all experienced this issue for a long time in a random, nondeterministic, and non repeatable way and I have found issues all over the place referring to similar behavior you have me

[2022-07-25 12:20] osamuaoki commented on #781
I looked into this problem.

* I think key-mappings should be declared in `mappings`.
* Its `desc` entry is stored by vim.map.set() as a part of table of opts.
* Then, which-key reads vim mapping data to generate most menu entry.
* The which-key menu entry to next level still needs to be declared in `["which-key"]`.
* Configuration parsing order should be in sync with the entry in  user_examples/i

[2022-07-25 12:26] osamuaoki commented on #781
I think this is a user configuration issue and slight lack of documentation.

First user issue: don't try to define key mapping in `['which-key"]` table.  Use `"mappings"` table.  (See above example)

Second, documentation: Please consider updating the example and documentation.

[2022-07-25 13:43] mehalter commented on #783
Thanks for reporting. I have investigated this and am sure this is a bug with which-key as we are completely overwriting these descriptions and can be verified with other means like Telescope. I will be opening an upstream issue to hopefully get this resolved.

[2022-07-25 13:44] mehalter commented on #783
In the mean time, I will leave this open just in case anyone else comes to ask about this issue and doesn't search through past issues.

[2022-07-25 13:52] mehalter commented on #781
@osamuaoki thank you for providing such a good description! They are correct that these two setting locations achieve different goals and are wrapping completely different APIs which is why their interfaces are different. I do agree that the recommended documentation changes provided really clear up the user documentation :)

[2022-07-25 13:56] mehalter commented on #775
@aslak01 you are correct that `tsserver` should have it's formatting disabled out of the box. @dimas-cyriaco can you please provide your entire `user/init.lua` file to see why this is not the case in your user config.

@aslak01 to fix your `svelte` language server to disable formatting in place of `prettierd` you can include the following in your `user/init.lua` file:

[code]

[2022-07-25 14:01] mehalter commented on #785
I cannot replicated @ledbruno are you sure you are using the correct leader key for the bindings? It looks like according to the changelog (https://www.vim.org/scripts/script.php?script_id=3998) that they moved to using `<leader>` instead of `localleader` back in 2017 so maybe that could be it?

[2022-07-25 14:11] mehalter commented on #784
@youcef4k are you  calling the `.setup` call described in the plugin documentation?

[code]

Looks like this is the provided example. You can put this in the `packer` definition like this:

[code]

or you can just put it in the `polish` function in your `user/init.lua` file. I haven't used this plugin, but my guess is this plugin will not load without the `setup` call being made and the strings to

[2022-07-25 14:16] mehalter commented on #774
@rbutera I'm not sure if there is a good way to use `coc.nvim` and native LSP in tandem. I will say the native LSP does have some pretty tight coupling with the base installation. I believe the following `user/init.lua` file would completely disable the native LSP and everything we do to configure it and completions, but I'm not sure if this will affect stuff in other places. But it is a good plac

[2022-07-25 14:16] #774 closed, assigned to nobody

[2022-07-25 14:21] mehalter commented on #759
Ah, I just took a look at this and I see where your problem is that you did not provide a proper regular expression to the `vim.filetype.add` block. Could you try this:

[code]

@Eloitor I have just tested this and it is working perfectly :) Notice that `.` is a special character in regex for "any character" so `.*` is any number of "any character" and then `%` is a way to escape special character

[2022-07-25 14:21] #759 closed

[2022-07-25 14:27] mehalter commented on #773
You can achieve this by defining a custom filetype in your `user/init.lua` file.

Here is an example complete `user/init.lua` file that sets this up:

[code]

[2022-07-25 14:27] #773 closed

[2022-07-25 14:31] mehalter commented on #782
This is probably because of the tab autocomplete that AstroNvimmm uses. I dislike this as well and prefer to only use `tab` for navigating through snippets if I am in a snippet or normal tab functionality. Here is an example `user/init.lua` file that changes the `<tab>` functionality to maybe behave closer to what you want (notice, this does disable the tab completion):

[code]

[2022-07-25 14:45] mehalter commented on #787
@Jarmos-san I am going to go ahead and rename this issue and use this as the main issue for tracking this improvement

[2022-07-25 21:07] ledbruno commented on #785
Hello, i did not press any of the leaders. Just pressed down, and it included ().

I found https://github.com/guns/vim-sexp today, maybe is a good alternative to paredit.vim

[2022-07-25 23:44] osamuaoki commented on #783
I haven't investigated much but I found a work around to get the native nvim behavior for H and L via user config.
(Then which-key becomes correct)

[code]

Considering this worked, I thought this may be caused by bufferline.  But I don't find any strange thing there.

telescope does some binding change in plugins/telescope.lua but that can't be the one causing problem or is it?
I don't understand

[2022-07-26 00:07] osamuaoki commented on #783
mappings definition in `configs/telescope.lua` is what I was looking at. Hmmm... it lacks desc definition.

neo-tree is similar.

but mappings in configs/lsp/handlers.lua has desc.

Since all these access vim.map, what kind of care do we need?

[2022-07-26 00:21] osamuaoki commented on #783
Disabling telescope setting didn't solve problem.... who set these H and L to non-standard values?

I think which-key shipping with vim default mapping desc can't be blamed.

[2022-07-26 00:23] mehalter commented on #783
We set `<S-h>` and `<S-l>` in the `core/mappings.lua` file. I have also tried switching those out with mapping `H` and `L` directly but it doesn't change anything which is why I think it has to do with a bug in which-key.

[2022-07-26 00:24] mehalter commented on #783
When we override these mappings, the descriptions should be updated as what happens with other mappings we override in the default configuration.

[2022-07-26 01:13] ledbruno commented on #785
Open a regular clojure file
<img width="709" alt="image" src="https://user-images.githubusercontent.com/916289/180901115-fc8394cc-8e7c-48df-952b-e48afa0f3965.png">

Press down
<img width="250" alt="image" src="https://user-images.githubusercontent.com/916289/180901217-9daeba38-2f1d-48b2-b085-439088edcf40.png">

Just noticed that there is a NULL on the header (left)

[2022-07-26 03:13] jayp0521 commented on #781
The problem with this is that it is harder to maintain like in `which-key` I can do

[code]

In mappings.lua, I have to do. It would be nice to have the above functionality in `mappings.lua`

[code]

[2022-07-26 03:21] mehalter commented on #781
@jayp0521 in accordance to the contribution guidelines and direction of AstroNvim we are trying to minimize the amount of abstraction away from how things are done in a standard Neovim config. We have implemented a table that reflects how these API calls are structured in their own rights which 1. Makes it easy to convert existing Lua configs to AstroNvim in an intelligent way and 2. Makes it easy

[2022-07-26 03:33] madyardwn commented on #782
I became interested in AstroNvim default tab key configuration, but I don't get it. for a while I'll be using the default tabs like a common editor. Thanks, it worked fine and solve my problem.

[2022-07-26 03:33] #782 closed

[2022-07-26 05:44] osamuaoki commented on #783
Aha, I totally overlooked the fact that vim is a case-insensitive world.  Sorry.

I see now why this is which-key bug.  Thanks.

(I am fine with your intentional choice of `<S-h>` and `<s-l>`.)

Osamu

[2022-07-26 06:18] darkguy2008 opened #790 "Install on Ubuntu 22.04 doesn't work, might need better install instructions"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [ ] `:PackerSync`
- [ ] `:AstroUpdate`
- [ ] restarted AstroNvim
- [ ] Neovim version >= 0.7.0

No idea here, I just followed the instructions and got errors.

**Describe the bug**
Follow the git clone command + run neovim, brand new in

[2022-07-26 11:13] Eloitor commented on #759
Thank you! This works :)

[2022-07-26 12:05] osamuaoki commented on #781
Without your help, I couldn't learn so quickly.  Thanks.

Biggest learning curve for this well thought out AstroNvim is to understand what does this `user_plugin_opts` shim function do ?
Although we need to read the source eventually, I made a try to explain overall picture in plain words.  When you have time, please look at what I did as  AstroNvim/astronvim.github.io#13

[2022-07-26 13:58] MedLabs opened #791 "files icons don't work"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.2

**Describe the bug**
I've installed AstroNvim 0.7.2 and it works fine, but files icons don't show up in neo-tree, instead there are some kin

[2022-07-26 14:21] MedLabs commented on #791
I'm sorry I didn't install NerdFonts, I think it's related to this.

[2022-07-26 16:57] mehalter commented on #791
@MedLabs yeah, you are required to have a NerdFonts compatible font to get the nice looking icons.

[2022-07-26 16:57] #791 closed

[2022-07-26 17:10] mehalter commented on #790
This does require neovim 0.7 at least

You can use the official Neovim PPA toget the latest stable release: https://launchpad.net/~neovim-ppa/+archive/ubuntu/stable

[2022-07-26 17:10] #790 closed

[2022-07-26 22:25] jayp0521 commented on #781
is this documented somewhere? don't mean to sound rude, would like to read it before creating issues. did not see anything [here](https://github.com/AstroNvim/AstroNvim/blob/main/.github/CONTRIBUTING.md)

unsure how based on the above, it was determined that the current (new) `mapping.lua` structure aligns with those points. Does 1 mean existing config of users in AstroNvim. I did not mind the con

[2022-07-26 23:07] jayp0521 commented on #786
https://github.com/jayp0521/dotfiles/commit/a96f99c68805804240ba92ff6df9880f2b42a896

I also tried, commit above. Unable it to get it working as well

[2022-07-27 02:16] sharkby7e opened #794 "Wrap error messages?"
![Screen Shot 2022-07-26 at 7 15 32 PM](https://user-images.githubusercontent.com/37809009/181145881-c97c9640-7059-4faa-9370-5464cbdbeeeb.png)

Is there a way to wrap the error messages that we get?

Would love help customizing this option from anyone who can!

[2022-07-27 10:49] sitiom opened #795 "Replace ncdu and htop with cross-platfom equivalents for Windows"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/56180050/181226415-dd9c0792-8a2f-443b-a78c-8c7addad806a.png)
Most of the optional requirements almost work in Windows, except for `ncdu` and `htop`. I would like to be able to replace both of them with cross-platform equivalents that work with Windows.

**Describe the solution you'

[2022-07-27 10:56] #710 closed

[2022-07-27 11:11] mehalter commented on #795
Thanks for the recommendation! I'll throw another rec out to replace `htop` as well : https://github.com/xxxserxxx/gotop

[2022-07-27 11:15] sitiom commented on #795
Looks similar to bottom; which one to use (rust vs go) 🤔

[2022-07-27 13:20] 0atman opened #796 "Remap SPC g g from lazygit"
Hi folks, I'm looking to remap `SPC g g` to a different git tool, I find `gitui` faster than `lazygit`, so I just want to swap it out.

Thanks!

[2022-07-27 13:28] mehalter commented on #796
Here is a minimal `user/init.lua` file that just changes the `<leader>gg` binding to `gitui` instead of `lazygit`

[code]

[2022-07-27 13:28] #796 closed

[2022-07-27 13:51] 0atman commented on #796
thank you so much! putting that at the end of my existing init.lua (a copy of the example one) doesn't seem to work (the init.lua holds an object that should have object['mappings'] right?)

Could you help me write it in this format?

[code]

[2022-07-27 13:58] mehalter commented on #796
You will want to put it in the proper `mappings` table so that it overrides the default keybinding. This is here in the provided example:

https://github.com/AstroNvim/AstroNvim/blob/ba775276324b75e4f703cd63fea3cfe7726514de/lua/user_example/init.lua#L217-L227

[2022-07-27 14:50] Noxdor opened #797 "Memory consumption rises endlessly until crash during long use"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
I already am noticing this since long and I was always to lazy to open up an htop and investigate. Today I did and my n

[2022-07-27 15:03] youcef4k commented on #784
Thanks for your answers, I installed [SnipRun ](https://github.com/michaelb/sniprun)instead, it comes preconfigured, I added only keyboard mappings, and it works wonders.

[2022-07-27 15:09] #784 closed

[2022-07-27 20:39] windowsrefund commented on #795
Honestly, I don't see why any of these tools should be supported. Get the user to a shell if need be and call it a day.

[2022-07-28 01:31] PratamaRizki22 opened #798 "How to add plugin in spacevim?"
i wanna to add prettier in my astrovim with add lsp-format like this video https://www.youtube.com/watch?v=1NtPuR-B5Tg , i add prettier with npm in globally and configure it in lsp-format,
i add plugin in plugins.lua
<img width="388" alt="image" src="https://user-images.githubusercontent.com/96802430/181399537-ff7263b3-daf8-4980-8371-3180c04bb71b.png">

when i write :Format in file plugins.lua it

[2022-07-28 01:43] PratamaRizki22 commented on #798
<img width="718" alt="image" src="https://user-images.githubusercontent.com/96802430/181402051-e6e0b62c-0b60-4737-aa4b-b5bdf7c6317a.png">
this screenshot from video youtube

[2022-07-28 13:31] pratik-chakravorty opened #799 "Make Telescope show hidden files"
Hello,
I was working on a project that required me to view hidden files but currently any hidden file/folder are not searchable in Telescope. I tried to change the plugins config in user/init.lua to the following -

[code]
but that did not work. Any suggestions on how to make it show hidden files or folders starting with dot?

[2022-07-28 14:46] mehalter commented on #799
@pratik-chakravorty here is an example `user/init.lua` file that does what you are describing. I'm not sure if you just had a copy/paste error but there were syntax errors in the code block you send. Just note that this block of code is an *entire* `user/init.lua` file so you will need to migrate the pieces that I have included into the `plugins` table in your own config:

[code]

Also just to not

[2022-07-28 14:46] #799 closed

[2022-07-28 15:11] CaptainJack42 opened #800 "plugins section of user/init.lua seems to never get used."
I'm currently trying to customize my AstroNvim setup, which includes adding some plugins and customizing some plugins.

I copied the `init.lua` file from `lua/user_example` to `lua/user/init.lua` and it generally seems to work (e.g. when i set `relativenumber` in `options` to false it works, but adding plugins into the plugin section just doesn't do anything, for example when i add `["feline-nvim/

[2022-07-28 15:44] carlosmiei opened #801 "Why am I getting a green background after a fresh install?"
Hello guys,
I just followed the instructions to install `AstroNVim` config but for some reason, I'm getting this weird color scheme, am I doing something wrong?  I have nothing else inside my `config/ `folder

Instructions I followed:
[code]

![image](https://user-images.githubusercontent.com/43336371/181579905-64c941ce-d582-494f-9a45-6efbac375554.png)

[2022-07-28 20:56] azinsharaf commented on #801
Are you using the default macos terminal? Use iterm, hyper etc.

[2022-07-28 21:03] kraxli opened #802 "using multiple spell-files"
Hi thanks a lot another time for the great config!

I write in English and German. So I would like to have for both languages a spell file. However, I have failed to set a spell file for each of the languages. What I have tried in `lua/user/options.lua` is
[code]
which is not working. What is the way to use multiple spell files?

[2022-07-28 21:13] carlosmiei commented on #801
@azinsharaf yes I'm using it, but do you know why this is happening?

[2022-07-28 21:15] azinsharaf commented on #801
astronvim requirement: "Terminal with true color support (for the default theme, otherwise it is dependent on the theme you are using)
Note when using default theme: For MacOS, the default terminal does not have true color support. You wil need to use [iTerm2](https://iterm2.com/) or another [terminal emulator](https://gist.github.com/XVilka/8346728#terminal-emulators) that has true color support.

[2022-07-29 03:00] osamuaoki opened #803 "Error report on user configuration"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [v] `:PackerSync`
- [ v `:AstroUpdate`
- [ v restarted AstroNvim
- [ v Neovim version >= 0.7.0

**Describe the bug**

When AstroNvim encounters a buggy user configuration, it only produces many useless error reports but doesn't report i

[2022-07-29 04:17] Wanbicoi commented on #800
I met the same problem ;(

[2022-07-29 11:26] mehalter commented on #800
@CaptainJack42 can you please share your entire current `user/init.lua` file and I can't take a look? You probably have a syntax error somewhere causing things to not be loaded.

[2022-07-29 11:40] CaptainJack42 commented on #800
You can find my `user/init.lua` [here](https://pastebin.com/t3D3GmB4). Feline works now somehow (i honestly have no idea how since i didn't change anything afaik), but nvim-window-picker still isn't installed when runnying `:PackerSync` or `:PackerCompile`.

[2022-07-29 12:02] mehalter commented on #800
Yeah this won't work, you have these in the wrong section and not in the `plugins.init` section of the file. One sec let me see the best way to send you a fixed version

[2022-07-29 12:05] mehalter commented on #800
@CaptainJack42 here is a version where I moved the plugin definitions to the correct section: https://pastebin.com/xqay7nxY

I am on my phone trying to do this so apologies if its not formatted correctly

[2022-07-29 12:09] CaptainJack42 commented on #800
Thank a lot this works!

[2022-07-29 12:09] #800 closed

[2022-07-29 14:09] w1kee opened #804 "go doesn't use tabs"
hey, i code in go, which traditionally uses 8 wide tab indent
how can i setup tab indentation, and 8 wide tabs just for `.go` files?

[2022-07-29 15:08] artfulrobot opened #805 "Language server workspaces"
I'm new to astronvim, so apols if this is the wrong place to ask - it's all a bit baffling. I've moved from CoC based set-up to astronvim, and am realising that now we have to use lua for config, and it's all quite new to me.

I'm having a problem because my project is like:

[code]
so the workspace is set to just the x dir which means it misses all the stuff under /var/www/mysite.com/

In my prev

[2022-07-29 16:41] artfulrobot opened #806 "Delete / x key in normal mode is no longer repeatable by holding key down"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**

Holding Delete, or `x` key should delete multiple characters, and the whole screen should not flash.

**To Reproduce**

[2022-07-29 19:08] azinsharaf commented on #806
I cannot reproduce this on my side.
I tested on MacOS.

[code]

[2022-07-29 23:20] bee-san opened #807 "How do I test if my configuration is valid?"
Hey! I'm trying to change my config up. I managed to get Discord presence working, but 2 things do not work:
1. A custom header
2. Installing a packer plugin

I am very much a noob 🙈  and was wondering if there was a tool I could run to validate my config and possibly tell me of any error?

My config is:

[code]

[2022-07-30 00:37] azinsharaf opened #808 "how to choose a shell in SPC T F"
Hi,
Is there any way i can choose the Shell (zsh, fish, etc.) or Terminal in `SPC  t f` command?

[2022-07-30 04:42] sitiom commented on #795
You can say that AstroNvim is a bit opinionated.

[2022-07-30 12:01] tarunchhabriya06 opened #809 "Add vim-prettier plugin or update the documentation on how to install and configure addition plugins"
**_Is your feature request related to a problem? Please describe._**

Hello,

I wanted to install the vim-prettier plugin and add some of my own configs but was not able to find any Documentation on the AstroVim repo for adding and configuring more plugins

**_Describe the solution you'd like_**

Please add the vim-prettier plugin for autoformatting code on the Buffer Write or add a section in the

[2022-07-30 13:15] mehalter commented on #809
We would recommend using `null-ls` for formatting since it is included in AstroNvim. You can check out the user configuration for an example of configuring this: https://github.com/AstroNvim/AstroNvim/blob/ba775276324b75e4f703cd63fea3cfe7726514de/lua/user_example/init.lua#L98-L121

Here is a minimal `user/init.lua` file that just configures prettier with formatting on save:

[code]

As for install

[2022-07-30 13:15] #809 closed

[2022-07-30 14:57] tarunchhabriya06 commented on #809
Hi,

I tried using the default config for null-ls but that is not working on code save
is there any step i need to do ?

[2022-07-30 15:00] mehalter commented on #809
Did you add prettier to the list of formatters? It's not in the default config

[2022-07-30 15:08] tarunchhabriya06 commented on #809
yeah, I did...but that did not work so I reverted back to the default one rufo but that is also not working

[2022-07-30 15:10] mehalter commented on #809
What files are you opening and are they supported by prettier? Do you have prettier installed on your machine? And when you open them does it show prettier as attached in the status bar bottom right?

[2022-07-30 15:18] tarunchhabriya06 commented on #809
1. I am opening javascript files and that is supported by prettier
2. I installed prettier as a plugin through the plugin.init section. not sure if I can install prettier on a global level other than this method
3. yes prettier is showing in the status bar
<img width="174" alt="image" src="https://user-images.githubusercontent.com/66588897/181920824-d27e1359-b5c1-4e66-98f9-ac49965f630f.png">

[2022-07-30 15:21] mehalter commented on #809
Prettier is an external application outside of Neovim. If you just go to a terminal and run `prettier` does it run or do you get something like `command not found`. You will probably need to install it. It looks like you have correctly configured null-ls at least.

[2022-07-30 15:34] tarunchhabriya06 commented on #809
yeah okay will try

[2022-07-31 05:59] nvsd opened #810 "neo-tree filtered items not being applied"
May not be an astronvim issue.

**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
`neo-tree` base configuration and overrides not being applied

**To Reproduce**
Steps t

[2022-07-31 12:24] #808 closed

[2022-07-31 12:37] mehalter commented on #810
Can you share your user configuration?

[2022-07-31 12:41] mehalter commented on #807
The easiest way would definitely be to install `sumneko_lua` LSP and use that for checking for syntax errors. That's the main thing that would cause issues. After you add plugins to the `plugins.init` table are you restarting and running `:PackerSync`? I can check your config early this week and let you know if I find anything.

[2022-07-31 12:42] mehalter commented on #806
@artfulrobot what terminal/OS are you using? I also can't reproduce this on Linux with Kitty terminal.

[2022-07-31 12:44] mehalter commented on #805
Can you share your user configuration? I can look into this in the next couple days

[2022-07-31 12:48] mehalter commented on #802
I'm not sure, but a quick Google search got me to here: https://vi.stackexchange.com/questions/3068/how-to-make-spellfile-work-for-multiple-languages

Maybe it can point you in the right direction :)

[2022-07-31 12:49] #802 closed

[2022-07-31 12:50] mehalter commented on #801
@carlosmiei, this is correct here that a terminal with true color support is a hard requirement for AstroNvim

@azinsharaf thank you so much for this detailed answer! :)

[2022-07-31 12:50] #801 closed

[2022-07-31 12:54] mehalter commented on #794
@sharkby7e you can use the binding `gl` to hover the line diagnostics and read the entire thing. This can also be done with `<leader>ld` for "LSP diagnostic"

[2022-07-31 12:55] #794 closed

[2022-07-31 14:29] mehalter commented on #807
@bee-san actually I just lodaed up your config with a fresh/clean AstroNvim environment and it worked perfectly :) no syntax errors or anything
![2022-07-31_10:28:21_screenshot](https://user-images.githubusercontent.com/1591837/182031142-427d3d57-b706-40f9-b5d7-9c8649ff0253.png)
![2022-07-31_10:28:16_screenshot](https://user-images.githubusercontent.com/1591837/182031150-efad4db5-d3ff-476e-afdf-2a

[2022-07-31 14:29] #807 closed

[2022-07-31 14:40] #803 closed

[2022-07-31 14:44] denis-tchaikovsky opened #812 "Search icon not displayed (iTerm2 + nerd-fonts)"
For some reason, the search icon is not displayed in my terminal (iTerm2).

<img width="1053" alt="Screen Shot 2022-07-31 at 15 31 44" src="https://user-images.githubusercontent.com/12110348/182031706-f51f3ce8-ac95-442b-9f64-7633a77ef0f6.png">
<img width="1168" alt="Screen Shot 2022-07-31 at 15 31 59" src="https://user-images.githubusercontent.com/12110348/182031708-4b812060-8537-4325-8783-3ab50c7

[2022-07-31 15:29] carlosmiei commented on #801
@mehalter @azinsharaf thank you both 🙂

[2022-07-31 16:20] nvsd commented on #810
[code]

[2022-07-31 16:24] mehalter commented on #810
I noticed you are trying to do a custom `neo-tree` config override but you have it in the wrong place. It it overriding the setup call so it should be in `plugins.neo-tree`. could you try fixing that and see if your config starts working properly?

[2022-07-31 20:08] kraxli commented on #802
@mehalter  thanks for your investigation which let me to got down the old Vim way :-)
Adding `~/.config/nvim/lua/user` to the `runtimepath`, e.g. in the `user\init.lua` file
[code]
let's Vim search for a `spell` directory in there. Additionally I don't set `-- spellfile`. With this set-up, a language specific `*.utf-8.add` file is set in the `spell` directory. Which of the `*.utf-8.add` files is u

[2022-07-31 20:19] mehalter commented on #802
@kraxli I believe you can do this in a `lua` way with

[code]

[2022-07-31 20:21] mehalter commented on #802
also hm I am a little worried that there is going to be a fair amount of conflict when it comes to module name conflicts.... so idk if that is the best method. Maybe in this case it would make more sense to move your config to `~/.config/astronvim`? You can just move your `user/` folder to `~/.config/astronvim/lua/user/init.lua` and then have a spell folder in `~/.config/astronvim/spell/`

[2022-07-31 20:58] kraxli commented on #802
Thanks! Will try it out :-)

[2022-07-31 21:04] kraxli commented on #802
Will `~/.config/astronvim/` be searched by astronvim any way or would I need to give a additional instruction? Would it also work on Windows OS?
Otherwise I have thought to move the spell-directory to a complete separate directory

[2022-07-31 21:16] mehalter commented on #802
The `astronvim` directory is added to the runtime path automatically for some users who want to separate the installation with their config files completely. For windows it will be wherever your `nvim` folder is because we just use the building in `stdpath` functions to get the config folder

[2022-07-31 21:41] dimas-cyriaco commented on #775
@mehalter here's my entire init.lua. Almost entirely vanilla:

[code]

[2022-07-31 22:26] nvsd commented on #810
Oh derp. That'll do it. Thanks for the help.

[2022-07-31 22:26] #810 closed

[2022-08-01 06:48] #805 closed

[2022-08-01 08:33] b93rn opened #814 "Theme color is off"
Hey guys,

I just started using AstroNvim and i think it's great!
Currently only a minor thing puts me off a bit. I tried a bunch of different color schemes. They all look correct except for the curly and normal brackets which appear in red (see picture below). The picture was taken with the color theme Dracula (Mofiqul/dracula.nvim) and the installed Treesitter configuration is TSX (TypescriptRea

[2022-08-01 10:26] artfulrobot opened #815 "How to configure list of installed treesitters and lsps?"
Thanks for the great software!

I can move my user/init.lua file around servers, but it doesn't have a list of TSInstall and LspInstall commands. So I have to remember to install all the ones I want each time. Is it possible to put this in config somehow?

[2022-08-01 11:29] #815 closed

[2022-08-01 11:44] mehalter commented on #814
This is coming from a plugin that we have `p00f/nvim-ts-rainbow` and the themes you are trying probably do not support it. You can either look for a theme that supports it, add the necessary highlight groups to your own personal configuration, or you can just disable this behavior. Here is a minimal `user/init.lua` file that simply disables the bracket/parentheses rainbow colors:

[code]

*Note:*

[2022-08-01 11:44] #814 closed

[2022-08-01 11:45] mehalter commented on #812
Could you try some other nerd fonts? This seems to be an improper nerd tree patched font, maybe patched with an old version of nerd don't and doesn't have the most up to date icons.

[2022-08-01 12:23] #763 closed

[2022-08-01 13:50] b93rn commented on #814
Thanks a lot! I did not know about this plugin. Disabled it for now, but will definitely look in to it later on since the plugin actually makes a lot of sense after you mentioned it.

[2022-08-01 18:38] kraxli commented on #802
great stuff! many thanks :-)

[2022-08-02 01:53] #781 closed

[2022-08-02 17:10] rontogiannis commented on #812
Same issue here, have tried a number of different nerd fonts, none of them seems to have the search icon.

[2022-08-02 20:48] denis-tchaikovsky commented on #812
Hey @mehalter, thanks for the suggestion.

I tried so far:
- Fira Mono Nerd
- Fira Code Nerd
- Space Mono Nerd
- Hack Nerd
- SauceCodePro Nerd
- and few others

But unfortunately, none of them can display search icon 😅

Any specific Nerd font you think can work?

[2022-08-02 20:49] mehalter commented on #812
Hm, where are you installing these from @denis-tchaikovsky ? I would like to take a look at what verion of Nerd Font they have been patched with. Maybe we can figure out what the requirement is. It's really annoying to have a dependency on a specific patch version of nerd fonts tho :/ I took a look at the other magnifying glass icons and the Font Awesome one definitely looks the best with our othe

[2022-08-02 21:00] azinsharaf opened #819 "space + \ doesn't do anything"
`SPC + \` (toggle terminal) doesn't do anything on my machine.
astronvim: 1.7.0

[2022-08-02 21:07] #787 closed

[2022-08-02 21:18] denis-tchaikovsky commented on #812
@mehalter good point 👍

I'm installing them using `brew`. For example with `brew install --cask font-hack-nerd-font`

They all seem to have version `2.1.0`

<img width="778" alt="Screen Shot 2022-08-02 at 22 06 41" src="https://user-images.githubusercontent.com/12110348/182473378-827e6815-fbad-406d-9859-b0b29d49ad21.png">

(["From" url](https://github.com/Homebrew/homebrew-cask-fonts/blob/HEAD/Cas

[2022-08-02 21:29] mehalter commented on #812
lol now that is quite curious @denis-tchaikovsky I just tried installing all of these version 2.1.0 and the search icon works for all of them... Here is with Hack Nerd Font v2.1.0:

![2022-08-02_17:28:31_screenshot](https://user-images.githubusercontent.com/1591837/182476700-5f976ed1-c17e-4a04-846c-c9b085daf1d1.png)

[2022-08-02 21:59] mehalter commented on #760
@Johnsiras This has been implemented upstream so I am going to go ahead and close this. Here is the relevant announcement: https://github.com/AstroNvim/AstroNvim/discussions/820

[2022-08-02 21:59] #760 closed

[2022-08-02 22:08] mehalter commented on #819
@azinsharaf are you doing `space-\`? It should be `ctl-\`

[2022-08-02 22:10] azinsharaf commented on #812
i am experiencing same issue in iTerms.
maybe take a look at this: https://apple.stackexchange.com/questions/395940/question-marks-in-iterm-font-issue

hyper on left / iterms on right, same font
<img width="1701" alt="image" src="https://user-images.githubusercontent.com/10101468/182481948-5db41cd3-2111-43f4-aa7d-7b5379ff641b.png">

[2022-08-02 22:24] azinsharaf commented on #819
yeah! `ctrl-\` works!!
Probably this help document needs an edit?
https://astronvim.github.io/usage/mappings

![image](https://user-images.githubusercontent.com/10101468/182483806-71703e4c-21d4-4808-85bd-31ad68c29f04.png)

[2022-08-02 22:31] mehalter commented on #812
@azinsharaf in your screenshot I can see that iterm on the right and hyper on the left are using 2 different fonts. Could you try using the font that Hyper is loading on iterm to see if that fixes the issue? I'm not sure what font iTerm is loading there on the right, but it definitely looks very different

[2022-08-02 22:32] mehalter commented on #812
It looks like the link that you provided the answer to the stack overflow question was "set a font that supports the glyph in iTerm"

[2022-08-02 22:41] mehalter commented on #819
Ah that is a typo, I just pushed a fix for it. Thank you for reporting!

[2022-08-02 22:44] azinsharaf commented on #812
@mehalter i am sure i am using the same font on both: "JetbrainsMono Nerd Font".

[2022-08-02 22:46] mehalter commented on #812
That is definitely strange. Are you setting it inside a profile directly in iTerm and making sure that it is active? It seems like there is an upstream bug with iTerm2 then that is causing it to not load the proper glyphs when they are available in the font.

[2022-08-02 23:01] azinsharaf commented on #812
this is my iterm setup.

![Screen Shot 2022-08-02 at 3 55 46 PM](https://user-images.githubusercontent.com/10101468/182487278-7a69bd75-c19b-4e78-b479-381e6f1b1a6a.png)

[2022-08-02 23:05] mehalter commented on #812
That is definitely very strange... @denis-tchaikovsky are you able to view the glyph correctly in another terminal like hyper?

[2022-08-02 23:16] azinsharaf commented on #812
@denis-tchaikovsky
Just in case you need to set the fonts in hyper, you edit this part in `.hyper.js` file.

[code]

[2022-08-03 09:33] denis-tchaikovsky commented on #812
@mehalter, yes, I did switch to the new font inside a profile directly in iTerm2.

<img width="945" alt="Screen Shot 2022-08-03 at 09 56 27" src="https://user-images.githubusercontent.com/12110348/182568215-dad7f43a-af79-4b44-93d7-837ed8e2a188.png">

I tried toggling the settings options with checkboxes in different ways, but it doesn't change the situation.

I just tried Hyper and icons indeed di

[2022-08-03 10:13] mehalter commented on #812
@denis-tchaikovsky I don't actually use iTerm because I don't use a Mac. I do think that there are some iTerm users on the discord. Let me send out a ping there and ask. I use kitty terminal on Linux.

[2022-08-03 11:49] denis-tchaikovsky commented on #812
@mehalter, that makes sense. Good idea 👍
Thanks for trying to help and also thanks a lot for such an amazing project 👏

[2022-08-03 16:01] mehalter commented on #812
I'm not sure what else I can do with this issue :( I'm going to go ahead and close this and mark it as incomplete. Hopefully someone in the community can find a fix or report back any new information. Sorry!

Also thank you for the kind words @denis-tchaikovsky :)

[2022-08-03 16:01] #812 closed

[2022-08-03 16:04] mehalter commented on #806
@artfulrobot do you have any user configuration that could be consuming the key? If so, could you share your user config and see if we can try debugging it? Also you mentioned that it works over ssh to a remote server in the same terminal. Do you have the same config loaded in the other remote server as well? If so, that is very very curious 🤔

[2022-08-03 16:17] denis-tchaikovsky commented on #812
Sounds good. Hopefully, someone will find the fix. And no worries, I understand. It's a tricky one. Thanks, @mehalter 👍

[2022-08-03 19:31] DylanSimowitz opened #821 "Treesitter works for js, ts, and jsx but not tsx"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
Treesitter is not being enabled for tsx files. I've tested on a fresh install of AstroNvim + `:TSInstall javascript typ

[2022-08-03 22:12] neo-clon opened #822 "Lsp autostart no work"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
After update to mason, lsp isnt autostart

**To Reproduce**
Steps to reproduce the behavior:
1. Backup config
2. Downlo

[2022-08-03 23:08] fprasx opened #823 "Help with displaying inlay hints with Rust"
Hi, how can I configure AstroNvim so that it will display Rust inlay hints? The `rust-analyzer` docs say they are enabled by default, but the editor isn't showing them.

Out of curiosity, I looked through the logs and found this:
[code]

This is my `rust-analyzer.lua` (edited after the above log):

[code]

Thank you so much!

[2022-08-04 02:23] phturb commented on #812
I've found a temporary solution/fix.

You can replace the icon for a similar icon to replace the prompt icon. I recommend using the `nf-oct-search` icon instead of the `nf-fa-search` icon. This one will work on iTerm2.
`lua/configs/telescope.lua`

[code]

<img width="481" alt="image" src="https://user-images.githubusercontent.com/43208288/182749064-63b52b68-317b-40c2-8c14-0dee582e879a.png">

[2022-08-04 10:31] denis-tchaikovsky commented on #812
@phturb That's awesome, thank you for the fix! 🎉

@mehalter, the suggested `nf-oct-search` icon works great in my iTerm2 as well! Do you think we can replace it?

@phturb I left the comment with a suggestion in your [PR](https://github.com/AstroNvim/AstroNvim/pull/824).

[2022-08-04 11:56] mehalter commented on #812
Yeah this was one of the icons I tested @denis-tchaikovsky and it looks alright I guess. Nowhere near as nice looking as the font awesome icon when paired with the other icons. But I suppose it can't be helped, better to have compatibility I suppose. Have any of the iTerm2 users submitted a bug report? Back in like 2014 was the last time I used iTerm2 and the developers were very quick to fix bug

[2022-08-04 12:23] mehalter commented on #823
Native LSP does not support inlay hints and you must use [rust-tools.nvim](https://github.com/simrat39/rust-tools.nvim) to extend the rust LSP integration to handle this. Here is an example `user/init.lua` file tat sets it up:

[code]

Notice the `lsp.skip_setup` table that tells the internal LSP configuration in AstroNvim to not set up `rust_analyzer`, then when you set up `rust-tools` you want t

[2022-08-04 12:23] #823 closed

[2022-08-04 12:28] mehalter commented on #822
I see it recognizes `/home/jcervantes/workspace/aumpi_projects/aumpi` as the root directory. Do you have either a `.git` folder, Cargo directory, or a `rust-project.json` file in that directory? the native lsp looks for either of those two files/folders to know when to auto start rust-analyzer.

Here is the relevant code in the `nvim-lspconfig` specification for `rust_analyzer`: https://github.com

[2022-08-04 12:31] mehalter commented on #821
Could you try running `:TSInstall tsx` as it has it's own treesitter parser. (https://github.com/nvim-treesitter/nvim-treesitter#supported-languages)

[2022-08-04 12:31] #821 closed

[2022-08-04 12:35] mehalter commented on #806
Yeah I am venturing a guess that this is a weird local issue. A few things that immediately come to mind is checking out your shell configs and see if that could be causing anything. A chance in your remote shell config vs your local shell config and potentially your `$TERM` variable changing as your SSH could change behavior between your shells as well.

Other than that I can't reproduce in any w

[2022-08-04 12:35] #806 closed

[2022-08-04 12:36] mehalter commented on #822
@neo-clon also this is a duplicate of this issue: #591

[2022-08-04 12:36] #822 closed

[2022-08-04 15:40] fprasx commented on #823
Thank you! I added this to my `init.lua`, but now the language server doesn't attach when I open Rust files. I tried doing `:LspStart rust_analyzer` but that just hangs (also not sure if that's even a meaningful command).

[2022-08-04 15:41] mehalter commented on #823
Did you run a `:PackerSync` and restart to install the new `rust-tools` plugin and make sure it is running?

[2022-08-04 15:53] fprasx commented on #823
When I do `:PackerSync` I get this error (although it says `rust-tools` is successfully installed in the packer popup).
<img width="1216" alt="Screen Shot 2022-08-04 at 11 52 22 AM" src="https://user-images.githubusercontent.com/91577249/182891299-4cb5f23f-ef34-4d82-8267-cbe73b12ea2c.png">

[2022-08-04 15:54] mehalter commented on #823
can you please copy your user config here so I can take a look?

[2022-08-04 15:56] fprasx commented on #823
[code]

Thank you so much for the help!

[2022-08-04 15:57] mehalter commented on #823
[code]

This should be `mason-lspconfig.nvim` as I had in the code block that I sent you :)

[2022-08-04 15:58] mehalter commented on #823
also wait, it also appears that you put the `plugins` table into the wrong location. One second and I will fix it and send you a new version

[2022-08-04 15:58] fprasx commented on #823
It's still giving that error :(

[2022-08-04 15:59] mehalter commented on #823
[code]

[2022-08-04 16:02] fprasx commented on #823
Ok I see. It's still giving the error! I'm going to `:PackerClean`, restart my computer, and see what happens.

I really appreciate the help! I'm pretty new to lua and neovim.

[2022-08-04 17:17] RockyGitHub opened #825 "Rust does not have proper syntax highlighting"
**Checklist**
- [x ] `:PackerSync`
- [x ] `:AstroUpdate`
- [x ] restarted AstroNvim
- [x ] Neovim version >= 0.7.0

**Describe the bug**
Rust does not have good syntax highlighting.  Many different syntax types are the exact same color which becomes very confusing.  It's the same issue for C# but I wanted to keep this issue to one language for now.
For example, functions are the same color as Type

[2022-08-04 17:50] audacioustux commented on #779
are you using neovim version 8+?

[2022-08-04 18:21] queue-tip commented on #804
user/polish.lua should include a call to autocmds. Mine looks like this:

    return {
      require "user.autocmds"
    }

user/autocmds.lua should have an autocmd like this:

    vim.api.nvim_create_autocmd("FileType", {
      pattern = "go",
      callback = function()
        vim.bo.tabstop = 8
        vim.bo.softtabstop = 8
        vim.bo.shiftwidth = 8
      end,
      desc = "Set tabs to 8

[2022-08-04 20:43] mehalter commented on #825
@kabinspace could you improve the syntax highlighting for the treesitter in the default theme?

Probably something as colorful as what I get on Nightfox:
![2022-08-04_16:42:32_screenshot](https://user-images.githubusercontent.com/1591837/182948869-e83d989e-4aa2-4814-aa7b-474f5beae592.png)

[2022-08-04 20:45] mehalter opened #826 "Rewrite user_example/init.lua"
**Is your feature request related to a problem? Please describe.**

The provided user configuration example (`user_example/init.lua`) can be a bit hard to follow and doesn't have enough comments.

**Describe the solution you'd like**

Rewrite the file to be easier to follow and have a lot more explanations in the comments

[2022-08-04 20:49] mehalter commented on #804
@queue-tip This is a great answer, thank you for helping out!

[2022-08-04 20:49] #804 closed

[2022-08-04 20:51] mehalter commented on #795
I'm going to go ahead and close this since it's implemented and waiting until the v2.0.0 release

[2022-08-04 20:51] #795 closed

[2022-08-04 20:51] mehalter commented on #686
I'm going to go ahead and close this since it's implemented and waiting until the v2.0.0 release

[2022-08-04 20:51] #686 closed

[2022-08-04 20:54] mehalter commented on #783
I'm going to go ahead and close since it is upstream

[2022-08-04 20:54] #783 closed

[2022-08-04 20:56] mehalter commented on #775
@dimas-cyriaco what version of Neovim are you using? (output of `neovim --version`)

[2022-08-04 21:53] CaitlinDavitt opened #827 "Custom footer"
**Is your feature request related to a problem? Please describe.**
I would like to have a custom footer in the dashboard, but I have not found a good way to do that yet.

**Describe the solution you'd like**
I would like to be able to add a custom footer to the dashboard in user/init.lua with the same syntax as a custom header

(Love your project BTW. I was having a lot of issues getting nvim set

[2022-08-05 05:46] Ish-Anji2022 commented on #779
I'm having same problem and I'm using neovim 8+, built from source.
is it relatable?

[2022-08-05 09:44] b1twe1ser opened #828 "Inlay hints"
Hello lovely people !
Is there a way we can enable inlay hints ?

[2022-08-05 10:46] mehalter commented on #779
@Ish-Anji2022 Neovim nightly is not supported by AstroNvim. Please switch to a stable and officially released version of Neovim

[2022-08-05 10:47] mehalter commented on #828
What language server are you trying to enable inlay hints for?

[2022-08-05 12:43] Bash-09 commented on #823
I've tried to recreate the steps in this issue, however I am getting the error `packer.nvim: Error running config for rust-tools.nvim: [string "..."]:0: attempt to index field 'lsp' (a nil value)`

Attached is my `init.lua` if that is useful.
[init.lua.txt](https://github.com/AstroNvim/AstroNvim/files/9268685/init.lua.txt)

[2022-08-05 12:48] mehalter commented on #823
@Bash-09 what version of AstroNvim are you using? `:AstroVersion`

[2022-08-05 12:51] Bash-09 commented on #823
`Version: v1.7.0-6-g5dfeb77`

[2022-08-05 12:54] adsick commented on #552
Hi, I tried that official recipe, but the colorscheme is still set to default, I feel frustrated...
![image](https://user-images.githubusercontent.com/24528839/183081375-d9ae4a90-7029-4d68-afb6-f0fd5465cad2.png)
![image](https://user-images.githubusercontent.com/24528839/183081439-f1dfa345-9b20-4b80-876c-0b2b5a533a17.png)
![image](https://user-images.githubusercontent.com/24528839/183081533-28e890

[2022-08-05 13:02] mehalter commented on #552
@adsick have you run a `:PackerSync` to install catppuccin and then restart?

[2022-08-05 13:08] Bash-09 commented on #823
@mehalter Ah yeah I probably should have tried that, it seems to have worked. Thanks so much for lending me your time to help!

[2022-08-05 13:17] mehalter commented on #827
@CaitlinDavitt this can be achieved with overriding the `alpha` config from the `plugins.alpha` table to override the `setup` function:

[code]

[2022-08-05 13:17] #827 closed

[2022-08-05 13:25] backwardspy commented on #591
i was running into this issue with `rust-analyzer` not starting until i entered insert mode, and while trying to figure out what's going on i noticed a quirk.

if i run `nvim`, and then open `src/main.rs`, rust-analyzer starts up and attaches to the buffer immediately.
if i run `nvim src/main.rs`, then rust-analyzer does not start up until i go into insert mode.

the output of `LspInfo` looks the

[2022-08-05 13:29] mehalter commented on #591
@backwardspy do you get this on all LSP or just `rust-analyzer`?

[2022-08-05 13:45] backwardspy commented on #591
just tried a few, i can confirm this behaviour happens for me on a fresh astronvim for `pyright`, `gopls`, and `rust-analyzer`. those are the only ones i have handy right now, but i'm happy to try any other language servers if it helps.

[2022-08-05 13:48] backwardspy commented on #591
i should probably mention i'm currently on `NVIM v0.8.0-dev+506-gee6b21e84`.

[2022-08-05 13:54] mehalter commented on #591
@backwardspy  Quite strange, I can reproduce in a clean environment (on neovim stable) but it doesn't happen with my personal config 🤔 I'll have to investigate more in the coming days.

Also are you using the current nightly or the very unstable v2.0.0 branch with neovim 0.8 support? I know that the current nightly and v1.7 stable astronvim have some incompatibility with neovim 0.8 due to breaking

[2022-08-05 13:56] backwardspy commented on #591
i am using the current nightly version of astronvim. that's good to know, thanks! i'll switch to a stable neovim and see how that goes.

i can't remember why i switched to neovim 0.8, so the reason can't have been that important. :)

[2022-08-05 14:09] #825 closed

[2022-08-05 14:27] kabinspace commented on #700
I can understand where this is coming from, the problem is things could change over time and the video made on a particular timeline would be irrelevant at some point due to those changes. Due to this, we are currently sticking with docs that get frequently updated addressing the changes made as we go on. We would instead focus on making docs more user-friendly, detailed, and understandable than m

[2022-08-05 14:27] #700 closed

[2022-08-05 14:51] adsick commented on #552
catpuccin is installed, I doublechecked that. The issue is that for some reason 'colorscheme' variable is set to default_theme regardless.

[2022-08-05 14:54] adsick commented on #552
I can manually set colorscheme to catpuccin and it will work, but I don't get why it doesn't set by the user/init.lua script

[2022-08-05 14:56] mehalter commented on #552
In your screenshot you have mispelled `catppuccin` could that be the issue? @adsick

[2022-08-05 14:59] adsick commented on #552
@mehalter thanks a lot, now it works!

[2022-08-05 15:26] mehalter commented on #828
My guess is this is a duplicate of #823 (This  includes code for setting up `rust-tools` for `rust_analyzer`

Neovim LSP does not have built in support for Inlay hints and it requires language specific plugins to add that functionality:

Relevant documentation: https://astronvim.github.io/recipes/advanced_lsp#lsp-specific-plugins

[2022-08-05 15:26] #828 closed

[2022-08-05 15:37] Huansock opened #830 "there's no highlighting for Svelte"
i'can not set the highlighting for svelte is there a way for that..?

[2022-08-05 15:42] mehalter commented on #830
Have you tried installing the appropriate highlighter? `:TSInstall svelte`

You can also install the appropriate LSP as well with `:LspInstall svelte`

[2022-08-05 15:42] #830 closed

[2022-08-05 15:46] dimas-cyriaco commented on #775
@mehalter

[code]

FYI I have `LunarVim` installed in my system. Maybe this is some conflict between the two?

[2022-08-05 16:06] mehalter commented on #591
@backwardspy #831 should fix this

[2022-08-05 16:07] mehalter commented on #775
ah that would be the reason. We do not support unreleased version of Neovim and there are breaking changes in Neovim 0.8 nightly that are not compatible with the current releases. So these things will not work. Please use an officially supported version of Neovim.

[2022-08-05 16:07] #775 closed

[2022-08-05 16:08] mehalter commented on #775
There also could be conflict with LunarVim. LunarVim does some weird things to make it "separate" and it doesn't necessarily achieve true separation. But in this case, it is definitely because language server capabilities have had breaking changes in neovim 0.8 and the current code in AstroNvim just won't work.

[2022-08-05 16:18] backwardspy commented on #591
that seems to have done the trick! many thanks

[2022-08-05 16:29] Huansock commented on #830
yep the problem was Tsinstall
it was not automatically intalled..
thx btw!

[2022-08-05 16:40] mehalter commented on #830
Yeah, we do not install treesitter parsers automatically. You can add the treesitter parsers that you want to install automatically in a `user/init.lua` file

[2022-08-05 18:02] HummingBird24 opened #832 "No highlighting but highlighting in preview"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] restarted AstroNvim
- [X] Neovim version >= 0.7.0

**Describe the bug**

I'm not getting any highlighting at all but I can see highlighting in the file preview window.

I've TSInstalled types

[2022-08-05 18:04] kabinspace commented on #832
@HummingBird24 Please use neovim version 0.7 for now, 0.8 is still unstable.

[2022-08-05 18:04] #832 closed

[2022-08-05 18:18] HummingBird24 commented on #832
@kabinspace That was it! thanks for the quick response

[2022-08-05 18:30] dimas-cyriaco commented on #775
@mehalter thank you! It works perfectly fine with `0.7.2`.

Maybe it's a good idea to change the docs. It says the requirements are `Neovim 0.7+`.

[2022-08-05 18:33] iblezya commented on #4
@kabinspace Thanks for that quick fix.

[2022-08-05 18:44] mehalter commented on #775
@dimas-cyriaco Yeah I suppose I figured it was an assumption that unreleased software technically doesn't exist :joy:

[2022-08-05 18:49] mehalter commented on #775
I have pushed an update to the documentation website as well as the README here that specifies that "Stable Neovim" is a requirement

[2022-08-05 19:39] bramvbilsen opened #835 "Format file on save"
Is there a way to automatically format a file when it is saved?
For example, I am building a project in Go and would like to use `gofmt`. Up until now, I've been using the cli commands to format manually, but ideally, it'd be possible to format automatically when saving a file. Or having a shortcut to formatting in general (not just a single language) would also be great!

_Sorry if this is trivia

[2022-08-05 19:42] A-Lamia opened #836 "Unable to get plugin configs to work."
Was setting up some plugins  and they install and run fine but the configs are not working wandering if I'm doing something wrong.

[code]

[2022-08-05 19:46] mehalter commented on #835
@bramvbilsen

Here is an example minimal `user/init.lua` file for achieving this with `gofmt` with automatic formatting on save:

[code]

This is using `null-ls` which is provided by the default configuration. This would go here in the provided example:

https://github.com/AstroNvim/AstroNvim/blob/3299c18961023837c295459d8b1dcec7cd4d299f/lua/user_example/init.lua#L98-L120

You can find a complete

[2022-08-05 19:46] #835 closed

[2022-08-05 20:41] mehalter commented on #836
@A-Lamia I don't see any issues with how you are configuring your plugins. I did notice that you had some typos when it came to setting the `tokyonight_transparent` varaible. Also I have a few recommendations to help clean things up. Mainly with the `gdscript` setup call and the setting the Neovim options. You can rewrite all of this like this:

[code]

Our default capabilities already use the `cm

[2022-08-05 20:41] #836 closed

[2022-08-05 20:42] HummingBird24 opened #837 "Changing lsp settings for tailwindcss not working?"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] restarted AstroNvim
- [X] Neovim version >= 0.7.0

**Describe the bug**
Maybe I didn't do it correctly but I added this to my server settings inside ~/.config/nvim/lua/user/init.lua it doesn'

[2022-08-05 20:52] A-Lamia commented on #836
Thanks! would i just place plugins in to separate file then require it in local config ?

[2022-08-05 20:52] mehalter commented on #837
[code]

The syntax is slightly off. Here is the correct notation.

[2022-08-05 20:52] #837 closed

[2022-08-05 20:56] A-Lamia commented on #836
@mehalter and the current version of astronvim im using is still on nvim-lsp-installer

[2022-08-05 20:57] mehalter commented on #836
and easy example would be like this in your `user/init.lua` `plugins.init` table

[code]

Then make a `plugins` folder in your `user` folder and have `user/plugins/true-zen.lua` with

[code]

[2022-08-05 20:58] mehalter commented on #836
Ok, this config will still work since there were no breaking changes between us having `nvim-lsp-installer` and now having `mason`. So none of this config breaks :)

[2022-08-05 21:01] A-Lamia commented on #836
@mehalter awesome thanks soo much! is nightly currently ok on stability ?

[2022-08-05 21:02] mehalter commented on #836
It's pretty decent. If you are using `stable` I would recommend staying with stable. Also if you want the Mason change, it will be tagged Monday morning as `v1.8.0` :)

[2022-08-05 21:04] A-Lamia commented on #836
@mehalter oh gonna wait then, thanks for all the help :D

[2022-08-05 21:04] HummingBird24 commented on #837
@mehalter Ahh makes total sense now. Thanks a ton!

[2022-08-05 21:06] mehalter commented on #836
`nightly` definitely has bugs every once in a while and definitely should be expected to have bugs. I will merge stuff when I think it's bug free, but then bugs inevitably show up as more users use it. Also `nightly` doesn't pin plugins to specific versions so any breaking change in a plugin will in turn break AstroNvim `nightly` after a `:PackerSync`. We haven't had much changes recently and I tr

[2022-08-05 21:19] A-Lamia commented on #836
@mehalter might finish setting up and give it a try, thanks for the info ;)

[2022-08-05 21:53] A-Lamia commented on #836
Ok all seems to be working think true-zen is the issue thanks again! :)

[2022-08-06 06:00] cyberloh opened #838 "Can't get needed fonts"
Can you please provide an exact font list used in Astro Nvim? i tried this [2Gb nerd fonts pack](https://aur.archlinux.org/packages/nerd-fonts-complete), but still  a lot of icons missing in file menu for example.

[2022-08-06 09:20] zenVentzi commented on #838
Windows user here. From the nerd-fonts donwload [link](https://www.nerdfonts.com/font-downloads), should I download each and every font package listed on the page? I've currently installed the first one but absolutely no icons show up in the editor. I've tried both Windows Terminal and the default Command prompt.

[2022-08-06 09:20] zenVentzi commented on #791
Windows user here. From the nerd-fonts download [link](https://www.nerdfonts.com/font-downloads), should I download each and every font package listed on the page? I've currently installed the first one but absolutely no icons show up in the editor. I've tried both Windows Terminal and the default Command prompt.

[2022-08-06 10:16] hismailbulut opened #839 "How to disable Tab mappings for cmp"
I want to disable Tab and S-Tab insert mode mappings for cmp and I want to add new mappings with these keys for another plugin. How can I achieve this?

[2022-08-06 10:24] kabinspace commented on #838
@cyberloh You can use any nerd fonts from [here](https://www.nerdfonts.com/font-downloads). The one shown in AstroNvim's preview image is called JetBrainsMono Nerd Font.

[2022-08-06 10:24] #838 closed

[2022-08-06 10:48] zenVentzi commented on #838
In case Windows users read this:

1. Download JetBrainsMono Nerd Font from [here](https://www.nerdfonts.com/font-downloads).
2. Extract into a folder
3. Select all fonts and right-click "Install for all users"
4. In Windows Terminal open Settings
5. Under "Profiles" select the profile you use to open AstroNvim with
6. Additional Settings > Appearance > Font Face > JetBrainsMono Nerd Font

Open a n

[2022-08-06 11:31] bramvbilsen commented on #835
Hi, thanks for the help!
I'm not getting the expected result. I created a new folder called `user` with a new `init.lua` file. The path for this is as follows:
[code]
The `init.lua` file contains the following:
[code]
When saving a `.go` file, it does not get formatted. Is something wrong with my configuration?

[2022-08-06 12:14] mehalter commented on #835
What version of `neovim` are you using. Also have you install `gofmt` to your system?

[2022-08-06 12:15] bramvbilsen commented on #835
I can confirm I have `gofmt` on my system as I am able to use it from the command line.
This is my `nvim -v` output:
[code]

[2022-08-06 12:19] mehalter commented on #835
Oh wait I see where the problem is in your config

[code]

You were returning config inside of the `on_attach` function that you were writing

[2022-08-06 12:19] mehalter commented on #835
I had a typo in my previous code. Sorry about that!

[2022-08-06 12:24] bramvbilsen commented on #835
Aha thanks 😊
Upon saving now, I'm getting asked the question to choose between an LSP: `gopls` or `null-ls`. I've been using `gopls` as my LSP. Should I used `null-ls` to make `gofmt` on save work? Will this change anything to my config while editing? Or is it just for when files are being saved?

[2022-08-06 12:30] mehalter commented on #835
This is just asking you which formatter to use at the current moment. `null-ls` is what you will want to use `gofmt`. This will become a pretty big nuisance because it will ask literally every time you want to format :joy: You can disable the formatting of `gopls` by changing the `on_attach` function specific for `gopls`. So your config would look something like this all together:

[code]

[2022-08-06 12:34] mehalter commented on #839
You can modify the `cmp.setup({...})` call to remove those mappings from `cmp`. Here is an example `user/init.lua` file that just removes Tab/S-Tab from the `cmp` bindings:

[code]

You can then add mappings for those in your config using the `mappings` table, something like this:

[code]

[2022-08-06 12:34] #839 closed

[2022-08-06 12:36] bramvbilsen commented on #835
This did the trick, thanks!!
If I understand this correctly, `gopls` will also try to format the file and we are disabling that in the `lsp` config. Is this correct?
For future reference, to enable this feature in other languages I have to:
1. Add the formatting tool in `config.sources` of `["null-ls"]`
2. Disable document formatting in the lsp server settings

[2022-08-06 12:37] mehalter commented on #835
Yup! Not all language servers will have a formatter so you won't necessarily have to disable formatting for every language server.

[2022-08-06 12:39] bramvbilsen commented on #835
Awesome, thank you so much for getting me through my setup. Been loving AstroVim!

[2022-08-06 12:39] mehalter commented on #835
Awesome! I'm glad you are enjoying it 🤗

[2022-08-06 13:32] hismailbulut commented on #839
That's working. Thank you so much :)

[2022-08-06 13:58] Fapuu opened #840 "How to enable Nerd Fonts on a WSL envirement with neovide to see the icons"
Just to be clear I'm a noob in neovim and I really want to give it a try to make it my main IDE.

My current workspace is a laptop with Windows 11 installed and I'm using WSL as my developing system. I followed the instalation guide and installed everyting that is needed. To use neovim I'm also using Neovide with the commend `neovide --wsl`. So the setup looks like this.

WSL:
 - Neovim
 - Astrovi

[2022-08-06 19:39] RicardoCMiguel opened #841 "Problem adding a shortcut in insert mode: Ctrl+Enter"
Hi guys, I'm trying to add a shortcut but it's not working, I want to press Ctrl+Enter to go to a new line in insert mode, like in VSCode. Any help will be welcome :)
![Captura de tela de 2022-08-06 16-35-20](https://user-images.githubusercontent.com/83841643/183263803-ef9c3564-3133-4b45-a87d-63048e91ea18.png)

[2022-08-06 21:40] A-Lamia commented on #836
@mehalter Hey i was looking around but couldn't find how to disable plugins, i use neovide and want to disable cinnamon when im using it.

[2022-08-06 22:09] pkazmier commented on #836
If you want to disable a plug-in unconditionally, you can disable them in the `init` table of the `plugins` table. Don't forget to do a `PackerSync` afterwards. Here is a full sample config for your reference.

[code]

[2022-08-07 05:39] maixnor commented on #840
Fonts on Windows are a complex topic. Btw, nerdfonts need to be installed first (on windows and linux)

Neovide running "on windows" might need the nerdfonts to be installed on linux AND windows as the client (console host) rendering the image onto the screen is running on windows in your specific setup.

But before trying it in neovide, try it with just the basics - the terminal.
I'd suggest you

[2022-08-07 10:37] A-Lamia commented on #836
@pkazmier thanks man worked great, yeah smooth scrolling is very strange for the most part.

[2022-08-07 11:28] Jarmos-san opened #843 "Can't load custom Feline configurations"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
I attempted to slightly configure [the default `feline` configurations](https://astronvim.github.io/configuration/plugi

[2022-08-07 13:56] mehalter commented on #843
If you want to fully redefine and modify the `feline` config, you want to have this as your `user/plugins/feline.lua` file:

[code]

Notice that there are some local variables that need to be defined and because of how the table overriding works you need to use the `function(config)...end` notations because the table extension function doesn't correctly handle modifying list style tables like the

[2022-08-07 13:56] #843 closed

[2022-08-07 13:57] mehalter commented on #841
There's a chance the terminal you are using cannot detect c-enter or is detecting it as <C-J>. Check out this old stack overflow: https://stackoverflow.com/questions/598113/can-terminals-detect-shift-enter-or-control-enter

[2022-08-07 18:22] mehalter commented on #841
From Discord: "you are right, i am using gnome-terminal and it does not recognize this command, i will use alacrity or kitty now"

[2022-08-07 18:22] #841 closed

[2022-08-07 20:37] PolSust opened #845 "Recover normal braces keys behavior"
What do I have to modify to make the braces {} haver their default (jumping between chuncks of code) behaviour

[2022-08-07 20:53] garikmi opened #846 "Add debugger"
It'd be great to see nvim-dap in this config.

[2022-08-07 23:56] JosePonceBetancur opened #847 "How can I change the default red color?"
When I type text that is not recognized as a reserved word it appears in red. I know it is designed that way, but personally I find it annoying. It is common to relate the red color with errors, I would like it to be in **white** **color**.

![image](https://user-images.githubusercontent.com/106411515/183316086-4c02356a-45a6-48a6-9ab6-479cf1c298b6.png)

How can I change it?

[2022-08-08 00:17] mehalter commented on #846
Sadly for the time being `nvim-dap` is too immature and unstable for us to consider for AstroNvim. We are monitoring it's progress and when the API is evolving much less slower and has less breaking changes we will want to include it for sure. Thanks for the recommendation!

[2022-08-08 00:17] #846 closed

[2022-08-08 02:37] mehalter commented on #847
I'm not sure if I follow. The screenshot you sent shows text in red but it is a syntax error which is what the red represents. Are there cases where it is red but is not invalid syntax and not an error in your code?

[2022-08-08 08:12] Jarmos-san commented on #843
I didn't know about wrapping the configurations inside the "override" function, so thanks for the heads up! Regardless, it still looks unnecessarily complicated, so can we expect things to change for the better when #715 brings [heirline.nvim](https://github.com/rebelot/heirline.nvim) to the scene?

[2022-08-08 09:35] A-Lamia commented on #836
might be a dumb question but is there a way to pass arguments to local functions in keymap commands eg `["j"] = {KeySet(arg1,arg2,arg3)},` ?

[2022-08-08 09:47] rbutera opened #848 "Packer error: Error running config"
For some reason my neovim always starts with the following error prompt.

I am new to neovim and lua and unsure what I've done wrong.

![CleanShot 2022-08-08 at 10 44 46](https://user-images.githubusercontent.com/6047293/183389656-127453c7-8e04-49d5-be41-9cfbf0b1104d.png)

My astronvim user config is as follows:

[code]

Can someone please help me fix my config?

[2022-08-08 11:30] mehalter commented on #843
It will not because the API for configuring Heirline still heavily relies on list like tables rather than dictionary like tables. So it won't play nicely with the built in extending functions. There are ways you could simplify this, could you share your entire `feline.lua` file and I can take a look? Or just a description of what changes you are making? The code I sent is the "easiest way" but doe

[2022-08-08 11:33] mehalter commented on #848
Just a quick glance I do notice a typo on this line:

[code]

It probably should be

[code]

[2022-08-08 11:44] mehalter commented on #845
[code]

You can disable the aerial `on_attach` function

This is a pretty highly requested change. I am thinking we might remove this in `v2.0.0`

[2022-08-08 11:44] #845 closed

[2022-08-08 12:43] Jarmos-san commented on #843
I've not got far ahead with configuring `feline.lua` yet because my Lua skills are a bit crappy. I was hoping to copy the suggested configurations from the documentations & make incremental changes thereafter. But I guess, I'll stick with the default statusbar customisation AstroNvim provides for awhile since v2.x is knocking on the door anyway.

[2022-08-08 15:34] PolSust commented on #845
I don't think it's a bad feature, I just dislike that it replaces the default behaviour

[2022-08-08 15:41] mehalter commented on #845
Yeah, I guess "remove" is a bad way to say it. Replace it with something more "vim-like" and also not replace default behavior. Probably adding onto the `]` and `[` motions. so like `[y`/`]y`/`[Y`/`]Y` are ones I'm thinking about for `sYmbol` since `s` is used for mispelled words

[2022-08-08 20:01] MichaelBrown08 opened #857 "Recent update broke all tree-sitter/lsp functionality"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] restarted AstroNvim
- [X] Neovim version >= 0.7.0

![image](https://user-images.githubusercontent.com/46346590/183502081-17ba0f41-c675-4edb-82e1-0f185c6ba1f4.png)

![image](https://user-image

[2022-08-08 20:59] mehalter commented on #857
You are using an unsupported version of Neovim and AstroNvim is not currently compatible with it for either treesitter or LSP

[2022-08-08 20:59] #857 closed

[2022-08-08 21:07] MichaelBrown08 commented on #857
Thanks! I had long since forgotten I was using the unstable neovim ppa. Replaced with stable and all is working as expected.

[2022-08-08 21:43] danilobjr commented on #751
@mehalter I know this is closed but my question is related to this subject. If you wish, I can open another issue.

So, I'm trying to replace a which-key group with a single command, but the group name doesn't change.

Just to remember, with which-key if you type `<leader>S` it will open **Session** group with some options. So I disabled them and set my custom one:

[code]

All commands set to fal

[2022-08-09 08:26] Rid1-fz-06 commented on #751
@danilobjr you can use the name property if you want to change the name of any mapping.
[code]

[2022-08-09 08:44] rbutera commented on #848
Thanks, this fixed it

[2022-08-09 08:44] #848 closed

[2022-08-09 10:20] zenVentzi commented on #840
@Fapuu my solution might not work by default but if you run wsl from within WIndows Terminal, [this](https://github.com/AstroNvim/AstroNvim/issues/838#issuecomment-1207193089)(re-quote below) could help

In case Windows users read this:

1. Download JetBrainsMono Nerd Font from [here](https://www.nerdfonts.com/font-downloads).
2. Extract into a folder
3. Select all fonts and right-click "Install f

[2022-08-09 11:09] artfulrobot opened #858 "Feline 'inactive' key not working"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [ ] `:PackerSync`
- [ ] `:AstroUpdate`
- [ ] restarted AstroNvim
- [ ] Neovim version >= 0.7.0

**Describe the bug**

Feline's config specifies ` { components= {active = {}, inactive = {}}}`

But the inactive one never shows up. I belie

[2022-08-09 11:11] #858 closed

[2022-08-09 11:45] jefiedler opened #859 "PackerSync install of neovim/nvim-lspconfig failed"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
After installing the latest NeoVim (v0.7.2) version, I installed Astrovim as recommended here in the repo.
Then I ran n

[2022-08-09 18:58] Fapuu commented on #840
@maixnor and @zenVentzi thank you very much the help, now I know that this is a question I should add to the Neovide and not on AstroNvim. Everythink works in the terminal and once again thank you for helping me :3

[2022-08-09 18:58] #840 closed

[2022-08-09 19:17] fprasx opened #864 "Specifying noremap when adding a mapping"
Hi,

I mapped `jw` to something in insert mode and it has made `jj` act kinda funky. When I type the first `j`, it shows up and waits (as I would expect), but when I type the second `j`, it also stays for a second, as if waiting. If I type anything while the second `j` is waiting, it'll enter normal mode, but leave a `j` where my cursor is.

I think this might be a problem with something being rec

[2022-08-09 19:42] mehalter commented on #756
@Johnsiras @osamuaoki I just pushed a commit to #844 with doc strings for all the internal API and helper functions. If either of you get a chance could you take a look and see what you think?

[2022-08-09 20:16] jefiedler commented on #859
I have tried it, but it doesn't work.

Here is a screenshot from the `PackerSync`:
![image](https://user-images.githubusercontent.com/68224198/183751345-f6b3749d-700c-4743-a941-2a403e04d891.png)

And here the `~/.loacl/share/ folder`:
![image](https://user-images.githubusercontent.com/68224198/183752287-3856fe76-45d2-4c86-9824-390886322538.png)

[2022-08-09 20:28] snewell92 commented on #94
I also have sought after and tried this, may my findings help the next person who finds this. I decided not to open a new issue, as this one is from this year, and I'm pretty sure there isn't an immediately obvious solution for AstroVim to adopt (whenever/if we do find out, it would be awesome to have a `:AstroVim.ReloadUserConfig` or `ReloadAll` something similar 🙏🏼 .

## The Goal 🥇

I want to be

[2022-08-09 20:48] mehalter commented on #94
@snewell92 could you check out this announcement from today? :) https://github.com/AstroNvim/AstroNvim/discussions/862

And see what you think!

[2022-08-09 21:17] snewell92 commented on #94
@mehalter I will buy you anything you want. (price cap of £20) (but seriously gonna look at sponsor now... xD)

[2022-08-09 21:22] A-Lamia opened #865 "Tree-Sitter and lsp not working 2.0"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**OS**
Windows 10

**Describe the bug**
Tree-Sitter and lsp not working on complete fresh nvim 8.0 and astronvim, neovim syntax highlight wo

[2022-08-09 21:38] danilobjr commented on #762
I've just disabled Aerial as well. TBH I'll leave this way because I don't really use it. Now I can use `{` and `}` again. What a relief! 😌

[2022-08-09 21:41] snewell92 commented on #94
THIS WORKS BRILLIANTLY!!! YAAAAASSSS!! `:AstroReload` and:

[code]

[2022-08-09 22:49] mehalter commented on #865
What version of AstroNvim are you using? Neovim 0.8 is an unsupported version. We do have the I don't remember`v2` branch that is as close as you can get to - something working, but it might not be up to date. The current stable and nightly AstroNvim does not supported Neovim 0.8 treesitter or LSP

[2022-08-10 00:14] imnotgreatatusernames opened #866 ":LspInstall for rust failing on raspberry pi"
I'm trying to code, explore linux, and learn rust on my little raspberry pi.  This is proving to be comically difficult.  "sudo apt install" did not get me a new enough version of neovim so i had to compile it myself (v0.7.2) and then I installed Astronvim like it says on https://astronvim.github.io/  .

After successfully installing it, I was able to use " :TSInstall " to get a rust parser (I thi

[2022-08-10 03:31] A-Lamia commented on #865
I was using astrovim v2.

[2022-08-10 07:19] osamuaoki commented on #756
Hi,

...

I suppose you are talking about commit to v2 branch.

The changes look good to me (nightly pages).

If I may suggest more improvements, I think it is good idea to synchronize 
 * example in documentation https://github.com/AstroNvim/astronvim.github.io "Basic
Configuration" and,
 * `lua/user_example/init.lua` in https://github.com/AstroNvim/AstroNvim

To achieve this, I think both AstroN

[2022-08-10 09:08] A-Lamia commented on #865
v2 branch is buggy but everything is working.

[2022-08-10 11:01] mehalter commented on #756
Thanks for the feedback @osamuaoki ! also I'm not sure if you looked at the correct branch since it also has the rewrite for `user_example/init.lua` as well. I am also planning on syncing up AstroNvim.github.io with this change as it gets made and merged :)

[2022-08-10 11:03] mehalter commented on #865
What commit of Neovim 0.8 are you using?

[2022-08-10 11:09] A-Lamia commented on #865
@mehalter latest im back on 7.2 and AstroNvim nightly was havining issues with v2 and hairline or what ever that plugin is called lol.

[2022-08-10 11:15] mehalter commented on #865
Yeah there are a lot of big bugs happening right now in Neovim 0.8 and it's super super broken. Especially winbar: https://github.com/neovim/neovim/issues/19458

I would definitely not recommend using Neovim nightly as it breaks a lot and that's expected currently with `v2` especially since we aren't actively testing it or fixing any bugs yet.

[2022-08-10 11:24] A-Lamia commented on #865
@mehalter yeah i just needed it to test out some issues i was having, do you also have any good method for passing params to a local function with a map? eg.
[code]

[2022-08-10 11:25] mehalter commented on #865
Is this for setting a key binding where you want to use the parameters in the function you call when you press `B` for example?

[2022-08-10 11:27] A-Lamia commented on #865
yeah

[2022-08-10 11:28] mehalter commented on #865
You can just wrap it in an anonymous function

[code]

[2022-08-10 11:29] A-Lamia commented on #865
aaah interesting, I'll give it a try thanks!

[2022-08-10 12:11] A-Lamia commented on #865
@mehalter awesome, you legend works great! thanks :)

[2022-08-10 13:41] osamuaoki commented on #756
I looked at main and v2 of AstroNvim/AstroNvim for lua/user_example/init.lua.

I don't see   `header = { ...` in there.  I wonder why?  That is the concern for current AstroNvim/AstroNvim.

The rest of the comments are AstroNvim/astronvim.github.io  I checked out v2 branch and used "yarn start" to checked the content.

[2022-08-10 13:49] alex289 opened #867 "Statusline configuration"
Hey, Im new to AstroNvim and I wanted to show the current mode (insert/normal) in the statusline. I mean the word and not only the color. Is there any way to configure this easily? 😅

[2022-08-10 14:25] mehalter commented on #756
@osamuaoki check out the PR that I linked in my previous comment (#844). These changes are on branch `user_example_rewrite`

[2022-08-10 15:07] mehalter commented on #94
@snewell92 Thanks so much for the support! Also thank you a ton for the write up, I'm going to go through it and see if I can use it to improve the current experimental implementation.

AstroNvim's configuration is definitely tricky to reload because the user configuration is interlaced with the base configuration on load which allows us to improve performance and also allow the user to fully remo

[2022-08-10 15:08] #756 closed

[2022-08-10 15:12] mehalter commented on #756
The documentation for the AstroNvim API can be found here:

https://astronvim.github.io/AstroNvim/

I am going to add a link to the usage documentation as I merge in an update with the new `user_example/init.lua`

[2022-08-10 15:15] Joxtacy commented on #867
Not the prettiest solution, but it works.

Add a file in your user config `plugins` folder called `feline.lua`. In it you can return a function that takes in the settings table for feline. You can then modify this to your liking.
In this case I have added, first a spacer, and then the current vi mode as separate sections to the statusline.

I am also fairly new to neovim, Astrovim, and lua, so I'm

[2022-08-10 15:34] catanzaromj opened #868 "Add ipython to lua mappings"
**Is your feature request related to a problem? Please describe.**
In my work flow, I find ipython to be much better for running quick scripts, testing snippets, and debugging code as compared to the standard python REPL. It provides autocompletion, colored outputs, magic commands, ipdb for debugging, etc. I don't believe it is included with the standard python install, but its just one `pip insta

[2022-08-10 15:41] mehalter commented on #867
@Joxtacy thanks for providing a great  answer! You can simplify this a little bit by using the built in `vim.list_extend` function in the Neovim API:

[code]

This can be found in the Neovim docs here (search for `vim.list_extend`): https://neovim.io/doc/user/lua.html

[2022-08-10 15:41] #867 closed

[2022-08-10 15:44] mehalter commented on #756
@osamuaoki I have also merged the change to the documentation website with the new `user_example` in the Basic Configuration page as well as a sidebar link to the Core Lua API Documentation: https://astronvim.github.io/nightly

[2022-08-10 15:52] mehalter commented on #868
@catanzaromj, You can add this in your `user/init.lua` file in the `mappings` table. Here is a complete and minimal `user/init.lua` file that will just add the new mapping that you would like:

[code]

[2022-08-10 15:56] mehalter commented on #866
This looks like a limitation of Mason.nvim. So I would recommend opening up an issue that they do not support Arm compilation in their installer.

On the other hand, if you have installed the binary yourself and have it available. Make sure that the binary is added to your path so you can run `rust-analyzer` anywhere on your system and you can add `rust_analyzer` to your `lsp.servers` table to tel

[2022-08-10 15:56] #866 closed

[2022-08-10 16:02] mehalter commented on #864
Just to clear up what @artfulrobot has mentioned. The `mappings` table just configures Neovim mappings. So it is a slightly different API than `which-key` so the link provided is not necessarily accurate. the `which-key.regiter_mappings` table does follow this which-key configuration method. The code that is commented above should have `desc` because that is part of the base options for setting up

[2022-08-10 16:02] #864 closed

[2022-08-10 16:12] mehalter commented on #859
I'm honestly not sure. I haven't heard of any other WSL users running into this problem . I would probably try a couple more times to see if it's a one off problem. Also looks like a couple other people are having this issue as well: https://github.com/wbthomason/packer.nvim/issues/677

[2022-08-10 16:12] #859 closed

[2022-08-10 16:18] mehalter commented on #762
Yeah, I'm not a big fan of these bindings. I am planning on changing them to something less conflicting in `v2.0.0` release of AstroNvim. In the mean time if you want the symbol sidebar behavior or want to change these bindings manually, you can overwrite them in your `user/init.lua`. Here is an example `user/init.lua` that simply removes them:

[code]

[2022-08-10 16:18] #762 closed

[2022-08-10 16:19] earlyaugust2 commented on #832
@vicentematus if you're using a mac, you can run `brew uninstall neovim && brew install neovim` that'll install the latest stable version which is v0.7.2

[2022-08-10 16:21] mehalter commented on #702
I'm not sure as I don't use these language servers and have never configured them before. I have run into similar stuff with LSP like `clangd` and have had to set custom capabilities. You can set server specific settings and capabilities with the `lsp.server-settings`. If you are able to find the correct settings that resolve your issue please comment back here just in case anyone else runs into t

[2022-08-10 16:21] #702 closed

[2022-08-10 16:42] vicentematus commented on #832
Oh nice, my bad. I followed some YouTube tutorials on which they installed neovim nightly.

 Anyways i uninstalled neovim package and installed specifying the version now it seems to be working.

[2022-08-10 17:26] #733 closed

[2022-08-10 17:46] BL4CK-R34P3R opened #870 "Default_theme no color everything is gray in color even with terminator true color support"
Default theme has no color even if the terminal support true color, everything is gray in color

[2022-08-10 17:53] mehalter commented on #870
Can you please provide some more information? What version of AstroNvim are you using (output of `:AstroVersion`) and what version of Neovim are you using (`nvim --version`)?

Do you get any errors or anything? Could you provide a screenshot?

[2022-08-10 17:54] mehalter commented on #785
@ledbruno I just noticed that you are using Neovim 0.8. This is an unsupported and unreleased version of Neovim.

[2022-08-10 17:54] #785 closed

[2022-08-10 17:55] mehalter commented on #785
I would recommend you use a stable version of Neovim as this error is most likely coming from some broken and unsupported change upstream

[2022-08-10 17:57] mehalter commented on #749
This is a very very odd behavior, thank you so much for reporting this and getting it in the issues! I'm not sure what the best way to approach this is... It could very  well be that the best answer is to open a bug report on `sumneko_lua` since this is not related to how AstroNvim configures things but a limitation of the language server itself. If you do have any luck or find a fix please commen

[2022-08-10 17:57] #749 closed

[2022-08-10 17:59] mehalter commented on #636
Thank you for commenting your work around @krshrimali !  That will help users that run into this issue down the line. This type of issue is out of the hands of AstroNvim though since we don't handle the installation code for this plugin.

[2022-08-10 17:59] #636 closed

[2022-08-10 18:17] krshrimali commented on #636
I agree @mehalter - I think it has been solved though, never faced this issue again. Thank you for your response! :D

[2022-08-10 19:58] earlyaugust2 commented on #832
@vicentematus Perfect! Enjoy!

[2022-08-10 20:09] ChrisMGeo opened #871 "Full screen header for the home page"
Sometimes I want to keep larger ASCII art as the header on the home page, but due to how the header is just on top of the options like new file, recents, etc. It doesn't look as good as I'd want it to.
A solution to this would be to render the header on the entire full page and not on top of the options and render the options over it and make this an additional feature to enable in the user/init.l

[2022-08-10 20:11] mehalter commented on #871
Hm, this is an interesting request. I believe we are at a limitation of the library we are using for building the dashboard. If you would like a feature like this I would recommend opening a feature request on `alpha-nvim` to add this ability to their plugin: https://github.com/goolord/alpha-nvim

[2022-08-10 20:11] #871 closed

[2022-08-10 23:49] Joxtacy commented on #867
That is perfect! Thank you! 😄 I'll be sure to check out more of the Neovim APIs.

[2022-08-11 03:33] osamuaoki commented on #756
I can see them !  Keeping mapping in original place is better for stable release.  Great!

[2022-08-11 04:40] BL4CK-R34P3R commented on #870
its working now, it was a problem with nvim nightly version,

[2022-08-11 04:40] #870 closed

[2022-08-11 05:20] Bash-09 opened #872 "Documentation links on github README are 404"
The `Basic Usage`, `Default Mappings` etc links give 404 errors.
![image](https://user-images.githubusercontent.com/47521168/184068809-e0ce293e-0b65-4d22-a7b4-6446ef72d172.png)

![image](https://user-images.githubusercontent.com/47521168/184068971-3fb3634c-4495-44df-b6c5-9b5efd01f227.png)
![image](https://user-images.githubusercontent.com/47521168/184068991-770a3e5b-ab30-4db8-8cdb-9de05cd73924.png

[2022-08-11 08:43] odecay commented on #835
Is this the same procedure we should go through for enabling format on save in Rust? Setup rustfmt as null-ls source, then disable something in rust-analyzer? Getting the same "chose a lsp" message.

Tried to find other issues referencing similar, I've set up rust-tools as well so I'm unsure if that complicates things further.

[2022-08-11 10:38] odecay commented on #823
Any pointers for enabling rust-tools and format on write with rust-analyzer?

[2022-08-11 13:41] mehalter commented on #872
Thanks for catching this!

[2022-08-11 13:46] mehalter commented on #823
@odecay you can do something like this as your `user/init.lua`:

[code]

[2022-08-11 13:47] kabinspace commented on #847
@JosePonceBetancur You can get white color for nonreserved words but do note that it's directly linked with the highlighting group of variable, so it would also make your variables look white which might look odd, apparently, there's no particular highlight for nonreserved words so that would be your only solution. You could add this to your `user/init.lua` file if you want it regardless of white

[2022-08-11 13:47] #847 closed

[2022-08-11 13:49] mehalter commented on #835
do you want to use `rustfmt` or `rust-analyzer`? If you want to use `rustfmt` then the process is the exact same, you just want to disable the document formatting for the server settings of `rust_analyzer` in the on_attach function. All together would look something like

[code]

[2022-08-11 13:50] mehalter commented on #835
@odecay just in case that didn't send you a notification

[2022-08-11 15:13] Rid1-fz-06 commented on #786
@mehalter adding this feature will be very helpful whilst calling any function or instantiating any object. Can you please add this.

[2022-08-11 15:53] mehalter commented on #786
@Rid1-fz-06 I don't think we want to leverage the experimental Ghost Text feature in `cmp` until it's known as stable

@windowsrefund I have also tried doing this as `cmp` describes in their repo and I can't get the entire signature either to show up. I have absolutely no idea how they did that or if this is just a bug in the `ghost_text` feature?

I have been able to get the `lsp_signature` pop u

[2022-08-11 15:53] #786 closed

[2022-08-11 16:11] Stianhn opened #876 "How to search and replace in multiple files?"
Let's say I want to replace the word `string` with `number` in all my files in my current folder and all sub folders. Is there an easy way to achieve this?

[2022-08-11 17:00] mehalter commented on #876
There is not a super easy way to do this in Neovim. This blog post has a pretty good description of a couple ways to do this:
https://jdhao.github.io/2020/03/14/nvim_search_replace_multiple_file/

Hopefully this helps answer your question :)

[2022-08-11 17:00] #876 closed

[2022-08-11 17:04] mehalter commented on #797
Hm, I haven't seen this and I don't think any plugins should be consuming a bunch of memory. I guess I would think the only culprit could be some language servers? But they should theoretically be in their own processes. I'm not sure if they get spun up under the `nvim` process for some reason

[2022-08-11 17:04] mehalter commented on #797
When you experience this @Noxdor do you have any language servers running in particular?

[2022-08-11 17:07] mehalter commented on #797
It could be Neovim LSP caching information that it has gathered by the given language server actually

[2022-08-11 17:44] odecay commented on #823
Awesome, this snippet was what I wanted, I had put an autocommand in the polish section that was similar but on `*.rs` pattern, but this seems a lot cleaner.

Thank you :+1:

[2022-08-11 17:45] odecay commented on #835
Thanks, it turned out I did want rust-analyzer formatting so your response in #823 was helpful.

[2022-08-11 17:50] Noxdor commented on #797
Yes, the LSP instance stays separate of the nvim instance, but Neovim LSP caching information from the respective LSP makes very much sense to me!
So I was now programming a while in Rust to see if it's language server is also causing my neovim instance to skyrocket in memory use. It didn't! So clearly it is one of the LSPs I am using most of the times for work, which are `eslint-lsp` and `vue-lan

[2022-08-11 17:50] #797 closed

[2022-08-11 18:00] mehalter commented on #823
No problem! When AstroNvim v2.0 is released in the coming months formatting on save will be a default option which will save a decent amount of this code. Sorry for any confusion or extra leg work needed to get this up and running!

[2022-08-11 18:01] mehalter commented on #797
No problem! Thanks for putting such a detailed report :) that will be super useful if anyone has similar issues down the line!

[2022-08-11 19:20] Eloitor opened #877 "Trying to use Astronvim with master branch of neovim"
I compiled `neovim` from source, and tried to use astrovim's default configuration.
Syntax higlighting of a file does not work by default, for example when opening `init.lua` I need to run `:setfiletype lua` manually.

Moreover I get this error message:

[code]

Is this a problem with packer or with astronvim? Is there any workarround?

[2022-08-11 20:08] mehalter commented on #877
AstroNvim does not support unreleased versions of Neovim. Please use a stable and released version.

[2022-08-11 20:08] #877 closed

[2022-08-11 20:14] mehalter commented on #877
There are a lot of breaking changes with neovim 0.8 and AstroNvim does not adhere to these new changes. There is the `v2` branch that may or may not be working. It's a work in progress getting ready for the Neovim 0.8 release. There are a lot of breaking changes as well that do not align with the documentation. This branch is basically untested and is not guaranteed to work with the latest release

[2022-08-11 20:51] Eloitor commented on #877
Thank you, I'm trying to preview latex formulas, which I think is only possible in the `master` branch:  https://github.com/yatli/gui-widgets.nvim/issues/2#issuecomment-1210579757

I tried the `v2` branch and I had no problems. Since the `master` branch of neovim is not supported by AstroNvim, from now on if I have some similar problem I'll try to fix it myself, I'll consider using the released ve

[2022-08-11 21:07] OberusPing opened #879 "Can't get format on save to work!"
I've installed ESLint and Prettier, and I just can't get format on save to work for the life of me. I'm a new Astronvim user (and new to vim in general), but I've been trying to fix this for a while. I'm on a fresh install of Astronvim, other than the added packages.

When I run the command manually with

`:lua vim.lsp.buf.formatting_sync()`

Then that formats the document properly. But saving it

[2022-08-11 23:20] mehalter commented on #879
@OberusPing can you share your `user/init.lua` file?

[2022-08-12 01:28] OberusPing commented on #879
So it wouldn't allow me to upload a .lua file (not sure if I just did something wrong there) but I copied it into a txt file. This is just a copy of the user_example init file, but I also tried several other variations. Just to make sure, it should be formatting when I type in the :w command into nvim right?

[init.txt](https://github.com/AstroNvim/AstroNvim/files/9313107/init.txt)

[2022-08-12 01:30] mehalter commented on #879
@OberusPing have you copied the file to a new `user/` folder as described in the docs? Or is this just in the `user_example` folder?

[2022-08-12 01:31] OberusPing commented on #879
Yep, it's in a new user/ folder!

[2022-08-12 08:26] s1nisteR opened #880 "How can I use the installed DAP plugin to debug my cpp code?"
I have installed cpptools.

[2022-08-12 11:27] CaptainJack42 opened #881 "Having Problems configuring neo-tree from user/init.lua"
I'm currently trying to adjust some things in the neo-tree plugin, mainly i want to adjust the *filtered_items*. From the [documentation](https://astronvim.github.io/Configuration/override_formats) it sounds like i can just put my custom config table (or rather my changes to the default table *"This is done by simply providing a new table and we merge the table with the default table where the use

[2022-08-12 11:33] mehalter commented on #881
You want to you `plugins.X` to override the setup call for a plugin where `X` is the plugin name used for `require("X").setup` as mentioned on that documentation page. Here is what your code should look like:

[code]

[2022-08-12 11:35] mehalter commented on #881
The `plugind.init` table is just for modifying the `packer` plugin table. So you can use that to override what plugins are installed by default and uninstalling them or you can adding new ones

[2022-08-12 11:35] #881 closed

[2022-08-12 13:59] ledo01 commented on #879
@OberusPing, here's the autocmd I have setup in my config to format on save

[code]
You can either put this in the  `polish` section of `init.lua` or in its own `polish.lua` file.
I use [formatter.nvim](https://github.com/mhartington/formatter.nvim), but replace the command with whatever you use.

Hope that helps!

[2022-08-12 14:14] mehalter commented on #879
@ledo01 you can also do this which will save you some computation technically because it won't require writing the file twice every time you save:

[code]

@OberusPing I just tested your config in a fresh AstroNvim install. Just copied that file to a `user/` folder and upon opening it automatically installed LSP and formatters and stuff like `prettier`. I opened a test javascript file and added th

[2022-08-12 14:14] #879 closed

[2022-08-12 14:23] mehalter commented on #880
Could you please explain more? Have you installed [`nvim-dap`](https://github.com/mfussenegger/nvim-dap)? How did you install the debugger? Did you install the debugger with Mason?

Honestly I'm not sure what the process is for setting up a debugger that was installed with Mason, so if you did install it with Mason then this would be a good question for that repo. If you did not install it with Ma

[2022-08-12 14:23] #880 closed

[2022-08-12 17:45] galexbh opened #883 "How to configure null-ls to increase the timeout limits?"
I find myself using prettier in my astrovim user configuration but it always throws a "vim.lsp.buf.formatting_sync: timeout" error so I can't format it.

[2022-08-12 17:47] mehalter commented on #883
Please see: https://github.com/AstroNvim/AstroNvim/issues/529

[2022-08-12 17:47] #883 closed

[2022-08-12 17:52] s1nisteR commented on #880
I went through the LspInstall menu and it shows me categories for all the plugins, namely LSP, DAP, Linter/Formatter and so on.
From there I selected the DAP category and installed cpptools. Now I have no idea how to use it.

[2022-08-12 17:54] galexbh commented on #883
Thank you very much, I have already solved the problem.

[2022-08-12 17:57] BL4CK-R34P3R opened #884 "Comment.nvim"
comment.nvim does not work anymore
[code]
this does not work anymore as  it has be outdated in new comment.nvim
below is the screenshot of the error
![Screenshot_2022-08-12_13-56-55](https://user-images.githubusercontent.com/32250841/184416244-4332bc4e-7d64-487a-a56e-7740248d23c2.png)

hope you fix it soon , Thank You

[2022-08-12 18:17] #884 closed

[2022-08-12 18:20] mehalter commented on #880
This is a great question for: https://github.com/williamboman/mason.nvim

If you get a good idea of how to get this set up please feel free to comment back the solution for future users who run into this issue.

[2022-08-12 18:21] mehalter commented on #880
Also @s1nisteR I just saw your edit. DAP does not come with AstroNvim by default. This menu is fully managed by the Mason package installer. It has the ability to install those binaries, but we do not ship or promot `nvim-dap` in any way given it's extremely unstable current state. The project is very young and still going through lots of rapid development and breaking changes which makes it too u

[2022-08-12 19:39] s1nisteR commented on #880
Thank you so much for the swift responses.

[2022-08-12 21:21] toakleaf opened #886 "Neo-tree "Toggle Explorer" with `<leader> e` breaks when entering neovim via directory"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
When entering neovim via directory `nvim .` you skip the splash page and open directly to Neo-tree.  If you then select

[2022-08-12 22:16] trevor-atlas commented on #886
also seeing this FWIW

[2022-08-13 08:51] jefiedler commented on #859
Thank you for your patience.

Thanks for your help. I'll take a look at packer's post.

[2022-08-13 11:40] CaptainJack42 commented on #344
This doesn't work for me at all when using `VimEnter`. When using `UiEnter` it does work, however i had to omit `and not vim.fn.exists "s:std_in"`.

Just leaving this here in case anyone stumbles upon the same issue.

Here's what i used to make it work:

[code]

[2022-08-13 14:39] mehalter commented on #344
Very interesting @CaptainJack42 couple you please describe your set-up? What version of Neovim are you using? Are you using a terminal or an GUI program? What operation system? I ask because when I look at the list of available events `UIEnter` is not an option so I'm curious where this is coming from 🤔

[2022-08-13 14:46] CaptainJack42 commented on #344
@mehalter
I found `UiEnter` [here](https://neovim.io/doc/user/autocmd.html#UIEnter) (the official nvim documentation for autocmd)

For my setup:
OS: Arch with i3 as wm
nvim: version 0.7.2
I'm currently transitioning to [neovide](https://github.com/neovide/neovide), but had the same problem when running inside a Terminal (Alacritty in my case)

[2022-08-13 14:48] mehalter commented on #344
Ah I see I definitely had it in my head that that list was alphabetical smh that's a really annoying thing about the docs haha thanks for the link!

[2022-08-13 14:49] mehalter commented on #344
@CaptainJack42 could you explain what issue you were having before as well with VimEnter?

[2022-08-13 14:53] CaptainJack42 commented on #344
Well it just didn't do anything^^

[2022-08-13 14:58] mehalter commented on #344
Interesting. Do you get the same results with stable AstroNvim? I wonder if it's a breaking change with Neotree causing this. I'll look into what issues could be happening and trying to replicate it early next week. UiEnter looks like a better option anyway.

[2022-08-13 15:01] Arnor1711 commented on #778
What did you do? I also don't know.

[2022-08-13 15:05] CaptainJack42 commented on #344
Yep, same result. `UiEnter` works, but `VimEnter` doesn't.

[2022-08-13 15:35] Naintre-Jad commented on #280
hi, i don't understand where i must put "return plugins"

[2022-08-13 15:39] Naintre-Jad opened #887 "where i put the returnin of plugins-table from e.g user_example/init.lua"
Hi thank you for this config, i love it.
i don't uderstand where i must put the return for my plugins that i add in "lua/user_example".
can you help me ? :)

[2022-08-13 18:01] danilobjr commented on #751
@Rid1-fz-06 it worked. TY!

[2022-08-13 18:22] trevor-atlas commented on #887
If you are using the default example file it should already be in there at the bottom of the file, you just need to make sure you rename it from `user_example` to `user`

[2022-08-13 18:34] mehalter commented on #344
oh @CaptainJack42 I believe it should be BufEnter. That's what we have in AstroNvim by default. Not VimEnter.

[2022-08-13 18:34] mehalter commented on #344
So is the default behavior not working for you?

[2022-08-13 18:35] mehalter commented on #344
Here is the `autocmd` that is included by default with AstroNvim. It is a bit different than what is on this issue:

https://github.com/AstroNvim/AstroNvim/blob/d32306034a0f351b564d180242c5091d77307170/lua/core/autocmds.lua#L89-L99

[2022-08-13 18:40] mehalter commented on #886
ah thanks for opening this. I will try to improve this implementation and get a fix in before a new release is tagged on AstroNvim stable!

[2022-08-13 18:59] CaptainJack42 commented on #344
I'll check tomorrow, and also try the `BufEnter` event.

I have however since than discovered the session manager and decided I like it better than going through neotree to my projects and since neotree blocks hotkeys while active I've disabled the autocmd again ^^. So there's no need for you to waste time with this because of me, it also worked perfectly when using the `UiEnter` event.

However I

[2022-08-13 19:03] mehalter commented on #344
Yeah I guess the main thing @CaptainJack42 is that this autocommand is built in. So you shouldn't have to do or add anything 😅 hopefully you can report back some more details as to what might be going on. Are you adding these autocommands to your config? If so there might be conflicts with the default behavior which is causing weirdness

[2022-08-13 19:03] mehalter commented on #344
So what version of AstroNvim are you using?

[2022-08-13 19:23] Naintre-Jad commented on #887
when i chance i see that
Error detected while processing /home/jad/.config/nvim/init.lua:
Error loading file: /home/jad/.config/nvim/lua/user/init.lua

[2022-08-13 19:28] Naintre-Jad commented on #887
ok thanks but i see that when i do the rename :
[mason-tool-installer] prettier: failed to install

[2022-08-13 19:30] CaptainJack42 commented on #344
Ah now i see and i think i also see the misunderstanding.

When starting nvim with `nvim /path/to/some/dir` neotree opens on startup, but i guess i rarely did that. I either opened a file directly or just `cd` somewhere and than open nvim with just `nvim`, or now when using neovide, just open it in my home directory and load a session or open neotree from the landing page (that's what i was trying

[2022-08-13 19:30] Naintre-Jad commented on #887
and "PackerSync" doesn't work when i add a plugin

[2022-08-14 00:22] mehalter commented on #344
@CaptainJack42 yeah the last paragraph is a known bug currently opened in the issues. That one is not present in AstroNvim stable luckily because it is because of some recent code I pushed that is a little buggy it looks like.

I understand now where the confusion is with your original comment. Thanks for explaining and dropping a better autocommand for people who want this behavior !

[2022-08-14 00:25] jayp0521 commented on #733
Thanks for this!

[2022-08-14 00:26] mehalter commented on #733
@jayp0521 no problem! This has introduced a small bug on AstroNvim nightly. Hopefully I can get it resolved alright: #886

[2022-08-14 13:22] k12ish commented on #859
If its any consolation, I'm having the issue with nvim 0.7.2, Ubuntu 20.04 LTS after following all of your suggestions:
![image](https://user-images.githubusercontent.com/45272873/184539085-58d960ba-d27e-4b00-8765-6a63f09e84a0.png)

[2022-08-14 13:30] mehalter commented on #859
I wonder if this has to do with the `^M` indicating that like ends with Windows carriage return character.... I will ask on the packer repo

[2022-08-14 13:32] mehalter commented on #859
@k12ish is your Ubuntu install also in WSL?

[2022-08-14 13:47] k12ish commented on #859
I'm dual-booting Ubuntu, so it should just act like any standard Ubuntu install.

You're right!!

I converted all of `~/.local/shared/nvim` into unix line endings like this:

[code]

This appears to have the side effect of breaking `:PackerSync` :sweat_smile:

![image](https://user-images.githubusercontent.com/45272873/184539950-95941cd3-fb36-4562-a7f7-874313c31306.png)

[2022-08-14 14:01] mehalter commented on #859
Oh interestingggggg that's quite strange @k12ish 😂 I have no idea how packer works or why that would be a thing haha

[2022-08-14 19:38] letscho123 opened #891 "How to use vim options in [] brackets?"
Hello,

I would like to change some key settings of the plugin [vim-visual-multi](https://github.com/mg979/vim-visual-multi). In vim script it would look like:
[code]

In my init.lua file I tried:
[code]
but this doesn't work, since it gives me the error "Missed symbol '}'".

Any idea how to do this in AstroNvim?

[2022-08-14 23:25] mehalter commented on #891
@letscho123 try this:

[code]

[2022-08-14 23:32] #891 closed

[2022-08-14 23:34] mehalter commented on #887
@Naintre-Jad can you please share your `user/init.lua` file and I can take a look to help find whatever syntax error you have?

[2022-08-15 04:49] Naintre-Jad commented on #887
`--              AstroNvim Configuration Table
-- All configuration changes should go inside of the table below

-- You can think of a Lua "table" as a dictionary like data structure the
-- normal format is "key = value". These also handle array like data structures
-- where a value with no key simply has an implicit numeric key
local config = {

  -- Configure AstroNvim updates
  updater = {

[2022-08-15 05:13] Naintre-Jad commented on #887
i have exactly the same config of the basic "user_example" : https://github.com/AstroNvim/AstroNvim/blob/main/lua/user_example/init.lua.

[2022-08-15 10:43] mehalter commented on #887
Ok, and what exactly are you trying to add @Naintre-Jad ?

[2022-08-15 11:56] itschip opened #892 "Telescope search being slow"
Hi, I've been experiencing telescope being very slow on my Windows machine. I have added some `file_ignore_patterns` values, hoping it would resolve all the files faster, but no.

It may take up to 10/15 seconds to before I get results from my search. These are directories with only 60+ files.

However, on my macbook, it's more or less instant no matter the size of the project.

Has anyone else ex

[2022-08-15 12:07] itschip commented on #892
Using `ripgrep` seems to solve a lot :D

[2022-08-15 12:24] zedgamer9128 opened #893 "Terminal Uses Default Colors"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
Neovide Terminal Shows Default Colors Rather Than Fish shell Nord Themes Colors

**To Reproduce**
Steps to reproduce th

[2022-08-15 12:25] MultisampledNight commented on #893
(also see https://github.com/neovide/neovide/issues/1398)

[2022-08-15 12:26] mehalter commented on #893
This probably has to do with the TERM variable setting capabilities. When you open a terminal in Neovide what do you get when you run `echo $TERM`

[2022-08-15 12:27] zedgamer9128 commented on #893
xterm-256color
same in konsole and neovide

[2022-08-15 12:28] mehalter commented on #893
Ah I just saw the linked issue. I'll take a look at that as well

[2022-08-15 12:31] mehalter commented on #893
Ah @zedgamer9128 @MultisampledNight so our colorscheme can set the base 16 colors for Neovide terminals? Just to be clear?

@zedgamer9128 just to make sure this is what you are looking for because it would not make it use your konsole colors. They would be AstroNvims colors right?

[2022-08-15 12:32] MultisampledNight commented on #893
Yeah, it can and it should, imo. At least that's what all the base16 templates and some from-scratch schemes seem to do.

[2022-08-15 12:32] zedgamer9128 commented on #893
yeah  i think

[2022-08-15 13:02] zedgamer9128 commented on #893
i installed plugin [Nord](https://github.com/shaunsingh/nord.nvim ) and it looks similar to what i had in konsole so im closing this

[2022-08-15 13:02] #893 closed

[2022-08-15 15:07] mehalter commented on #893
@zedgamer9128 could you try out PR #894 and see if it sets the Neovide colors correctly for the default theme? :)

[2022-08-15 15:10] mehalter commented on #893
I just tested it @zedgamer9128 and it should be working. I'm going to add darker/lighter colors which it currently doesn't do ye
![2022-08-15_11:10:07_screenshot](https://user-images.githubusercontent.com/1591837/184662058-ca306a85-4712-40ba-8720-ada56a36b3ea.png)
t

[2022-08-15 15:27] zedgamer9128 commented on #893
Its working now Thanks
well sidenote:- I downloaded nord.nvim and then set the colorscheme to nord then back to default_theme and it was also worked back then but now i dont need to do anything and it is working again Thanks

[2022-08-15 15:53] #892 closed

[2022-08-15 16:16] mehalter commented on #893
Ah yeah, with the current AstroNvim we don't set those variables or overwrite them. So if you have the `nord` theme enabled and swtich to the `default_theme` then those variables will still be set from before. The new PR that I have open will actually set those variables to AstroNvim colors now. But it isn't merged yet into `main`

[2022-08-15 16:30] mehalter commented on #893
![2022-08-15_12:29:13_screenshot](https://user-images.githubusercontent.com/1591837/184675725-41c9055a-bfcc-4575-bab7-9da4f9b27afe.png)

@zedgamer9128 here is the final color scheme that we set with the new update. I'm going to merge the PR now. So if you do `:AstroUpdate` and restart, then try our the `default_theme` you will see the colors match and change when you switch themes :)

[2022-08-15 18:57] half-potato commented on #754
So it turns out I need to map both <C-_> and <C-/> to comment depending on the terminal being used.

[2022-08-15 18:59] half-potato commented on #754
Also, this doesn't work anymore.

[2022-08-15 19:01] half-potato commented on #754
aa768d177a3faf7444472791c9a8ef2a93ee9c89

[2022-08-15 19:08] mehalter commented on #754
@half-potato have you updated comment.nvim? There were recent breaking changes that this fixed

[2022-08-15 19:51] Naintre-Jad commented on #887
i'm trying to add andweeb, and set color to my text because this is grey
(thanks for your help ^^)

[2022-08-15 20:28] letscho123 commented on #891
Thanks for your answer!
This gives me no error code but the mappings don't work, even if I use for example `<C-S-j>`. I also tried to put the mappings directly in the plugin configuration.
Do you think this has something to do with AstroNvim or is it more likely due to the plugin?

[2022-08-16 03:11] windowsrefund commented on #786
Thank you. I'll share any updates I come across.

[2022-08-16 04:18] windowsrefund commented on #786
@mehalter I may have made some progress using [cmp-nvim-lsp-signature](https://github.com/hrsh7th/cmp-nvim-lsp-signature-help). First, I removed ray-x/lsp_signature.nvim as that wasn't getting me anywhere. Next, I added the following:

lua/user/plugins/init.lua
[code]
lua/user/plugins/cmp-nvim-lsp-signature-help.lua
[code]
Now I write a small python file consisting of 2 methods with different sign

[2022-08-16 06:26] zedgamer9128 commented on #893
so i can turn the branch to main right?

[2022-08-16 11:31] mehalter commented on #893
Yup!

[2022-08-16 13:00] abalmos commented on #786
@windowsrefund a caution that I only briefly looked over the issue, but I believe the feature you are asking for is called ghost text and in my experience it does not work well (yet).

https://github.com/hrsh7th/nvim-cmp/blob/b1ebdb0a17daaad13606b802780313a32e59781b/doc/cmp.txt#L594

[2022-08-16 13:44] #886 closed

[2022-08-16 13:44] #606 closed

[2022-08-16 13:44] #621 closed

[2022-08-16 13:56] mehalter commented on #887
Hm I'm not sure what you mean @Naintre-Jad

It might be a good idea to join the Discord server if you can and ask the community questions as there are a lot of active users there: [DISCORD LINK](https://discord.gg/UcZutyeaFW)

[2022-08-17 12:31] teklabania opened #897 "Multiple file selection in Telesocope doesn't open selected files"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
Multiple selection in Telesocope doesn't open selected files. Only the last (highlighted) file is opened with ENTER.

*

[2022-08-17 12:34] mehalter commented on #897
This is a known limitation with Telescope. Feel free to discuss on that repository: https://github.com/nvim-telescope/telescope.nvim/issues/1048

[2022-08-17 12:35] #897 closed

[2022-08-17 12:37] mehalter commented on #891
@letscho123 hm it is almost certainly an issue with the plugin. Can you share your config and I can see? Also you can check the value of that variable during runtime to see if it is being set correctly by AstroNvim.

[2022-08-17 13:02] mehalter commented on #887
@Naintre-Jad I saw that you joined the discord conversation. I'm going to go ahead and close this and assume that this discussion has moved over to Discord. Please let me know if this is incorrect and if I need to reopen the issue!

[2022-08-17 13:02] #887 closed

[2022-08-17 13:33] zedgamer9128 opened #898 "Visual Indent"
**Checklist**
Please confirm you have run the following commands and restarted Neovim and are encountering the issue with the current latest version of AstroNvim
- [x] `:PackerSync`
- [x] `:AstroUpdate`
- [x] restarted AstroNvim
- [x] Neovim version >= 0.7.0

**Describe the bug**
I want to visually indent lines and i tried selecting the lines by v and then pressing tab, right arrow and nothing wor

[2022-08-17 13:37] mehalter commented on #898
The described behavior is not normal vim behavior. I believe the binding you are looking for is `>` and `<` for indent and unindent

[2022-08-17 13:37] #898 closed

[2022-08-17 13:39] zedgamer9128 commented on #898
im so stupid i was thinking > referred to the arrow key

[2022-08-17 13:45] mehalter commented on #898
Are you using a user configuration? Can you replicate the issue without your `user/` folder? What version of Neovim are you using? What version of AstroNvim are you using?