[2022-10-18 02:39] mehalter commented on #1124
Oh you are totally correct. That's super weird, I would think the app image would still do the correct indication for the version, but yeah the commit version does match perfectly. Also I agree, a warning would be a good idea. I'll add that tomorrow :) thanks for your help!

[2022-10-18 02:40] mehalter commented on #1124
If the issue reports for cmdheight weirdness continue we can readdress changing the default ! I really like when the cmdheight is 0 but I also want to provide a super solid/stable base for everyone

[2022-10-18 10:15] shans10 commented on #1112
Thank you this workaround is perfect and exactly what I need :)

[2022-10-18 11:53] mehalter commented on #370
@jayp0521 how automated could we make the DAP setup with `mason-nvim-dap`? I like how we can set up the handlers which is a great step towards automating setup after installation. Is there a plan in `mason-nvim-dap` to provide default register code for `dap`? If we include dap set up in AstroNvim I would like it to be as seamless as we have made `null-ls` and `lspconfig`. Where it automatically co

[2022-10-18 18:23] azinsharaf opened #1125 "transparency doesn't work well for multiple panes"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.3.0

### Neovim version (>= 0.8)

0.8.0

### Operating system/version

Windows 11

### Describe the bug

I have used the highlight configuration below and when I use the window split (Ctrl-w n) it only makes the focused window

[2022-10-18 18:31] mehalter commented on #1125
Duplicate of #8

[2022-10-18 18:31] #1125 closed

[2022-10-18 18:31] mehalter commented on #1125
Please check relevant issues as the solution for this has been contributed in the relevant thread.

[2022-10-18 18:32] mehalter commented on #1125
You are missing setting `NormalNC`

[2022-10-18 19:09] azinsharaf opened #1126 "integrating tmux and astronvim"
### Question

How can I disable non-default plugins temporarily without commenting out them in `user/init.lua`?

### User Configuration

_No response_

[2022-10-18 19:11] mehalter commented on #1126
temporarily? I'm not sure, some plugins have the ability to toggle them with commands or APIs. It would be up to the plugin to provide this type of functionality

[2022-10-18 19:11] mehalter commented on #1126
commenting them out will uninstall them

[2022-10-18 19:14] azinsharaf commented on #1126
yeah so commenting out was not a good idea.
Do you have any non-default plugin example that has this capability?

[2022-10-19 01:40] mehalter commented on #1126
I'm not sure off the top of my head. What plugin are you trying to disable temporarily?

[2022-10-19 01:53] nappalm opened #1127 "Highlights not working when i change computer"
### Question

This is possibly not the right place to post this, but I have the following problem.

I have changed my computer, I am using windows.

In my previous computer I see that "language features" were initialized
![image](https://user-images.githubusercontent.com/35016608/196578066-85acfd71-2556-4126-bc23-1f490a0caefc.png)

In my current computer no, the highlight doesn't even work:
![imag

[2022-10-19 02:06] mehalter commented on #1127
What version of Neovim and AstroNvim are you using?

[2022-10-19 02:15] nappalm commented on #1127
NVIM v0.8.0-1210-gd367ed9b2

The command to display the versions does not work for me ` :AstroVersion`

[2022-10-19 02:16] mehalter commented on #1127
It sounds like you may have an older version of AstroNvim. Have you updated in a while? If you do update to v2.0 which adds Neovim 0.8 support you will need to do the migration guide to update your user configuration. But that is probably the reason you do not have highlighting, older versions of AstroNvim do not support Neovim 0.8

[2022-10-19 03:45] jayp0521 commented on #370
yes, the goal of this [branch](https://github.com/jayp0521/mason-nvim-dap.nvim/tree/autoSetup) is to remove the need to configure dap at all. just pass in what you want in `ensure_installed` and set `auto_setup = true`. This should configure dap based on their [installation wiki](https://github.com/mfussenegger/nvim-dap/wiki/Debug-Adapter-installation)

[2022-10-19 03:52] mehalter commented on #370
That's awesome news @jayp0521 ! So glad to see this. I will take a look and see if there's anywhere I can help out. Another feature that would be nice is to be able to indicate auto setup and then also be able to specify debuggers to skip the setup for just in case for example I was to use the auto setup for most languages but then maybe I use a language specific plugin for one of them that I want

[2022-10-19 03:53] mehalter commented on #1127
I also see that you have forked AstroNvim rather than doing the user configuration path. This is an unsupported use case and will keep you from being able to receive updates

[2022-10-19 04:04] nappalm commented on #1127
They are newbie configurations, sorry. I'll make that adjustment soon.
I have seen that the version of AstroNvim is: 1.9.2

[2022-10-19 04:12] jayp0521 opened #1128 "Investigate telescope-fzf-native.nvim windows support"
### Question

https://github.com/AstroNvim/AstroNvim/blob/893665a969129eb528e54b7e4bee1e6c952d6d25/lua/core/plugins.lua#L181-L186

I don't really know this plugin too well, but it seems as if `run` is missing in packer.nvim for it?

https://github.com/nvim-telescope/telescope-fzf-native.nvim#packernvim

### User Configuration

_No response_

[2022-10-19 04:12] jayp0521 commented on #1128
at least for the windows side, this seems true

[2022-10-19 04:15] jayp0521 commented on #1128
I think cmake &| make should be listed as a requirement as well. My installation seemed to be missing this

[2022-10-19 04:16] mehalter commented on #1128
It looks like fzf native has been working on windows support. The main funkiness we do here is for windows we actually don't use `fzf-native`, instead we have it install https://github.com/nvim-telescope/telescope-fzy-native.nvim

Which doesn't require building for Windows as it ships with a prebuilt binary. It is less performant though. Maybe we should look into improving this to use the new `fzf

[2022-10-19 04:18] jayp0521 commented on #1128
oohhh right. yes, sorry. slipped out of my brain

[2022-10-19 04:21] mehalter commented on #1128
Thanks for the heads up for the new additions to fzf native! I am going to reword this issue title and convert this to an enhancement so we can keep discussion here as I test this a bit more over the coming days :)

[2022-10-19 05:45] jlvihv opened #1129 "how to make copilot.lua and copilot-cmp work"
### Question

Previously I used copilot.vim and it worked fine, just had some minor issues, like occasionally inserting weird characters like '80kD'. Now I want to switch to the newly found copilot.lua and copilot-cmp, after setting it up as per the instructions it doesn't work as expected, can you give me some advice? Thank you.

Here are their links：

https://github.com/zbirenbaum/copilot.lua

h

[2022-10-19 05:47] jayp0521 commented on #370
https://github.com/jayp0521/mason-nvim-dap.nvim/tree/autoSetup

this is basically done. `disable` specific plugin feature is missing, but passing your own overrides should work. https://github.com/jayp0521/mason-nvim-dap.nvim/blob/autoSetup/lua/mason-nvim-dap/mappings/adapters.lua#L55

I just need to add a few more configs for newly added adapters like `elixir`.

`automatic_setup = true`

[code]

[2022-10-19 09:28] ShalokShalom opened #1130 "installing vim-ionide"
### Question

Both `LspInstall ionide` and `LspInstall ionide-vim` tell me that such a server does not exist.
Is there a search option?

### User Configuration

https://github.com/ionide/Ionide-vim

[2022-10-19 09:30] jstoone commented on #1129
I had this exact problem after following https://github.com/AstroNvim/AstroNvim/issues/974#issuecomment-1250570043.

As far as I've understood, the <80>kD is the same as the DEL (forward delete) button. So this can be triggered by writing a start parentheses, going back and triggering Copilot.

I've fixed it by moving the keybind to the `polish()` method:
[code]

[2022-10-19 10:50] jstoone commented on #1129
@jlvihv remember to close the issue if you problem has been solved. :v:

[2022-10-19 10:52] mehalter commented on #1130
Yeah you can use `:Mason` or `<leader>uP` to open the installer window and search the available packages. It looks like `ionide` is not supported. Also the link you sent shows you need to install it as a plugin with a run command added so you will need to add this to your user configuration in the `plugins.init` table

[2022-10-19 10:56] mehalter commented on #370
Awesome I can try testing this. Also I'm not sure if overriding it will be enough since plugins may do the configuration. It might be a good idea to add a way to skip certain setups if a plugin is handling the configuration of dap

[2022-10-19 10:58] mehalter commented on #1127
Ok cool, yeah you will need to update to the v2 of AstroNvim to get Neovim 0.8 support. Also v2 comes with checks to make sure you are using a supported version of Neovim and will alert you if you are not which can be helpful in the future for stuff like this :)

[2022-10-19 10:58] #1127 closed

[2022-10-19 11:04] ShalokShalom commented on #1130
Thanks

You mean not supported by AstroVim?

[2022-10-19 11:09] jlvihv commented on #1129
ok

[2022-10-19 11:09] #1129 closed

[2022-10-19 11:17] jstoone opened #1131 "Seeming random underlines on symbols"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.3.0

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

macOS 12.5.1 (21G83)

### Describe the bug

Upon opening a .tsx file within a NextJS project the majority of words seem to be underlined.

### Steps

[2022-10-19 12:40] GMFranceschini commented on #1116
I tested precisely what you suggested:

[code]

And I do obtain `nil` as a result.
Removing `data` and `cache` worked simply because the Lsp was gone. So, this has nothing to do with my config at this point but with neovim itself.  I will seek help in the `neovim` repo.

[code]

[2022-10-19 13:09] mehalter commented on #1116
Oh that's very very strange 🤔

[2022-10-19 13:11] mehalter commented on #1130
It's not supported to be installed with Mason. Mason installs external packages. The link you sent is a Neovim plugin, so you need to install it like a plugin. This is fully supported by AstroNvim :) you just need to make a user configuration file to modify what plugins are available. Check out the documentation website for how to do this: https://astronvim.github.io/Configuration/basic_configurat

[2022-10-19 13:34] mehalter commented on #1130
A minimal `user/init.lua` file that adds this plugin would just be this:

[code]

[2022-10-19 13:34] #1130 closed

[2022-10-19 13:44] mehalter commented on #1128
@jayp0521 do you use AstroNvim on windows? If you do, could you test the latest commit on `nightly`? This moves windows to also using `telescope-fzf-native`

[2022-10-19 21:24] krishnakumarg1984 commented on #1124
I can confirm that with vimtex, cmdheight=0 is completely broken, and heirline starts flickering badly. I had opened an issue with vimtex a few days ago about this.

https://github.com/lervag/vimtex/issues/2516

[2022-10-20 00:20] azinsharaf commented on #1126
i ma trying to configure [vim-tmux-navigator](https://github.com/christoomey/vim-tmux-navigator#tmux) but don't work as expected.

[2022-10-20 00:22] mehalter commented on #1126
@azinsharaf have you tried this without this plugin. We have `smart-splits` which has its own tmux navigation with `c-h/j/k/l`. Try uninstalling the plugin and see if it just works out of the box with AstroNvim :)

[2022-10-20 00:45] dohsimpson opened #1134 "Possible to override user/init.lua?"
### Question

First of all, I'm a big fan of the project. Haven't been this excited about something like this for years. Seeing how frequent you make commits is absolutely impressive.

I have a use case where I want to share the astronvim config between my personal and work station. The majority of the config should stay the same, but I want to add some work station specific customization.

For ex

[2022-10-20 01:04] azinsharaf commented on #1126
ok, things are getting interesting! Now I am using `smart-splits` out of the box and based on its document I integrated it with `tmux` using `TPM`. (link : https://github.com/mrjones2014/smart-splits.nvim#tmux-integration). It means I didn't install `vim-tmux-navigator` in `astronvim`. I just added its `TPM` part into `tmux.conf`.
So `ctrl hjkl` works in `tmux` but doesn't work between neovim pane

[2022-10-20 01:16] mehalter commented on #1126
This would be an issue with the plugin. It seems like your tmux config isn't passing the binding through to Neovim if you are in a Neovim pane. I personally use the bindings described rather than the tpm plugin. But yeah this would fall under issues with the plugins and unrelated to the AstroNvim stuff. Hopefully you can get it working though!

[2022-10-20 01:22] #1126 closed

[2022-10-20 08:42] jstoone commented on #1131
Thank you for the swift reply @mehalter!

I've tried uninstalling all LSP and TreeSitter modules.

Via Mason I install:
    ✓ tailwindcss-language-server
    ✓ typescript-language-server

I can't seem to think that it's something to do with the theme. As when I only have TreeSitter parser for `typescript` but not `tsx` I get the following:
![image](https://user-images.githubusercontent.com/1711456

[2022-10-20 09:01] alex289 opened #1135 "Help disabling a mapping"
### Question

Hey, I'm trying to add the GitHub Copilot plugin to my config but when trying to use it I can't use tab to autocomplete it. ":Copilot status" outputs `<Tab> map has been disabled or is claimed by another plugin`. I tried to disable the mapping without success. Any advice? :D

### User Configuration

[code]

[2022-10-20 10:12] jlvihv opened #1136 "How to show full file path in status bar"
### Question

When I use lsp to perform a jump in code, it sometimes jumps into the code of a 3rd party package, but there isn't a prominent prompt telling me where I'm at at this point, so I'd like to have the full file path displayed in the status line.

I don't know how to do it, the configuration of heirline seems to be a bit of a hassle, can anyone help me? Thank you.

### User Configuration

[2022-10-20 11:08] alex289 commented on #1135
Thanks for your help, I added this configuration and ":Copilot status" now output a success but I can't tab to complete things. Is `<C-cr>` mapping to something else?

[2022-10-20 11:12] jlvihv commented on #1135
You need to press 'ctrl + enter' to accept copilot's suggestions, or you can customize it to other keys.

[2022-10-20 11:23] alex289 commented on #1135
Thanks @jlvihv its working now ❤️

@mehalter I would still like to see if you don't mind 😄

[2022-10-20 11:23] #1135 closed

[2022-10-20 11:28] #1128 closed

[2022-10-20 12:56] mehalter commented on #1135
@alex289 here is how you would want to do this. It is configured through `cmp` the plugin so you need to remove the mappings from that config.

[code]

[2022-10-20 13:01] GMFranceschini commented on #1116
Ok, I understood my mistake. When installing `neovim` from the precompiled tar, I moved the executable to `/usr/bin/`. This caused the issue; executing `nvim` from the proper folder resulted in no error.
Honestly, I don't understand why this is the case, but I hope this could be useful for reference.

[2022-10-20 13:09] mehalter commented on #1134
You could do this in a variety of ways. One really simple way could be like this:

[code]

Where you use the lua programming language to build the final table that you want to return. This would really just take lua knowledge and understanding of the programming language and being careful that you don't introduce bugs into your logic for building the correct table.

Another way you could go about

[2022-10-20 13:09] #1134 closed

[2022-10-20 13:31] mehalter commented on #1136
I believe the best way to do this @jlvihv would be to change the modifiers on the filename and adding `filename` to the statusline rather than the filetype. Here is an example:

[code]

This will show the filename instead of the filetype. This will also change the modifier used to get the filename to display the path relative to the current working directory. That way if you jump to somewhere far

[2022-10-20 13:46] mehalter commented on #1131
@jstoone could you share your user configuration and I can see if I can replicate this. I have tried with my config and with a clean setup and I cannot replicate

[2022-10-20 14:13] mehalter commented on #1135
Yeah definitely!

[2022-10-20 14:50] jstoone commented on #1131
Thank you for taking all this time for this issue which clearly is something on my end, and not necessarily AstroVim related.

I might just go ahead and reset everything again, as my setup is fairly vanilla. But here's my user config from `lua/user/init.lua`:
[code]

Here is the diff from the example config, (my additions are marked as deletions):
[code]

[2022-10-20 14:54] haoyun opened #1137 "Unexpected scroll of the greeter/dashboard"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.3.0

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

Fedora release 36 (Thirty Six) x86_64

### Describe the bug

unexpected screen scroll

### Steps to Reproduce

1. start nvim
[code]
2. press `j`

###

[2022-10-20 14:55] #1131 closed

[2022-10-20 15:07] mehalter commented on #1137
Fixed in `nightly`

[2022-10-20 15:10] #1137 closed

[2022-10-20 15:52] mehalter commented on #1134
Also just in case you want to see it, here are the lua docs for the `default_tbl` function: https://astronvim.github.io/AstroNvim/modules/core.utils.html#astronvim.default_tbl

This page has all of the documentation for the internal methods and submodules that are available with the `astronvim` global lua variable that we set

[2022-10-20 17:37] azinsharaf opened #1141 "aerial plugin update issue"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.4.0

### Neovim version (>= 0.8)

0.8.0

### Operating system/version

Windows 11

### Describe the bug

It is a while that `aerial` plugin can't be updated. Is it a known issue and reproducible by others?

![image](https://use

[2022-10-20 17:54] mehalter commented on #1141
It looks like for some reason the clone of aerial that you have has gotten corrupted somehow maybe with a rebase with aerial or them changing tracked files.

The best way to get around this when plugin authors make weird changes to their git history/tracking is to go and manually fix the git clone or uninstall and reinstall the plugin.

[code]

[2022-10-20 17:54] #1141 closed

[2022-10-20 18:21] rokonio opened #1146 "What does (not loaded) means ?"
### Question

When I use `:PackerStatus` I see that after the line for LuaSnip, there's written (not loaded). What does that mean ? Can I use the plugin as usual ?

### User Configuration

_No response_

[2022-10-20 18:23] mehalter commented on #1146
Yeah, we do a lot of lazy loading of plugins so they are loaded when they are needed rather than loading everything on startup. Once you go into insert mode for the first time in a session it should load stuff like `cmp` and `luasnip` and completion related stuff since before you enter insert mode there is no way to use snippets or completion :)

[2022-10-20 18:34] rokonio commented on #1146
Thank you for the rapid answer !

I was also wondering what were the names of the different modes available in the key mapping (for example n is normal, but xhat does t mean ?)

[2022-10-20 18:47] #1146 closed

[2022-10-20 20:06] maxbrunet opened #1147 "Pass colorscheme attributes to Heirline"
### Is your feature related to a problem?

Colorscheme may set highlight attributes in addition to `fg`/`bg` colors (ellisonleao/gruvbox.nvim#119 / #1050)

With `gruvbox` for example `:highlight StatusLine` outputs:

[code]

### Describe the new feature

* Retrieve and return attributes in `astronvim.get_hlgroup()`
* Apply attributes to Heirline groups along side `fg` and `bg`

### Additional cont

[2022-10-20 20:51] rokonio opened #1148 "Add support for all luasnip loaders"
### Question

Hope it's my last question ^^
I'm following a tutorial, and I want to have the equivalent of this code in my config:
[code]
Where am I supposed to put it ? Will it work if I put it in my `nvim/lua/user/init.lua` just before the `return config` line ?

### User Configuration

_No response_

[2022-10-20 22:09] gigo6000 commented on #1057
where should the `.prettierrc` file be located? I usually have one per project, it was working fine like that with `vim-prettier`, but now is not working with Neovim (Astro Nvim) not sure if I need modify the `null-ls` config

[2022-10-20 22:47] jayp0521 commented on #1128
Sorry, I do not. Thanks for it!

[2022-10-20 22:50] gigo6000 commented on #1057
NVM, actually is loading the config, but it's ignore all the options for the import order plugin:
[code]

Strange because it works find if run the binary in the terminal.

[2022-10-20 22:53] mehalter commented on #1057
@gigo6000 did you install prettier from Mason? Or setting it up manually with null ls? My guess is you are using mason and that installation doesn't have the plugin available

[2022-10-20 23:00] gigo6000 commented on #1057
@mehalter I installed prettier globally via `yarn`. But that was actually the issue, for some reason it's not seeing the plugin like that, I had to actually install the packages in the project:
[code]

[2022-10-20 23:14] gigo6000 commented on #1057
@mehalter you were right, it was using the Mason binary. I had no idea Mason was doing that 🙄. I uninstalled the Mason package and also the local packages and it's working fine now with the global binary. Thanks so much for your help!

[2022-10-21 07:57] rikyborg opened #1149 "Error on reload when updating AstroNvim"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.3.0

### Neovim version (>= 0.8)

NVIM v0.8.0-1210-gd367ed9b2

### Operating system/version

Ubuntu 22.04.1 LTS

### Describe the bug

When updating AstroNvim (with `<leader>pA`), I get the following error:

[code]

The above

[2022-10-21 08:17] jstoone commented on #1131
Ohhh noooo hahaa. Thank you so much! ❤️

[2022-10-21 11:47] peku-jamf commented on #1136
unfortunately it's not always working, when I go to 3rd party library (which is obviously read-only) it throws below error:

<img width="1579" alt="image" src="https://user-images.githubusercontent.com/100716008/197188887-50e230af-edab-44fe-aca9-3c60c5bdd189.png">

[2022-10-21 12:54] mehalter commented on #1148
This is actually a good point, `luasnip` has added support for several different loaders now which is great. I just made a push to `nightly` branch that should make this very easy. Here is an example for how to add snippets for these loaders:

[code]

@rokonio could you switch to the nightly branch and see if this works for you? :)

[2022-10-21 14:44] mehalter commented on #1149
I just want to confirm that I can replicate this. I'm not completely sure why it happens yet sadly. It seems to be coming form the reload function after the upgrade is complete, but weirdly I can't replicate it doing a reload without an update. Luckily it seems to be mainly just cosmetic and ugly and doesn't affect the functionality. But definitely is on my todo list to fix ASAP. Sorry!

[2022-10-21 14:50] llimllib opened #1151 "`.` doesn't work as expected on a visual selection"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

Version: v2.4.2

### Neovim version (>= 0.8)

0.8.0

### Operating system/version

macOS 12.6

### Describe the bug

in default vim: `<shift-v>jjj<esc>>...` will select three lines, indent them once (`>`), then indent them three

[2022-10-21 14:53] mehalter commented on #1147
for now @maxbrunet I have come up with a little bandaid that should resolve your issues with `gruvbox` hopefully 🤞🏼 I am getting the full highlight group for the `StatusLine`/`WinBar`/`WinBarNC` so it should hopefully fix your issue for now. I am still going to try and resolve this with Heirline and get a much better fix put together.

[2022-10-21 14:55] mehalter commented on #1151
@llimllib we have actually remapped the visual mode `>` to make more sense. You can keep pressing `>` to keep indenting which you cannot do with a stock version of Neovim. so instead of `>...` you can just do `>>>>`. If you would like to remove this remapping you can do this in your `user/init.lua` file:

[code]

[2022-10-21 14:55] #1151 closed

[2022-10-21 14:56] llimllib commented on #1151
That doesn't explain why `.` doesn't repeat the action? This is hardwired into my fingers from decades of use!

[2022-10-21 14:57] llimllib commented on #1151
(i.e. it seems to me that the proper behavior would be that _both_ `>>>` and `>..` indent three times)

[2022-10-21 15:02] mehalter commented on #1151
sadly I don't think there is a binding to do this. `.` repeats the previous command in normal mode. The way we have `>` set up to be able to continuously do `>` is that it keeps you in visual mode after `>` so the `.` operator is not valid until you leave visual mode. Once you leave visual mode there is no selection to continue doing `>`. By staying in visual mode it also allows you to do `<` imme

[2022-10-21 15:07] llimllib commented on #1151
hmph, thanks for the update. Sounds dumb, but I think this tanks astronvim for me; thanks for the quick responses.

for what it's worth, disabling the indent and dedent mappings also did not work - they function as before even with the mapping you gave in your comment.

[2022-10-21 15:23] mehalter commented on #1151
I'm sorry that this tanks your opinions of AstroNvim. Also could you please share what you currently have in your `user/init.lua` file and I can help debug what's happening and why that code snippet didn't work? :)

[2022-10-21 16:04] PratamaRizki22 opened #1152 "Can't to open terminal with ctrl + \"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.4

### Neovim version (>= 0.8)

v0.8.0-1210-gd367ed9b2

### Operating system/version

Wsl ubuntu

### Describe the bug

Cant to open terminal in astrovim

### Steps to Reproduce

![image](https://user-images.githubusercontent.c

[2022-10-21 16:33] mehalter commented on #1152
This binding has been changed to `F7` since `v2` as specified in the Migration Guide. This binding conflicted with some very very important default bindings for controlling terminal mode: https://astronvim.github.io/Configuration/v2_migration

You can check the default mappings here: https://astronvim.github.io/Basic%20Usage/mappings#toggle-terminal-mappings

[2022-10-21 16:33] #1152 closed

[2022-10-21 16:35] llimllib commented on #1151
Apologies, I should clarify that my opinion of AstroNvim is still quite high! It just doesn't work for me I don't think, which is fine, it should be opinionated and I can see the viewpoint from which that change makes sense.

I don't mean to hate on your work at all, and apologies if I gave that impression.

I appreciate the offer! But I just wanted to report it - I want back to my previous config

[2022-10-21 16:46] mehalter commented on #1151
Ok no problem :) yeah it's tough managing an opinionated configuration which is why we have taken the route of making it easy to change the opinions on the user side since not many people will be happy with anything 100% out of the box.

[2022-10-21 16:47] mehalter commented on #1151
For reference, I also disable these `>` and `<` bindings along with many other default bindings to make the setup fit my own workflow :joy: If you are interested to see the level of customization, you can take a peek at my config here: https://code.mehalter.com/projects/68

[2022-10-21 18:58] maxbrunet opened #1153 "Start LSP server on BufEnter"
### Is your feature related to a problem?

When opening a file (`BufEnter` event if I'm correct) the LSP server is not started, meaning features like GoTo, Aerial, diagnostics, document highlights... are not available without going into insert mode first (`InsertEnter` event if I'm correct again) (and often existing to normal mode immediately)

### Describe the new feature

Start LSP server on Buf

[2022-10-21 19:01] maxbrunet commented on #1147
Hey @mehalter, thank you for taking a look at this, I've tried the `nightly` branch, here's what it looks like:

![image](https://user-images.githubusercontent.com/32458727/197250181-5dec09ec-7567-4058-9477-26e6c4b1e08d.png)

No hurry though, I've been reviewing my config in the past couple days and removing the few hacky or sub-optimal settings, but overall it works great, mainly thanks to you!

[2022-10-21 19:31] DeeGeeMan opened #1154 "Key mapping issues"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.3.0

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

macOS 12.6

### Describe the bug

I am unable to remap the default `<leader>d` in my `mappings.lua` file when calling `vim.keymap.set`.

### Steps to

[2022-10-21 19:35] DeeGeeMan commented on #1154
I've misspoke, `vim.api.nvim_set_keymap` doesn't work either. ☹️

[2022-10-21 19:36] mehalter commented on #1154
Please check the documentation on this: https://astronvim.github.io/Configuration/basic_configuration

Notice the mappings table, your `mappings.lua` file should look something like this:

[code]

This will overwrite the internal mapping before it ever gets set :)

[2022-10-21 19:39] DeeGeeMan commented on #1154
I saw one of the examples in the[ Black Belt Example User Configs](https://astronvim.github.io/Recipes/black_belt) from **thieung**.

[2022-10-21 19:41] mehalter commented on #1154
@DeeGeeMan @thieung is doing something different. They are calling that from their `polish` function in the file `init.lua`

[2022-10-21 19:42] DeeGeeMan commented on #1154
Ok, I will do the same...thanks!

[2022-10-21 19:45] mehalter commented on #1154
I'm not sure if I would recommend this because it will mean that `user.mappings` will be ran twice. Once when we do the mapping stuff and it will provide no overriding, then the mappings will get overridden by the default mappings and then it will run again when the polish function goes and it will set the mappings again. This is optimizing a pretty minute amount of time, but it will be redundant

[2022-10-21 19:45] #1154 closed

[2022-10-21 19:46] DeeGeeMan commented on #1154
Still doesn't work. 😞

[2022-10-21 19:47] mehalter commented on #1154
:( if you can share your user configuration I can take a look and see where things are going wrong next week and help out :) is there a reason you don't want to use the `mappings.lua` table structure? This will be the most performant and optimized way to change and add mappings

[2022-10-21 19:51] DeeGeeMan commented on #1154
I can if can use a `for..loop` in a function to replace the following...
[code]

[2022-10-21 19:53] mehalter commented on #1154
Yeah you can :) I can help you out on Monday. I'm heading out of town today for the weekend and will not be by a computer. What you are looking for is this: https://astronvim.github.io/Configuration/override_formats#override-function

[2022-10-21 19:54] DeeGeeMan commented on #1154
I also like defining the same mapping in tow different modes...

Example:
`map({ "n", "v" }, "j", "gj", { desc = "Nagivate down" })`

[2022-10-21 20:14] DeeGeeMan commented on #1154
To get it working in the `polish.lua` file, I have to define the mapping directly...

Works:
[code]

Doesn't work:
[code]

[2022-10-21 21:03] DeeGeeMan commented on #1154
I just realized I can use `[""]` for `map` mode.

[code]

[2022-10-21 21:33] DeeGeeMan commented on #1154
Here is my attempt to get it working as a function that works...
[code]

[2022-10-22 01:39] ywpkwon commented on #911
I tried to add
[code]
- Is this different than the above solution? (I'm a lua newbie)
- Should the value be `nil` to use the command?

I tried `true` or `nil`, but still `:updateRemotePlugins` gives me `Not an editor command`. What I am I missing here?

[2022-10-22 04:42] leozhang1 opened #1155 "how to add tomorrow night theme to my neovim"
### Question

I would like to use the tomorrow night theme from this repo: https://github.com/ChrisKempson/Tomorrow-Theme
I checked some issues on here that were solved but the folder layout seems to have changed since so it's hard to follow along, hence why I am posting an issue myself.
I have a feeling im sharing the wrong init.lua as I didn't do any setup yet.

### User Configuration

[code]

[2022-10-22 09:14] acfuns opened #1156 "windows run error after update"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.4.2

### Neovim version (>= 0.8)

NVIM 0.8 stable

### Operating system/version

windows11 22H

### Describe the bug

![image](https://user-images.githubusercontent.com/55129666/197331402-9cf34945-7459-468d-85d6-b616bb7c7219.pn

[2022-10-22 09:21] rokonio commented on #1148
I switched to nightly but I don't know if it works, because my snippets wont expand.

My config file
[code]
and my `~/.config/LuaSnip/all.lua`:
[code]

[2022-10-22 11:04] ttnsgn opened #1157 "how to highlight cursorline with desired transparent color?"
### Question

Wanna to set highlighted cursorline with desired color (transparent color will be nicer) here is my so not-worked user config

I got error
`.config/nvim/lua/core/bootstrap.lua:4: Vim:E5113: Error while calling lua chunk: /home/tatan/.config/nvim/lua/default_theme/init.lua:45: '#5c6370
' is not a valid color`

### User Configuration

_No response_

[2022-10-22 13:39] acfuns commented on #1156
But I use *make* build telescope-fzf-nalive.nvim, it works. I think *cmake* build maybe error.

[2022-10-22 14:04] jlvihv commented on #1136
@peku-jamf   Yes, I also have this problem, the strange thing is that it doesn't always happen, it seems to only happen when the first jump to third-party code after startup, I guess this part of the code may need an initialization operation, unfortunately I don't know anything about lua and can't figure this out.

[2022-10-22 21:57] PaulKushch opened #1160 "Failed to load parser when using eslint_d after updating Astronvim"
### Question

I just updated stable version to `v.2.4.2`.

And I started getting this error for all imports with `eslint_d` version `12.2.1` (in tsx/js files):

![image](https://user-images.githubusercontent.com/5386035/197363733-0dd1829c-86fe-40a8-9ac0-3d6f1a15b334.png)

Anyone else having the same issue and maybe some solution?

Best regards

### User Configuration

_No response_

[2022-10-22 22:14] florentsorel opened #1161 "Custom theme doesn't work for me"
### Question

Hi!

I would like to install the dracula theme from this [repo](https://github.com/Mofiqul/dracula.nvim) and I know it's possible because of this closed [issue](https://github.com/AstroNvim/AstroNvim/issues/814) but it doesnt't work for me so I think I missed something.

I did `:PackerSync` and `:AstroUpdate` but when I open neovim I still have the default theme.

Can you help me ple

[2022-10-22 22:25] florentsorel commented on #1161
I don't know why but I rerun `:PackerSync` and now it's working.

[2022-10-22 22:25] #1161 closed

[2022-10-23 05:18] kabinspace commented on #1157
which AstroNvim version are you on? your `user/init.lua` API looks outdated

[2022-10-23 06:17] kabinspace commented on #1155
You would need to install the theme by first defining the plugin [here[(https://github.com/AstroNvim/AstroNvim/blob/5288bad46858f15f2290aeb3d09c8bd8e58b7882/lua/user_example/init.lua#L221) and put the name of your theme [here](https://github.com/AstroNvim/AstroNvim/blob/5288bad46858f15f2290aeb3d09c8bd8e58b7882/lua/user_example/init.lua#L29). Afterwards, do `:PackerInstall` and your theme should be

[2022-10-23 06:17] #1155 closed

[2022-10-23 10:18] ttnsgn commented on #1157
version v2.4.2

[2022-10-23 13:18] queue-tip opened #1162 "Terraform hcl files"
### Question

What enables treesitter for a given file? It's probably a coincidence, but ever since the update to the highlight groups in `nvim-treesitter` `terraform` files no longer have syntax highlighting. Treesitter isn't even enabled for those buffers.

Reinstalling the `hcl` parser for treesitter while I'm in the buffer immediately starts treesitter as expected, and then things look fine. C

[2022-10-23 15:38] Noxdor opened #1163 "Switching off a code formatter from null_ls"
### Question

I am struggling with a situation, were I have two conflicting code formatters that are both connected to the buffer via `null_ls`.

An example:
I have the following JavaScript code example
[code]

and `prettier` installed as a formatter, as well as `eslint_d` as a linter (unfortunately it also has code formatting capabilities). Now, running `lua vim.lsp.buf.format()` should use `pret

[2022-10-23 16:07] Noxdor commented on #1163
Hmm I just realised that my solution is actually working 😂 So with that filter function shown in my user config, when I change something in the `.prettierrc` config file and format again, the change is reflected, meaning (at least the last) formatter is `prettier` as I want it. If I comment out the function, the change is not reflected which means `eslint_d` must be (the last) formatter. I guess t

[2022-10-23 16:07] #1163 closed

[2022-10-23 16:22] leozhang1 commented on #1155
Can you please show me step by step? I have already did the packer install.

[2022-10-23 17:10] leozhang1 opened #1164 "how to install/uninstall plugins?"
### Question

astrovim provides a bunch of plugins that are really nice for getting me started but can you please show me step by step by how to add and remove plugins? I don't have a user folder. I have a user_example folder. I have no clue what to do so please inform me as if I am in a complete newbie.

any help is appreciated.

### User Configuration

_No response_

[2022-10-23 17:14] mehalter commented on #1164
Have you had a chance to read through the documentation? :)

https://astronvim.github.io/Configuration/manage_user_config

[2022-10-23 17:36] TheButlah opened #1165 ":bd crashes nvim"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.4.2

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

macOS 12.6

### Describe the bug

`:bd` crashes `nvim`

### Steps to Reproduce

1. Run `nvim`
2. Open the file tree: `<SPACE>e`
3. Edit a file: `:e f

[2022-10-23 18:05] simgre opened #1166 "Issues loading descriptions for Comment.nvim"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.4.2

### Neovim version (>= 0.8)

NVIM 0.8.0

### Operating system/version

EndeavourOS Linux

### Describe the bug

The description for Comment.nvim on a fresh install is not loading until the keys are pressed for the first ti

[2022-10-23 18:32] kabinspace commented on #1157
have you checked the latest `user/init.lua`? changing theme is different in the updated `user/init.lua`

[2022-10-23 18:36] mehalter commented on #1157
@kabinspace the API the user is using is still valid and there are reasons to use one or the other. I won't be at a computer until tomorrow, but just heads up the `default_theme.highlights` table is totally valid.

[2022-10-23 19:08] kabinspace commented on #1157
@mehalter ahh, i see. i thought it got deprecated with 2.0

[2022-10-23 19:17] kabinspace commented on #1164
To install plugins you have to add it in [this](https://github.com/AstroNvim/AstroNvim/blob/5288bad46858f15f2290aeb3d09c8bd8e58b7882/lua/user_example/init.lua#L221) section. which would be like `{ "andweeb/presence.nvim" }` and do `:PackerInstall` and to uninstall the plugin you can remove the line that you just added and do `:PackerClean`. I would strongly recommend to learn some basic lua else i

[2022-10-23 19:17] #1164 closed

[2022-10-23 19:27] kabinspace commented on #1155
are you sure you have created a `user` folder?

[2022-10-23 19:35] kabinspace commented on #1157
@ttnsgn could you try this instead
[code]

[2022-10-24 01:25] mehalter opened #1168 "Add search count to statusline"
### Is your feature related to a problem?

With `cmdheight=0` it can be hard to see search count when doing a search

### Describe the new feature

Add a statusline component to show search count when searching. Similar to how we show macro recordings

### Additional context

_No response_

[2022-10-24 12:27] mehalter commented on #1156
Thanks for reporting this, I have resolved this in the latest nightly :)

[2022-10-24 12:27] #1156 closed

[2022-10-24 12:29] mehalter commented on #1157
yeah `ctermfg` and `ctermbg` is  a bit different in colors than `fg` and `bg`. Also this is a duplicate I believe of #8. I am going to close this in favor of keeping conversation together for the same issue. Please check out that issue and see if it resolves your problems. If not, feel free to comment on that issue for discussion

[2022-10-24 12:29] #1157 closed

[2022-10-24 13:10] #1168 closed

[2022-10-24 13:48] TheButlah opened #1169 ":vsplit crashes nvim"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.4.2

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

macOS 12.6

### Describe the bug

Attempting to `:vsplit` when nerd-tree is the only window causes nvim to crash

### Steps to Reproduce

1. Open `nv

[2022-10-24 14:13] #1165 closed

[2022-10-24 14:17] mehalter commented on #1169
This is coming from an autocmd that we have that tries to auto quit if the last window is only sidebars. Most users want this behavior because they don't treat `neo-tree` and `aerial` as their own windows, but "temp" windows. This can be disabled in your user config by removing the autocommand:

[code]

Hopefully this helps point you in the right direction :)

[2022-10-24 14:18] mehalter commented on #1153
I can't replicate this behavior @maxbrunet it should be starting when the file is loaded

[2022-10-24 14:20] mehalter commented on #1147
@maxbrunet a new change has come out with Heirline, could you test the latest with the `nightly` channel and see if you get the same result as the screenshot you sent? I am planning on reworking the statusline stuff to use highlight groups more properly now that the upstream highlight group support has been fixed.

[2022-10-24 14:21] TheButlah commented on #1169
Makes sense, I think!

This I don't understand - when doing a vsplit surely there should be a new window now. So why would the auto quit happen? There would be 2 windows - one is a "temp window" (the file tree) and one is a real window.

[2022-10-24 14:21] mehalter commented on #1160
I haven't run into this before and can't seem to replicate it. It might be a good idea to join the AstroNvim discord to see if other people in the community have had similar problems like this.

[2022-10-24 14:21] #1160 closed

[2022-10-24 14:22] mehalter commented on #1162
@queue-tip could you try refreshing your installation files and reinstalling everything to see if it could be something in your cache?

[code]

[2022-10-24 14:33] lcfd commented on #1002
Hi @mehalter!
I think you are correct but do you have any idea about how to make it work if the `tailwind.config.js` file is in a subfolder?

I'm using https://github.com/timonweb/django-tailwind and it creates a Django app to manage Tailwind.
A pattern like this It's not uncommon for full-stack projects.

[2022-10-24 14:39] mehalter commented on #1166
Resolved this in the latest `nightly` :)

[2022-10-24 14:39] #1166 closed

[2022-10-24 14:39] mehalter commented on #1166
Should be released to the stable channel sometime this week as we wrap up other stuff that needs to be pushed out as well. Thanks for reporting this!

[2022-10-24 14:41] NiciTheNici commented on #1002
@mehalter Also sorry for the late reply, but it works like a charm!

![2022-10-24T16:40:34,699120199+02:00](https://user-images.githubusercontent.com/51826257/197553705-2e945476-caf1-41e4-8dac-93fdd1a24ccb.png)

[2022-10-24 14:47] mehalter commented on #1169
@TheButlah I have improved this auto command to resolve this issue on `nightly` :) Should be merged to stable sometime this week!

[2022-10-24 14:47] #1169 closed

[2022-10-24 14:52] TheButlah commented on #1169
(commit is 585a8b52903cedd1bfc76c832cbb07042181d497)

[2022-10-24 14:54] mehalter commented on #1148
@rokonio it looks like you defined the path in your config to `~/.config/nvim/LuaSnip` but then put the file in `~/.config/LuaSnip`. You will need to update the path to point to the correct location.

[2022-10-24 15:06] rokonio commented on #1148
Oh yeah sorry it was a typo in my original message, but the path was right on my computer. I typed a command (don't remember which one) that showed active snippets files and mine were loaded fine so I don't think it's a problem due to loading. But I still cannot use them, and I think it's due to key bindings, but I'm not sur how.

[2022-10-24 15:46] rokonio commented on #1148
![image](https://user-images.githubusercontent.com/61879190/197568889-d5611600-2486-48f4-89fd-bf70a02b21d7.png)
(most recent commit on the nightly branch)

[2022-10-24 15:48] mehalter commented on #1148
ah sorry! typo on my part, could you try getting the latest and trying it again? :)

[2022-10-24 16:01] rokonio commented on #1148
No errors this time, but still not working

[2022-10-24 16:11] rokonio commented on #1148
Just to make sure, once I have my snippet loaded, I'm supposed to type the triggers (so `hi` in my example) than Tab to expand ? Because when I press Tab, the auto completion menu opens up, but none of the options are my snippet. I also tried to use other keys instead of tab (in the config), and when I press it, the only thing that happening is the status bar at the bottom disappearing

[2022-10-24 16:39] simgre commented on #1166
Lovely! Thank you for maintaining this project!

[2022-10-24 19:47] maxbrunet commented on #1153
Here is a minimal config if that helps to reproduce:

[code]

I checked `mason-lspconfig` and it is not affected, this starts as soon as the file is opened:

[code]

(`null-ls` is fine too if you wonder)

[2022-10-24 20:17] maxbrunet commented on #1147
Thank you for the update, now I get that:

![image](https://user-images.githubusercontent.com/32458727/197618028-2b8748ad-0614-4d30-929b-0d9355cb9a59.png)

And the hard-coded workaround does not work anymore:

![image](https://user-images.githubusercontent.com/32458727/197619948-efa8a79c-25a4-448d-8b21-f001abbd8608.png)

[2022-10-24 21:59] mehalter commented on #1153
Ah I see I see, I can replicate this. I will need to investigate this to see why this is happening. It seems to be because of our `vim.schedule` call. I'll try to get a good fix together for this :)

[2022-10-24 22:53] ywpkwon opened #1170 "UpdateRemotePlugins still doesn't work"
### Question

I want use `gelguy/wilder.nvim`, whch requires `:UpdateRemotePlugins` command for it to work. (I was using it with NvChad).

I noticed AstroNvim doesn't have the `:UpdateRemotePlugins` command. By #911, I tried to set `loaded_remote_plugins = nil` like below. (other parts are copied from the `user_example`.) But still, the command is still disabled. How can I enable the command? Or,

[2022-10-24 23:09] haoyun opened #1171 "range format issue"
https://github.com/AstroNvim/AstroNvim/blob/5288bad46858f15f2290aeb3d09c8bd8e58b7882/lua/core/utils/lsp.lua#L81

It seems that this key mapping does not work for range format. Nothing happens when I select some code, then `<space>lf`.

Instead, selecting a range and manually calling `:'<,'>lua vim.lsp.buf.format()` works.

Am I misusing it?

related: #1082

[2022-10-24 23:50] #1171 closed

[2022-10-25 00:17] maxdevjs opened #1172 "[Curiosity] Redefine Emmet-vim trigger key (and similar things)"
### Question

I did redefine the [Emmet-vim](https://github.com/mattn/emmet-vim) trigger key
adding to `$XDG_CONFIG_HOME/astronvim/lua/user/init.lua`:

[code]
Is this the correct way to do it? If so, there are alternatives that I should be aware of?

### User Configuration

_No response_

[2022-10-25 00:57] leozhang1 commented on #1164
Okay thanks for the tip. I made a folder called user copied from user_example like the documentation said. I was able to set relative number to false and it worked. No more relative numbers. Okay. I will look into learning some lua.

[2022-10-25 00:57] leozhang1 commented on #1164
Thank you. Just did!

[2022-10-25 01:05] leozhang1 commented on #1155
###

I am still having trouble importing the tomorrow night theme after creating the user folder. Could you please help me?

[2022-10-25 01:55] cseickel commented on #1165
This is something that is really a misunderstanding or difference of opinion on what `close_if_last_window` means. See these closed issues for reference:

https://github.com/nvim-neo-tree/neo-tree.nvim/issues/241

https://github.com/nvim-neo-tree/neo-tree.nvim/issues/364

The relevant suggestions from those are:

or disable `close_if_last_window` and use this instead:

[code]

[2022-10-25 02:47] LuisA92 opened #1173 "Select first item on autocompletion list"
### Question

Hello,

I just installed AstroNvim and I noticed that the first word on the autocompletion list is not automatically selected. I have to tab to the item and then press enter to select it.

Is there any way to change this behavior?

I tried changing the behavior by using `completeopt = {"menu","noinsert"}` and `preselect = cmp.PreslectMode.None` but the behavior remains unchanged.

##

[2022-10-25 05:30] kabinspace commented on #1173
This would automatically select your first item from the menu
[code]

[2022-10-25 08:20] thepauljones opened #1174 "Colors in vim-fugitive window"
### Question

I'm a little confused as to where Is should start with this problem. I'm not sure if it's a color scheme issue or something to do with plugin configuration but:

I've switched to `vim-fugitive` for git stuff, and it's working fine, but the diff that it shows in the `:Git` window no longer has the coloring that it natives has (removed lines, ones which begin with a `-` were red, added

[2022-10-25 13:08] mehalter commented on #1148
@rokonio I found I had a typo in my code. I have tested this with this minimal config:

`user/init.lua`:

[code]

`user/LuaSnip/all.lua`

[code]

![2022-10-25_09:08:13_screenshot](https://user-images.githubusercontent.com/1591837/197781386-407e4136-f7cb-46cb-b4f8-8394bc69e237.png)

Make sure to pull the latest from nightly :)

[2022-10-25 13:08] #1148 closed

[2022-10-25 13:13] mehalter commented on #1147
@maxbrunet I have gone ahead and reverted the heirline changes that I have made because it caused a bunch of instability :/ I will need to think about if there is a really nice way to do this without causing a bunch of breaking changes. I might have to push this down the road a bit to get a good solution together.

One thing you can do which would be a really nice way to resolve this one theme iss

[2022-10-25 13:35] rokonio commented on #1148
I does work now, thank you a lot ^^

Also thank you for your amazing work on this project, it's awesome !

[2022-10-25 13:35] mehalter commented on #1170
@ywpkwon because of the nature of how these override tables work and what `nil` means in the Lua programming language, you cannot override a value with `nil` because it's treated the same in Lua as no value ever being set in a table so it doesn't know if you just never specified it or manually specified it to `nil`. To combat this we have a more powerful, function override format (https://astronvi

[2022-10-25 13:35] #1170 closed

[2022-10-25 13:36] mehalter commented on #1170
Please continue discussion of #911 this is a duplicate.

[2022-10-25 13:36] mehalter commented on #1172
That is definitely a completely valid way to do this. You can also do this with the `options` table:

[code]

[2022-10-25 13:36] #1172 closed

[2022-10-25 13:52] mehalter commented on #1153
@maxbrunet could you test out the latest `nightly`?

[2022-10-25 13:53] mehalter commented on #1153
I ended up just removing the scheduling of the LSP setup. I have tested it in several different situations and I'm pretty sure it's working fully. I'm not sure why we added this which makes me worried I'm not thinking about some edge case 🤔 We will see as people use `nightly`. Hopefully this doesn't cause a big mess :joy:

[2022-10-25 14:38] queue-tip commented on #1162
That's a great suggestion. It came back when I refreshed the install. Then I removed my user settings, refreshed, and added the hcl parser to treesitter and it works as expected.

It's definitely an issue in a recent change I made to my config. I'll find it. Thanks for the tip!

[2022-10-25 14:38] #1162 closed

[2022-10-25 15:12] LuisA92 commented on #1173
@kabinspace I found 'completeopt` under `options.lua` and I tried using 'completeopt = "menu,menuone,noinsert"` but it did not work.

I added

[code]
to `cmp.lua` and now the first item is highlighted.

[2022-10-25 15:29] rokonio opened #1175 "How to disable friendly-snippets"
### Question

When disabling friendly-snippets, LuaSnip craches:
![image](https://user-images.githubusercontent.com/61879190/197816674-e43d7556-b845-4537-a9e8-578afb1f6fd3.png)

### User Configuration

_No response_

[2022-10-25 16:45] kabinspace commented on #1173
yes, you were supposed to add that for `cmp` not for `options`

[2022-10-25 16:45] #1173 closed

[2022-10-25 17:10] maxbrunet commented on #1147
No problem :+1:

Thank you for the suggestion, yes, that would be a nicer workaround, unfortunately, it seems Heirline gets the group before the override happens, I had to keep my old workaround for the `section_` fg/bg and override this line for `fg`/`bg`:

https://github.com/AstroNvim/AstroNvim/blob/c69d25a22538c64651d9a018f0fa945616975d45/lua/configs/heirline.lua#L72

[code]

It seems to be red

[2022-10-25 17:14] maxbrunet commented on #1153
Working well, thank you!

[2022-10-25 17:15] LuisA92 commented on #1173
@kabinspace Great, thank you!

[2022-10-25 18:53] ywpkwon commented on #1170
Sure. But then, how to reopen #911? I'm worried that no one would answer because that is closed. :crying_cat_face:

[2022-10-25 18:56] mehalter commented on #911
@ywpkwon yeah, you will need to set the value to `nil`. This is a very legacy `vim` feature that was before there was an idea of `boolean` values in vimscript. So to check if something was "on" or "off" they check if the value is set or not set. No matter what value you set to `loaded_remote_plugins` it will be considered "loaded" and will get skipped. That is the reason it needs to be `nil`. Beca

[2022-10-25 18:56] mehalter commented on #1170
No need to re-open it, I will answer it :)

[2022-10-25 18:56] mehalter commented on #911
I would recommend checking out the code snippet that I sent in #1170 as it resolves you issue :)

[2022-10-25 19:22] ywpkwon commented on #1170
Thanks a lot! :)

[2022-10-25 20:11] patrickphat opened #1179 "Bindings for moving between git, buf, and files in explorer? #328"
### Question

<img width="287" alt="image" src="https://user-images.githubusercontent.com/45748186/197872035-24503ee0-35e3-418a-bf7e-8fbae9d4a0d5.png">
What are the shortcuts to move between "files", "git" , and "buf" in explorer? I don't seem to find where the key bindings for this set up

Thanks guys!

### User Configuration

_No response_

[2022-10-25 22:39] ywpkwon commented on #1154
@mehalter I wanted to override `H` and `L` as below. (origianally `previous buffer` and `next buffer`, respectively.). But I think there's randomness which one runs later.

When I launch `nvim` one time, `H` and `L` works as I want. Next time, `H` and `L` shows original behavior. I also verified one time `H` does `previous buffer`, but `L` does `end of line`. ...:open_mouth: !?

I'm not sure how m

[2022-10-25 23:05] kunzaatko opened #1180 "Deprecated configuration option in treesitter"
### Question

In `configs/treesitter.lua`, there is a setting  `autopairs = { enable = true },`. Is this some kind of relict of some old configuration? I didn't find anything about this setting in the treesitter help and nvim-autopairs plugin.

### User Configuration

_No response_

[2022-10-25 23:44] ipsod opened #1181 "What's wrong with this keymap?"
### Question

I know how I'd map this in a .vimrc:
    `nmap <a-o> viiy:@"<cr>`  (vii is from vim-indent-object)

This mapping in user/init.lua isn't working, though:

        local config = {
                mappings = {
                        n = {
                                ['<A-o>'] = { 'viiy:@"<CR>', desc = "nvim execute fold" },
                        }
                }
        }

Ca

[2022-10-26 01:48] leozhang1 opened #1182 "how to change theme to astrovim"
### Question

in ~/.config/nvim/lua/user/init.lua, theres a colorscheme key/value pair, but I am not sure what themes are available out of the box and how to add new themes to astrovim. The docs aren't clear about this :https://astronvim.github.io/Recipes/colorscheme

Also please don't close my issue when I still need help. Keep it open. I will close it. Thanks.

### User Configuration

_No respon

[2022-10-26 02:30] mehalter commented on #1182
The only theme out of the box is the default theme. Any other theme will need to be installed as a plugin in the `plugins.init` table as shown in the docs. And the value is defined by that plugin/theme.

[2022-10-26 02:40] CrazyVideoGamer opened #1183 ""The following untracked working tree files would be overwritten by checkout" error when trying to run `:PackerSync` and set up AstroNvim"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.4.2

### Neovim version (>= 0.8)

NVIM v0.8.0-1210-gd367ed9b2

### Operating system/version

Windows 10

### Describe the bug

When I try to run :PackerSync, I get errors for the packages

And here's all the expaned errors:
[co

[2022-10-26 02:49] CrazyVideoGamer commented on #1183
I just realized that if I go into the packer/opt folder, it has the packages. And, here's what I get when I run `git status` in the telescope.nvim folder:
[code]

[2022-10-26 02:56] CrazyVideoGamer commented on #1183
Success!
![image](https://user-images.githubusercontent.com/59106025/197923773-6157d043-8cdd-4acb-a8ae-b505d1d5a177.png)

[2022-10-26 02:56] #1183 closed

[2022-10-26 08:03] peku-jamf commented on #1136
for me the only option that works is following: ":~", but sometimes the paths might be really long

perhaps this could be the way for the future https://github.com/rebelot/heirline.nvim/blob/master/cookbook.md#working-directory

or I can imagine sort of on_click option for the filename component, that would show full path of the filename on click

[2022-10-26 08:42] kabinspace commented on #1182
[docs](https://astronvim.github.io/Recipes/colorscheme) clearly show how to add a new theme. In this case, the doc is showing how to install and use [catpuccin](https://github.com/catppuccin/nvim) theme. And as for the out-of-the-box theme, there is only one theme which is called `default_theme` based on onedark color palette.

[2022-10-26 09:38] rokonio commented on #1181
The mapping needs to be in the config table. Your mapping table is already defined at line 190.

[2022-10-26 09:54] mehalter commented on #1181
Yeah like @rokonio said, you are setting the variable `config` twice. So immediately after creating your mapping you overwrite the config table with the 2nd definition of `config`. Your `user/init.lua` file should be returning a single table with all configurations in it

[2022-10-26 09:55] mehalter commented on #1179
Neo-tree has a default set of bindings. You can check them in their documentation or `?` key in the tree. The binding you are link for us `>` and `<`

[2022-10-26 09:55] #1153 closed

[2022-10-26 09:57] mehalter commented on #1147
Oh hm that's a good point, I will investigate this to see if I can fix the ordering... Not sure if you can add priority to autocmds

[2022-10-26 12:17] peku-jamf commented on #1136
found out that even ':~' option is not working properly every time..

@jlvihv if it helps, I've workarounded this by setting up some keybindings to see the full path on demand
-- on mouse click
[code]
-- key binding
[code]

[2022-10-26 12:35] mehalter commented on #1180
Thanks for pointing this out! It looks like it was deprecated at some point. I made a push to `nightly` that removes this :)

[2022-10-26 12:35] #1180 closed

[2022-10-26 12:38] mehalter commented on #1175
You will want to make sure to disable the lazy loading that we have in `LuaSnip`:

[code]

[2022-10-26 12:38] #1175 closed

[2022-10-26 12:39] #1179 closed

[2022-10-26 12:54] kunzaatko commented on #1180
Great, thanks for the clarification!

[2022-10-26 12:57] ipsod commented on #1181
Sorry, I must've been unclear.  Nothing before the line  "User Configuration" exists inside of my code - it's just a minimal extraction from the code below.  The mapping still isn't working, though I can hit those keys and it does the correct thing, and the vimscript version works fine as well.

[2022-10-26 13:00] mehalter commented on #1181
I'm not sure I follow, can you please copy/paste the exact `user/init.lua` content here then?

[2022-10-26 13:15] ipsod commented on #1181
Oh, I see - I accidentally left those lines, but they were only there so I could edit them to ask this question.  I'll post my updated `init.lua` below

I've also verified that the keymap itself works, by remapping it to a known-working function.  It's the "action" part of it that isn't working.

        --              AstroNvim Configuration Table
        -- All configuration changes should go i

[2022-10-26 13:41] mehalter commented on #1147
@maxbrunet I believe I have solved this issue now :) Could you try pulling the latest nightly and see if the nicer work around is working now?

[2022-10-26 13:54] ipsod commented on #1181
Ok, thanks.  Glad to know where to go with such questions.  I'll first try using `vim-textobj-fold`, instead of fixing this - hopefully that will work, because it'd be fine for my purpose.

Lol, that was like the first thing I tried to do in Lua.  It makes me wary of it.  Is this common?

[2022-10-26 13:55] mehalter commented on #1181
haha I've never seen something this funky :joy:

[2022-10-26 14:00] #1181 closed

[2022-10-26 17:39] maxbrunet commented on #1147
Same result as before :(

[2022-10-26 18:21] mehalter commented on #1147
![2022-10-26_14:20:43_screenshot](https://user-images.githubusercontent.com/1591837/198105515-2ff4e6fd-edc2-4c1f-9f2e-6c7516704d8f.png)

hm @maxbrunet I also can't replicate with gruvbox directly either

[2022-10-26 18:49] maxbrunet commented on #1147
:confused: With 63aa352f6b2d519f92917a75d33dcafff1de8c9b and minimal config:

[code]

The highlight group is overridden:

[code]

But:

![image](https://user-images.githubusercontent.com/32458727/198110550-c83b7539-02b4-4f80-b865-d9f0e3cbc5be.png)

[2022-10-26 19:20] azinsharaf opened #1188 "ShaDa file error"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.4.2

### Neovim version (>= 0.8)

0.8.0

### Operating system/version

Windows 11

### Describe the bug

Am I the only one getting this when luanching neovim today:

[code]

### Steps to Reproduce

-

### Expected behavior

-

[2022-10-27 00:45] CrazyVideoGamer opened #1189 "How do I change a plugin setting?"
### Question

Hello! I've just begun using AstroNvim, and I want to change the direction setting of toggleterm. How exactly can I do this? I've tried adding
[code]
into the `plugins` object, but it doesn't seem to be working.
I've also tried `["toggleterm"]` instead of `toggleterm` but it's not working either.

### User Configuration

[code]

[2022-10-27 02:24] leozhang1 commented on #1182
okay thanks everyone. I will check it out and play around with it.

[2022-10-27 02:24] #1182 closed

[2022-10-27 07:25] nikolasetiawan opened #1190 "remap with nowait still wait for timeoutlen."
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.4.2

### Neovim version (>= 0.8)

0.8.0

### Operating system/version

macOS 12.6.1

### Describe the bug

Not entirely sure if this issue can be fixed in AstroNvim since it might be caused by some of the default plugins. But,

[2022-10-27 10:45] ASoldo opened #1191 "Intellisense problem with C based project (clangd help)"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

Version: v2.4.2

### Neovim version (>= 0.8)

NVIM v0.8.0-1210-gd367ed9b2 Build type: Release LuaJIT 2.1.0-beta3 Compiled by runner@fv-az505-656

### Operating system/version

Linux Mint 20.3 Cinnamon

### Describe the bug

Hi, I

[2022-10-27 10:54] ZhaoZuohong opened #1192 "Deprecated(aerial.on_attach) warning with pylsp"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.4.2

### Neovim version (>= 0.8)

NVIM v0.8.0-1210-gd367ed9b2

### Operating system/version

Linux Mint 21

### Describe the bug

With pylsp as python lsp server, when opening a python file, a popup warning message shows up:

[2022-10-27 11:30] mehalter commented on #1192
Thanks for reporting. This has been resolved already in the latest nightly

[2022-10-27 11:31] #1192 closed

[2022-10-27 12:50] mehalter commented on #1190
Hm, this does look like  a bug with `which-key` which sadly we won't be able to resolve here. One thing I can point you in the direction in is that when you go to disable `which-key` you are disabling the plugin, so you need to use the full definition:

[code]

[2022-10-27 12:53] mehalter commented on #1189
It looks like you accidentally put this in the `plugins.init` object rather than the `plugins` table. Here is a fixed version of your config:

[code]

[2022-10-27 12:53] #1189 closed

[2022-10-27 13:15] mehalter commented on #1191
You could also ask on r/neovim, but you just need to make sure  to ask in terms of configuring `clangd` and not in terms of "configuring clangd in AstroNvim" because people tend to get annoyed when they think they are debugging problems in a preconfiguration even if it isn't one.

[2022-10-27 13:16] TheButlah commented on #1165
Does this mean this issue should be reopened? Is this a bug or expected behavior - I'm confused

[2022-10-27 13:24] cseickel commented on #1165
@TheButlah it is expected behavior. The confusion comes from the difference between neovim's concept of buffers and windows vs how other than editors represent them. Because astrobim chooses to represent buffers as tabs, it creates some breaks in the mental model vs reality.

The short answer is you should not use 'bd', you should use whatever command is appropriate for this config to close what y

[2022-10-27 13:26] mehalter commented on #1165
@TheButlah The recommendation here is that a good approach for the task you are trying to do is to use the plugin: https://github.com/famiu/bufdelete.nvim

This is actually bundled with AstroNvim which we have mapped out of the box to `<leader>c`. Could you try using this binding to see if this does what you are expecting it to rather than `:bd`.

[2022-10-27 17:28] Rawnly opened #1195 "C-* shortcuts on tmux"
### Question

Hello, I recently switched from iTerm2 to Alacritty + tmux setup, but I lost some keybindings somehow, `C-'`and `C-^` aren't recognized by neovim anymore. Initially I thought it was an Alacritty problem, but with iTerm + tmux is the same.

I tried a workaround adding the following to `~/.tmux.conf`
[code]

but isn't recognized at all :/
### Versions
- neovim 0.8
- astronvim 2.0

###

[2022-10-28 00:49] ipsod opened #1196 "How to include stuff from .vimrc?"
### Question

Hi.  I'm trying to switch to using AstroNvim, but I keep running into things that I already have working in my old .vimrc, and I don't really have time to rewrite the whole thing in Lua right now.

I don't understand vimscript or Lua very well.  Is there a recommended way to include parts of my .vimrc to make the transition easier?

### User Configuration

_No response_

[2022-10-28 02:08] marciordj opened #1197 "Lsp timeout"
### Question

![image](https://user-images.githubusercontent.com/54960643/198457028-898fb19a-96c5-4b39-953d-66c933619b73.png)

I'm having this problem with lsp, I read about setting the timeout to 5000 that would work, but it's slow to save. Is there any alternative other than increasing the timeout time?

### User Configuration

_No response_

[2022-10-28 08:11] LintaoAmons commented on #1192
How to resolve this? I'm still getting the error

[2022-10-28 10:00] nikolasetiawan commented on #1190
Alright, thank you. Unfortunately disabling which key does not fix it for some reason. But I'll try to find some other workarounds.

[2022-10-28 10:00] #1190 closed

[2022-10-28 10:17] johnsiras commented on #1197
I have the same problem here but the warning will also remove after a few ms and saving it again.

[2022-10-28 11:08] mehalter commented on #1192
@LintaoAmons you will need to pull the latest `nightly` release of AstroNvim or switch to `stable` AstroNvim.

[2022-10-28 11:13] mehalter commented on #1197
@marciordj hm I don't think there is another option here. If your language server is slow at formatting you might want to disable formatting on save and just format with `<leader>lf`. That way the slow formatting of the LSP doesn't slow down your saving

[2022-10-28 11:17] mehalter commented on #1196
You could just put the contents of your `.vimrc` into your `user/init.lua` file in the `polish` function that runs last. You basically just want to add a `vim.cmd` block in the function. Something like this:

[code]

[2022-10-28 11:20] mehalter commented on #1195
@Rawnly what is the value of $TERM environment variable when you start tmux? This is probably related to your $TERM variable and how that sets the current terminal capabilities. Would be my guess at least. This would probably be a better question to ask on the tmux repo

[2022-10-28 11:21] Rawnly commented on #1195
It's `screen-256color` yeah maybe is more a tmux related issue 😅

[2022-10-28 11:23] mehalter commented on #1191
It looks like this reddit thread is a continuation of this and has gotten some much better answers than I can provide: https://www.reddit.com/r/neovim/comments/yepjau/astronvim_c_based_project_lsp_issue_clangdhelp/

[2022-10-28 11:23] #1191 closed

[2022-10-28 11:23] mehalter commented on #1195
I can take a look at the `screen-256color` term capabilities later today, but I'm pretty sure that will probably be the culprit

[2022-10-28 11:26] Rawnly commented on #1195
Yeah i'm pretty sure is a conf problem, anyway setting `xterm-256color` seems to be the same 🙃

[2022-10-28 13:00] ASoldo commented on #1191
That's me! :D but don't worry I found your answer useful.

[2022-10-28 13:28] ipsod commented on #1196
Thanks! I'll give it a try.

[2022-10-28 13:28] #1196 closed

[2022-10-28 13:46] ipsod opened #1200 "toggle-term shortcut <C-'> seems to be broken"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

Version: v2.4.2

### Neovim version (>= 0.8)

NVIM v0.8.0-1210-gd367ed9b2

### Operating system/version

Linux Mint 20.2

### Describe the bug

Toggle term shortcuts for n=`<C-'>` and t=`<C-'>` don't work for me.  n=`<C-'>` shows

[2022-10-28 14:02] mehalter commented on #1200
What terminal are you using? Have you verified that it supports `C-'` keymap?

[2022-10-28 14:28] ipsod commented on #1200
I've tried it in `gnome-terminal` and `kitty`.  I didn't think to verify.  Would I do that by hitting `ctrl+v`, then the shortcut, in the terminal?  If so, then no, neither of these seem to support `<c-'>`

[2022-10-28 14:37] marciordj commented on #1197
i'm using eslint, is he that slow ? is there any alternative for it ?

[2022-10-28 16:17] mehalter commented on #1200
Yeah it looks like your terminals probably don't support detecting that key. Not many do, it's a weird legacy terminal compatibility type thing. That's the main reason we set up F7 and put that mainly in the docs since that has full compatibility across terminals. Sadly we can't do much about it :(

[2022-10-28 17:00] ipsod commented on #1200
Ok.  Which terminal does work?  I'm not too invested in either of these.  Sorry if this is documented - I did try to look, but gave up after several minutes.

[2022-10-28 21:19] notrodans commented on #1197
add `async = true` to formatting config

[2022-10-29 06:22] AlphaVCat opened #1201 "External Plugin!"
### Question

Can we use any external Plugin like: `https://github.com/shime/vim-livedown` in AstroNvim, if yes please guide me how? And if not please add this! ;)

### User Configuration

_No response_

[2022-10-29 12:00] gigo6000 commented on #1192
I had to change  the channel and the branch to `nightly` to get the latest commits, the `stable` channel doesn't have the updates yet:

[code]

[2022-10-29 16:30] marchellodev commented on #1201
It's quite easy to do - you have to create a config file, add the plugin in the `plugins` section and run `:PackerUpdate`.

It's all in the docs: https://astronvim.github.io/Configuration/manage_user_config

[2022-10-29 16:32] marchellodev commented on #1200
@ipsod I am using [foot](https://codeberg.org/dnkl/foot), it is great, but it's only available on wayland. You can also try wezterm or alacritty, they are great as well.

[2022-10-29 18:39] AlphaVCat commented on #1201
Thank you very much! :)

[2022-10-29 18:40] #1201 closed

[2022-10-30 01:20] RicardoCMiguel opened #1207 "Confirmation alert after using EasyMotion"
### Question

### After using EasyMotion, a confirmation prompt appears to make the jump to the selected word

![Captura de tela de 2022-10-29 22-11-58](https://user-images.githubusercontent.com/83841643/198858233-cb8dd2a7-dbee-4108-a75f-2cf72c6f5863.png)

Is there any setting to disable this warning? in the previous version of Astrovim this alert appeared when I deleted a file or tried to exit wi

[2022-10-30 02:00] ZhaoZuohong commented on #1192
I confirm that the problem is fixed in `2.4.3`.

[2022-10-30 07:18] AlphaVCat opened #1208 "Is there any Animation Cursor option?"
### Question

Can we use any Animation Cursor like this [NeoVideVIm](https://github.com/neovide/neovide)?
Or i'm download this VideVim with AstroNvim conf and it's work perfectly, but if i want to change some option in VideVim we need a `init.vim` file in the Nvim config dir `~/.config/nvim/init.vim`, how can we create this file with in the same dir of init.lua?

### User Configuration

_No respon

[2022-10-30 09:51] devdanej opened #1209 "Mappings for htop and ncdu are wrong"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.4.0

### Neovim version (>= 0.8)

0.8.0

### Operating system/version

macos 12.6

### Describe the bug

The key mappings for htop and ncdu have a typo in the tmux command execution function

[code]
Instead change to:

[code]

[2022-10-30 11:15] marchellodev commented on #1208
@AlphaVCat Neovide is a gui for vim. It is not a terminal (where vim is usually used), but a separate application which consumes vim draw commands and draws gui based on them. As a result, neovide can do some cool animations and transitions. It is impossible to get all those animations in a regular terminal.

You can configure neovide in `~/.config/nvim/lua/user/init.lua`. There is a lot of info a

[2022-10-30 12:48] mehalter commented on #1209
These are not typos. Those are the expected terminal applications as indicated by the README, documentation, and the keymap text itself. These were changed in v2 as described in the migration guide because ncdu and htop are not cross platform and these are.

[2022-10-30 12:49] #1209 closed

[2022-10-30 14:41] marchellodev commented on #1197
@notrodans's solution worked for me!

[2022-10-30 16:47] ipsod commented on #1200
@marchellodev

Thank you!  I've switched to wezterm, and like it.  Also, in getting that set up, I found this page, which has a lot more information about all of this:  https://sw.kovidgoyal.net/kitty/keyboard-protocol/

[2022-10-31 04:52] AlphaVCat commented on #1208
Thanks! It's worked.

![neovide](https://user-images.githubusercontent.com/114478214/198933588-18cc1dd2-a1c1-49a7-b409-7523a2dc0509.jpg)

[2022-10-31 05:31] vikramreddym opened #1210 "Astronvim exits when I try to close a currently viewing file by clicking on 'x' icon on the file tab"
### Question

Hi,

After I open multiple files, when I try to close a file (currently viewing) by clicking on 'x' icon on the file tab using mouse, nvim completely exits instead of just closing only that particular file. I am using nvim v0.8.0 and astronvim latest stable. Is this normal behaviour?

Thanks

### Steps to reproduce:
nvim == v0.8.0
Astronvim latest at the time of writing this post.

1

[2022-10-31 05:55] liangshihlin-houzz opened #1211 "Auto formatting messes up indentation"
### Question

Hey, I can't seem to be able to wrap my head around how the auto formatting works, it keeps using 2 spaces instead of 4 when I save the file. I want it to automatically fix all eslint errors and also indent properly. How do I go about doing this?

### User Configuration

[code]

[2022-10-31 06:36] #1211 closed

[2022-10-31 06:36] liangshihlin-houzz commented on #1211
Found the issue in my `polish` settings, its not `vim.shiftwidth` its `vim.opt.shiftwidth`

[2022-10-31 11:56] #1208 closed

[2022-10-31 14:57] #1197 closed

[2022-10-31 14:58] mehalter commented on #1136
@peku-jamf @jlvihv I believe this has been resolved with the latest version of Heirline. I will be releasing v2.5.0 of AstroNvim today with the new version of Heirline that should resolve these stack overflow issues. I'm going to go ahead and close this again. Please let me know if this issue does not go away and we can reopen it :)

[2022-10-31 15:11] mehalter commented on #1195
I checked and I am able to replicate that `tmux` is not registering/detecting `ctrl-'`, I'm not sure how to change this or if this is just a limitation of `tmux` in general. I am going to go ahead and close this since it is separate from AstroNvim.

[2022-10-31 15:11] #1195 closed

[2022-10-31 17:06] derekmcloughlin commented on #1210
Same happening to me.

[2022-10-31 18:39] vikramreddym commented on #1210
Added more details in the description.

[2022-10-31 18:44] mehalter commented on #1210
Ah I can replicate this. Thanks for the extra information @vikramreddym ! I will investigate and try to get a fix out :) sorry!

[2022-10-31 22:23] maxbrunet commented on #1147
Working around nicely :grin:, thank you!

[2022-11-01 01:46] ZhaoZuohong commented on #1147
This works for me!

[2022-11-01 01:47] ZhaoZuohong commented on #1147
This works for me!

[2022-11-01 01:53] jayp0521 opened #1213 "Setting `channel = stable` and overriding a single plugin provided by Astronvim to a different branch does not work"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.5.0

### Neovim version (>= 0.8)

0.8.0

### Operating system/version

arch latest

### Describe the bug

set channel to stable

updater.lua
[code]

plugins/init.lua
[code]

this still uses the one in the snapshot until channel

[2022-11-01 03:06] jayp0521 opened #1214 "Opening neo-tree on dashboard causes it to be stuck in root folder"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.5.0

### Neovim version (>= 0.8)

0.8.0

### Operating system/version

arch latest

### Describe the bug

https://asciinema.org/a/MtlwTUpnQPoCJZYOPkC18vSQC

### Steps to Reproduce

1. open neovim
2. open neotree
3. close neotre

[2022-11-01 03:27] jayp0521 commented on #1210
This fixed it for me

`user.plugins.bufferline`
[code]

[2022-11-01 04:07] mehalter commented on #1210
Ah this is the exact option I was hoping to find! Thanks @jayp0521 ! I'll make a bug fix with this tomorrow :)

[2022-11-01 07:41] bihari123 opened #1215 "Support for images and pdf"
### Is your feature related to a problem?

Can't see the images and the pdf in nvim

### Describe the new feature

plz add "telescope-media-files.nvim" to let user view images

### Additional context

_No response_

[2022-11-01 07:50] bihari123 opened #1216 "Color scheme not working properly in Neovim 0.8"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.5.0

### Neovim version (>= 0.8)

0.8

### Operating system/version

debian11

### Describe the bug

default color scheme is not working properly

### Steps to Reproduce

start nvim and open any file( i am using golang)

### E

[2022-11-01 11:51] mehalter commented on #1216
Can you please share more details? This is not reproducible. Did you upgrade recently to AstroNvim v2 and from Neovim 0.7 -> Neovim 0.8. you might need to clear your data and cache folders and rebuild them:

[code]

[2022-11-01 12:07] mehalter commented on #1215
This can be added in your `user/init.lua` file. I don't think this needs to be upstream into AstroNvim. Here is an example `user/init.lua` file that will add this:

[code]

[2022-11-01 12:07] #1215 closed

[2022-11-01 12:16] ep4sh opened #1217 "Getting error popup on accessing any file on fresh installation of Astrovim"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

(shows nothing looks like doesnt work)

### Neovim version (>= 0.8)

0.8

### Operating system/version

macos 12.6

### Describe the bug

I've done with fresh installation, everything was done step by step according to the docs.

[2022-11-01 12:35] mehalter commented on #1214
This is unrelated to the Dashboard. This  happens even if the Dashboard is disabled and you just do this on a blank buffer. I believe this is happening because Neo-tree shows things relative to your current working directory and doesn't change the current working directory. If you jump to a file that is extremely nested then this will become relatively not useful. There may be a nesting maximum. Y

[2022-11-01 12:35] #1214 closed

[2022-11-01 12:37] mehalter commented on #1217
I'm  not sure what would be causing this bug. I would recommend reaching out  to the `null-ls` repository (https://github.com/jose-elias-alvarez/null-ls.nvim) and opening up an issue to start debugging where this could be coming from. I did a quick search in their issues and didn't see anything.

Also just a comment on the nerd fonts, I would say to make sure that after you install the nerd font t

[2022-11-01 12:39] mehalter commented on #1210
@vikramreddym I have pushed a fix for this to `nightly` (PR https://github.com/AstroNvim/AstroNvim/pull/1218). Could you please check out that version and see if it resolves this problem? If so, I can go ahead and tag a new patch release :)

[2022-11-01 17:21] SHAHNUR00 opened #1219 "Font Type"
### Question

How can I increase font size and font type in astro vim. PLz Help!!!!

### User Configuration

_No response_

[2022-11-01 17:23] mehalter commented on #1219
This is up to your terminal emulator. Configuring font and font size are not part of Vim or Neovim. You should check out the documentation for whatever terminal emulator you are using to see how to do this in your set up.

[2022-11-01 18:26] pietryszak opened #1220 "Add Aerial toogle menu"
### Is your feature related to a problem?

_No response_

### Describe the new feature

A good idea is to add Aerial toggle like a explorer toogle to menu. Maybe with space  next  a  - like a aerial
![image](https://user-images.githubusercontent.com/45850093/199309731-e16ff88e-f60b-47c8-8443-9383bbfbe78e.png)

### Additional context

_No response_

[2022-11-01 18:32] 02strich opened #1221 "TSUpdate requires tree-sitter-cli"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.5.0

### Neovim version (>= 0.8)

v0.8.0

### Operating system/version

macOS 13.0

### Describe the bug

When going through the basic setup section, the `TSInstall` command requires the tree-sitter-cli to be installed to run,

[2022-11-01 18:36] mehalter commented on #1220
This is under `<leader>lS` for the language symbols

![2022-11-01_14:36:08_screenshot](https://user-images.githubusercontent.com/1591837/199311628-0c3b9001-fd7c-4e7d-ad22-d1c42b34a72e.png)

https://astronvim.github.io/Basic%20Usage/mappings#lsp-mappings

[2022-11-01 18:36] #1220 closed

[2022-11-01 18:40] pietryszak commented on #1220
@mehalter I mean AerialOpen command do add it to left of window
![image](https://user-images.githubusercontent.com/45850093/199312290-e2d4d5e9-c126-412c-9475-58fdbb159841.png)

[2022-11-01 18:44] brioglade commented on #1215
It still can't see the images and the pdf in nvim.

[2022-11-01 19:01] mehalter commented on #1221
Ah thanks for reporting this! I think this is typically handled by package managers installing treesitter as a dependency when installing Neovim, but I can definitely see how this can be missed. I have made a push to the `nightly` branch to add this to the README. I'll get this merged sometime in the next day or two after a bug fix gets verified. Thanks again!

[2022-11-01 19:01] #1221 closed

[2022-11-01 19:02] mehalter commented on #1220
I believe you are pressing `<leader>ls` which will search the document symbols in telescope. It is `<leader>lS` (with a capital) to show the Aerial symbol outline :)

[2022-11-01 19:03] mehalter commented on #1220
Here is a recording of this: https://asciinema.org/a/sUrz8Z4Z0b1TkWY7AcoPwL6Sh

[2022-11-01 19:12] pietryszak commented on #1220
Yes, true. Thank you for your response. Everything works like I expected.
BTW, great job :) I switch from vi > vim > neovim > own neovim with plugins > spacevim > lunar vim > astro vim
And I stay because with astro I just add gruvbox theme and all other things Is super :)
Or maybe is same kind to change color sheme to gruvbox without plugin. I need to check :)

[2022-11-01 19:26] mehalter commented on #1220
Thanks for the kind words! ❤️ Also yeah, for custom colorschemes you need to install them as plugins

[2022-11-01 19:58] ywpkwon opened #1222 "Undeterministic custom keymap order?"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

Version: v2.5.0

### Neovim version (>= 0.8)

NVIM v0.8.0-1210-gd367ed9b2

### Operating system/version

Ubuntu 22.04

### Describe the bug

I wanted to override `H` and `L` as `beginning of line` and `end of line` from the origi

[2022-11-01 20:03] mehalter commented on #1222
The way the `mappings` table works is the key lets you completely overwrite the original configuration. The key is that you need to check for original keymaps for what key we are using. So for `H` and `L` we are actually using `<S-h>` and `<S-l>` rather than `H` and `L`. With that in mind, try this:

[code]

This will make it so our original bindings never get set in the first place. Sorry this is

[2022-11-01 21:30] ywpkwon commented on #1222
Thanks for your explanation. I'm slightly confusing here.

Could you please verify my understanding? Let's say
- I don't need original `H` and `L` behavior. (buffer navigation)
- I just want to set `H` and `L` in my way.

With `mappings` table, I thought I can overwrite the original configuration. But you mean,
- There is no easy way to overwrite original configuration.
- I rather have to avoid ex

[2022-11-01 21:35] mehalter commented on #1222
You can definitely overwrite the original configuration easily :) You can instead unmap `<S-h>` and `<S-l>` if you want and map `H` and `L` directly. Something like this:

[code]

You can unmap any default mapping by setting the key to `false`. Hopefully that answers your question!

Also I don't quite understand what you mean by "There is no easy way to overwrite original configuration". The `mapp

[2022-11-01 21:46] ywpkwon commented on #1222
Oh! I got the meaning. This is why I was confusing.

- I've never thought there is distinction between the capital letter `H` and the `<S-h>` (shift + h)
- At first I thought you are saying "instead use a control modifer like `<C-h>` or something." Now I realized its the shift key. :)
- So I was like, "saying possible but why recommend trying control key"?

Thanks again for your explanation. :pray

[2022-11-01 21:46] #1222 closed

[2022-11-02 00:02] jayp0521 commented on #1213
yeah, i'll just move to nightly lol, thanks

[2022-11-02 00:03] jayp0521 commented on #1214
sure, just wanted confirmation that it is not from astronvim. note: after I open a file then open `neo-tree` for the first time. everything works as intended

[2022-11-02 01:12] cusxio opened #1223 "WhichKey and neo-tree warning when changing window"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.5.0

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

macOS 12.6

### Describe the bug

## Error

## Current Behaviour

When changing focus between a `neo-tree` buffer and a file buffer, the error above

[2022-11-02 02:54] CMOISDEAD commented on #1223
i have the same issue :(

[2022-11-02 02:56] ahuxjz opened #1224 "close format & close tab"
### Question

hi:
1.I find that every time I open a file it automatically formats, unless I close it manually, how can I turn off code formatting globally by default?
2.After opening multiple file tabs, I can switch tabs with a mouse click, but when I close one of the tabs, all Windows close? How to solve it?

### User Configuration

_No response_

[2022-11-02 05:22] bihari123 commented on #1215
Did you do a :Packer Sync?

[2022-11-02 05:24] bihari123 commented on #1215
same here

[2022-11-02 05:59] HymanZHAN opened #1225 "`cmp` dropdown options are of messy order, ft. `rust-analyzer` and `pyright`"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.5.0

### Neovim version (>= 0.8)

v0.8.0-1210-gd367ed9b2

### Operating system/version

Windows 10 & Ubuntu 22.04.1

### Describe the bug

When using `rust-analyzer`, the order of `cmp` completion options is not the same as th

[2022-11-02 06:03] HymanZHAN commented on #1225
As a side note, if you could help configure away the text description like "Method" and "Snippet" on Windows, I am all ears. 🧏‍♂️

[2022-11-02 08:20] demiancodes opened #1226 "Tab Line Startup"
### Question

I believe that my tab line never appeared in startup the first day or two I installed AstroNvim. Now it launches every time. Is there a way to disable it on startup. Not disable it entirely, but only on startup. Partial fix of course is "Space + ut" mapping but I'd rather have something more permanent.

### User Configuration

_No response_

[2022-11-02 10:40] ep4sh commented on #1217
Thank you very much, Micah @mehalter ! I'll try with fonts.
I was able to remove noisy popup, removing the `editorconfig-checker` linter.

[2022-11-02 10:40] #1217 closed

[2022-11-02 13:51] IcyKit opened #1227 "Deprecated (aerial.on_attach)"
### Question

Every time I open Neovim, I see this window. Problem in my config?
![Снимок экрана 2022-11-02 в 16 48 58](https://user-images.githubusercontent.com/84917134/199506610-dc6d2124-7146-46f0-ac25-d6de90c288fd.png)

### User Configuration

[code]

[2022-11-02 14:02] mehalter commented on #1227
@IcyKit have you updated to the latest version of AstroNvim? This has been resolved in v2.4.3+

[2022-11-02 14:05] IcyKit commented on #1227
Whoops. I've updated packages, but not Astro. My bad, sorry.

[2022-11-02 14:05] #1227 closed

[2022-11-02 16:40] mehalter commented on #1224
@ahuxjz could you see if the new update to `v2.5.1` release resolves this?

[2022-11-02 16:40] mehalter commented on #1210
This should be resolved now with v2.5.1 !

[2022-11-02 16:40] #1210 closed

[2022-11-02 16:40] #1219 closed

[2022-11-02 16:57] paintmeyellow opened #1229 "Config crashes"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.5.1

### Neovim version (>= 0.8)

NVIM 0.8.0

### Operating system/version

Ubuntu 20.04

### Describe the bug

Something wrong with config I guess.
I'm using default btw. Just copied user_example into user folder.

### Steps t

[2022-11-02 17:25] mehalter commented on #1223
I am investigating this and will hopefully have a good fix in the coming days.

[2022-11-02 22:27] rozhelluk opened #1232 "How can I choose a Python version?"
### Question

I have two versions of Python installed on my system: 3.10.7 and 3.11.0
The <leader>tp key combination launches the Python version 3.10.7 console. I'd like to have Python 3.11.0 console running.
I can create a python -> python3.11 symlink, but it would be better if I could control this in the init.lua config file.
Could you tell me how to do it?
Thank you for your attention.

### Use

[2022-11-03 01:04] koutoftimer commented on #838
I've tried JetBrainsMono Nerd Font  but some symbols still not recognized: " 1  1  1    2  10" and bunch of others.

[code]

I have also tried nerd font patcher but it added only directory and language icons, not symbols from the example above.

[2022-11-03 01:26] jayp0521 commented on #1232
unsure if you tried looking through the guide to understand how astronvim works.

you can replace this [mapping](https://github.com/AstroNvim/AstroNvim/blob/ed8a9d87c2f83fbb9aef80487ae307dde3ebbf6e/lua/core/mappings.lua#L189) with `maps.n["<leader>tp"] = { function() toggle_term_cmd "python3.11" end, desc = "ToggleTerm python" }` and I think it should work. untested

[2022-11-03 01:28] jayp0521 commented on #1232
https://astronvim.github.io/Configuration/basic_configuration

guide on how to override mappings above

example of me doing it as well https://github.com/jayp0521/dotfiles/blob/main/shell/.config/nvim/lua/user/mappings.lua

[2022-11-03 01:33] jayp0521 commented on #1225
https://github.com/AstroNvim/AstroNvim/blob/3745ab81370b1bccefc5d3956eb3dfaf00488f52/lua/core/utils/init.lua#L317-L322 these are the default priorities. overriding can be done like this, https://github.com/AstroNvim/AstroNvim/blob/bc33207244189b2ad9f8f8c534c4915abc706e8a/lua/user_example/init.lua#L288-L295

i think this is what you want. could be wrong

[2022-11-03 01:35] jayp0521 commented on #1225
As a side note, if you could help configure away the text description like "Method" and "Snippet" on Windows, I am all ears. 🧏‍♂️

checkout how to change:
https://github.com/onsails/lspkind.nvim

[2022-11-03 01:53] jayp0521 opened #1234 "Overriding plugins not supported with table style"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

I looked at the code :)

### Neovim version (>= 0.8)

0.8.0

### Operating system/version

arch latest

### Describe the bug

https://github.com/AstroNvim/AstroNvim/blob/main/lua/user_example/init.lua#L222-L240

astronvim officia

[2022-11-03 01:54] jayp0521 commented on #1234
I can help with this if you agree it is a bug

[2022-11-03 02:23] mehalter commented on #1234
This Should be overriden with keys:

[code]

[2022-11-03 02:23] #1234 closed

[2022-11-03 02:40] laowalter opened #1235 "<lead> ff ignore plugin SimpylFold but directly open file with nvim SimpylFold works."
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.5.0

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

Gentoo Base System release 2.8

### Describe the bug

With the following custom config, SimpylFold works when nvim open a file, but if from <leader>f

[2022-11-03 02:48] mehalter commented on #1225
Thanks @jayp0521 for commenting about the `cmp` completion priority. Just to add there are also documentation pages on this: https://astronvim.github.io/Recipes/cmp

[2022-11-03 02:52] mehalter commented on #1226
These dashboard fixes have been fixed in the latest release of AstroNvim, could you see if this answers the question you had? :)

[2022-11-03 04:27] jayp0521 commented on #1234
I mean I know how to override, but this isn't documented anywhere. It should either be fixed or written in the docs to only use key value style for best compatibility

[2022-11-03 04:27] jayp0521 commented on #1234
@mehalter

[2022-11-03 05:01] HymanZHAN commented on #1225
Thanks for the input, folks. Unfortunately, that's not what I want. 😥

 ![image](https://user-images.githubusercontent.com/26806995/199408588-a801966e-08fa-4d04-b5ae-56cbc2c3f3d0.png)

In this screenshot above, the snippets are actually provided by `rust-analyzer`, not luasnip. This is my first time encountering these "famous" postfix snippets that `rust-analyzer` implements, as in VS Code they ar

[2022-11-03 05:45] HymanZHAN commented on #1225
Ok I experimented a bit more and decided to settle on disabling the postfix snippets of `rust-analyzer` and using `cmp`'s default sorting algorithm. For future reference, you can configure `rust-analyzer` as such:

[code]
Closing this issue as this is mainly a `nvim-cmp` issue. Thx!

[2022-11-03 06:26] #1225 closed

[2022-11-03 08:45] work-leonid opened #1236 "Disable notifications from UI"
### Is your feature related to a problem?

Add the ability to turn off these notifications from the UI. Sometimes you need them, but it would be great if you could turn them off without editing config file

<img width="455" alt="image" src="https://user-images.githubusercontent.com/8654430/199678630-42f27fc9-d3ef-4137-a682-0194ae09913e.png">

### Describe the new feature

Add the ability to turn n

[2022-11-03 09:13] rozhelluk commented on #1232
This will work, but I don't want to "get into" the git repository, because after the update my changes will be lost (probably).

[2022-11-03 10:47] mehalter commented on #1232
@rozhelluk during the updates for AstroNvim we do not talk the `user` folder and have that on the `.gitignore`. So your user configuration will never be over written or lost during the update as long as you configure everything from a `user/` folder as described in the docs

[2022-11-03 10:47] mehalter commented on #1232
https://astronvim.github.io/Configuration/manage_user_config

[2022-11-03 13:58] IcyKit opened #1237 "Why is this line not being changed by my theme? Tried many themes and none of them work."
### Question

![Снимок экрана 2022-11-03 в 16 52 56](https://user-images.githubusercontent.com/84917134/199740419-30f04c2d-f916-496c-9983-d0bfcddac543.png)

### User Configuration

_No response_

[2022-11-03 14:06] #1229 closed

[2022-11-03 14:07] mehalter commented on #1229
Thanks for reporting this @paintmeyellow ! I just released v2.5.3 which contains a patch for this.

[2022-11-03 14:08] mehalter commented on #1237
Could you please link the theme that you are trying and I can take a look at them? We are using the `Winbar` highlight group for setting those colors

[2022-11-03 14:10] mehalter commented on #1236
Ah, this is a good point. I will add a UI toggle for UI toggle notifications!

[2022-11-03 14:18] IcyKit commented on #1237
I've tried to use gruvbox, everforest, nord and catppuccin themes.

[2022-11-03 14:28] IcyKit commented on #1237
My bad, u asked links.
[gruvbox](https://github.com/morhetz/gruvbox)
[nord](https://github.com/shaunsingh/nord.nvim)
[everforest](https://github.com/sainnhe/everforest)
[catppuccin](https://github.com/catppuccin/nvim)

[2022-11-03 14:58] mehalter commented on #1237
Ah, I see there was a shortcoming in the utility function for me resolving the highlight groups! Thanks for catching this! Could you please check out the latest `nightly` and see if it resolves your issue? :) I have tested each of the colorschemes that you sent as well as a few others and I think it should be working much better.

What was happening is we are using a utility function to get the `f

[2022-11-03 15:00] mehalter commented on #1237
To easily test our the `nightly` channel just update the `updater` table in your `user/init.lua` file to have this:

[code]

And then run a `:AstroUpdate` :)

[2022-11-03 15:12] IcyKit commented on #1237
It seems like my astro does not see updates.
![Снимок экрана 2022-11-03 в 18 12 03](https://user-images.githubusercontent.com/84917134/199759522-c3e531a1-5864-4809-8975-ece24cba781d.png)
![Снимок экрана 2022-11-03 в 18 12 32](https://user-images.githubusercontent.com/84917134/199759631-76305a39-123d-4ab2-a731-d9ca33b019e4.png)

[2022-11-03 15:14] mehalter commented on #1237
ah, you will want to remove the `branch = 'main'`. This will make you follow the `nightly` rules but check out the `main` branch. Could you just delete the `branch` line and it will figure out what branch to do automatically

[2022-11-03 15:36] IcyKit commented on #1237
Whoa, it's working now! Thanks!

[2022-11-03 15:36] IcyKit commented on #1237
You are doing a great job for the happiness of the developers!

[2022-11-03 15:36] #1237 closed

[2022-11-03 15:50] mehalter commented on #1237
Yay, thank you for the kind words! I will release this patch now :)

[2022-11-03 16:07] mehalter commented on #1236
@work-leonid I just pushed a commit to `nightly`, could you please set your `updater` table in your `user/init.lua` file to this:

[code]

And run `:AstroUpdate` and restart? Make sure that you remove `branch = "main"`

and see what you think? I bound it to `<leader>uN` figured the capital `N` would make it less prone to an accidental disable. This also adds `vim.g.ui_notifications_enabled` option

[2022-11-03 16:54] rozhelluk commented on #1232
@mehalter @jayp0521
I read ~/.config/nvim/lua/core/mappings.lua and ~/.config/nvim/lua/core/utils/init.lua and wrote the following code in my init.lua configuration file:
[code]
I don't know if I did it right, but it just works.

[2022-11-03 16:54] #1232 closed

[2022-11-03 17:40] 02strich commented on #1221
Thank you!

[2022-11-03 19:47] Dominux opened #1243 "Telescope checkhealth and ripgrep don't work"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.5.0

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

Manjaro Linux x86_64

### Describe the bug

1. command `:checkhealth telescope` gives the next result:
[code]
   And `:checkhealth` autocompletion lis

[2022-11-03 21:33] Baregamyan opened #1244 "Change Gitsigns blame line text color in AstroVim config"
### Question

Hi, everyone!

Is there any chance to change Gitsigns blame line text color in AstroVim config ?

Kinda:
[code]

Thank you!

### User Configuration

_No response_

[2022-11-03 22:13] mmrath opened #1245 "PackerSync not completing"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

Version: v2.5.4

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

macOS 12.6

### Describe the bug

This is probably just related to the user config I am using (link below)

https://code.mehalter.com/projec

[2022-11-04 00:11] jayp0521 opened #1246 "`winbar_bg` is not a valid color"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.5.4

### Neovim version (>= 0.8)

0.8.0

### Operating system/version

arch latest

### Describe the bug

After this [commit](https://github.com/AstroNvim/AstroNvim/commit/f2349c532c7ab9c95b5f11d340b385c1c86743e9), it seems lik

[2022-11-04 00:13] mehalter commented on #1246
@jayp0521 what colorscheme are you using?

[2022-11-04 00:13] jayp0521 commented on #1246
`catppuccin`

[2022-11-04 00:16] jayp0521 commented on #1246
if this helps. I did try nuking: `.cache/nvim and `.local/share/nvim`
[code]

[2022-11-04 00:17] mehalter commented on #1246
Hm I have to look into this again in the next week. This commit was in particular to *fix* catppuccin support actually 😂 so I spent today actually using only catppuccin so I'm pretty sure it works 🤔 but I'll keep checking in the next week or so. Not sure if I'll be able to replicate.

[2022-11-04 00:18] mehalter commented on #1246
Ah your catppuccin config will be useful in this process

[2022-11-04 00:18] jayp0521 commented on #1246
you'll be able to replicate with my dotfiles. I tried on 2 different computers already

[2022-11-04 00:20] mehalter commented on #1246
Don't worry, I won't mess with installing your entire dotfiles. I will just try your catppuccin config and that should be enough to replicate. This is purely a colorscheme thing

[2022-11-04 00:40] jayp0521 commented on #1246
https://github.com/jayp0521/dotfiles/blob/main/shell/.config/nvim/lua/user/theme.lua

I also have the old guidance for https://astronvim.github.io/Recipes/telescope_theme. the new way doesn't seem to work for me, in case that is related

[2022-11-04 03:09] convers39 commented on #1246
same issue after updating to the latest

<img width="1505" alt="image" src="https://user-images.githubusercontent.com/42597395/199876704-9d594231-32e2-4d09-b197-142e4bd38ef9.png">

[2022-11-04 03:15] IcyKit opened #1247 "Something happened to NeoTree after the astro update."
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.5.4

### Neovim version (>= 0.8)

0.8.0

### Operating system/version

macOS 13.0

### Describe the bug

NeoTree creates and deletes a file for 15 seconds, sometimes it goes up to 30 seconds. After that, the whole NeoVim starts

[2022-11-04 03:15] jayp0521 commented on #1246
your theme seems to be different. what are you using?

[2022-11-04 03:19] IcyKit commented on #1247
Also I get this error always
![Снимок экрана 2022-11-04 в 06 18 55](https://user-images.githubusercontent.com/84917134/199877764-0a18fd9f-e07b-4772-a5a6-a555d5a67b16.png)

[2022-11-04 03:21] convers39 commented on #1246
I am using everforest, it does not seem to be a theme-specific issue..

@mehalter Is there any way to roll back to a previous version? I try with git checkout commit hash and rerun packer sync, but the issue still appears.

[2022-11-04 03:58] HymanZHAN opened #1248 "How should I customize `keyword_length` and `max_item_count` for luasnip? `astronvim.add_user_cmp_source` not working"
### Question

I want to trigger luasnip completion only when I type 2 or more characters. How can I achieve that?

I followed the [doc here](https://astronvim.github.io/Recipes/cmp#modify-existing-source-options), but it didn't work.

![image](https://user-images.githubusercontent.com/26806995/199882362-5e9a3622-9f2b-4813-ac72-fe155270981e.png)

### User Configuration

[code]

[2022-11-04 06:44] r4vanan opened #1249 "need to change appearance"
### Question

i am thinking to make the background as transparent as ordinary neovim. but the question is how?

### User Configuration

_No response_

[2022-11-04 08:20] Dominux commented on #1207
Same question here

[2022-11-04 10:35] Namefailed opened #1250 "Unmapping with = false not applying at all."
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.4.9

### Neovim version (>= 0.8)

0.8

### Operating system/version

Pop_OS Latest Stable

### Describe the bug

I have tried to unmap a few things inside my /user/init.lua. The bindings do not unmap and instead continue to fun

[2022-11-04 10:55] breenbo commented on #1223
Thanks, same here, and it's a little bit annoying to be honest :-).

Thanks for your great work.

[2022-11-04 11:00] krishnakumarg1984 commented on #1124
@mehalter Are we still keeping `cmdheight=0` in the `nightly`? What's the decision on this?

[2022-11-04 11:27] mehalter commented on #1246
Yeah I see what's going on, this is what happens when the background is `nil` to be transparent, need to figure out how to do this in `Heirline` correctly

[2022-11-04 12:25] mehalter commented on #1247
I cannot replicate your bug using the steps that you described. Can you  try it in a fresh install of AstroNvim without your user configuration and see if you can replicate it?

[2022-11-04 12:29] mehalter commented on #1250
the  `jj`  and `jk` mappings are set by the plugin `better-escape`. You can disable that in the `plugins.init` table. Also `<S-k>` is an LSP mapping, it's bound only when language servers are attached. This is modified in the `lsp.mappings` table. The final code you are looking for is:

[code]

[2022-11-04 12:29] #1250 closed

[2022-11-04 12:35] mehalter commented on #1249
Duplicate of #8

[2022-11-04 12:35] #1249 closed

[2022-11-04 12:56] mehalter commented on #1248
It looks like you added
[code]

to the middle of your `plugins` table rather than your `plugins.init` table. You should move that block to the correct table and it should start overriding the default.

[2022-11-04 12:59] #1236 closed

[2022-11-04 12:59] #1246 closed

[2022-11-04 13:02] mehalter commented on #1243
To improve startup time we use lazy loading for telescope. So when you just start Neovim, telescope is not a loaded plugin so no  health checks have been registered. The easiest way to start Telescope is by running `:Telescope` and then you can do `:checkhealth telescope`. It should look something like this:

![2022-11-04_09:00:55_screenshot](https://user-images.githubusercontent.com/1591837/19997

[2022-11-04 13:03] mehalter commented on #1235
I believe this is related to the Python treesitter parser and filetype detection for some reason. I am getting the same behavior with treesitter based folds in Python as well. I can't replicate in any other filetypes which leads me to believe it's related to the python parser.

[2022-11-04 13:05] mehalter commented on #1244
Not sure, probably worth asking on the [gitsigns.nvim](https://github.com/lewis6991/gitsigns.nvim) repo. I believe it uses virtual text so maybe you just change the virtual text highlight groups but I'm not sure.

[2022-11-04 13:05] #1244 closed

[2022-11-04 13:07] mehalter commented on #1223
https://github.com/folke/which-key.nvim/issues/357

this is the issue I am waiting to receive feedback from. In the meantime, the default bindings for changing windows in AstroNvim are `^h`, `^j`, `^k`, `^l`. This uses a plugin with better logic for moving between windows and also does not trigger that warning.

[2022-11-04 13:09] mehalter commented on #1223
You could also disable the `<space>` mapping in `neo-tree` in your `user/init.lua` file:

[code]

[2022-11-04 13:10] mehalter commented on #1245
I'm not sure, I don't consider this a bug in AstroNvim. I would not recommend you use my config, there are a lot of things specific to what I do on my computer that probably won't fit nicely just anywhere. It is a good place for guidance to see how to  configure things, but it is not supported as a drop in configuration.

[2022-11-04 13:10] #1245 closed

[2022-11-04 13:13] mehalter commented on #1207
This is because of `cmdheight = 0` and plugins printing to the cmd line. You can fix this by adding back the `cmdheight` if you would like. Not sure if there are other ways to avoid this.

[code]

[2022-11-04 13:20] Dominux commented on #1243
@mehalter, thank u, it really works!

But the bug with not working ripgrep still remains:

Here I got it installed:
![image](https://user-images.githubusercontent.com/55978340/199981729-66768d4e-836e-4916-abcc-655e60929703.png)

But in checkhealth it shows that I didn't
![image](https://user-images.githubusercontent.com/55978340/199981885-863cab5f-d3cd-4d31-8d3d-f24fad0c21b3.png)

And it's display

[2022-11-04 13:29] mehalter commented on #1243
Please check the link I have provided in the README and the documentation: https://github.com/BurntSushi/ripgrep

`ripgrep` is *not* a neovim plugin. It is a binary that needs to be installed to your machine. I would recommend reading the documentation on that page for how to install: https://github.com/BurntSushi/ripgrep#installation

[2022-11-04 13:36] Dominux commented on #1243
Thanks for ur help, I had no idea what to do for a week

Now I can finally start using my astronvim setup like I do in vscode

[2022-11-04 13:36] #1243 closed

[2022-11-04 13:59] #1207 closed

[2022-11-04 14:38] IcyKit commented on #1247
I should remove user folder?

[2022-11-04 14:51] HymanZHAN commented on #1248
OK I will give it a try. But isn't the `plugins` table the correct one according to the doc?

[code]

[2022-11-04 14:52] HymanZHAN commented on #1248
Ah sorry, this should live in the `user/init.lua` file. Missed that. :smiling_face_with_tear:

[2022-11-04 16:52] Montana opened #1254 "Dedicated function to install packages"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

NVIM v0.8.0

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

macOS 13.0

### Describe the bug

I was thinking why not use `pcall` so users can have a function as an installer. Think the hurdle here is `asy

[2022-11-04 16:57] IcyKit commented on #1247
I've made a screencast with my problem
As you can see, NeoTree deleting and creation speed is very low, when I deleted test file, NeoTree was showing the file even though it no longer existed
https://user-images.githubusercontent.com/84917134/200032040-0f40f068-8707-418c-9e77-a0b8ea20b342.mp4

[2022-11-04 16:58] IcyKit commented on #1247
Also I've disabled my config but my config differs only in installed themes, I did not install third-party plugins. I completely miss your wonderful assembly

[2022-11-04 17:25] mehalter commented on #1254
AstroNvim uses [Mason](https://github.com/williamboman/mason.nvim) for installing external packages. You can use `:Mason` or `<leader>pI` to open the installer. This will let you install linters/formatters/language servers/debugger adapters. Currently AstroNvim will automatically set up language servers, linters, and formatters that are installed with Mason. AstroNvim currently doesn't have debugg

[2022-11-04 17:25] #1254 closed

[2022-11-04 17:26] mehalter commented on #1248
configuring plugins should be in the `plugins.init` table.

[code]

[2022-11-04 17:29] mehalter commented on #1247
Not sure what could cause this. You might want to open an issue on `neo-tree` to see why this might be happening. We aren't doing anything with Neo-tree specifically. It seems like the file monitoring is a bit slow on your machine.

[2022-11-04 17:39] IcyKit commented on #1247
That's strange cause I'm working on M1 processor.
Anyway, thank you for trying to help me!

[2022-11-04 17:48] HymanZHAN commented on #1248
Thanks for the explanation! I tried but it didn't fix my problem. :smiling_face_with_tear:

The problem that I want to solve is actually that when using Astronvim's config, cmp always flashes because I prioritize `nvim_lsp` (slower) before `luasnip` (faster). The snippets loaded from `friendly-snippets` always appear first and then the options from `nvim_lsp` get inserted before them.

![cmp with

[2022-11-04 19:03] IcyKit commented on #1247
After another freeze, I saw this errors.
I don't quite understand the cause of the problem.

<img width="1413" alt="Снимок экрана 2022-1104 в 22 00 26" src="https://user-images.githubusercontent.com/84917134/200054853-def31266-54c5-4f7b-b860-d1a0892224b9.png">

[2022-11-05 08:15] mozrelic opened #1255 "tabnine integration"
### Question

I'm a nvim and lua noob, please forgive me if this is a stupid question:

I'm trying to integrate tabnine (https://github.com/tzachar/cmp-tabnine), and I found the "Customize cmp Completion" documentation (https://astronvim.github.io/Recipes/cmp) for AstroNvim. Following the directions I found here, I modified my `user/init.lua` `plugins.init` thusly:

[code]

and also added `cmp_tab

[2022-11-05 10:40] HymanZHAN commented on #1248
Ah my bad... the setting overwriting in `init` actually fixes the issue from a practical standpoint. It seems I need to run `:PackerSync` for it to take effect.

However, I am still curious why entries from `luasnip` (`friendly-snippets`) were getting loaded first and LSP entries got inserted asynchronously about 60ms later. `nvim-cmp` has a default `performance.fetching_timeout` of 200ms, which s

[2022-11-05 11:09] laowalter opened #1256 "Want to add fullpath to my statusline, like set statusline+=%F"
### Question

New to Astronvim, great works!  Have read manual  and the init.lua in custom example, but have no idea on how to add the full path file to statuslins.

Thanks!

### User Configuration

_No response_

[2022-11-05 12:30] IcyKit opened #1257 "NvimTree instead of NeoTree"
### Question

How can I use NvimTree instead of NeoTree?

As I understood, NvimTree already installed in AstroNvim.

### User Configuration

_No response_

[2022-11-05 12:32] mehalter commented on #1256
Duplicate of #1136

[2022-11-05 12:32] #1256 closed

[2022-11-05 12:34] mehalter commented on #1247
Hm that is a very strange error. I see what line in our status thing that is causing it but I have absolutely no idea why that would be happening and can't figure out how to replicate it. Could you please share your entire user configuration and I can see if I can replicate it?

[2022-11-05 12:35] mehalter commented on #1257
NvimTree is not in AstroNvim by default, you will need to disable nthe neo-tree plugin in your `plugins.init` table, add NvimTree, and then add the mappings you want to control NvimTree

[2022-11-05 12:38] mehalter commented on #1248
The fetching timeout should control how long it will wait for things to load before it stops waiting for them, I don't think to changes how fast it shows things as they are ready to be displayed (not 100% sure about this though). This is probably because some language servers take some time to load the workspace and do the code analysis. This would be shown in the statusline when it displays like

[2022-11-05 12:39] IcyKit commented on #1257
Thanks!

[2022-11-05 12:39] #1257 closed

[2022-11-05 12:42] #1235 closed

[2022-11-05 13:01] HymanZHAN commented on #1248
Yeah, so to my understanding, within the 200ms timeout, if one of the sources is not ready to be displayed (still fetching), `cmp` will wait for it to finish before showing the whole dropdown, right? I took a look at `nvim-cmp` [source code](https://github.com/hrsh7th/nvim-cmp/blob/e1f31778a8c4100d3195d7d98c3468aa0b004b66/lua/cmp/core.lua#L311) and it seems to be doing that (albeit my newbie Lua k

[2022-11-05 13:43] IcyKit commented on #1247
Yep, of course

[code]

[2022-11-05 14:38] IcyKit commented on #1247
At the moment, this error does not appear yet, but NeoTree starts to work slowly after creating and deleting the file once. Everything is fast the first time creating and deleting file.

[2022-11-05 15:13] HymanZHAN commented on #1248
OK I found the issue. It's me being a stupid noob not remembering to run `:PackerCompile` after making changes to my `user/init.lua`, so the effect of a legacy piece of code that called `vim.api.nvim_buf_get_lines()` in a `cmp` comparator function persisted. :man_facepalming:

Thx for the support. Closing this issue now.

[2022-11-05 15:13] #1248 closed

[2022-11-05 16:15] Kindlewing opened #1258 "Can't update AstroVim with detached HEAD"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.6.1

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

Arch Linux

### Describe the bug

Error checking out branch: origin/main

### Steps to Reproduce

1. run :PackerSync
2. run :AstroUpdate
3. restart As

[2022-11-05 20:19] kraxli opened #1259 "disable formatting at save for lua-files"
### Question

I use @mehalter super nice configuration with a few adjustments. Adding e.g. a plugin to the `plugins/init.lua` and saving the file formats the whole file "destroying" the git-history. Following the informative [AstroNvim documentation](https://astronvim.github.io/Recipes/advanced_lsp#customizing-auto-format-on-save), I have enhanced my `user/init.lua` file with

[code]

At first thi

[2022-11-06 09:18] work-leonid commented on #1236
I'm sorry I didn't answer right away. I can't check out what you've done yet. Need a few days.
I really appreciate what you are doing, thank you so much! ❤️

[2022-11-06 10:21] breenbo commented on #1223
Thanks for this quick answer.
Your work is really awesome, I've completely wiped out Webstorm for Neovim for my daily pro IDE, so awesome better performance, thanks to you :-)

[2022-11-06 13:51] FadeevNikolay1999 opened #1260 "Overriding default keybindings"
### Question

Hello, First of all thank you for this amazing distro. I have two questions:
1. I wanted to override some keys and everything works perfect except one thing. I cannot override default mapping "gl" that stands for "Hover diagnostic". Could you please tell me how to do it?

2. how to use "cmd" key when mapping? <cmd-[key]> : ... ? <D-[key]> : ... ?

<img width="1440" alt="Screenshot 20

[2022-11-06 15:42] IcyKit opened #1262 "Location for plugin setup"
### Question

Hi again! I want to install `Nvim-tree` and I've installed it already, but `:NvimTreeToggle` doesn't work.
As I understand, I need to add plugin config, as in example in repo:
![Снимок экрана 2022-11-06 в 18 39 34](https://user-images.githubusercontent.com/84917134/200180202-80c42742-4c01-4f4a-bbcb-7793487f0486.png)
But where i have to add it?

### User Configuration

_No response_

[2022-11-06 15:46] IcyKit commented on #1262
So, I've added require block and it's working! One more question, how I can make keymap for nvim tree?

[2022-11-06 15:51] IcyKit commented on #1262
And that's what I figured out too 🤣

[2022-11-06 15:51] #1262 closed

[2022-11-06 22:53] PaulKushch opened #1263 "Lspsaga not working"
### Question

Hi,
I tried to install `Lspsaga`:

[code]
And mapped in `mappings normal mode`:
`			["<leader>hh"] = { "<cmd><Lspsaga lsp_finder<cr>", desc = "Lspsaga definition" },
`

But I am getting the error:
![image](https://user-images.githubusercontent.com/5386035/200199650-044f9566-042e-4062-a8df-e2c70b4e1d4f.png)

What am I doing wrong?
Best regards

### User Configuration

[code]

[2022-11-06 23:52] mehalter commented on #1263
You have a typo.

`<cmd><Lspsaga lsp_finder<cr>`

Should be

`<cmd>Lspsaga lsp_finder<cr>`

[2022-11-07 03:50] Grafcube opened #1264 "`wl-clipboard` stopped working"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.6.1

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

Arch Linux

### Describe the bug

`wl-clipboard` stops working correctly on Gnome 43. If I yank something soon after opening nvim or neovide, it work

[2022-11-07 04:01] mehalter commented on #1264
I'm not sure about this. We aren't doing anything special with the clipboard, we are just setting `clipboard = unnamedplus`. Are you sure this doesn't happen without AstroNvim when you do set `clipboard` to be `unnamedplus`?

[2022-11-07 04:59] Grafcube commented on #1264
Yes I confirmed that it works as expected with plain nvim. There seems to be a slight delay though, it works if I yank immediately after launching neovim.

[2022-11-07 06:01] AlphaVCat opened #1265 "`search word` not working without ripgrep"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.6.1

### Neovim version (>= 0.8)

NVIM v0.8.0-1

### Operating system/version

Ubuntu 22.10

### Describe the bug

Searching words in all files are not working!  I'm searching a word in file with this cmnd `<leader>fw` but is

[2022-11-07 06:12] AlphaVCat commented on #1224
In previous days! I face the same problem, so I use this keybinding for the closing buffers, and it's works perfectly:

**https://astronvim.github.io/Basic%20Usage/walkthrough#close-buffer**

[2022-11-07 07:38] PaulKushch commented on #1263
Ah thanks @mehalter!
But after fixing typo I now get another error:
![image](https://user-images.githubusercontent.com/5386035/200252320-ad6d0e4e-5acd-4a65-95e6-7e3f205cb6bc.png)

Am I doing it correctly when including `lspsaga`? Someone else uses it with Astronvim?

Best regards

[2022-11-07 07:41] PaulKushch commented on #1263
Thanks @mehalter! Sunday evening yesterday...

[2022-11-07 07:41] #1263 closed

[2022-11-07 10:37] mehalter commented on #1265
Do you have `ripgrep` installed and verify that you have access to the command `rg` on the command line?

[2022-11-07 10:38] mehalter commented on #1224
Have you updated to the latest version of AstroNvim @AlphaVCat this was a bug that was recently patched

[2022-11-07 10:44] mehalter commented on #1264
Hm, not sure where to start debugging this if I'm honest. Since AstroNvim doesn't use any plugins that affect the clipboard and has no automations or anything that affect it 🤔

[2022-11-07 10:49] Grafcube commented on #1264
It still seems related to AstroNvim because of my test with NORC but if it helps, the problem disappeared after I installed this Gnome extension [Noannoyance](https://extensions.gnome.org/extension/2182/noannoyance/). Based on this, my guess is that something changed about the way Gnome handles focus stealing that affects wl-clipboard in certain situations. Beyond that I'm not sure how to debug th

[2022-11-07 10:51] mehalter commented on #1264
That makes me more confident that this is unrelated to AstroNvim since we also have nothing related to focus stealing or window focusing in AstroNvim either

[2022-11-07 10:54] mehalter commented on #1264
Ah I just noticed you mentioned Neovide. Can you verify of the clipboard works as intended or not when using AstroNvim in the terminal? Also trying Neovide without AstroNvim and with the clipboard set to `unnamedplus`. It seems like the Neovim GUI is the highest probability at being at fault since that will affect how the clipboard and window focusing is handled

[2022-11-07 11:00] Grafcube commented on #1264
Yes I tested norc with both terminal and neovide. I'd have to agree that this doesn't seem like an issue with AstroNvim. I opened the issue because this was the only common point with the problem. The extension has solved the problem for me but I'm hesitant to close the issue since it's not a real solution. But since I haven't seen any mention of this anywhere else it could also just be some stran

[2022-11-07 11:03] mehalter commented on #1264
@Grafcube can you replicate the bug with a fresh AstroNvim install without your user configuration?

[2022-11-07 11:17] Grafcube commented on #1264
While testing the fresh install I discovered what might be the actual problem. This only occurs when the window is fullscreen regardless of whether I'm using neovide or the terminal and also with the example config. But strangely, it doesn't happen with norc even in fullscreen.

[2022-11-07 11:21] mehalter commented on #1264
Hm as you get closer and closer to figuring it out I become more and more confident it's unrelated to our config 😂 please let me know if you continue to figure out what might be causing it!

[2022-11-07 11:27] mehalter commented on #1259
If you are using my config, you will notice that I have the file `user/lsp/formatting.lua`. You will need to put these settings in that file. As described in the documentation regarding splitting up the config, separate files take precedence over `user/init.lua`. so that file will not be used to load that option since other formatting options are defined in a separate file.

Also as a note, I woul

[2022-11-07 11:27] #1259 closed

[2022-11-07 11:27] mehalter commented on #1258
What do you get if you run `git status` in the `~/.config/nvim` folder?

[2022-11-07 11:29] mehalter commented on #1226
I believe this has been resolved. Please let me know if it isn't @demiancodes and I can happily re open this!

[2022-11-07 11:29] #1226 closed

[2022-11-07 11:30] mehalter commented on #1224
I haven't heard from the original poster, but I'm pretty sure this has been resolved with recent patches. Will re open if reports come in that it's still an issue

[2022-11-07 11:30] Kindlewing commented on #1258
`On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	deleted:    lua/user_example/init.lua

no changes added to commit (use "git add" and/or "git commit -a")`

[2022-11-07 11:31] mehalter commented on #1216
Unable to replicate this and haven't heard from the original user. I'll go ahead and close this.

[2022-11-07 11:31] #1216 closed

[2022-11-07 11:36] mehalter commented on #1258
I noticed you have made some changes (deleting the `user_example/init.lua` file) but I'm not sure if this would be causing it...

What do you get if you run `git checkout origin/main` and `git rev-parse --abbrev-ref HEAD`?

[2022-11-07 11:45] Kindlewing commented on #1258
I just get `HEAD`

[2022-11-07 11:46] mehalter commented on #1258
What do you get when you run the `checkout` command?

[2022-11-07 11:46] Grafcube commented on #1264
It seems like this has something to do with wl-clipboard trying to grab focus to copy clipboard contents. Either way it definitely seems like it's not an issue with AstroNvim. The extension solved my problem anyway so I'm closing the issue. Thanks for the help (even though this was the wrong place to open an issue). Maybe this will be solved in the future when Wayland gets better™.

[2022-11-07 11:47] #1264 closed

[2022-11-07 11:56] mehalter commented on #1258
It looks like your clone has found itself in a detached HEAD state. Could you try running:

[code]

And see if the command `git rev-parse --abbrev-ref HEAD` returns `main`? Once it returns `main` instead of `HEAD`, the updater should work as intended

[2022-11-07 12:05] mehalter commented on #1255
I'm not sure why it would show as unused in `:CmpStatus`. I also don't use tabnine so I won't be able to try it out and give feedback. This is a good question for the discord since other users use this successfully. I will say that the code you sent does appear to work since it shows tabnine in `:CmpStatus` so you know it's loading the plugin and connecting it to `cmp`. Outside of that I don't kno

[2022-11-07 12:05] #1255 closed

[2022-11-07 12:06] mehalter commented on #1174
I'm not sure, this seems like it would probably be a highlight group that is missing from the default theme. You might was to open an issue to ask the devs of fugitive to at least figure out what highlight groups you are missing. Then you can add them to your user configuration. You could also contribute them in a PR upstream here to the default theme just in case other users use fugitive

[2022-11-07 12:09] mehalter commented on #1147
@maxbrunet to get the proper fix for this is going to be a super heavy lift with stuff that will need to be improved not only in AstroNvim but also with Heirline. I don't have time to do this restructuring at the moment and also don't want to introduce breaking changes. I think for now I'm going to close this as unplanned and leave it on the back burner for the moment especially since we do have a

[2022-11-07 12:09] #1147 closed

[2022-11-07 13:02] mehalter commented on #1260
`gl` is part of the LSP mappings. It is set in a different table, `lsp.mappings` because we don't want to attach that mapping unless a language server is attached. The main thing you want to do is to just disable that mapping in the `lsp.mappings` table so it never gets set, and then keep the mappings that you are defining as they are.

You just need to add the following to your `lsp.mappings` tab

[2022-11-07 13:02] #1260 closed

[2022-11-07 13:05] mehalter commented on #1247
Hm I've done a lot of testing and cannot replicate this. Sorry ! 😢 I don't think this neo-tree stuff is related to what AstroNvim is configuring so I'm going to go ahead and close this. As for the strange error you sent that references the `status.lua` file. I can't replicate this for the life of me and the code doesn't seem to have any case where it should break as it did. I'm thinking it could b

[2022-11-07 13:05] #1247 closed

[2022-11-07 13:10] gigo6000 commented on #1008
@mehalter here's the video about my switch to AstroNvim: https://youtu.be/71GDopdc9rw hope you like it!

[2022-11-07 13:30] IcyKit commented on #1247
It's OK! Thanks for trying to help me, the error kept popping up and I installed NvimTree instead of NeoTree and assigned it to the same keys, now everything works perfectly.
Sorry for so many questions, I'm new to NeoVim

[2022-11-07 16:27] SamueleSamarxhiu opened #1267 "Installing themes on Astrovim"
### Question

Hi I wanted to ask how am I supposed to install themes on astrovim as I am new to it. I wanted to install precisely this theme: https://github.com/FrenzyExists/aquarium-vim, before using astrovim I was using just neovim with the Plug Manager and I didnt do a backup of all my config init.vim file. I was just wondering is there a way to install external packages such as this theme and

[2022-11-07 16:52] mehalter commented on #1267
Here are the docs for setting up a user configuration file for AstroNvim: https://astronvim.github.io/Configuration/manage_user_config

And here are the docs for installing a custom colorscheme from an external plugin: https://astronvim.github.io/Recipes/colorscheme

[2022-11-07 16:56] JanLorVil opened #1268 "neo-tree mapping error"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.6.1

### Neovim version (>= 0.8)

v0.8.0

### Operating system/version

6.0.6-arch1-1

### Describe the bug

Opening file explorer and switching source display an error message related to key mapping:

### Steps to Reproduce

[2022-11-07 16:58] #1268 closed

[2022-11-07 17:25] mehalter commented on #1008
This is awesome! Thanks for sharing! @gigo6000 super great content and I hope you are enjoying AstroNvim so far!

[2022-11-07 17:41] F1garr0 opened #1269 "Neo-tree does not work"
### Question

I'm running nvim at wsl 2 at ubuntu clean 20.04 via tarball and after install astrovim can't start neo-tree
When i'm trying to start as "nvim ." i get error:

![image](https://user-images.githubusercontent.com/26528966/200377110-9da04b34-6af4-4449-a2b8-fac14c465411.png)

When i'm running as "nvim" and exec ":Neotree" i get error:
![image](https://user-images.githubusercontent.com/265

[2022-11-07 17:41] F1garr0 opened #1270 "Neo-tree does not work"
### Question

I'm running nvim at wsl 2 at ubuntu clean 20.04 via tarball and after install astrovim can't start neo-tree
When i'm trying to start as "nvim ." i get error:

![image](https://user-images.githubusercontent.com/26528966/200377110-9da04b34-6af4-4449-a2b8-fac14c465411.png)

When i'm running as "nvim" and exec ":Neotree" i get error:
![image](https://user-images.githubusercontent.com/265

[2022-11-07 17:42] F1garr0 opened #1271 "Neo-tree does not work"
### Question

I'm running nvim at wsl 2 at ubuntu clean 20.04 via tarball and after install astrovim can't start neo-tree
When i'm trying to start as "nvim ." i get error:

![image](https://user-images.githubusercontent.com/26528966/200377110-9da04b34-6af4-4449-a2b8-fac14c465411.png)

When i'm running as "nvim" and exec ":Neotree" i get error:
![image](https://user-images.githubusercontent.com/265

[2022-11-07 17:43] mehalter commented on #1271
Duplicate #1269

[2022-11-07 17:43] #1271 closed

[2022-11-07 17:43] mehalter commented on #1270
Duplicate #1269

[2022-11-07 17:43] #1270 closed

[2022-11-07 19:20] gigo6000 commented on #1008
@mehalter thanks for all the great work on AstroNvim!

[2022-11-07 22:18] #1267 closed, assigned to nobody

[2022-11-07 22:20] #1269 closed

[2022-11-07 22:20] #1258 closed

[2022-11-07 23:03] alavaelian opened #1273 "whic nvim framework should i select"
### Question

i wanna know what is the better nvim config lunar vim or astro vim i apologize if it someting that i cant ask here

### User Configuration

_No response_

[2022-11-08 04:21] mehalter commented on #1273
Thanks for asking this and contributing to the community discussion. Hopefully some other community members can chime in with their opinions as well. At the end of the day it definitely all comes down to preference. I will say that as one of the main developers I definitely have bias in these opinions especially regarding the configuration mechanisms in AstroNvim vs other Neovim configurations (si

[2022-11-08 10:29] Rid1-fz-06 commented on #1103
@CalvoM yes. Everything works fine. I thought there was something with this configuration. But then I found a problem in my user/init.lua file (config placed in wrong place). So I closed this issue.

[2022-11-08 11:24] AlphaVCat commented on #1265
Thanks It's worked! `ripgrep` is missing!

SEE:

![worked](https://user-images.githubusercontent.com/114478214/200550617-245a6a86-9783-4fd0-b797-f0904df274a9.jpg)

[2022-11-08 12:16] #1265 closed

[2022-11-08 12:40] #1273 closed

[2022-11-08 13:34] tri-cao opened #1274 "Problem displaying gitsign on different languages"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

nightly

### Neovim version (>= 0.8)

0.8

### Operating system/version

macOS 12.6

### Describe the bug

After updating gitsign, my neovim can't display the same gitsign setting for each language

### Steps to Reproduce

config

[2022-11-08 13:41] mehalter commented on #1274
The dashed lines represent additions to untracked files in Git. So these files will have only additions and the git signs will represent them as dashed lines so you understand that the file is not currently tracked. You can configure `gitsigns` if you would like to use the same bar for the sign if you would like in your `user/init.lua` file:

[code]

[2022-11-08 13:41] #1274 closed

[2022-11-08 13:43] mehalter commented on #1274
This is a new feature, I am wondering now if we should change it to not be dashed. @tri-cao do you think it is relevant information that the file is untracked?

[2022-11-08 13:45] tri-cao commented on #1274
yes, it's untracked. Thank you

[2022-11-08 14:18] vtvz opened #1275 "Lazygit and Toggleterm conflicts"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.6.2

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

Manjaro Linux 22.0.0

### Describe the bug

Lazygit conflicts with regularly opened terminals. "Steps to Reproduce" will give more info

### Steps to

[2022-11-08 14:22] trankchung opened #1276 "Disable default plugins"
### Question

Is there a way to disable default plugins such as toggleterm? I checked the source code but don't see a way to. Thanks.

### User Configuration

_No response_

[2022-11-08 14:25] mehalter commented on #1276
Check the `user_example`: https://github.com/AstroNvim/AstroNvim/blob/d92c03dcc6bf68f2ce395322a5478066da672ce6/lua/user_example/init.lua#L220-L221

Here is an example with ToggleTerm:

[code]

Then just make sure that you do a `:PackerSync` anytime you edit the `plugins.init` table and it will remove the plugin.

[2022-11-08 14:26] trankchung commented on #1276
Thanks for the quick reply, @mehalter. I love AstroNvim.

[2022-11-08 14:29] mehalter commented on #1275
Ah, thanks for catching this! I will put together a fix! :D

[2022-11-08 14:33] #1276 closed

[2022-11-08 14:36] mehalter commented on #1275
@vtvz I pushed a commit to the `nightly` channel with the fix you described. I am going to look to see if there are better approaches and I'll let you know! Ideally I would like the `<C-'>/`F7` binding to toggle any open terminal away if it's open so that's definitely something I'm going to try and improve as well.

[2022-11-09 02:46] A-Lamia opened #1278 "Curly Brace incorrect space."
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

V2.6.2-3-g1e29035

### Neovim version (>= 0.8)

v0.8

### Operating system/version

Windows 10

### Describe the bug

Closing curly brace has a tab space when entering.

### Steps to Reproduce

1. create curly brace.
2. press ent

[2022-11-09 06:33] Yakov-Varnaev commented on #1278
+ 1 Have same issue with python
<img width="333" alt="image" src="https://user-images.githubusercontent.com/73383566/200756591-2641c2d3-6415-47e6-93dd-474b7aa8fc77.png">

[2022-11-09 07:20] SunHuawei commented on #1062
@DeeGeeMan , that's really cool! Would you please share your config?

[2022-11-09 07:24] SunHuawei commented on #1200
The default terminal on Ubuntu 22.04 has the same issue. I probably try wezterm too.

[2022-11-09 10:04] IcyKit opened #1279 "Code Folding"
### Question

Are there any ways or default plugins to fold code in AstroVim?

### User Configuration

_No response_

[2022-11-09 11:07] i-am-the-slime commented on #1062
@DeeGeeMan I'm also curious how to configure `ufo` in astronvim.

[2022-11-09 12:10] danielbisar commented on #94
Example

[code]

works just fine (with vanilla nvim 0.8.0

[2022-11-09 12:28] i-am-the-slime commented on #1279
Creepy, I've been trying this for two hours as well. I need the LSP version of this:
https://github.com/kevinhwang91/nvim-ufo

But I'm struggling.

[2022-11-09 12:43] mehalter commented on #1278
What filetype is this?

[2022-11-09 13:55] A-Lamia commented on #1278
Powershell, Some one before commented they had the same issue with python parenthesis and showed images of the same issues but deleted there post not sure why.

If he figured out the issue would have been nice if he left an other comment :)

[2022-11-09 15:05] mehalter commented on #1275
@vtvz I think I have completely fixed this and greatly improved how the terminal applications work ! Check out the latest nightly and see what you think!

[2022-11-09 15:07] mehalter commented on #1279
@IcyKit I personally just use the built in treesitter folding capabilities. You just need to set this in your config:

[code]

This will automatically fold the code when you open it, I'm not a huge fan of this so I also add `foldenable = false` and then I don't open up a folded piece of code but can fold things away as needed:

[code]

[2022-11-09 15:18] mehalter commented on #1279
Here is a recording of me doing a few different filetype folding with this method: https://asciinema.org/a/dyXmLBZG50u3E26VJ1iz0gKqP

[2022-11-09 16:49] IcyKit commented on #1279
Oh, I just tried nvim-ufo and it is working perfectly! Thanks for your answer!

[2022-11-09 16:49] #1279 closed

[2022-11-09 17:05] mehalter commented on #1223
I haven't heard from the `which-key` folks yet. I am going to go ahead and remove the `space` mapping by default to avoid the leader key conflict there. Just pushed a commit to `nightly` to resolve this.

[2022-11-09 17:18] mehalter commented on #1278
`nvim-autopairs` is what we are using here that is handling this. Typically it relies on treesitter to figure out indentation and stuff and powershell is a good example where there is not currently a supported treesitter parser for neovim 🤔 . There definitely are ways to configure this but I'm not super adept at this. You might want to ask on the `nvim-autopairs` repo (https://github.com/windwp/nv

[2022-11-09 17:26] #1223 closed

[2022-11-09 17:26] #1275 closed

[2022-11-09 17:36] i-am-the-slime commented on #1279
@mehalter could you share where to add the relevant config for the LSP config?

[2022-11-09 17:38] mehalter commented on #1279
@i-am-the-slime the code blocks I sent are entire `user/init.lua` files.

[2022-11-09 17:45] i-am-the-slime commented on #1279
@mehalter thanks, but there's no treesitter grammar for the language I use, so I'd like to use the folding stuff from ufo for the lsp. I did this in `~/.config/astronvim/lua/user/init.lua` but no luck:

[code]

[2022-11-09 17:46] mehalter commented on #1279
This is quite close. The main thing is the `on_attach` shouldn't be a table:

[code]

[2022-11-09 18:05] i-am-the-slime commented on #1279
Thanks that makes a lot of sense, I've only been fiddling with Lua since the day before yesterday and assumed `{` was for blocks and some kind of objects.

Finally got it to work, thanks so much.
Sending a lot of love for the help!

[2022-11-10 00:29] DeeGeeMan commented on #1062
@SunHuawei @i-am-the-slime Update your `user/init.lua` with the following...
[code]
Then call `nvim +PackerSync` from the console to install the [nvim-ufo](https://github.com/kevinhwang91/nvim-ufo) plugin.

[2022-11-10 01:50] A-Lamia commented on #1278
That's confusing according to nvim-autopairs it doesn't have anything to do with the indent.

[2022-11-10 02:17] ypli0629 opened #1282 "mason-lspconfig `automatic_installation` configuration takes not effect"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.6.3

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

macOS 13.0

### Describe the bug

mason-lspconfig `automatic_installation` configuration  takes not effect

### Steps to Reproduce

["mason-lspconfig

[2022-11-10 02:26] jayp0521 commented on #1282
This works fine for me

https://github.com/jayp0521/dotfiles/blob/main/shell/.config/nvim/lua/user/lsp/servers.lua

https://github.com/jayp0521/dotfiles/blob/main/shell/.config/nvim/lua/user/plugins/mason-lspconfig.lua

I have to run `:AstroReload` before it took affect though

[2022-11-10 02:31] mehalter commented on #1282
Yeah this is mainly because we load `mason-lspconfig` after `lspconfig`. Not sure the best way to separate this out. I'll give it a think though

[2022-11-10 02:32] mehalter commented on #1282
@jayp0521 makes sense that it works when you `:AstroReload` because it resources the `servers.lua` file again and the `mason-lspconfig` plugin is already running

[2022-11-10 02:35] jayp0521 commented on #1282
you should be able to take advantage of
[code]

[2022-11-10 02:36] mehalter commented on #1282
Setup handlers will not be triggered or relevant to automatically installing the language servers.

[2022-11-10 02:41] jayp0521 commented on #1282
That is correct. I meant you can take `servers.lua` and pass it into `ensure_installed` instead. Then use `setup_handlers` if you need to so it takes over setting up the `lsp`

[2022-11-10 02:42] mehalter commented on #1282
Yeah the main thing is we want to have a level of separation for users that have language servers installed locally and don't want to use mason for some

[2022-11-10 02:42] mehalter commented on #1282
@ypli0629 I will say I do think it's slightly better practice in AstroNvim to separate the list of mason-lspconfig ensure installed and the `lsp.servers` list to know which ones are being installed and which ones are provided locally

[2022-11-10 02:43] mehalter commented on #1282
I also just realized, the user might think that `automatic_installation` might be automatically installing servers when you load filetypes. Which I just want to clarify it won't do, it only automatically installs language servers that are set up with lspconfig

[2022-11-10 02:53] A-Lamia commented on #1278
Seems this issue may be a little more complicated it happens in default nvim and vim, and may have something to do with indent settings I'm not 100% sure yet.

[2022-11-10 02:55] mehalter commented on #1278
I'm not sure what we will be able to do in this situation :/ especially if it's present in stock Neovim/vim

[2022-11-10 02:57] A-Lamia commented on #1278
yep I think this can be closed seeing as it's an issue that has nothing to do with this project, I'll do a little more research and see if i can find a fix if i can ill leave a comment on this issue.

[2022-11-10 02:57] #1278 closed

[2022-11-10 02:58] mehalter commented on #1278
Awesome, thanks so much! I'll also take a look in my free time and see if I can help out

[2022-11-10 03:13] ypli0629 commented on #1282
I setup lspconfig server after `mason-lspconfig`, but it also seem to take no effect. when I place some log code into [https://github.com/williamboman/mason-lspconfig.nvim/blob/main/lua/mason-lspconfig/lspconfig_hook.lua#L57](https://github.com/williamboman/mason-lspconfig.nvim/blob/main/lua/mason-lspconfig/lspconfig_hook.lua#L57), it only print the server name which have been installed , I can't

[2022-11-10 03:35] mehalter commented on #1282
How are you setting up the server with `lspconfig`

[2022-11-10 04:07] SunHuawei commented on #1062
@DeeGeeMan , thank you!
However, I tried your configuration but still can not see the icons on the left side.
![image](https://user-images.githubusercontent.com/11191857/200998264-7798b67c-c3d2-47a7-a3a1-2aa7f97d9da1.png)

I tried Option 2 and Option 3 of https://github.com/kevinhwang91/nvim-ufo#installation, still not working. Here is one of the changes.
![image](https://user-images.githubusercon

[2022-11-10 04:33] SunHuawei commented on #1062
@DeeGeeMan, I get it. I created a fold with `zf}` and then I can see the fold icon. Anyway, I don't have to remap `zR` and `zM`.

However, what I'm looking for is something to create folds for each possible code block. Does anyone know anything like this?

[2022-11-10 09:11] olejech opened #1283 "How to enable autofix eslint on save?"
### Question

I use `"eslint-plugin-simple-import-sort": "^8.0.0",` and I want to auto sort imports on save buffer.

I tried this config:
[code]

<img width="848" alt="Снимок экрана 2022-11-10 в 14 07 57" src="https://user-images.githubusercontent.com/64708593/201050871-a34d79f6-3867-47fe-8495-299b17057d35.png">

[2022-11-10 09:29] i-am-the-slime opened #1284 "How to see LSP Code Lenses?"
### Question

I found [this](https://github.com/neovim/neovim/pull/13165/files#diff-6b5f3071d65558aab177912061ac6a2f5312660655a449276c83697686f28e72R1583-R1594) as a reference on how to do this.

Now I tried to add this in my config as below but it doesn't show anything

### User Configuration

[code]

[2022-11-10 09:36] i-am-the-slime commented on #1284
Okay it was the pattern. What's the right syntax for it?

[2022-11-10 09:45] i-am-the-slime commented on #1284
Also it only seems to trigger on `BufEnter`

[2022-11-10 12:14] mehalter commented on #1283
[code]
I believe you want something like this

[2022-11-10 14:02] gigo6000 commented on #1008
@mehalter let me know if you finally put a link to the video in the README/Documentation, thanks!

[2022-11-10 14:44] mehalter commented on #1284
@i-am-the-slime I believe the way you would want to do this is to build it into your own custom `lsp.on_attach` function. Here is an example that will create auto commands for all buffers with a language server client that supports codelens:

[code]

I have tested this and it works great. Also just a heads up I am investigating getting code lens integrated with AstroNvim out of the box, but haven'

[2022-11-10 14:57] mehalter commented on #1008
Ah yes! I have added it to the README on `nightly` Hopefully it gets merged in after some stuff gets finalized by the end of the week @gigo6000 !

[2022-11-10 15:07] dohsimpson opened #1286 "disable format_on_save on a per file basis"
### Question

Is it possible to disable format_on_save for a particular file? For example, by putting a vim line at the bottom, like this:

![image](https://user-images.githubusercontent.com/5865309/201130971-2328c3e8-22c6-48f2-86ad-9aad55cac79b.png)

Thanks!

### User Configuration

_No response_

[2022-11-10 15:09] mehalter commented on #1286
Hm, we don't have this as a feature currently for the line definition. One thing we do have is a UI toggle for the auto formatting. So if a language server is attached and is doing auto formatting you can do `<leader>uf` to disable the auto formatting on save

[2022-11-10 15:11] mehalter commented on #1286
this can also be controlled through our Lua API with `astronvim.ui.toggle_autoformat()` or in the editor with `:lua astronvim.ui.toggle_autoformat()`.

You can also add the option:

[code]

to disable the autoformatting on save by default on start and then you can use `<leader>uf` to enable/disable it

[2022-11-10 15:15] i-am-the-slime commented on #1284
Yes, that works much better, thanks. The comment on the `polish` function said it would be a good idea to put autocommands there and I was afraid that `onAttach` might leak creating new autocommands on every lsp "attaching" to a buffer.

[2022-11-10 15:25] #1284 closed

[2022-11-10 15:27] mehalter commented on #1284
ah true true @i-am-the-slime , another way you could do this is that you could do this:

[code]

This will basically recreate the autocmd for each buffer whenever a codelens capable lsp attaches, but it will clear the group each time it creates it so you will only have one autocmd per buffer. Basically just dynamically creates the group names to use the buffer number to make sure there are no coll

[2022-11-10 15:30] mehalter commented on #1286
Awesome! Post back if you find a good solution for your setup!

[2022-11-10 15:30] #1286 closed

[2022-11-10 15:30] #1283 closed

[2022-11-10 15:53] mehalter commented on #1282
I have fixed the ordering of setting up servers defined in `lsp.servers` to happen after `mason-lspconfig` if it is available on `nightly`. I think I can go ahead and close this now.

[2022-11-10 15:53] #1282 closed

[2022-11-10 18:11] itsOdell opened #1287 "Javascript/Tsypscript"
### Question

Hello there! This is an amazing project but I have yet to use it. This would be my first vim experience so I wanted to ask a question: will the config be automatically be ready for javassctipt/ttypescript? like code completions, auto suggestions, error and stuff like that.

Have a great day man!

### User Configuration

_No response_

[2022-11-10 18:13] itsOdell commented on #1287
and if not, how can I configure it to work?

[2022-11-10 18:23] mehalter commented on #1287
It will not. The config will not automatically install language servers or anything out of the box. The main thing you probably want to do is decide what language server you want to use (probably `tsserver`) and what formatters (probably `prettier`)

Installing highlighting parsers (same for any language that is supported): `:TSInstall javascript typescript`

Installing `tsserver`: `:LspInstall ts

[2022-11-10 18:25] mehalter commented on #1287
Once you get the treesitter parsers, language servers, and formatters installed (this is a similar process for any language you might want to use) then the editor is good to go for that language! We don't install any out of the box just because everyone has different needs and we don't want to force people to install unnecessary stuff onto their system

[2022-11-10 18:27] mehalter commented on #1287
You can also browse the available language servers and things that you can install with AstroNvim by running `:Mason` or the keybinding `<leader>pI` to open a graphical browser for packages (our leader key is `<space>`)

[2022-11-10 19:24] #1287 closed

[2022-11-10 22:12] archite commented on #1200
iterm2 also has this issue but it's not all the time. I've found that leaving the window for a period of time and then coming back, it stops working. Every time I wish I had kept track of what I did. I'll try harder and update thread.

[2022-11-10 22:25] ipsod commented on #1200
Reopening because of active discussion.  Not sure if that's appropriate.  Feel free to close.

[2022-11-10 22:36] mehalter commented on #1200
Sure we can leave it open a bit if people want it. I changed it to a question since it's not a bug

[2022-11-10 22:43] archite commented on #1200
Resizing the terminal window breaks the shortcut every time for me.

[2022-11-10 22:47] archite commented on #1200
[CSI u](https://iterm2.com/documentation-csiu.html) appears to fix it for me. Checking more.

[2022-11-10 22:57] archite commented on #1200
This appears to be a togglerterm issue as I can reproduce outside of this framework.

[2022-11-10 23:26] trankchung opened #1290 "How to disable or lower LSP client log"
### Question

Hi,

How do I disable LSP client log or change it to `info` instead of `debug`. My `~/.local/state/nvim/lsp.log` file grown to more than a gig and nvim is complaining. I tailed that file and most actions I do is logged as an `ERROR` in that file.

Thanks,

### User Configuration

_No response_

[2022-11-11 04:22] trankchung commented on #1290
Figured out that I could add `vim.lsp.set_log_level(“off”)` to disable it altogether.

[2022-11-11 04:22] #1290 closed

[2022-11-11 08:35] archite commented on #1200
I'm thinking this might be a nevoim issue. Replacing `<C-'>` with `<C-\\>` does not suffer from this issue. I've found a few issues for neovim which may be related but it's hard to nail down being such an esoteric issue.

Regardless, this is definitely not an AstroNvim issue.

[2022-11-11 10:04] gigo6000 commented on #1008
Awesome! thanks!

[2022-11-11 11:52] mehalter commented on #1200
Yeah @archite this will be something that will boil down to terminal capabilities and compatibilities

[2022-11-11 11:52] #1200 closed

[2022-11-11 12:05] vtvz commented on #1275
@mehalter hmmm... I face the same issue again with the latest version...

[2022-11-11 12:12] vtvz commented on #1275
Without custom mapping
[code]
Still opens terminals with the same id
![term](https://user-images.githubusercontent.com/11929252/201337827-58593bc5-1d6f-4982-82aa-7f09f40d78ee.png)
![lazygit](https://user-images.githubusercontent.com/11929252/201337960-2b1621bc-7005-4a3b-a6cd-44532e76cef0.png)

[2022-11-11 12:19] mehalter commented on #1275
You shouldn't get conflict behavior though because of `hidden=true` . Can you still replicate the original bug you reported? In my testing I cannot

[2022-11-11 12:24] mehalter commented on #1275
Also can you verify what version of AstroNvim you are using now? The latest version of AstroNvim does not set the `count` at all, so if there are count conflicts this would be a bug with toggleterm assigning the terminal counts

[2022-11-11 12:46] vtvz commented on #1275
So... Here is my [screen record](https://youtu.be/J8sYYEHU4NQ) with keys typed

[2022-11-11 13:40] mehalter commented on #1275
ah I see I see, I misunderstood how the `count` variable works. Hm, I suppose we do probably need to give these things like some garbage count. Could you check out the latest `nightly` and see if that resolves it?

[2022-11-11 15:38] ipsod commented on #1200
@mehalter

Perhaps worth documenting, though, somewhere on a page about keyboard mapping?  Maybe something like "Different terminal emulators support different keyboard shortcuts, and some are much more robust than the common OS defaults.  Read more here: https://sw.kovidgoyal.net/kitty/keyboard-protocol/ "  (or your preferred source)

[2022-11-11 15:40] mehalter commented on #1149
Ay! @rikyborg I figured out a fix for this finally! I have it currently in the `nightly` channel!

[2022-11-11 19:00] Juniar-Rakhman opened #1292 "Setting up Java (jdtls)"
### AstroNvim version
v2.6.4

### Neovim version
NVIM v0.8.0-v0.8.0
Build type: Release

### Operating system
Ubuntu 22.04.1 LTS

### Question

Has anyone here been successful in setting up jdtls in Astronvim?
I have a similar configuration in Lunarvim and it was working perfectly. Lombok, autocompletion, it all works.
But I just couldn't get the same result in Astronvim, there were some weird err

[2022-11-11 22:00] mehalter commented on #1292
I took a look at this and how `jdtls` the plugin works and there are some better ways to do this. Here is a conversation of the code you sent above to AstroNvim: https://gist.github.com/mehalter/7de1205af868bc33a26a4128e39b24f5 It is a bit more generalized and more powerful than what you specified here. It does automatic installation path detection, automatic OS detection, etc. Also you integrates

[2022-11-11 22:00] #1292 closed

[2022-11-11 22:12] #1149 closed

[2022-11-12 08:25] rikyborg commented on #1149
Great!

And in general, thanks for the good work, I really enjoy AstroNvim! It's already great out of the box, and still very easy to customize further.

[2022-11-12 11:20] zalech opened #1294 "can't run PackerSync after upgrade to 2.6.5"
### Question

I can't run :PackerSync after the last update.

**SOLUTION** https://github.com/AstroNvim/AstroNvim/issues/1294#issuecomment-1312481405

[2022-11-12 11:25] sjava commented on #1294
me too

[2022-11-12 11:43] mehalter commented on #1149
Thanks so much! Glad you are enjoying it 🤩

[2022-11-12 11:47] mehalter commented on #1294
Dang, I was worried about this 🤔 let me test the upgrade path. This came because I figured out how to lazy load Packer, I thought that I had fixed it to handle the migration but let me investigate it today! Sorry for the upgrade issue :/

[2022-11-12 12:01] matteo-hertel commented on #1294
This happened to me when upgrading to 2.6.0, so is not necessarily 2.6.5 😄
a temporary solution that worked for me is to revert locally `00a703c96ecbb1ae3c8483fdc9919898a214fa06` and
00a703c96ecbb1ae3c8483fdc9919898a214fa06
if you figure out a fix for this and you need people to test it, please hit me up

[2022-11-12 12:04] mehalter commented on #1294
@matteo-hertel could you try pulling the latest (v2.6.5) and then delete your `packer_compiled.lua` file? It should be like

[code]

And then open AstroNvim and see if it resolves it?

[2022-11-12 12:06] juxuanu commented on #1294
Doing that
[code]

Now it opens default nvim. :-(

[2022-11-12 12:08] Samisafool commented on #1294
Removing ~/.local/share/nvim worked

[2022-11-12 12:09] mehalter commented on #1294
Ah could you also delete the cache folder and see if that helps?

[code]

[2022-11-12 12:10] juxuanu commented on #1294
That worked.

[2022-11-12 12:10] mehalter commented on #1294
Yeah doing a full refresh would definitely work, was hoping to have a solution here that didn't require having to repull all the plugins and language servers that people behave installed.

[2022-11-12 12:18] matteo-hertel commented on #1294
pulled the latest (`25ef6a`)

ran
[code]

Packer is back but after a packerSync I get an error
[code]

running `rm -rf  ~/.local/share/nvim` and then running `PackerSync` has the same output, still an error for telescope

[2022-11-12 12:19] Samisafool commented on #1294
That's your user config conflicting

[2022-11-12 12:37] zbroniszewski commented on #1294
Is this expected to be an issue for anybody that upgraded to 2.6.5?

[2022-11-12 13:36] mehalter commented on #1294
I think so @zbroniszewski . Did you have this issue? Im Going to make an announcement about it across all the socials

[2022-11-12 13:44] mehalter commented on #1294
Just to summarize for anyone that runs into this:

This is the easiest way to resolve the new lazy loaded packer migration without having to reinstall plugins or anything:

[code]

To be extra safe, you can also do a full refresh:

[code]

After each of these, restart AstroNvim and run `:PackerSync`.

Sorry again for this inconvenience! This shouldn't happen again since we won't be moving packer a

[2022-11-12 13:46] mehalter commented on #1294
I have also gone ahead and pinned this issue so that it remains visible for people who go to the repo to ask this question. I'll make a post on Discord and r/AstroNvim just to be safe as well.

[2022-11-12 13:46] #1294 closed

[2022-11-12 14:09] Juniar-Rakhman commented on #1292
Thank you for pointing me in the right direction. Jdtls works perfectly now!

[2022-11-12 15:32] mehalter commented on #1292
Awesome, glad it worked out! @Juniar-Rakhman

Love when people come with new questions and see that it fits in our configuration scheme nicely 😂 good to put things to the test!

[2022-11-12 16:35] zbroniszewski commented on #1294
@mehalter I have not upgraded to 2.6.5 quite yet. Is there any way to avoid this issue for somebody who is preparing to upgrade?

[2022-11-12 16:42] Mjb141 commented on #1294
@zbroniszewski Just don't remove Packer. When asked hit `n`.

[2022-11-12 19:21] alavaelian commented on #1273
thanks for the answer homie

[2022-11-12 20:16] mehalter commented on #1294
@zbroniszewski @Mjb141 after you say no one time it will have the recompiled packer. On the endt startup it will ask you again to remove the packer installed to the `start` plugin folder. You should say yes the second time because it will have recompiled at that point the new lazy loading. So it should work

[2022-11-12 21:34] zbroniszewski commented on #1294
Thanks @mehalter I will test this carefully and report back. If successful, perhaps we should consider another announcement for users who have not yet upgraded to 2.6.5. (Rather than allowing 2.6.5 to break things, then fix, in case there are other unknown side effects)

[2022-11-12 21:41] mehalter commented on #1294
Yeah that would be great @zbroniszewski let me know how your testing goes. Thanks so much for the help and investigation !

[2022-11-12 22:03] N8Brooks opened #1295 "PackerSync Broken"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.6.5

### Neovim version (>= 0.8)

0.8.0

### Operating system/version

Ubuntu 20

### Describe the bug

Running `nvim +PackerSync` began failing at: [this commit](https://github.com/AstroNvim/AstroNvim/commit/00a703c96ecbb1ae3

[2022-11-12 22:09] mehalter commented on #1295
Please see #1294

[2022-11-12 22:09] #1295 closed

[2022-11-12 22:12] i-am-the-slime opened #1296 "How do I disable the infurating automatic insert of `()` after importing a function?"
### Question

I think this is `funcParensDisabled` from `nvim-autopairs` but I don't know where to enable this.
I use purescript and you apply functions with space (` `) rather than `()` so it's very annoying to have to delete the parens again.

### User Configuration

_No response_

[2022-11-12 22:31] N8Brooks commented on #1295
Thanks

[2022-11-13 00:02] keturiosakys commented on #1294
Even after this refresh I can't seem to get `PackerSync` to work :( I ran the full refresh (deleting share/nvim and cache/nvim) folders but after restarting nvim I get a whole bunch of errors and Packer fails to start. Of the errors, this seems to be the most relevant one:
[code]

[2022-11-13 00:07] mehalter commented on #1294
@keturiosakys it looks like you need to delete `~/.config/nvim/lua/packer_compiled.lua`

[2022-11-13 00:10] keturiosakys commented on #1294
Yeah I tried that as well with no dice. I did a full reinstall of AstroNvim and managed to get rid of the above error but now getting this one:

[code]

[2022-11-13 00:14] keturiosakys commented on #1294
Oh hold on I got it working now.

1. Reinstalled AstroNvim.
2. Re-added my personal config to `user` folder
3. Removed the `.local/share/nvim` (that included `packer_compiled.lua`), `.cache/nvim` etc
4. Reran Nvim and then `PackerSync` command became available

[2022-11-13 04:27] nikolasetiawan opened #1297 "What is the equivalent to the after/ftplugin in AstroNvim"
### Question

Trying to add some filetype-specific mapping. This can usually be done in the after/ftplugin folder in vim/neovim. What is the equivalent of that folder in AstroNvim?

### User Configuration

_No response_

[2022-11-13 04:50] nikolasetiawan opened #1298 "Glitch and weirdness when quiting unsaved file with neo-tree opened"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.6.5

### Neovim version (>= 0.8)

0.8.0

### Operating system/version

macOS 12.6.1

### Describe the bug

There are weird glitches happening when quiting using :q command while the file is not yet saved and neo-tree is opened.

[2022-11-13 09:19] A-Lamia commented on #1077
Is this still working on 2.65, or was there a regression ?

[2022-11-13 10:04] benvds commented on #1294
This worked for me neither, I had to revert back to v.2.6.4

[2022-11-13 12:42] laurazard opened #1299 "`:PackerSync E492: Not an editor command: PackerSync`"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.6.5

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

13.0

### Describe the bug

Since the last AstroNvim version, running `:PackerSync`, `:PackerClean`, etc. (any of the `Packer` commands) results in a

[2022-11-13 12:45] mehalter commented on #1299
Please see #1294

[2022-11-13 12:45] #1299 closed

[2022-11-13 13:17] mehalter commented on #1294
@benvds can you please share more details

[2022-11-13 14:29] Juniar-Rakhman commented on #1297
@nikolasetiawan I personally put language-specific settings in autocmd.lua:
here's an example of how I setup java specific settings:
[code]
Feel free to take a look at my configs:
https://github.com/Juniar-Rakhman/astronvim_config

[2022-11-13 14:48] dohsimpson commented on #1286
Using a modeline to set auto formating doesn't seem possible, because modeline only supports options for `set`, (e.g. `set et`).

But I did solve my problem by configuring my formatter (shfmt), which was behaving un-desirably, by adding command line argument to it.

example:

[code]

[2022-11-13 15:18] mehalter commented on #1077
@A-Lamia none of the files related to the statusline have changed in the new version and I can confirm it still works as intended

[2022-11-13 15:27] A-Lamia commented on #1077
@mehalter Interesting, i had to delete all my cache when moving to 2.65 and now it is not showing anymore, i also had to manually compile fzf-native

[2022-11-13 19:21] alexandersix commented on #1294
Hi @mehalter, this may be me not understanding fully, but I have completely removed AstroNvim from my system, removed `packer_compiled.lua`, removed `.local/share/nvim`, and re-installed AstroNvim using the directions on the website, and I am still getting the `Not an editor command: PackerSync` error.

All I've achieved by doing this is reverting entirely back to the default install of Neovim. An

[2022-11-13 19:27] mehalter commented on #1294
@alexandersix once you have compiled and verified that the new code is in the `packer_compiled.lua` you will want to remove the packer installation in the `pack/start` folder because our stuff installs packer to the `opt` folder and will lazy load it.

[2022-11-13 19:32] alexandersix commented on #1294
@mehalter Where can I find the `pack/start` folder? AstroNvim is working again with the defaults, but if I try to add my user config that I've been using, everything breaks with a `Failed to load core.bootstrap` error because it couldn't hash the `packer_compiled.lua` file

[2022-11-13 19:34] mehalter commented on #1294
@alexandersix that error would be happening because you didn't clear your Neovim cache. Please make sure to follow the steps I laid out above :)

[2022-11-13 19:38] alexandersix commented on #1294
@mehalter Strange, I cleared it all out and followed those steps prior to needing to re-install packer (those steps are what caused me to not be able to to run Packer until I re-installed it). Not sure why those steps didn't work the first time, but all seems to be well over here this time.

[2022-11-13 21:15] alexandersix opened #1302 "What plugin / setting is creating this UI element when bufferline is disabled?"
### Question

Hello! I'm trying to figure out what plugin/settings that I have to edit in order to change the background color of this UI element (`~/d/a/init.lua`). Since the latest update, it has become bright pink (I've highlighted it in the screenshot below to make it readable).

I've poured over the documentation, but I may have just missed something. It seems like this shows up even in the v

[2022-11-13 21:37] axdank opened #1303 "Disable mappings so that they do not appear on which-key"
### Question

I would like to know how to have the mappings without them appearing in which-keys.

`mappings.lua`
![imagen](https://user-images.githubusercontent.com/55039048/201545467-379019ca-e301-4506-83f1-aa91c1711b30.png)

`which-key.lua`
![imagen](https://user-images.githubusercontent.com/55039048/201545495-2854a965-0adf-4963-886c-6b3d8953034e.png)

I do not want the `r` option and the `dap`

[2022-11-13 23:13] mehalter opened #1304 "Allow custom LSP server definition in `lsp.server-settings`"
### Is your feature related to a problem?

Some people may want to define custom language servers in their config. The definition is the same as defining the server settings, so this should be interoperable.

### Describe the new feature

If there is a language server asked to be set up and it doesn't exist, but a definition is in `lsp.server-settings`, add it to `lspconfig`

### Additional contex

[2022-11-14 00:27] jvega commented on #727
Hi, with AstroVim 2.6.5.

I get the same error.

I fixed with
[code]

I notice that the variable now is dynamic in this commit https://github.com/AstroNvim/AstroNvim/commit/bab1cd56a49d5b18f5ebce66ffeee5d26f36e8e4

[2022-11-14 00:27] hitfm00 opened #1306 "How to hide some code?"
### Question

For example I have this code and want to hide like in vscode just click to the arrow in the left of the code.
I tried `<space> + z + a `but it doesn't work

<img width="1021" alt="Снимок экрана 2022-11-14 в 02 23 54" src="https://user-images.githubusercontent.com/21322208/201552622-b299435e-8c97-4d64-b785-89af81a4e170.png">

### User Configuration

_No response_

[2022-11-14 02:07] laowalter opened #1307 "How to do column selection in turbovnc"
### Question

I can use Ctrl+v in termical, but in my vnc enviroment, Ctrl+v is set to paste. I have did lots of search, cost muc time,  still have no idea. coz using AstroNvim,  just ask this, thanks for your help!

### User Configuration

_No response_

[2022-11-14 07:34] i-am-the-slime commented on #1306
just z a?

[2022-11-14 09:37] i-am-the-slime commented on #633
How do you set two themes, one dark and one light in the config? I always either have a working dark theme that gets inverted weirdly when changing to light or vice versa

[2022-11-14 11:34] mehalter commented on #1306
Look into folding:

https://vim.fandom.com/wiki/Folding

https://www.jmaguire.tech/posts/treesitter_folding/

https://github.com/kevinhwang91/nvim-ufo

[2022-11-14 11:34] #1306 closed

[2022-11-14 12:27] As2aic opened #1308 "'set showcmd' not working"
### Question

After installing Astro nvim, I noticed keystrokes in normal mode are not show in cmd section. After Googling i found that i need exec ':set showcmd'. In lunar vim I had same problem and fixed it with 'set showcmd' command. But in astro executing the command nothing happens.
I want to know my keystrokes in normal mode.

### User Configuration

_No response_

[2022-11-14 13:03] #1308 closed

[2022-11-14 13:42] mehalter commented on #1307
This will be up to your terminal emulator. TurboVNC will get getting and devouring the keypress before it gets to any terminal application. You'll have to see if you can configure TurboVNC to remove or change this binding

[2022-11-14 13:42] #1307 closed

[2022-11-14 13:46] mehalter commented on #1303
we currently have `which-key` filling in everything that is available. The easeiest way would be to remove the `desc` parts which will cause `which-key` to not fill them. Another way would be to set the registration of those keys in `which-key` to the value `"which_key_ignore"` (Check out the `which-key` docs here: https://github.com/folke/which-key.nvim#%EF%B8%8F-mappings)

[2022-11-14 13:47] mehalter commented on #1302
@alexandersix this is because we are  setting `showtabline=2`, you just want to add to your options, `showtabline=0`:

[code]

[2022-11-14 13:47] #1302 closed

[2022-11-14 13:50] alexandersix commented on #1302
Ah, TABLINE! The one place I didn't look. Really appreciate it!

[2022-11-14 13:51] mehalter commented on #1297
This is the method that I use as well. You can still use the `after/ftplugin` method as well and it will work, it will just be separate from your normal `user/` folder. I just realized that that is not in our `.gitignore` file which it should be. I have pushed to `nightly` to make this untracked.

[2022-11-14 13:57] mehalter commented on #1296
I'm not sure @i-am-the-slime, I don't know all the ins/outs of configuring `nvim-autopairs. I noticed that you did open an issue on the `nvim-autopairs` repo. That's definitely a better place to put it. Hopefully they provide some documentation!

[2022-11-14 13:57] #1296 closed

[2022-11-14 13:58] #1303 closed

[2022-11-14 13:58] #1297 closed

[2022-11-14 13:58] #1304 closed

[2022-11-14 14:17] mehalter commented on #1298
Thanks for reporting this. I have confirmed that this is a bug with `neo-tree` and can be replicated with a minimal neovim config that only loads `neo-tree`. I will be opening an issue there.

[2022-11-14 14:25] mehalter commented on #1298
@nikolasetiawan I have opened an issue upstream. Hopefully this gets resolved. I will follow the progress there as well and make sure it gets fixed. Thanks for reporting this! I am going to go ahead and close this since it needs to be fixed elsewhere.

Relevant issue: https://github.com/nvim-neo-tree/neo-tree.nvim/issues/605

[2022-11-14 14:25] #1298 closed

[2022-11-14 23:42] nikolasetiawan commented on #1297
Thank you @Juniar-Rakhman @mehalter for the suggestions

[2022-11-15 00:52] trankchung opened #1309 "Add new entries to alpha"
### Question

Is it possible to add more entries into alpha dashboard? I tried to add it but it's not working. I tried creating the file `plugins/alpha.lua` but it throws error so I tried creating the `plugsin/alpha/layout.lua` that didn't throw error but the new entry I added didn't show up. I even reloaded the config and re-synced packer and restart nvim too but still no dice.

### User Configur

[2022-11-15 01:18] jayp0521 commented on #1309
per the code, https://github.com/AstroNvim/AstroNvim/blob/main/lua/configs/alpha.lua#L1

`user_plugin_opts("plugins.alpha"` means you need a file at `user/plugins/alpha.lua`. return a table of whatever you want and it will do a https://neovim.io/doc/user/lua.html#vim.tbl_deep_extend() on it

[2022-11-15 02:27] trankchung commented on #1309
@jayp0521 I did what you suggested and it's working but it's not merging the settings. I defined the code below in `plugsin/alpha.lua` but that's the only thing showed up. The rest of the AstroNvim's settings are gone.

[code]

[2022-11-15 02:30] mehalter commented on #1309
@trankchung I'll be able to send you the correct snippet tomorrow morning

[2022-11-15 02:40] trankchung commented on #1309
@mehalter Thanks. No rush.

[2022-11-15 03:12] mehalter commented on #1309
@trankchung basically `vim.tbl_deep_extend` does not play nicely with list based tables because of a bunch of compiler and parsing reasons. For this we provide the `function` override notation described here in the docs: https://astronvim.github.io/Configuration/override_formats#override-function

This lets you fully manipulate the configuration table directly for something like this. The buttons

[2022-11-15 03:14] mehalter commented on #1309
To do this type of manipulation you definitely will need to look at the default table that we use for alpha (https://github.com/AstroNvim/AstroNvim/blob/main/lua/configs/alpha.lua) and see which element in the table you need to modify. Like figuring out that the buttons are in the 4th item in the `layout` list and then that the list of buttons are in the `val` property. You could also use this met

[2022-11-15 03:21] mehalter commented on #1309
Also if you just wanted to add it to the end of the buttons that we already define, you can just omit the 2nd argument for position like this:

[code]

[2022-11-15 03:23] #1309 closed

[2022-11-15 06:46] As2aic opened #1310 "Italic Comment"
### Question

How can I make comments italic like lunar vim in astro?

### User Configuration

_No response_

[2022-11-15 07:55] lzrdblzzrd opened #1311 "Distribution on preview screenshots"
### Question

I apologize in advance for the offtop and the question is not about AstroNvim. Please tell me what kind of Linux distribution is used in the preview screenshots of AstroNvim. It looks very nice and minimalistic and I wanted the same one for myself.

### User Configuration

_No response_

[2022-11-15 09:28] algoflows opened #1312 "Lazy git doesn't work, flashes open for a micro second then quits"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.6.5

### Neovim version (>= 0.8)

0.8

### Operating system/version

macOS Monterey 12.6.1 (21G217)

### Describe the bug

Lazy git doesn't work, it flashes open for a micro second then closes.

When using both <leader> tl or

[2022-11-15 10:29] abrausch opened #1313 "Colorscheme not working"
### Question

Hi, I have a problem changing the colorscheme.
I have the attache config.
I also changed the bootstrap.lua to get more information.
I changed it to:
[code]

The output is:
xxxx
tokyonight
default_theme
xxxx

Could you point me to my error?

Thanks in advance
Alex

### User Configuration

[code]

[2022-11-15 11:56] mehalter commented on #1312
@algoflows do you have lazygit installed and have verified that it's in your path?

[2022-11-15 12:07] mehalter commented on #1313
@abrausch have you run packersync to install tokyonight?

[2022-11-15 12:08] mehalter commented on #1311
It's Arch Linux with lots of custom configuration by @kabinspace . Here are his dotfiles: https://github.com/kabinspace/dotfiles

[2022-11-15 12:16] mehalter commented on #1310
You can add `Comment = { italic = true }` to your `default_theme.highlights` table. Here is a minimal `user/init.lua` file that just changes the Comments to be italic:

[code]

[2022-11-15 12:16] #1310 closed

[2022-11-15 12:17] mehalter commented on #1313
@abrausch I just tested the code that you sent and it works perfectly. Just make sure that you run `:PackerSync` any time you modify the `plugins.init` table so that packer can  recompile it's file and the plugins install/remove that need to.

[2022-11-15 12:17] #1313 closed

[2022-11-15 14:45] badjr13 opened #1314 "Lost Packer after update to `2.6.5`"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.6.5

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

Ubuntu 22.04.1 LTS

### Describe the bug

I updated `AstroVim` yesterday to `2.6.5` and lost `Packer` during the update. After running `AstroUpdate` a

[2022-11-15 14:48] mehalter commented on #1314
Duplicate #1294

[2022-11-15 14:48] #1314 closed

[2022-11-15 15:27] DeeGeeMan opened #1315 "How to hide the diagnostic hints in a open buffer?"
### Question

Is there a way to hide the diagnostic hints in the open buffer?  My buffer lights up like a Christmas tree when there are a lot of issues detected.

Example:
![image](https://user-images.githubusercontent.com/21670040/201958408-7ace0121-585f-42a7-b5e6-272602f57012.png)

### User Configuration

_No response_

[2022-11-15 15:29] mehalter commented on #1315
@DeeGeeMan you can do this in your `diagnostics` table in `user/init.lua`. This lets you customize the `vim.diagnostic.config` call, you can see all available options in `:h vim.diagnostic.config`. Here is a minimal `user/init.lua` file that just removes the virtual text from the diagnostics:

[code]

[2022-11-15 15:29] badjr13 commented on #1314
Sorry about that. Forgot to check the closed issues.

[2022-11-15 15:30] mehalter commented on #1314
No problem! Glad you got it back up and running!  For important issues, I will pin them, so they will still show up at the top of the issues page even if you are just in the open issues.

[2022-11-15 15:53] DeeGeeMan commented on #1315
I couldn't get it to work in the folder structure below...

![image](https://user-images.githubusercontent.com/21670040/201964886-8de2798b-c8b1-475b-b176-ecf50bf73312.png)

[2022-11-15 15:55] mehalter commented on #1315
It should just go into `user/diagnostics.lua` as described here: https://astronvim.github.io/Configuration/config_options

[2022-11-15 15:55] #1315 closed

[2022-11-15 15:56] DeeGeeMan commented on #1315
Thanks!

[2022-11-15 15:56] mehalter commented on #1312
if you open a terminal in AstroNvim with something like `:term` and then run `lazygit` what do you get?

[2022-11-15 18:20] davidhu2000 opened #1316 "broken syntax highlight for `import { type Something } from 'package';` in typescript"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.6.5

### Neovim version (>= 0.8)

0.8.1

### Operating system/version

macOS 12.6.1

### Describe the bug

The syntax highlight in broken when importing types in typescript files.

## Broken

[code]
<img width="575" alt="Scree

[2022-11-15 18:31] #1316 closed

[2022-11-15 18:47] anupj commented on #1294
I followed the recommended solution steps and it worked for me.
Thanks again for your work on Astronvim @mehalter 👍

[2022-11-15 19:10] davidhu2000 commented on #1316
awesome. thank worked thank you!

[2022-11-15 19:49] ecaneteok opened #1317 "Vimwiki colors for list and tags are being set to orange (fg and bg)"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.6.0

### Neovim version (>= 0.8)

NVIM 0.8

### Operating system/version

Ubuntu 22.04

### Describe the bug

Hi,
Vimwiki colors for list and tags are being set to orange (fg and bg) so when building a task list in vimwiki it i

[2022-11-15 20:07] mehalter commented on #1317
I cannot replicate the behavior you are describing

![2022-11-15_15:07:29_screenshot](https://user-images.githubusercontent.com/1591837/202015324-f03888f0-7397-4d5b-90c5-c2b934bba60c.png)

[2022-11-15 21:39] azinsharaf opened #1319 "non-default plugins don't load after upgrade"
### Question

I did a fresh install for 2.6.5 version (with stable channel) and I noticed that all the non-default plugins under `plugins / init` table doesn't load. Any idea what i am missing?

### User Configuration

_No response_

[2022-11-15 21:40] mehalter commented on #1319
@azinsharaf did you follow #1294?

[2022-11-15 22:05] azinsharaf commented on #1319
it works now after a complete fresh reinstall. thanks!

[2022-11-15 22:05] #1319 closed

[2022-11-15 22:52] gzzinx opened #1320 "How to disable cmdline-window on "q:" ?"
### Question

Is there way to disable a [cmdline-window opening](https://vimhelp.org/cmdline.txt.html?#cmdline-window) on "q:" chord?
I've found this [stackoverflow answer](https://stackoverflow.com/questions/50521331/how-to-disable-command-history-q-in-vim) and I've tried insert
[code]
in polish() function and also `["q:"] = false,` in `mappings.n` and it both doesnt' work.

### User Configuratio

[2022-11-15 23:09] mehalter commented on #1320
Could you try `["q:"] = "<nop>"` in your `mappings.n` table?

[2022-11-15 23:09] mehalter commented on #1320
The `false` will let you remove our default mappings. To remove core Neovim mappings you will need to map them to `"<nop>"

[2022-11-15 23:20] gzzinx commented on #1320
@mehalter  No, it doesn't work :( Keeps triggering

[2022-11-15 23:37] sbeyer opened #1321 "autopairs not disabled on TelescopePrompt?"
### Question

In Commit cf5130947fbd1ca793813dcf935203cf9bfa6de9, the `TelescopePrompt` has been removed from the list of filetypes for which `autopairs` is disabled. This is in contradiction [to the documentation](https://astronvim.github.io/Configuration/plugin_defaults#autopairs).

Is the change intentional? If so, how can I get it back to disable autopairs on `TelescopePrompt` with my user con

[2022-11-15 23:42] ecaneteok commented on #1317
Hi ,
I've attached below an screenshot and my user/init.lua config file.

Thanks in advance.
Emiliano Cañete

![Vimwiki_Screenshot 2022-11-15 203619](https://user-images.githubusercontent.com/45297666/202047401-b42a3c55-68f9-451f-9a50-d67253524516.jpg)
[init.lua.txt](https://github.com/AstroNvim/AstroNvim/files/10016893/init.lua.txt)

[2022-11-15 23:44] mehalter commented on #1317
@ecaneteok what terminal are you using? It looks like it probably doesn't support true colors

[2022-11-15 23:48] ecaneteok commented on #1317
I am using Windows Terminal app on Windows 10. Thanks

[2022-11-16 00:15] mehalter commented on #1321
Ah this is a mistake, that line should have been removed all together. We should just be using the default in this case which includes `TelescopePrompt`. I have fixed this in the latest `nightly`. This should get released sometime this week to stable!

[2022-11-16 00:15] #1321 closed

[2022-11-16 00:17] mehalter commented on #1320
ah maybe it needs to be capitalized. I can confirm that this minimal `user/init.lua` disables the menu:

[code]

[2022-11-16 00:17] #1320 closed

[2022-11-16 00:18] mehalter commented on #1317
@ecaneteok could you run this in your terminal and see what the output is?

[code]

[2022-11-16 00:22] mehalter commented on #1317
Also could you please provide a screenshot of the output of the command?

[2022-11-16 00:25] ecaneteok commented on #1317
Here is the output:
![Color Test Screenshot 2022-11-15 212220](https://user-images.githubusercontent.com/45297666/202052944-d772dd62-5bc3-483f-a29b-4a780edaa650.jpg)

Also, I found this color config in ~/.config/nvim/lua/default_theme/plugins/vimwiki.lua file,I am not sure if it is related to the issue.
![Vimwiki Screenshot 2022-11-15 211636](https://user-images.githubusercontent.com/45297666/2020

[2022-11-16 00:27] mehalter commented on #1317
oh interesting, I wonder why this was done and why it didn't show up when I tested it 🤔  I will change this! Thanks for investigating!

[2022-11-16 00:28] sbeyer commented on #1321
Works like a charm again :)

[2022-11-16 00:29] mehalter commented on #1317
I went ahead and fixed this in `nightly` :) Could you try the `nightly` branch and see if that resolves it?

[2022-11-16 00:39] ecaneteok commented on #1317
Awesome! Yes sure, I am going to try the nightly branch then!
Another questions:
Is there a way to override that configuration from /user/init.lua ? Could you please provide an example?
Is there a command that needs to be run after change the color configs?

Thanks for your quick response!

[2022-11-16 00:40] mehalter commented on #1317
@ecaneteok there isn't, just need to pull and restart

[2022-11-16 02:12] A-Lamia opened #1322 "heirline icon kind override"
### Question

With heirline is there a way to override "kind" icons for instance

[code]

[code]

Trying to run a function for dynamic icons but i have no way of overriding the icon.

EDIT: Wanted to add this is for the mode component, maybe even adding an mode_icon property ? That way you could set kind to `NONE` and use that property instead.

[2022-11-16 02:27] A-Lamia commented on #1322
Looked through the code figured out a way to do what i want with inbuilt astronvim.status function closing this. :)

[2022-11-16 02:27] #1322 closed

[2022-11-16 03:03] mehalter commented on #1322
Awesome! I would be really interested in seeing what you put together if you could share ! It would be a good reference if someone wants to set up something similar

[2022-11-16 03:37] A-Lamia commented on #1322
@mehalter Sure ill upload my config files.
![image](https://user-images.githubusercontent.com/6450181/202077624-551d02d5-8d84-478b-9947-5caa001b14da.png)

[2022-11-16 03:49] A-Lamia commented on #1322
[code]

[2022-11-16 07:53] As2aic opened #1323 "Neotree does not show hidden files and always opens Home directory instead of working directory"
### Question

When opening a file neotree always displays "Home" directory instead of the working directory.
Suppose, when opening "~/.config/nvim/lua/user/init.lua" neotree should display the working directory. It also does not show hidden files.

### User Configuration

_No response_

[2022-11-16 09:19] run-stop opened #1324 "Typing the text 'jk' in rapid succession throws me out of the INSERT mode"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.6.5

### Neovim version (>= 0.8)

0.8

### Operating system/version

Ubuntu 20.04

### Describe the bug

While in the INSERT mode, entering the text 'jk' in rapid succession throws me out of the insert mode and deletes the 'j'

[2022-11-16 10:59] run-stop commented on #1324
@gzzinx, thank you for the link... Not sure how to disable the 'better-escape' plugin. I've tried commenting out the plugin in '.config/nvim/lua/core/plugins.lua', but after the restart I get the same problem.

[2022-11-16 11:21] gzzinx commented on #1324
@run-stop Place this code in `~/.config/nvim/lua/user/init.lua`
[code]

and then run `nvim +PackerSync`

[2022-11-16 11:48] trankchung opened #1325 "What is vim.go?"
### Question

What is this vim.go that you used in line below? I tried googling but it all sent me to golang related stuff.

What I’m trying to do is detect the color scheme and change the bufferline background highlight and I’m researching on how to do that.

 Thanks.

https://github.com/AstroNvim/AstroNvim/blob/c32e0928714ce4e711d9245d33a663652536f469/lua/core/utils/ui.lua#L64

### User Configur

[2022-11-16 11:51] #1325 closed

[2022-11-16 11:51] mehalter commented on #1325
https://github.com/nanotee/nvim-lua-guide#using-meta-accessors

[2022-11-16 11:52] trankchung commented on #1325
Never mind found the answer :P. It’s to set/get global options.

[2022-11-16 11:57] mehalter commented on #1323
Hidden files can be toggles with `h`. They can also be toggles to be shown by default if you want as described by the neo-tree docs: https://github.com/nvim-neo-tree/neo-tree.nvim

As for the current working directory, now-tree reflects the current working directory as set by Neovim. Changing files does not change your working directory by default. You can set up your Neovim to do this on your own

[2022-11-16 12:00] #1317 closed

[2022-11-16 12:03] mehalter commented on #1324
@gzzinx thanks for the detailed answer and helping out! One thing I would add is to make sure @run-stop you don't edit anything in the core files of AstroNvim and you stay in the `user/` folder and follow what's described in the docs: https://astronvim.github.io/Configuration/manage_user_config

Editing the core files is unsupported and will break the ability to update.

Any time you modify `plugi

[2022-11-16 12:03] #1324 closed

[2022-11-16 12:29] run-stop commented on #1324
Thank you All for your help. As I made some mess in the configuration, I had to remove all traces of the nvim configuration (~/.local/share/nvim and ~/.config/nvim). Then I reinstalled AstroNvim, created the ~/.config/nvim/lua/user folder and as @gzzinx suggested, saved the init.lua file. Then I did the nvim +PackerSync, and 'jk' is gone. Everything works as expected.

Thank you for your help and

[2022-11-16 13:06] As2aic opened #1326 "neo-tree update failed"
### Question

Command: " :PackerSync "
Output:  ✗ Failed to update nvim-neo-tree/neo-tree.nvim/v2.x

[2022-11-16 13:24] mehalter commented on #1326
@As2aic did you try it multiple times? sometimes there is downtime in github and it might return an error like this

[2022-11-16 13:42] #1312 closed

[2022-11-16 13:43] algoflows commented on #1312
Sorry everyone thanks for help, didint have lazygit installed. New to vim here . Thanks for all the responses.

[2022-11-16 13:57] As2aic commented on #1326
@mehalter while trying to install nvim-tree i might have synced it multiple times.

[2022-11-16 14:02] mehalter commented on #1326
I'm  not sure, maybe just keep trying and see if it fixes itself? You might want to join the discord and ask if anyone else has had similar problems. This is definitely related to network connectivity and resolution with GitHub. Also could be that you have a faulty installation for some reason and you need to uninstall/reinstall it by deleting the folder in your `~/.local/share/nvim/site` folder