[2022-11-16 14:02] #1326 closed

[2022-11-16 14:29] gzzinx commented on #1320
To be clear, it doesn't work completely.
It disables triggering only for instant pressing `q:`, but if you press `q` and then press `:` after even 0.5 sec delay it stll triggers the cmdline-window. I've checked it in multiple distros in docker and VM.
Maybe there is a way to disable it totally?

[2022-11-16 14:35] mehalter commented on #1320
I'm not sure :/ might be a question for r/Neovim

[2022-11-16 14:35] mehalter commented on #1320
There are probably some options that need to be passed to the keymap set function that will handle the case maybe?

[2022-11-16 14:57] dsisnero opened #1330 "rust-tools in user config"
### Question

For some reason, I can't install rust-analyzer from packer.  I copied the example init.lua to the astronvim user folder.  I want to use rust-tools with astronvim and an already installed rust-analyzer.  I tried to add rust-analyzer to

### User Configuration

Part of user config
[code]

[2022-11-16 15:17] mehalter commented on #1330
Check out the docs on this :) https://astronvim.github.io/Recipes/advanced_lsp#lsp-specific-plugins

[2022-11-16 15:19] gzzinx commented on #1320
It works really strange. I've tried to do this in clear neovim with [this guide](https://blog.devgenius.io/create-custom-keymaps-in-neovim-with-lua-d1167de0f2c2) and it does the same in clear neovim. Disables cmdline-window opening for fast pressing `q:` but doesn't disable for `q-delay-:`.
[code]

[2022-11-16 17:37] Cretezy opened #1332 "Add nvim-bqf"
### Is your feature related to a problem?

The quickfix list in Vim/Neovim is light on features by default. No way to open a fix + close, no preview, etc.

### Describe the new feature

Adding https://github.com/kevinhwang91/nvim-bqf would drastically improve the quickfix list in AstroNvim.

### Additional context

I've been personally using it with Astro without issues. Astro could possibly custo

[2022-11-16 19:04] DeeGeeMan opened #1336 "How to display the curly line for diagnostics?"
### Question

By default, all diagnostics are shown as underlined in the buffer.  How do I change it to be a curly line like the screenshot in your Git repo?

### User Configuration

_No response_

[2022-11-16 19:46] mehalter commented on #1336
Are you using a different theme? The default theme does this automatically. Another thing is to make sure that your terminal supports undercurl

[2022-11-16 19:49] DeeGeeMan commented on #1336
Yes, I am using the default theme. However, I am also using [Alacritty](URL) as my default terminal.  Which one are you using?

[2022-11-16 19:57] mehalter commented on #1336
@DeeGeeMan looks like alacritty added undercurl support in February: https://github.com/alacritty/alacritty/issues/1628

[2022-11-16 19:58] mehalter commented on #1336
I just installed Alacritty and I'm seeing undercurl with the default theme and a fresh installation:

![2022-11-16_14:58:20_screenshot](https://user-images.githubusercontent.com/1591837/202281688-6a9ef493-ae91-4835-bfe6-1113556a7a37.png)

[2022-11-16 20:00] DeeGeeMan commented on #1336
Awesome, I will install the latest and see if I can get it to show up.  Thanks!

[2022-11-16 20:01] DeeGeeMan commented on #1336
It might be my tmux config too.

[2022-11-16 20:04] mehalter commented on #1336
https://www.reddit.com/r/neovim/comments/thhw77/no_undercurls_in_tmux_help/

Ah yeah, that might be a limitation as well

[2022-11-16 20:13] DeeGeeMan commented on #1336
I got it to work by adding the following lines to my `tmux.config`

[code]

[2022-11-16 20:13] mehalter commented on #1332
I've played around with this a bit and haven't found a set up that I think plays nicely with everything. Feel free to put it in your User config and let me know if you have a decent configuration and I can take a look at it and test it out.

[2022-11-16 20:13] #1332 closed

[2022-11-16 20:14] mehalter commented on #1336
Awesome, thanks for sharing! This will be useful for anyone else that needs it 😄

[2022-11-16 20:14] #1336 closed

[2022-11-17 00:12] maxbrunet commented on #1153
@mehalter It seems this has regressed in 2.7.0 (including 2.7.3), LSP does not start when opening the file

[2022-11-17 00:31] mehalter commented on #1153
Can you make sure you have updated to 2.7.3 and have run packersync, this Should be resolved in 2.7.3. there was a bug with this in 2.7.0

[2022-11-17 00:32] mehalter commented on #1153
This Shou be resolved when we call filetype on LSP loading

[2022-11-17 00:36] maxbrunet commented on #1153
Yes, I have seen the related commits, but 2.7.3 with PackerSync done and Lua cache cleared, it does not start without going into insert mode. 2.6.5 is the latest that has it working for me

[2022-11-17 00:38] mehalter commented on #1153
Hm @maxbrunet I cannot seem to replicate this with AstroNvim and pylsp 🤔

[2022-11-17 00:49] maxbrunet commented on #1153
I have cleaned up everything and reinstalled from scratch with the minimal config, no luck, it starts on insert :confused:

[code]

[code]

[2022-11-17 01:00] mehalter commented on #1153
Hm I can't seem to replicate, I just pushed to `nightly` kinda shooting in the dark but it might solve the problem. Could you see if that resolves it?

[2022-11-17 01:03] maxbrunet commented on #1153
Yup, nice shot, it works! :grinning:

[2022-11-17 01:04] mehalter commented on #1153
wow, nice! Sorry for the minor regression! 😅

[2022-11-17 01:17] maxbrunet commented on #1153
No worries, thank you!

[2022-11-17 12:39] tri-cao opened #1339 "Diagnostics config does not work"
### Question

After updating astronvim diagnostic config does not work.

I try config in both user/init.lua and user/diagnostics.lua but no changes:
![image](https://user-images.githubusercontent.com/17317324/202448319-49fa55e6-9b24-41c0-9a28-aba636fca500.png)
![image](https://user-images.githubusercontent.com/17317324/202448820-35bb96e6-829b-4ba2-b8f4-b1d9d467e28f.png)

### User Configuration

[c

[2022-11-17 13:48] mehalter commented on #1339
@tri-cao , I'm not sure what's going on, but it looks like [go.nvim](https://github.com/ray-x/go.nvim) is breaking `vim.diagnostic.config`. I have not idea what it's doing, but it makes `vim.diagnostic.config()` do absolutely nothing. This seems like a bug somewhere in their plugin

[2022-11-17 13:59] tri-cao commented on #1339
go.nvim has an option that let it hook to diagnostics. After disabling it everything works fine
[code]

Thank you

[2022-11-17 13:59] #1339 closed

[2022-11-17 14:14] TahaBinhuraib opened #1340 "nvim does not work after latest mac os update"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

latest versioon

### Neovim version (>= 0.8)

nvim 0.8.1

### Operating system/version

macos ventura

### Describe the bug

Packer sync and clean dont work

### Steps to Reproduce

update to latest macos version and open nvim

#

[2022-11-17 14:24] mehalter commented on #1340
can you share your user config? Did you just update from a version below v2.6.5 and follow the announcement guides? It looks like there is probably some caching issues and you need to refresh your cache

[2022-11-17 17:27] justisGipson commented on #1340
i might be dealing with something similar. Recently updated things, on macos latest and as of this morning no Packer commands are working. _very new to all things vim_ so this could be on me, but no configs have changed

[2022-11-17 17:34] justisGipson commented on #1340
@mehalter i had missed that thread. 🙏🏼 many thanks.

[2022-11-17 21:05] Vambyte opened #1342 "Buffer file path disappears when loading session"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.7.4

### Neovim version (>= 0.8)

0.8.1

### Operating system/version

Windows 11

### Describe the bug

Filepath at top of buffer disappears when loading saved session.

### Steps to Reproduce

1. Open files with same name in

[2022-11-18 00:10] ilaipi opened #1343 "How to disable this feature?"
### Question

When save a buffer it will add a space between `{}` to be `{ }`, how to disable this?

### User Configuration

_No response_

[2022-11-18 01:05] Namefailed opened #1344 "How to ignore vim globals in lua files."
### Question

How can I add the lsp or dianostics option to ignore vim globals so that I can hide some of those errors? I've googled it and used the documentation and came up with the below fixes, but none seem to be taking affect. Am I placing this in an incorrect area of the /user/init.lua?

### User Configuration

local config = {
  options = {
    opt = {
      relativenumber = true, -- sets v

[2022-11-18 01:25] A-Lamia opened #1345 "nvim-neo-tree high levels of lag"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

Version: v2.7.4-4gf963772

### Neovim version (>= 0.8)

NVIM v0.8.1

### Operating system/version

Windows 10

### Describe the bug

nvim-neo-tree is causing very high levels of lag, it used to be slightly laggy but now it is pre

[2022-11-18 01:42] Namefailed commented on #1344
Any tips regarding my config are greatly appricated. :)

[2022-11-18 03:24] kutzhang opened #1346 "How to install plugin nvim-dap, nvim-dap-go,"
### Question

I need to use plugin DAP and DAP-GO to debug my Golang application, but I can't see any plugin by TSInstall for them.
How can I do?

### User Configuration

_No response_

[2022-11-18 03:25] kabinspace commented on #1343
Are you using any formatter?

[2022-11-18 03:29] ilaipi commented on #1343
nothing, I think. Here is my customize config:

https://github.com/ilaipi/nvim-customize/blob/main/init.lua

[2022-11-18 05:00] Juniar-Rakhman commented on #1346
@kutzhang you can use my config as a reference. I got Go debug working using DAP:
https://github.com/Juniar-Rakhman/astronvim_config

[2022-11-18 06:20] A-Lamia commented on #1345
This might be because of Git Projects with a git repo up to date (no modified files) and projects with out any git are fast.

[2022-11-18 07:51] SunHuawei opened #1347 "Fold icons disappeared after upgrade"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.7.4

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

macOS 12.6.1 (21G217)

### Describe the bug

The fold column shows with config `foldcolumn = "1",` or `foldcolumn = "2",`. But the fold icons are dis

[2022-11-18 09:10] scientiac opened #1348 "Error message spawning unnecessarily"
The same error occurs on changing to next as well as the previous buffer on neotree(not on other buffers).

Says
Neotree: invalid mapping for h: nil

on doing shift-l or shift-h

my user/init.lua file is here:
 https://gitlab.com/scientiac/dotfiles/-/blob/main/nvim/lua/user/init.lua

![image](https://user-images.githubusercontent.com/58177655/202664067-82a136e2-3b40-4c43-b125-569cb52e59cd.png)

[2022-11-18 09:21] scientiac commented on #1348
The issue got fixed when I updated. Sorry

[2022-11-18 09:21] #1348 closed

[2022-11-18 10:09] Namefailed opened #1349 "Issue with function to load rand color scheme on startup."
### Question

I have some code in my polish section that is meant to generate a random number and then select a color scheme from a table with that number on startup. For some reason, the function doesn't output error but is only ever selecting the last item in the list. any help would be so appricatied

### User Configuration

polish = function()
    -- Set custom colorscheme
    local schemelist

[2022-11-18 13:07] goget-milk opened #1350 "Syntax highlighting in .go files (missing)."
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.7.4

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

ArchLinux

### Describe the bug

Hi all!
There is no syntax highlighting in **.go** files.

[![maingo.png](https://i.postimg.cc/m2dv0nqY/maingo.png)](

[2022-11-18 13:07] mehalter commented on #1349
I'm not sure, I did do some test where I run `:lua print(math.random(1, 3))` then restarted neovim and ran it again and always get `3`. This could be something about random seeds being the same when you start neovim so the value could always be the same

[2022-11-18 13:08] mehalter commented on #1350
Does your statusline indicate that treesitter is running? Have you run `:TSInstall go`?

[2022-11-18 13:09] Namefailed commented on #1349
dang. hmm, if you have any solutions or other functions that would work, let me know! :) Thanks!

[2022-11-18 13:09] #1349 closed

[2022-11-18 13:11] mehalter commented on #1347
Can you please share your user config? These are being set by `nvim-ufo` I'm pretty sure. I can't replicate this without your `nvim-ufo` settings

[2022-11-18 13:12] mehalter commented on #1346
@Juniar-Rakhman thanks for sharing your config!

@kutzhang you will need to set up a user configuration to add plugins. You will need to add and configure [nvim-dap](https://github.com/mfussenegger/nvim-dap)

[2022-11-18 13:12] #1346 closed

[2022-11-18 13:14] mehalter commented on #1344
What language server are you using? This should be configured automatically inside of `sumneko_lua`

[2022-11-18 13:15] mehalter commented on #1343
@ilaipi what file types is this happening for? some of the language servers are you using? Some will provide formatters. Also have you installed anything to be used with `null-ls` they could also be formatters. If you are getting formatting on save then you definitely have a formatter running

[2022-11-18 13:16] goget-milk commented on #1350
@mehalter
Yes! I run `TSInstall go`

[![statusline.png](https://i.postimg.cc/cJTQdVqm/statusline.png)](https://postimg.cc/4K7K52x7)

[2022-11-18 13:20] mehalter commented on #1343
Here is also documentation on disabling formatting on save: https://astronvim.github.io/Recipes/advanced_lsp#customizing-auto-format-on-save

[2022-11-18 13:24] mehalter commented on #1345
@A-Lamia this would be a good issue to open with  `neo-tree` to see if they can provide any insight. I wonder if this is related to windows in any way. I don't get any lag from my end on large git repos with lots of changes on Linux at least.

Also see that this issue is open, not sure if it's related: https://github.com/nvim-neo-tree/neo-tree.nvim/issues/609

[2022-11-18 13:25] mehalter commented on #1350
What colorscheme are you using? It could also be poor treesitter support in your colorscheme

[2022-11-18 13:30] Namefailed commented on #1344
I was using selene. I can use sumneko_lua, the lsp stuff is all still really new to me.

[2022-11-18 13:33] mehalter commented on #1344
`selene` isn't a full language server, it is just a linter that is compatible with `null-ls`. This will need to be configured outside of AstroNvim since it is a separate program. I'm not sure how to configure it. We have AstroNvim set up so that the `lua-language-server` works well out of the box. I would definitely give that a try and see what you think!

[2022-11-18 13:34] goget-milk commented on #1350
@mehalter
I use "NordFox" colorsheme.
I tried with other color themes i get the same.
I noticed something....
If I first disable syntax highlighting by pressing `space -> u -> y`
and then turn it on with the same key combination - syntax highlighting appears...
How to understand this situation... What's wrong with .go files ?

[![maingo.png](https://i.postimg.cc/6Q5gYxBJ/maingo.png)](https://posti

[2022-11-18 13:35] mehalter commented on #1350
I'm not sure, can you please share your user configuration file?

[2022-11-18 13:37] A-Lamia commented on #1345
I'll make a bug report i guess, just disabled it never really used it anyway so not missing out on anything.

[2022-11-18 13:38] mehalter commented on #1345
Awesome, could you also share the relevant issue you open on `neo-tree` here to follow the discussion? I'll go ahead and close this for now and depending on how the `neo-tree` discussion goes we can reopen it if it comes back to us 😄

[2022-11-18 13:38] #1345 closed

[2022-11-18 13:43] goget-milk commented on #1350
@mehalter
[init.lua](https://drive.google.com/file/d/1dC6reqqych09b-jOazFmakU4iynpkDdq/view?usp=share_link)
same repeat link
[init.lua](https://disk.yandex.ru/d/EFExs9_UAbyeyg)

[2022-11-18 13:44] mehalter commented on #1347
![2022-11-18_08:44:22_screenshot](https://user-images.githubusercontent.com/1591837/202718892-93356418-43fa-44df-b054-9bd2485243f1.png)

I just tried setting up `nvim-ufo` and I cannot replicate this

[2022-11-18 13:56] mehalter commented on #1350
@goget-milk it looks like this is the offending plugin: https://github.com/olivercederborg/poimandres.nvim

When I remove it from your config the issue goes away

[2022-11-18 14:05] goget-milk commented on #1350
@mehalter
Thanks a lot! You are a God!
Problem solved, I'm insanely happy again!
P.S. I couldn't think of a color scheme that wasn't used

With best regards!

[![maingo.png](https://i.postimg.cc/WbdzzzKC/maingo.png)](https://postimg.cc/TpXfHdTJ)

[2022-11-18 14:06] #1350 closed

[2022-11-18 14:13] #1343 closed

[2022-11-18 15:36] mehalter commented on #1340
Given that this description says "Packer sync and clean dont work" I'm thinking this is a duplicate of the pinned issue I have linked. I am going to go ahead and close this as a duplicate. @TahaBinhuraib let me know if this isn't the same!

[2022-11-18 15:36] #1340 closed

[2022-11-18 21:16] Vambyte commented on #1342
Sure thing: [pastebin](https://pastebin.com/3973jcyd)

[2022-11-18 22:38] TheButlah opened #1351 "How do you change the order of completion sources?"
### Question

Right now, AstroNvim gives snippets before lsp completions (like functions). How do I put the functions first?
Also, is there a difference between snippets from the LSP and non-lsp snippets?

### User Configuration

_No response_

[2022-11-19 00:25] Vermoot commented on #1351
Here's the documentation page that talks about this:
https://astronvim.github.io/Recipes/cmp

[2022-11-19 00:46] mehalter commented on #1351
It's also important to note that some LSP servers provide snippets. I know `rust_analyzer` for example provides snippets from the server and they will always take presidence over LSP symbols for some reason. I think someone on the Discord server did this and resolved it. It's a good place to ask for questions

[2022-11-19 00:47] #1351 closed

[2022-11-19 03:48] TheButlah commented on #1351
In my case I am using `rust_analyzer` so thats exactly what I'm curious about. I'll ask in the discord and update here if I find an answer.

[2022-11-19 03:55] A-Lamia opened #1352 "How to load plugin before heirline"
### Question

Just wanted to know how i could load a plugin before heirline (core plugins), I'm trying to modify my heirline.lua and it's unable to see the `require()` from an other plugin so i think the load order is off.

### User Configuration

_No response_

[2022-11-19 04:00] A-Lamia commented on #1352
all good it just fixed it self lmao.

[2022-11-19 04:00] #1352 closed

[2022-11-19 04:37] mehalter commented on #1351
Oh wait actually @TheButlah it was #1225 not on discord!

[2022-11-19 05:29] duytrung opened #1353 "Not able to update with AstroUpdate command"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.7.4

### Neovim version (>= 0.8)

0.8

### Operating system/version

Windows 10

### Describe the bug

I have git installed and exist in the command path but when I use AstroUpdate it showed this message:
![image](https://user-

[2022-11-19 08:23] p4nchit0z opened #1355 "Show Current Mode in Statusbar with letters (not only colors)"
### Question

Hi, I was wondering if there is a way to show current mode in Astrovim at the bottom bar. For example, if I'm in normal mode there could be an "N" letter in the statusbar, if I then change mode and I'm in Visual mode a it shows a "V" and so on...

By the way, I know that at the bottom left/right of AstroVim there's a rectangle that changes color with the mode, but I just wanted to kn

[2022-11-19 11:05] mehalter commented on #1355
https://astronvim.github.io/Recipes/status#default-statusline-with-mode-text

[2022-11-19 11:46] breenbo commented on #1353
Same here: all packer commands are gone (update, compile, sync).
AstroNvim : 2.7.4.-5-g777e31b
Neovim: v0.8.0

Thx.

[2022-11-19 12:52] cherez0ff opened #1356 "Please help to disable auto-indent"
### Question

I have a solution for usual (n)vim, but not for Astro, since it uses Lua stuff I guess.
I want to have effect of auto-applied setting set indentexpr='' (empty string) by default

If I just override it in "local config = { .. options = {..  opt = { .." - then it will be overridden again by nvim when I open format specific file (for py for example it will be indentexpr=python#GetIndent

[2022-11-19 15:30] mehalter commented on #1353
@duytrung @breenbo please see the pinned issues #1294 for the packer issue.

@duytrung for the original issue if you open a terminal in AstroNvim with like `:term` what do you get if you run `git`?

[2022-11-19 15:44] #1355 closed

[2022-11-19 17:03] mehalter commented on #1356
@cherez0ff you probably want to disable `indent-o-matic` plugin:

[code]

[2022-11-19 17:08] mehalter commented on #1342
Hm I can't replicate this with your config either. I wonder if it has something to do with what `rust-tools` is setting. Can you replicate this outside of a rust project? I did find a bug in your config with how you are setting `rust-tools`. Here is a fixed config that doesn't cause errors:

[code]

[2022-11-19 19:29] cherez0ff commented on #1356
Nop, nothing has changed
Indent still works. Value of indentexpr still "GetYAMLIndent(v:lnum)". That's for for yaml file

new config part:
[code]

[2022-11-20 02:04] trankchung opened #1357 "Inspect NeoTree* highlights"
### Question

Hi,

I'm trying to customize neo-tree `source_selector.highlight_tab_active` and I know I can use the predefined highlight names such as `NeoTreeTabActive` and `NeoTree*` highlight names. However, none of them have the color nor font style/weight I want. So, I'm trying set it to a table and define my own weight, color, etc. but I don't know the format of the table.

I was able to tra

[2022-11-20 02:28] Vambyte commented on #1342
Thanks for the config.
I've tried removing nvim folders, and re-installing astronvim and neovim of various versions >= 8.0.0. Also tried outside a rust project and with different terminals, but the issue still remains. Maybe it's my OS acting up?

[2022-11-20 02:30] mehalter commented on #1342
Yeah maybe, I haven't tested on windows

[2022-11-20 02:32] mehalter commented on #1357
Easiest way is probably `:Telescope highlight`

[2022-11-20 06:59] goget-milk opened #1358 "Word reverse in bread crumbs && autocomplete window"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.7.4

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

ArchLinux

### Describe the bug

I noticed the words in reverse order
So far only in .go .js .ts files
In the settings, only the color theme has been

[2022-11-20 14:55] #1357 closed

[2022-11-20 15:53] trankchung commented on #1357
Thanks @mehalter. I was able to figure it out after reading `highlight`.

[2022-11-20 16:54] lancelock opened #1359 "jsx and tsx file can not indent correct"
### Question

I have install the lsp servers: tsserver html cssls emmet-ls
and TSInstall javascript html typescript tsx and so on

When i edit a jsx file, the js blocks is right, but the html tags can not indent for a different level, they just at the start of the line,
like this:
<img width="309" alt="image" src="https://user-images.githubusercontent.com/13751352/202914846-a128e308-9e19-4aa0-a87f

[2022-11-20 18:01] goget-milk commented on #1359
@lancelock
I join! I have the same problem

[2022-11-20 19:37] jozzi05 commented on #1269
@F1garr0 I had the same issue. In my case, I just had to remove the packer and [reinstall it](https://github.com/wbthomason/packer.nvim#quickstart), hope this helps.

[2022-11-20 21:25] mehalter commented on #1358
@goget-milk I can't seem to replicate this with a base installation of AstroNvim. Can you replicate this without any user configuration?

[2022-11-20 21:27] mehalter commented on #1358
Also for your 2nd question: https://astronvim.github.io/Recipes/cmp#customize-source-priority

here is the relevant documentation

[2022-11-20 21:33] mehalter commented on #1359
I would recommend enabling treesitter based indentation. This is an experimental treesitter feature and does have some instability for some languages which is why it is not enabled on core AstroNvim. Here is an example user configuration:

[code]

[2022-11-20 21:33] #1359 closed

[2022-11-21 02:06] wtLau opened #1360 "how to change cursor color"
### Question

Hi, I am having a hard time tracking where my cursor is due to the low contrast ratio. Just want to ask how can I change it to something brighter like `orange_1`?

I tried updating it in `user_example/lua.init` and ran `:PackerSync`, but nothing happened

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/26396307/202945393-f2905a22-a731-4123-ae1e-6ac6f7aea9

[2022-11-21 02:24] congvmit opened #1361 "setup python environment with conda"
### Question

when I start a project with `nvim`. The nvim IDE always use `python` from the base conda environment.
I want to change to other python from other conda environment.
How should I configure? Please help me!

### User Configuration

[code]

[2022-11-21 03:03] wtLau opened #1362 "How to split terminal"
### Question

The key binding that toggles term uses arent applicable here. I am wondering how to split into the different terminal session.

### User Configuration

_No response_

[2022-11-21 03:22] goget-milk commented on #1358
@mehalter
Yes i can reproduce
I just reinstall AstroNvim and get this bug on a clean install.

[2022-11-21 03:25] mehalter commented on #1358
Can you please describe exact steps to reproduce?

[2022-11-21 03:49] goget-milk commented on #1358
1. Clean install AstroNvim
2. Mason Install: see screenshot
[![mason.png](https://i.postimg.cc/02yXbyJR/mason.png)](https://postimg.cc/PN0Q7h42)
4. TSInstall: bash css scss dockerfile go gomod gowork html javascript json lua markdown python sql toml typescript vim yaml
5. Install colorschemes: see screenshot
[![plugins.png](https://i.postimg.cc/Wzb8F5z6/plugins.png)](https://postimg.cc/KkwBCrnR)
7

[2022-11-21 03:55] mehalter commented on #1358
What filetypes are you experiencing this in and what language servers are shown to be attached?

[2022-11-21 04:07] goget-milk commented on #1358
language servers: bash css dockerfile emmet-ls gopls html json lua prettier pyright python sqls svelte typescript vim yaml
It's all in the screenshot above...
Filetypes: .go .js .ts .svelte

[2022-11-21 04:11] mehalter commented on #1358
I see that those are the ones installed. Which ones are running in the files that you see these reversing issues? Are you seeing them in all file types? You originally said just `go` files. When you open a go file for example, what language servers are running

[2022-11-21 04:16] mehalter commented on #1358
Also you mention you can replicate the bug with a clean installation. Can you give specific steps to get to the bug without any user configuration changes? Maybe an example file to open, just installing the bare minimum language servers from Mason, etc.

[2022-11-21 04:20] goget-milk commented on #1358
in .go files - gopls and treesitter

[2022-11-21 04:20] mehalter commented on #1358
Thanks, could you please provide the same for `js` and `ts`

[2022-11-21 04:25] goget-milk commented on #1358
in .svelte - only svelte language server
in .ts .js - tsserver, prettier, treesitter

[2022-11-21 04:27] mehalter commented on #1358
Could you please provide some replication steps to get to the bug you are describing?

[2022-11-21 04:32] goget-milk commented on #1358
How did I do...
Clean install of AstroNvim
Installing language servers (Mason install)
Installing treesitter for these languages (TSInstall)
And it's all!

[2022-11-21 04:36] mehalter commented on #1358
Could you please provide maybe an example file? It looks like some LSP entries aren't reversed? What symbols types are reversed, etc.? Just some details that can get me to see the error in some way on my machine.

[2022-11-21 04:41] mehalter commented on #1358
For example in your first screenshot the breadcrumbs are not backwards but the word field is, in the second screenshot the breadcrumbs are backwards and structure is backwards, but module isn't backwards. Do you have clear steps that can replicate the bug (assuming I have the language servers set up)

1. `nvim test.go`
2. Type ...
3. See bug in cmp menu if you type `...`
4. Breadcrumbs flip when X

[2022-11-21 04:42] mehalter commented on #1358
Also do you get this bug in all colorschemes or just one or some?

[2022-11-21 04:42] mehalter commented on #1358
Which colorscheme are you using in the screenshots you sent?

[2022-11-21 04:43] goget-milk commented on #1358
For example...
svelte - instead of Field -> dleiF
go - instead of Struct -> tcurtS

[2022-11-21 04:51] goget-milk commented on #1358
This bug in all colorschemes, and also on default.
I tried without colorschemes

I am currently using substrata color
The color scheme does not affect this bug, I checked first

i need 5 minutes

[2022-11-21 04:59] goget-milk commented on #1358
nvim main.go ->
[code]
This enough to reverse breadcrumbs... when cursor is in structure

[2022-11-21 05:02] goget-milk commented on #1358
[![structure.png](https://i.postimg.cc/KzGQRtG2/structure.png)](https://postimg.cc/7CRSRGJs)

[2022-11-21 05:06] goget-milk commented on #1358
[![structure.png](https://i.postimg.cc/RVg3Bf8t/structure.png)](https://postimg.cc/rKtyGdqy)

[2022-11-21 05:17] whoop-t commented on #1362
`<leader>t` will show you all the toggle term options
https://astronvim.github.io/Basic%20Usage/mappings#toggle-terminal-mappings

[2022-11-21 05:33] wtLau commented on #1362
Yes but what I wanted to achieve is to have two terminal opened within the
toggleterm

On Sun., Nov. 20, 2022, 21:17 whoop-t ***@***.***> wrote:

[2022-11-21 05:59] whoop-t commented on #1360
What terminal are you using?
I use iterm2 and this is something I believe you need to change in the terminal preferences

You can see more highlight group options by using `:highlight` or viewing the neovim docs
https://neovim.io/doc/user/syntax.html#highlight-groups

[2022-11-21 06:09] whoop-t commented on #1362
Maybe relevant: [#619 ](https://github.com/AstroNvim/AstroNvim/issues/619)

[2022-11-21 07:14] arewerage opened #1363 "How to set transparency to the background?"
### Question

The astronvim theme has an opaque background by default. How can I fix it so that it's like in the Alacritty terminal?
![Снимок экрана от 2022-11-21 16-08-45](https://user-images.githubusercontent.com/69102503/202987218-231a2d84-a3d8-4b1c-ad1d-81b6e162452c.png)

My [init.lua](https://github.com/arewerage/dotfiles/blob/main/dot_config/nvim/lua/user/init.lua) file if needed.

### User

[2022-11-21 07:26] kabinspace commented on #1363
Please check [this](https://github.com/AstroNvim/AstroNvim/issues/8#issuecomment-1276307330) out. It has been already discussed at #8

[2022-11-21 07:26] #1363 closed

[2022-11-21 07:37] arewerage commented on #1363
Thank you very much!

[2022-11-21 10:15] IcyKit opened #1364 "Typescript + React.JS"
### Question

Are there any ways in default AstroVim to view this modal while editing ts or tsx file?
![Снимок экрана 2022-11-21 в 13 13 28](https://user-images.githubusercontent.com/84917134/203024886-1871395f-74fd-4cf6-ac6a-34faef800148.png)

### User Configuration

_No response_

[2022-11-21 12:29] mehalter commented on #1358
![2022-11-21_07:28:41_screenshot](https://user-images.githubusercontent.com/1591837/203055422-a9750467-4725-4fc5-a732-d1e81c1440b7.png)

![2022-11-21_07:28:36_screenshot](https://user-images.githubusercontent.com/1591837/203055458-8e9e0897-8f17-43dc-a291-4c208143609d.png)

Unable to replicate this behavior. Not sure what could be causing this

[2022-11-21 12:31] mehalter commented on #1342
@Vambyte I'm not sure what could be causing this on your end. I would also think that this would be related to the Bufferline plugin since we aren't setting the buffer names anywhere. Since I'm unable to replicate this and it's probably unrelated to AstroNvim, I'm going to go ahead and close this. If anything else comes up related to this please comment back and I can look into reopening. I'll als

[2022-11-21 12:35] mehalter commented on #1361
I'm not sure, typically for virtual environments I just activate the virtual environment before I run `nvim`. When the virtual environment activates it makes `python`/`python3` run within my environment and therefore neovim will then have access to it. I'm not sure if there are ways to switch environments once neovim is open. This might be a relevant reddit thread: https://www.reddit.com/r/neovim/

[2022-11-21 12:35] #1361 closed

[2022-11-21 12:36] mehalter commented on #1360
@whoop-t is correct here, I believe the cursor being set in this situation is coming from the terminal application in this instance

[2022-11-21 12:36] #1360 closed

[2022-11-21 12:39] mehalter commented on #1362
yeah the best way to achieve this with ToggleTerm is to change the location of splits by default as shown in that issue linked above (#619) and then you can use `<F7>` to open a toggle term and then `#<F7>` to open more. so like `<F7>` and `2<F7>` will open 2 toggle terms in splits if you have the split set to default. Outside of this you would need to add your own bindings for running `:terminal`

[2022-11-21 12:39] #1362 closed

[2022-11-21 12:40] mehalter commented on #1364
you could use `gI` to go to the implementation of the symbol I believe in this situation, and then `<C-o>` to go back to your previous mark

[2022-11-21 12:40] #1364 closed

[2022-11-21 12:41] goget-milk commented on #1358
Can the old config or cache or temp files affect this behavior?
Where can I clean the system from old neovim files?

[2022-11-21 12:44] mehalter commented on #1358
I don't believe the config or cache would have any affect. I honestly have no idea how some words could even be reversed, this isn't part of any of our logic at all. The easiest way to clean the old neovim files is:

[code]

Also might be worth checking if you can replicate this in other terminals as well

[2022-11-21 12:50] goget-milk commented on #1358
You are right again!
Everything is fine in another terminal (kitty), default (alacritty)
Why didn't I think to check this earlier?
Although LunarVim worked fine.....
Thank you anyway

[2022-11-21 12:53] IcyKit commented on #1364
Unfortunately, it doesn't work :(

[2022-11-21 12:56] goget-milk commented on #1358
P.S. Is it possible to swap the icon title definition in places in the auto-completion drop-down list?

[2022-11-21 13:01] mehalter commented on #1358
yeah, you will just need to customize the `formatting.format` function in your `plugins.cmp` table. I'm not sure exactly what it should be, but it will just take some amount of lua to get it working correctly. You can check out the `cmp` docs for information on customizations: https://github.com/hrsh7th/nvim-cmp/wiki/Menu-Appearance#basic-customisations

You'll just want to make sure you use `lspk

[2022-11-21 13:01] #1358 closed

[2022-11-21 13:02] mehalter commented on #1364
I'm not sure then. Not all language servers support all functionality. You could also try using `gd` to go to definition. Might be worth asking on the discord or r/AstroNvim to see if other people have figured this out

[2022-11-21 13:04] mehalter commented on #1347
@SunHuawei I can't reproduce this and AstroNvim by default doesn't do anything with `foldcolumn` let me know if you can share your personal configuration and I can take a look to see if I can find any bugs in it. I'm going to go ahead and close this for now since it seems unrelated to the core AstroNvim code.

[2022-11-21 13:04] #1347 closed

[2022-11-21 15:31] jacobabahn opened #1366 "Syntax Highlighting not working correctly"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [x] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

Version: v2.8.0

### Neovim version (>= 0.8)

NVIM v0.8.0

### Operating system/version

macOS 13.1

### Describe the bug

The syntax highlighting doesn't completely work until I run a Mason command. For example, the screenshot b

[2022-11-21 16:49] mehalter commented on #1366
Hm it looks like treesitter isnt loading. When you first open up the file do you see `TS` in the statusline? And if you run `:PackerStatus` do you see `nvim-treesitter` loaded or not loaded?

[2022-11-21 17:20] wtLau commented on #1360
oh my bad, I was using wrap as my terminal. I changed it to another theme and its very bright now!

Thanks for the help

[2022-11-21 17:25] mehalter commented on #1362
I personally use tmux ! I really like it for terminal multiplexing

[2022-11-22 05:07] ng-tony commented on #1366
I've ran into the a similar problem. TSInstall does not seem to work, any argument I pass to it just silently fails.

I do not see the TS in the statusline but I do see that nvim-treesitter is loaded.

My current workaround is to configure treesitter in my user/init.lua
[code]

[2022-11-22 05:12] mehalter commented on #1366
@ng-tony what error were you getting when running `:TSInstall`?

[2022-11-22 06:30] ng-tony commented on #1366
I'm not getting any errors, just nothing happens

[2022-11-22 08:52] SunHuawei opened #1367 "Multiple terminals?"
### Is your feature related to a problem?

No

### Describe the new feature

Is that possible to show more than one terminal?
I usually start a local dev server in one terminal, and later find I need another terminal to do something.
So is that possible?

### Additional context

_No response_

[2022-11-22 10:29] duytrung commented on #1353
@mehalter thanks for your suggestion, I ran the ":term" and then run "git". This is the result:
![image](https://user-images.githubusercontent.com/2046672/203290424-541ce802-7647-4f60-a734-349cc5b640ba.png)

[2022-11-22 10:51] teklabania commented on #1353
Hi, same here, there are no Packer... commands since v2.6.5. When I checkout back to v2.6.4 everything gets back to normal.
NVIM v0.8.0 on Manjaro Linux

[2022-11-22 11:51] k12ish opened #1368 "List of default AstroNvim snippets?"
### Question

I can see that AstroNvim uses [LuaSnip](https://github.com/L3MON4D3/LuaSnip), but I can't seem to find which snippets AstroNvim includes by default.

Most articles I find are geared towards modifying LuaSnip or AstroNvim, but I can't find any resource that tells me which snippets I already have.

### User Configuration

_No response_

[2022-11-22 11:56] mehalter commented on #1368
AstroNvim come with these snippets - https://github.com/rafamadriz/friendly-snippets

[2022-11-22 11:56] #1368 closed

[2022-11-22 14:31] mehalter commented on #1353
@duytrung could you check out `nightly` branch manually by `cd`ing into the `~/.config/nvim` folder and running

[code]

and then start `nvim` and see if `:AstroUpdate` works correctly? I changed the logic for how we are checking if `git` is available, and if should be alright now :D

[2022-11-22 14:37] mehalter commented on #1367
Take a look at issue #619

I believe the best way to achieve this with ToggleTerm is to change the location of splits by default as shown in that issue linked and then you can use `<F7>` to open a toggle term and then `#<F7>` to open more. so like `<F7>` and `2<F7>` will open 2 toggle terms in splits if you have the split set to default. Outside of this you would need to add your own bindings for

[2022-11-22 15:32] ng-tony commented on #1366
Yep, everything is up to date. Not sure what's going on, I might nuke everything when I have time later.

[2022-11-22 15:42] jacobabahn commented on #1366
I don't see `TS` in the status line, but I see that `nvim-treesitter` is loaded.

[2022-11-22 15:52] jacobabahn commented on #1366
I added this to my init.lua and I'm still having the same issue in the typescript project from the original post, which has the .tsx extension.

[2022-11-22 16:48] mehalter commented on #1366
@jacobabahn could you try the latest `nightly` and see if it resolves the issue?

[2022-11-23 03:02] SunHuawei commented on #1367
Thanks @mehalter, the default behavior of `:terminal` is perfect for me! It supports multiple terminals. At the same time, it shows with a tab, so I can navigate to them as same as the buffers.

For someone who has the same needs, here are some key mappings
[code]

[2022-11-23 09:38] anupj opened #1370 "v 2.8.0 upgrade cause mason plugin to not load"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.8.0

### Neovim version (>= 0.8)

v0.8.1

### Operating system/version

macos ventura 13.0.1

### Describe the bug

I upgraded the plugin using AstroUpdate. However, when I tried to open the mason installer by pressing <leader

[2022-11-23 10:55] Noxdor commented on #1366
I just ran into the same issue(s) on the stable branch.
For me it is like that:
1. As far as I can see, JS, TS, HTML, MD and few others are working fine, but I just opened a few Rust projects and I get the following error flood:
![image](https://user-images.githubusercontent.com/64439978/203529141-8bc8289c-7917-4bc9-8bb4-959115ad3d09.png)
2. As for @ng-tony `TSInstall` fails silently
3. `nvim-tree

[2022-11-23 11:11] anupj commented on #1370
Restarting iterm2 fixed the issue 🤷🏽‍♂️

[2022-11-23 12:37] mehalter commented on #1366
@Noxdor the treesitter errors you are getting look like you need to reinstall the rust treesitter parsers. Could you try doing `:TSUninstall rust` and then `:TSInstall rust`

Also when you do `:TSInstall` and it fails silently, if you run `:messages` do you see anything?

[2022-11-23 12:54] Noxdor commented on #1366
Unfortunately I can't try that because `TSUninstall` fails silently as does `TSInstall`. `:messages` also doesn't output anything, neither before nor after running one of the `TS` commands :/

[2022-11-23 13:08] mehalter commented on #1366
Hm that's very strange @Noxdor are you running them on a freshly opened `nvim` editor or after you have opened a file and treesitter is supposedly loaded? Also what OS are you on?

[2022-11-23 13:12] Noxdor commented on #1366
I tried both, opening a fresh `nvim` instance in `~` and also opening a specific Rust project, open a .rs file and run the `TS` commands. Both same result: No result. I am on (Garuda) Linux.

[2022-11-23 15:50] cherez0ff opened #1371 "Please help to disable auto-indent"
### Question

Hi! I don't have rights to re-open old issue, so I'm creating a new one. Proposed solution didn't work. Perhaps any other ideas?
https://github.com/AstroNvim/AstroNvim/issues/1356

### User Configuration

_No response_

[2022-11-23 15:58] mehalter commented on #1371
I went ahead and reopened the previous issue. I'll take some time to investigate and get back to it soon

[2022-11-23 15:58] #1371 closed

[2022-11-23 16:27] jacobabahn commented on #1366
Using the nightly build didn't resolve my issues. Highlighting for `.tsx` extensions still seem to not be loaded. I uninstalled and reinstalled typescript from the Treesitter, but that didn't correct anything.

[2022-11-24 02:56] alavaelian opened #1372 "how can i set up astro vim for c/c++ develoment"
### Question

how i can set up astro vim for c/c++ develoment in particular i want an option to compile the program without write in a shell g++ <file>.cpp

### User Configuration

_No response_

[2022-11-24 03:08] ilaipi opened #1373 "Will you add 'kshenoy/vim-signature' this plugin?"
### Is your feature related to a problem?

_No response_

### Describe the new feature

with this plugin, we can add mark to somelines, and go back to a specific line quckily.

Is there any replacement already exist in this config?

### Additional context

_No response_

[2022-11-24 08:46] mishagantz opened #1374 "2.8.0 AstroNvim lazy loading update broke Mason cmd"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.8.0

### Neovim version (>= 0.8)

0.8.1

### Operating system/version

MacOS 12.5

### Describe the bug

After update I can't call Mason UI using :Mason or `<leader>pI` when I try it, nothing happens, but commands like :MasonUp

[2022-11-24 11:46] mishagantz commented on #1373
You can add this plugin yourself. Basic <C-o> and <C-i> do the trick for me, usually I don't need to jump around file in 5 or more different places.

[2022-11-24 11:47] mishagantz commented on #1374
Treesitter commands (:TS*) doesn't work either

[2022-11-24 13:18] mishagantz commented on #1374
I managed to fix Treesitter by deleting every occurrence of `nvim-treesitter/nvim-treesitter` in `requires` option of user plugins but Mason still doesn't pop up without `vim.cmd [[command! Mason execute "lua require('mason.ui').open()"]]`
even though I don't have Mason in `requires` of any plugin.

[2022-11-24 17:19] Noxdor commented on #1366
Strangest thing today:
I ran `AstroUpdate` no update.
I ran `PackerSync` no update.
I ran `TSUninstall rust` still no reaction.
I ran `TSInstall rust` and it asks me if I want to reinstall it (which didn't work yesterday), I say yes and after a restart at least my Rust parsing is resolved as @mehalter suspected!
After the restart though, ALL tree-sitter commands don't work again! Event `TSInstall`

[2022-11-24 20:31] Mjb141 opened #1375 "Error executing lua callback: attempt to call field 'format'"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.8.0

### Neovim version (>= 0.8)

Nvim 0.8.0

### Operating system/version

Ubuntu 20.04.5 LTS (WSLg)

### Describe the bug

Plugins updated:
![image](https://user-images.githubusercontent.com/46346590/203859313-fd4a6157-665f-

[2022-11-24 22:59] mehalter commented on #1375
What do you get if you run `:lua =vim.lsp.format` ?

[2022-11-25 08:05] ZhaoZuohong opened #1376 "Plugin indent-o-matic does not take effect on startup"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.8.0

### Neovim version (>= 0.8)

NVIM v0.8.0-1210-gd367ed9b2

### Operating system/version

Linux Mint 21

### Describe the bug

When opening a file with neovim, for some files, indent detection is incorrect. However, invoke

[2022-11-25 11:03] Mjb141 commented on #1375
`nil`

![image](https://user-images.githubusercontent.com/46346590/203971257-02a81d36-c460-4fb3-af11-a94e9b50cba7.png)

What should I get?

[2022-11-25 11:06] PaulKushch commented on #956
@airtonix can you please paste your config if you solved it?
I have trouble to make `move.nvim` work in visual line mode. Same with @LoneExile config provided above.
Best regards

[2022-11-25 12:27] daniel-hampton commented on #1294
I ran into the same difficult as @alexandersix after following the recommended approach from @mehalter. After reading the later message from @mehalter that I should say "No" to the first time it asks me if I want to remove packer from the 'start' folder, my second attempt worked. I was able to say yes to removing it on the second prompt after it recompiled and looks like everything is working. Tha

[2022-11-25 13:31] mathwro opened #1377 "Azure Bicep configuration not working/disappearing"
### Question

Hi.

I've just started to try out AstroVim so i'm not completely familiar with the structure just yet.
However i'm trying to configure the LSP for Azure's bicep language, which seems to require some additional custom configuration.

If i use LspInstall Bicep, the lsp will be installed and used in that current session. However without any colorization.

As soon as i close the session

[2022-11-25 13:56] mehalter commented on #1375
Something must be super wrong with your Neovim installation o.O `vim.lsp.format` should be a built in function. You can run `:h vim.lsp.format`. This is a function that should be available in core Neovim without any plugins or anything.

[2022-11-25 13:56] gzzinx opened #1378 "Additional better-escape mappings"
### Question

How can I add more mappings, e.g. `{"jj", "jk", "kk"}` to better-escape plugin config via user/init.lua?

### User Configuration

_No response_

[2022-11-25 13:57] mehalter commented on #956
@PaulKushch you shouldn't have `:` after `<cmd>`

[2022-11-25 15:28] benvds commented on #1294
i also got things working again by clearing all:
[code]
and then doing a clean checkout

[2022-11-25 17:47] bmarvinb opened #1379 "How to change background color"
### Question

![CleanShot 2022-11-25 at 19 46 29@2x](https://user-images.githubusercontent.com/23120972/204035254-f592299e-1633-4b7c-855d-7933ff87a3eb.png)

How to change this dark color that?

### User Configuration

_No response_

[2022-11-25 18:09] PaulKushch commented on #956
@mehalter Ah ok thanks, but the problem still persists, It only moves the top line up/down selected in visual line mode, not all the lines.
[Screencast from 2022-11-25 19:05:24.webm](https://user-images.githubusercontent.com/5386035/204037552-d0d7a7a1-d972-409b-81cd-83231a2a93db.webm)

[2022-11-25 18:10] Mjb141 commented on #1375
`:h vim.lsp.format` works fine and displays the help for that function. Leaning towards a full removal + reinstall of Neovim + AstroNvim here.

[2022-11-25 19:10] trankchung opened #1380 "Load highlights before/after plugins"
### Question

Hi @mehalter,

Is it possible for me to load the `highlights/theme-name.lua` modules before the bufferline plugin? I've made changes to my `highlights/ayu-mirage.lua` but it doesn't take affect when I started neovim. I had to reload the config again once started neovim for it to take affect so I think it has to be config loading order.

Thanks,

### User Configuration

_No response_

[2022-11-25 22:28] whoop-t commented on #1379
I would try to find it using the `:highlight` command
I know ` NeoTreeTabInactive` will work for changing the inactive tab in Neotree

[2022-11-25 22:49] whoop-t commented on #1378
In you `user/init.lua`, in the `plugins` object you want something like this:
[code]

User better-escape docs for more options: https://github.com/max397574/better-escape.nvim

[2022-11-25 23:22] whoop-t commented on #1379
Found the one for the BufferLine, which is where your second arrow points:
` hi.BufferLine = {bg = "#ffffff"}`

If you dont know already, you add these to your `user/init.lua` in the `highlights = function(hi)...`

[2022-11-26 02:31] trankchung opened #1381 "heirline.colors overrides not working"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.8.0

### Neovim version (>= 0.8)

v0.8.0

### Operating system/version

12.6.1

### Describe the bug

Heirline is spell wrong on this line: https://github.com/AstroNvim/AstroNvim/blob/v2.8.0/lua/configs/heirline.lua#L12

Accor

[2022-11-26 02:49] mehalter commented on #1381
It should actually be the file `heirline/colors.lua` returning a table as indicated in the docs: https://astronvim.github.io/Configuration/config_options

`plugins/heirline.lua` only overrides the `require("heirline").setup` call

[2022-11-26 02:49] mehalter commented on #1381
Thanks for catching the typo! I will definitely push a fix soon to `nightly`

[2022-11-26 02:52] mehalter commented on #1381
Pushed a fix for this typo to `nightly`. Should make it to `stable` sometime next week. Thanks again!

[2022-11-26 02:52] #1381 closed

[2022-11-26 02:53] mehalter commented on #1380
This is a good point. I will look into this this upcoming week!

[2022-11-26 03:04] mehalter commented on #1376
Thanks for reporting this! I have pushed a fix to `nightly`

[2022-11-26 03:06] mehalter commented on #1374
Have you made sure to sync packer and restart? If you have, could you do me a favor and try refreshing your cache? It should be somewhere like `~/.cache/nvim` you can run `~/.cache/nvim ~/.cache/nvim.bak` and restart the editor and see if it could be a caching problem

[2022-11-26 03:07] mehalter commented on #1373
I don't think we necessarily need to add this to the core AstroNvim installation. But thanks for the recommendation and feel free to add it to your user configuration!

[2022-11-26 03:07] #1373 closed

[2022-11-26 03:45] Namefailed commented on #1349
I did get this working eventually, for anyone trying to do so in the future.

If it would be appreciated I can make a pull request for the recipes section of the website and add this as one but I'll put here for now.

@mehalter

I have this in my polish section. Our issue is that you have to seed the random number before you can use the math.random func.
[code]

[2022-11-26 04:52] trankchung commented on #1381
@mehalter Thanks it's working as expected.

[2022-11-26 04:56] trankchung commented on #1379
@whoop-t is correct. Let's say your theme is `onedark` then you can create `highlights/onedark.lua` with content below and it'll work. Change to your colors of course.

[code]

If you want it to be the same for any theme then put that into `highlights/init.lua` instead.

[2022-11-26 04:58] trankchung commented on #1380
The reason I'm asking for this is I want to use the `highlights/theme-name.lua` to set the `fg` and `bg` as global variables and use it in bufferline and heirline but it's not working. Currently I had to redefine the `fg` and `bg` colors in 3 places; highlights, bufferline, and heirline which is not DRY at all.

[2022-11-26 06:45] mishagantz commented on #1374
I did as you recommend but it didn't help
Here is my init.lua

[code]

[2022-11-26 06:51] gzzinx commented on #1378
It doesn't work :(. I've tried different variants, considering their docs, and haven't find out working method

[2022-11-26 06:59] whoop-t commented on #1378
Can you post your user config?

I put this in my `user/init.lua` and it works

[2022-11-26 10:39] ZhaoZuohong commented on #1376
I have confirmed that on nightly branch this problem is already gone. Thank you!

[2022-11-26 15:12] PaulKushch commented on #956
@mehalter It is strange that running commands by itself works but not the mappings. Any idea why?

[2022-11-26 15:17] mehalter commented on #956
Probably because you are running `:` commands and not ranged commands like `:'<,'>`. When you do `:` in visual mode it automatically fills in `:'<,'>`. So you are not actually running the same command. I would recommend googling around for making bindings in visual mode

[2022-11-26 15:26] PaulKushch commented on #956
@mehalter But I did remove : after <cmd>, it is still the same behavior as I showed in video above:/

[2022-11-26 15:29] mehalter commented on #956
`<cmd>` is basically saying `:`, `:` puts you in command mode, `<cmd>` is passing to command mode. You need to pass the selection range to the command. Typically this is done with `'<,'>` you can see this by pressing `:` in visual mode and see that it takes you to command mode and types in `'<,'>`. In your binding you are not passing a selection range to the command so it's running the same thing

[2022-11-26 15:53] b1twe1ser opened #1383 "PackerSync no longer editor command"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.8.0

### Neovim version (>= 0.8)

0.8.1

### Operating system/version

macOS 13.1

### Describe the bug

:PackerSync and all other Packer commands are no longer recognised as editor commands :(

### Steps to Reproduce

Try runn

[2022-11-26 16:29] willparsons opened #1384 "Autocomplete"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.8.0

### Neovim version (>= 0.8)

NVIM v0.8.0-1210-gd367ed9b2

### Operating system/version

Win 11

### Describe the bug

The 'Hover Document' LSP action seems to show a black bar for a second then disappears again.

### Step

[2022-11-26 17:20] paintmeyellow commented on #1383
It's not OS problem. Same on linux

[2022-11-26 17:54] mehalter commented on #1383
Have you checked #1294

[2022-11-26 18:21] #1383 closed

[2022-11-26 18:32] paintmeyellow commented on #1383
`rm -rf ~/.local/share/nvim` worked just fine!

[2022-11-26 19:25] abigagli commented on #1374
I'm having a seemingly related problem:
Sometimes at nvim startup, I get an error about not being able to spawn <some-language-server> which I've debugged down to `vim.env.PATH` still not being set when the nvim's runtime function `start_client `is executed.
This is quite erratic (i.e. sometimes it work, sometimes it doesn't) and sometimes the problem even disappears if I just execute a PackerSync

[2022-11-27 02:52] mehalter commented on #1380
Awesome, `heirline` already does this thankfully. Not sure what you did with heirline for it not to work. I just pushed a commit to `bufferline` that reloads it's colors after the astronvim colorscheme event.

[2022-11-27 02:54] mehalter commented on #1380
The latest commit to nightly will let you reload `bufferline` hightlight groups from the `highlights` table in your user configuration. This resolves this ticket.

[2022-11-27 02:54] #1380 closed

[2022-11-27 02:54] #1379 closed

[2022-11-27 03:04] mehalter commented on #1375
It shouldn't be. It seems like something is happening with your neovim installation where it is not having access to `vim.lsp.format`. Since this is separate from AstroNvim I am going to go ahead and close this. You also probably want to verify if you run like `vim -u NONE` and run `:lua =vim.lsp.format` to see that it isn't AstroNvim related.

This would be a good thing to probably investigate on

[2022-11-27 03:04] #1375 closed

[2022-11-27 03:11] mehalter commented on #1374
@mishagantz I took a second to load up your config to see if I can replicate the behavior you are getting. I noticed that there are a ton of errors in the configuration causing a TON of weirdness. I can also replicate the behavior you are describing. I'm not sure exactly what is going on in your config to cause this. I can take a deeper look this week as well as fix all of the errors I see through

[2022-11-27 03:12] mehalter commented on #1366
@jacobabahn can you please share you user configuration to see if I can replicate it with your config? I cannot replicate this with a base installation of astronvim or with my own configuration.

[2022-11-27 03:18] mehalter commented on #1384
I am able to replicate this. It looks like sometimes the heirline resolution for whether or not a winbar is present can be laggy 🤔 I will investigate performance increase on this one

[2022-11-27 08:48] mishagantz commented on #1374
I feel ashamed now...
I'm still figuring out Neovim, sorry you had to deal with this mess

[2022-11-27 09:25] LoneExile commented on #956
@PaulKushch  Here's how I set up my [keymap](https://github.com/LoneExile/nvim/blob/main/lua/user/core/keymaps.lua).

Try to search "vscode" in the file.

[2022-11-27 17:36] Azuneer opened #1385 "Want to change default c++ clangd version, can't find config.yaml for clangd"
### Question

I installed the clangd LSP Server via LspInstall. Though my code gives me an error for the std::size, which has been introduced in c++ 17. My g++ compiler doesn't see it as an error and i'm not having any problem to compile it when i point it towards a c++20 version.

I want to change the clangd config file to point it through a c++20 version, how can i do that ?

Thanks!

### User C

[2022-11-27 18:45] whoop-t commented on #1385
I dont work with c++ but it looks like you may need to add this to your .clangd config

In your .clangd
[code]

[2022-11-27 18:48] Azuneer commented on #1385
thanks! but i don't know where my .clangd config file is.

[2022-11-27 18:57] whoop-t commented on #1385
config dotfiles normally go in the root of your project directory, so I would assume you create a `.clangd` file and add your config. This isnt Astronvim/neovim specific.

Sorry I am not more familiar with c++ and clangd.

Maybe the clangd docs could help:
https://clangd.llvm.org/config#files

[2022-11-27 19:00] whoop-t commented on #1385
More references: https://github.com/llvm/clangd-www/blob/main/faq.md#can-you-give-an-example-configuration-file-for-clangd

[2022-11-27 19:14] Azuneer commented on #1385
Everything works perfectly ! Thanks for the help ^^

[2022-11-27 19:14] #1385 closed

[2022-11-27 21:15] trankchung commented on #1381
@mehalter My theme is `ayu` according to `vim.g.colors_name` so I created `highlights/ayu.lua` with content below and all those highlights work except for `HeirlineNormal` or `HeirlineVisual`. I am using `nightly` release and I have checked the `~/.config/nvim/lua/configs/heirline.lua` and it does have the changes you've made but it still doesn't work.

[code]

[2022-11-27 21:16] trankchung commented on #1380
@mehalter My theme is `ayu` according to `vim.g.colors_name` so I created `highlights/ayu.lua` with content below and all those highlights work except for `HeirlineNormal` or `HeirlineVisual`. I am using `nightly` release and I have checked the `~/.config/nvim/lua/configs/heirline.lua` and it does have the changes you've made but it still doesn't work.

[code]

[2022-11-27 21:44] mehalter commented on #1380
Ah I see @trankchung this is because `neovim-ayu` provides a `lualine` theme which triggers the lualine compatibility. Since Heirline by default doesn't get the colors from highlight groups and most colorschemes provide lualine integration this gives us really good colorscheme integration with our Heirline config.

I guess what I need to do is to change the logic a bit for the Heirline mode stuff

[2022-11-27 21:57] trankchung commented on #1380
@mehalter Thank you very much. No need to rush. As always, thanks for being awesome.

[2022-11-27 22:11] mehalter commented on #1380
@trankchung  just pushed a commit to nightly that should fix this logic :)

[2022-11-27 22:32] #1353 closed

[2022-11-27 22:32] #1376 closed

[2022-11-27 22:35] mehalter commented on #1374
No worries! I will have some time this upcoming week to take a closer look @mishagantz !

[2022-11-27 23:01] trankchung commented on #1380
@mehalter The new code you pushed worked perfectly for Heirline. However, my original issue still persists. Let me explain what I'm doing and what isn't working.

Using the same `ayu` colorscheme the content of my `highlights/ayu.lua` is as follow.

[code]

And the content of my `plugins/bufferline.lua` is as follow:

[code]

What I did above doesn't change bufferline's highlights. It only works a

[2022-11-27 23:11] mehalter commented on #1380
Yeah this isn't a super good way to do this since the bufferline refreshes it's colors from highlight groups when the colorscheme is changed. I'll send you an updated snippet tomorrow that set the appropriate highlight group names rather than relying on this indirection. This will also fix the code being in two different places issue

[2022-11-27 23:13] whoop-t commented on #1372
You can prolly set a key binding in your `user/init.lua` or look for a plugin to add

This may help: https://www.reddit.com/r/neovim/comments/nds7uj/how_to_build_and_run_a_c_program_without_quitting/

[2022-11-27 23:15] grififth commented on #1223
How would one replicate this in a non AstroNvim setup?

[2022-11-27 23:30] whoop-t commented on #1377
Syntax highlighting(colorization) comes from treesitter (TSInstall Bicep) if treesitter supports it. It doesnt look to be on the [supported lang list](https://github.com/nvim-treesitter/nvim-treesitter#supported-languages)

Is bicep installed on your machine?

I dont use bicep but when I try to LspInstall bicep, i get errors from not having it installed/in my path

[2022-11-28 10:33] mathwro commented on #1377
Bicep is installed on my machine and are present in my path. "bicep-lsp" is however removed everytime i close my neovim session, which is the confusing part. LspInstall works just fine and allows me to start the lsp for bicep immediately after. But i have to perform the install every time i want to use it

[2022-11-28 12:19] PaulKushch commented on #956
@LoneExile @mehalter I updated according to your comments:
[code]
But when I press Alt + k in visual line mode I get:

![image](https://user-images.githubusercontent.com/5386035/204275380-b6c0ceb7-7f8c-4e9a-9e99-c853c0625195.png)

So I need to press `gv` to select selection again, then it works. **But** only 1 time. So I basically can only move visual selection 1 time and not several rows. It seem

[2022-11-28 13:03] PaulKushch commented on #956
I solved it by using [gomove](https://github.com/booperlv/nvim-gomove)

[2022-11-28 14:21] mehalter commented on #1380
@trankchung try something like this:

[code]

Then you don't need to change anything in the bufferline config either, just configure the highlights in the `highlights/` folder

[2022-11-28 14:48] mehalter commented on #1374
@mishagantz here is an updated `init.lua`. I improved some of the lazy loading, fixed some errors in your `plugins.init` table, moved some stuff out of your `polish` function which should be in your `plugins` table such as configuring alpha (moved to `plugins.alpha`) and setting up `dap` hooks which I configured with `dapui`. I also improved the installation of the `markdown-preview` plugin. After

[2022-11-28 14:48] #1374 closed

[2022-11-28 15:31] trankchung commented on #1380
@mehalter I actually did this already but there's one little highlight that I can't get working which is the inactive buffer icon. Maybe I'll just post a question/bug on bufferline and see if they can help. I literally took all the BufferLine* highlight groups and set it to a bg and fg colors but the inactive buffer icon wouldn't change.

[2022-11-28 16:40] whoop-t commented on #1377
hmmm im not sure why it would remove itself

You could try adding it to your `user/init.lua` in the plugins object like this:
[code]

[2022-11-28 17:29] mishagantz commented on #1374
@mehalter thank you very much for your time. Appreciate your work on this wonderful config. I tried LunarVim before and I like AstroNvim better

[2022-11-28 17:32] mehalter commented on #1384
@willparsons just pushed a commit to `nightly` that resolves this. Basically just adds an optimization to speed up the disabling of `winbar` by moving it to an `autocmd`

[2022-11-29 02:49] jayp0521 opened #1388 "Support having multiple "user" configuration directories"
### Is your feature related to a problem?

Currently, I mainly have files spread across the `user` directory, which is great for my local setup. However, I also use my personal configuration at work, but my configuration needs to diverge from my personal setup, since some tools are internal. It would be nice if I could have a set of configs that astronvim loaded from like `lua/user, lua/work, lua/

[2022-11-29 02:54] jayp0521 commented on #1356
mehalter@, knows better, but maybe try `user/lsp/formatting.lua` with

[code]

[2022-11-29 03:28] jayp0521 commented on #1388
I will create a PR that should resolve this

[2022-11-29 04:33] jayp0521 opened #1390 "Unable to get cmp-nvim-lsp-signature-help working"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.8.1

### Neovim version (>= 0.8)

v0.8.0

### Operating system/version

wsl

### Describe the bug

Unsure if this is a bug or just my configuration.

Added

[code]

and

[code]

Signature does not show as shown in https://githu

[2022-11-29 12:50] mehalter commented on #1390
From the screenshot it looks like it is showing the parameter, it's not automatically selecting the first entry because of the default `cmp` options we set so you don't get the preview. You could modify your `cmp` setup to automatically select the first entry though

[2022-11-29 14:04] Rid1-fz-06 opened #1392 "How can I change the configuration for session manager in user/init.lua?"
### Question

I want to make session manager to save sessions automatically as in VSCode. I found that ```Shatur/neovim-session-manager``` plugin supports this feature. I want to change it's configuration so that I can achieve this. How can I do this in ```user/init.lua```?

### User Configuration

_No response_

[2022-11-29 17:38] achary opened #1393 "Headless Packer plugin installations fails in 2.8.0 (works in 2.7.4)"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

2.8.0

### Neovim version (>= 0.8)

v0.8.0-1210-gd367ed9b2

### Operating system/version

Ubuntu 20.04

### Describe the bug

When Astronvim 2.8.0 is cloned as a NeoVim config, the following headless Packer plugin installations f

[2022-11-29 18:18] jayp0521 commented on #1390
I used https://github.com/ray-x/lsp_signature.nvim instead. working fine. `cmp-nvim-lsp-signature-help` is not autocomplete, it is supposed to show the method's signature as you type. Technically still an issue, but not for me

[2022-11-29 18:23] jayp0521 commented on #1388
The problem is I have to do that for every single place astronvim calls `user_plugin_opts`. I chose to do it like this: https://github.com/jayp0521/dotfiles/commit/2834db8c9e62c071d20c0c2b096b7e62b168efa1. Most users probably won't use this, sure, but those that want to will have a very difficult time doing so.

The solutions provided seems less straightforward than the PR I had opened, because it

[2022-11-29 18:26] mehalter commented on #1390
It shows the method's signature if you select the item in the completion list. We don't do automatic selection when typing so it doesn't show the signature hint. The weirdness here is coming because you are right it is not autocomplete, but it is being represented in the autocomplete menu. So it plays by the exact same rules as every other `cmp` source. Hopefully that clears up your confusion.

[2022-11-29 18:26] #1390 closed

[2022-11-29 18:28] mehalter commented on #1388
yeah iterating over the prefixes and merging them is going to be a non-trivial problem and I don't think I would put it in scope of AstroNvim at least right now. Maybe in the future this will be something we would look into but I don't think it is necessary at the moment. You only would need to do this in the cases where you want to make changes to your configuration so if you want to modify every

[2022-11-29 18:28] #1388 closed

[2022-11-29 18:32] mehalter commented on #1393
@achary I can confirm that the command you sent returns a bunch of errors. There has been some improvements to the installation path and the docs have been updated to reflect the latest information on headless installations:

[code]

[2022-11-29 18:32] #1393 closed

[2022-11-29 18:32] mehalter commented on #1393
Similar with the Docker command:

[code]

[2022-11-29 18:43] mehalter commented on #1392
@Rid1-fz-06 sessions are currently saved automatically since this is the default option in `neovim-session-managere`. You can load the previous session with `<leader>Sl`

We do also have some lazy loading on the session manager so that's the reason it isn't loading the sessions on startup. If you want to change this, you can do this in your `user/init.lua` `plugins.init` table to have `neovim-sess

[2022-11-29 18:43] #1392 closed

[2022-11-29 18:49] #1384 closed

[2022-11-29 19:01] cherez0ff commented on #1356
@jayp0521 Not sure I got what to do. If you mean I need to create file "/home/$USER/.config/nvim/lua/user/formatting.lua" with provided above content - I did that, nothing has changed, for example for yaml file I still got
[code]

[2022-11-29 19:20] achary commented on #1393
Thanks for a super quick response. Yup, I confirm the indicated headless installation command removes the errors in the stdout.

[2022-11-29 22:00] trankchung opened #1395 "Set smartcase to false"
### Is your feature related to a problem?

You have both `ignorecase` and `smartcase` set to `true` in https://github.com/AstroNvim/AstroNvim/blob/main/lua/core/options.lua which makes case insensitive searching not working. Could we set `smartcase = false`?

### Describe the new feature

Insensitive case searching should work as expected.

### Additional context

_No response_

[2022-11-30 00:54] bassamsdata opened #1396 "Multi line editing doesn't work"
### Question

Hey, a new vim user here, I really like Astrovim but I have a problem where i try to edit multi line at once but that doesn't work in AstroVim.
In vim (Vanilla one) it works as expected but it doesn't work in Astro. I searched a lot but all people use the same method which as follow:

_Put your cursor to where you want, press Ctrl-V, select all lines, then press I(capital i), and the

[2022-11-30 01:09] jayp0521 commented on #1388
@mehalter, do you know of some dotfiles managers you can point me to? I just use `stow` right now, which is pretty simple and was working so far

[2022-11-30 01:12] mehalter commented on #1388
Yadm and Chezmoi are popular options that support multiple machines with different dotfiles

[2022-11-30 03:13] mehalter commented on #1396
I can't replicate this behavior: https://asciinema.org/a/r7EJA3TYepmCWF5CDmnbb01P5

[2022-11-30 03:20] mehalter commented on #1395
having `ignorecase` and `smartcase` set makes it a bit smarter. if you do something like `/hello` then it will search case insensitive and if you do `/Hello` with a capital then it will do case sensitive. Basically default to case insensitive unless cases are provided, then assume that the user wants case sensitive search. This is the default behavior that we would like AstroNvim to be I believe,

[2022-11-30 03:20] #1395 closed

[2022-11-30 03:28] mehalter commented on #1356
@cherez0ff I was able to get around to investigating this. This is being set by the built in filetype stuff in Neovim. To fully disable this behavior you want to put `vim.cmd.filetype("indent off")` in your `polish` function in your user configuration. Here is a minimal `user/init.lua` file that disabled this:

[code]

[2022-11-30 03:28] #1356 closed

[2022-11-30 03:29] mehalter commented on #1356
You can find the docs for this with `:h filetype-indent-off`

[2022-11-30 04:01] trankchung commented on #1395
Actually having both set to true doesn’t do camelCase search insensitively. For the words nodeSelector or labelSelector and etc. I did `/nodeselector` and `labelselector` and it didn’t find them. I had to turn smartcase off for it to match.

I know I can add the option into the config but I think it’s worth exploring this.

[2022-11-30 04:05] mehalter commented on #1395
Hm I can't replicate the behavior you are describing

[2022-11-30 04:18] mehalter commented on #1395
![2022-11-29_23:17:55_screenshot](https://user-images.githubusercontent.com/1591837/204706490-2b6d45be-7109-43d1-9ab1-5cd8829dc034.png)
![2022-11-29_23:18:02_screenshot](https://user-images.githubusercontent.com/1591837/204706499-03f773cd-64b3-4637-88d1-cd07d6343c7b.png)
![2022-11-29_23:18:08_screenshot](https://user-images.githubusercontent.com/1591837/204706507-1001a44f-a69b-4b68-9cdd-ede5b79e8b

[2022-11-30 04:28] trankchung commented on #1395
I’ll try again tomorrow and see. I had a whole k8s manifest and it didn’t work.

[2022-11-30 05:37] bassamsdata commented on #1396
My bad, sorry. I had a keybinding conflicting. I was actually pressing shift-V instead of C-V. Thanks a a lot 🙏

[2022-11-30 05:37] #1396 closed

[2022-11-30 08:34] A-Lamia opened #1398 "TS commands are not working."
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

V2.6.2-3-ga04a401

### Neovim version (>= 0.8)

NVIM v0.8.1

### Operating system/version

Windows 10 x64

### Describe the bug

All TS commands silently fail, only `:TSInstallFromGrammer` and anything that uses NPM will just han

[2022-11-30 08:54] A-Lamia commented on #1398
out of curiosity i decided to try `:lua require("nvim-treesitter").setup()` and everything worked. maybe something is going wrong with the lazy loading ?

[2022-11-30 10:34] maxZBS opened #1399 "How to enable jsx/tsx comments?"
### Question

Hello! I added setup comment plugins, but it not working.

### User Configuration

      ["nvim-treesitter/nvim-treesitter"] = {
        config = function()
          require("nvim-treesitter.configs").setup {
            context_commentstring = {
              enable = true,
              enable_autocmd = true,
            },
          }
        end,
      },

      ["numToStr/Comme

[2022-11-30 10:39] maxZBS opened #1400 "How to disable breadcrumbs?"
### Question

How to disable breadcrumbs in the top?

### User Configuration

_No response_

[2022-11-30 11:37] maxZBS commented on #1399
:tsinstall tsx

[2022-11-30 11:37] #1399 closed

[2022-11-30 11:51] bmarvinb opened #1401 "Where to put IndentBlankLineDisable option"
### Question

I'm new to nvim, I don't understand where I should put this, which file?

### User Configuration

_No response_

[2022-11-30 11:58] mehalter commented on #1398
Can you please share your user config

[2022-11-30 12:00] mehalter commented on #1400
Check out this documentation page: https://astronvim.github.io/Recipes/disable_winbar

[2022-11-30 12:00] #1400 closed

[2022-11-30 12:07] A-Lamia commented on #1398
@mehalter any specific part of importance or should i upload the whole thing to git ?

[2022-11-30 12:08] mehalter commented on #1398
If you could upload the whole thing to git that would be ideal. I'm not sure which part would be relevant. I can't replicate this with my config or stock AstroNvim so I just wanted to see if I can by setting up your config

[2022-11-30 12:10] mehalter commented on #1401
I'm not sure I know what option you are talking about. Do you just want to fully disable indent blankline?

[2022-11-30 12:12] A-Lamia commented on #1398
@mehalter https://github.com/A-Lamia/nvim-conf here you go sorry if some parts are a little messy been working on some stuff 😅

[2022-11-30 12:13] mehalter commented on #1398
No problem! Let me pull this down today and see if I can replicate this behavior you are getting. Ill message back later today

[2022-11-30 12:14] A-Lamia commented on #1398
All good, i have a solution for now so no stress :D

[2022-11-30 12:25] cherez0ff commented on #1356
Thanks a lot!
For those who will have the same issue, TLDR:
open /home/$USER/.config/nvim/lua/user/init.lua
change
[code]
to
[code]

[2022-11-30 12:49] bmarvinb commented on #1401
Yes

[2022-11-30 12:57] mehalter commented on #1401
You will want to put the following line in your user configuration in the `plugins.init` table (either `user/init.lua` or `user/plugins/init.lua` if you are splitting up your config):

[code]

just make sure to restart and run `:PackerSync` to have packer remove the plugin

[2022-11-30 12:57] #1401 closed

[2022-11-30 12:58] #1398 closed

[2022-11-30 14:35] trankchung commented on #1395
Okay it's working as expected. Maybe I did something weird yesterday. Thanks.

[2022-11-30 14:50] mehalter commented on #1366
@Noxdor I found the issue with Packer !!! https://github.com/wbthomason/packer.nvim/issues/1143

[2022-11-30 15:03] Noxdor commented on #1366
@mehalter Awesome! I hope they can fix it soon :)

[2022-11-30 15:31] trankchung opened #1402 ":Telescope *command* not working"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.8.1

### Neovim version (>= 0.8)

v0.8.0

### Operating system/version

12.6.1

### Describe the bug

When running `:Telescope *command*` such as `:Telescope highlights` or `:Telescope find_files` nothing happens. The lua meth

[2022-11-30 15:43] mehalter commented on #1402
Can you please share your user configuration

[2022-11-30 15:58] trankchung commented on #1402
I've found that `pwntester/octo.nvim` is causing this b/c in config is below.

[code]

[2022-11-30 15:59] mehalter commented on #1402
@trankchung could you pull the latest from `nightly` and see if it resolves the issue?

[2022-11-30 15:59] mehalter commented on #1366
@Noxdor now that I know the issue, I think I came up with a bandaid at least. Could you try the latest nightly?

[2022-11-30 16:04] trankchung commented on #1402
@mehalter Awesome. Nightly works.

[2022-11-30 16:07] trankchung commented on #1402
You're awesome. TYVM.

[2022-11-30 17:55] #1366 closed

[2022-11-30 17:55] #1402 closed

[2022-11-30 20:23] Noxdor commented on #1366
It appears to work (in stable, as I understand you made the nightly a new stable version already, if not I can test it again on nightly) for me, I can run `TSUninstall` and `TSInstall` without issues as soon a I open a code file :)

[2022-11-30 20:25] mehalter commented on #1366
@Noxdor I went ahead and merged the fix ! :) Hopefully it gets merged fixed upstream in Packer soon. I put a little bandaid on the problem for now

[2022-11-30 21:13] talksik commented on #1294
same issue with all of the tips

[2022-11-30 21:44] jsekerez opened #1404 "Error when typing search and replace"
### Checklist

- [X] Using a stable version of Neovim (i.e. not neovim nightly)
- [X] `:PackerSync`
- [X] `:AstroUpdate`
- [X] Restarted AstroNvim

### AstroNvim version

v2.8.3-11-gd13af96

### Neovim version (>= 0.8)

v0.8.1

### Operating system/version

macOS Ventura

### Describe the bug

When using search and replace (`:s/<to_replace>/<with_value>`), an error raises originating in Heirloom,

[2022-11-30 22:07] mehalter commented on #1404
Ooh thanks for reporting! I was able to replicate this. I will investigate first thing tomorrow and get a patch out!

[2022-11-30 22:55] leoriohub commented on #797
I Expirience the same problem but in my case astrovim doesn't need to stay opened for a long period of time.

**Context**:
I just installed astrovim to try it so I ran PackerSync and proceed to test Nvimtree which works for a period of 5-10 seconds until astrovim starts using all the (8GB) system ram.

**Note**:  *I come from my own lua configuration of nvim and I don't have any problem with nvim